.main {
    position: relative;
}

.bold {
    input {
        width: 24px;
        height: 24px;
    }

    label {
        padding-left: 10px;
        padding-top: 7px !important;
        color: #01153A!important;
    }
}