@font-face {
  font-family: 'Noto Sans';
  src: url('./fonts/Noto_Sans/NotoSans-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('./fonts/Noto_Sans/NotoSans-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('./fonts/Noto_Sans/NotoSans-Medium.ttf');
  font-weight: 500;
}

/* Colors */
$main_color_1: #FFFFFF;
$main_color_2: #1C1C1C;
$main_color_3: #989898; 

$color_set_0_additional_color_1: $main_color_2;
$color_set_1_additional_color_1: #4A3838;
$color_set_2_additional_color_1: #50353F;
$color_set_3_additional_color_1: #4C3550;
$color_set_4_additional_color_1: #40215F;
$color_set_5_additional_color_1: #285462;
$color_set_6_additional_color_1: #3C6040;

.sv_039 {
  font-weight: 400;

  /* Global */
  * {
    padding: 0;
    margin: 0;
  }

  *, *:before, *:after {
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
  }

  ul {
    margin-left: 16px;
    li {
      position: relative;
      list-style: disc;

      &:not(:first-child) {
        margin-top: 4px;
      }
    }
  }

  a {
    color: $main_color_1;
    text-decoration: none;
  }

  .empty-field {
    opacity: 0.3;
  }

  .hide {
    display: none !important;
  }

  //Blocks
  .cv-name {
    text-transform: uppercase;
    font-weight: 700;
  }
  
  .cv-profession {
    margin-top: 5px;
    text-transform: uppercase;
  }

  .cv-body {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: 20px 0px;
  }

  .cv-body-content {
    position: relative;
    flex: 1;
    display: flex;
  }

  .column-left {
    flex: 1;
    background: $main_color_1;
    border-radius: 0 30px 30px 0;
    padding: 0 30px;
    .block-block {
      padding-left: 10px;
      border-left-width: 2px;
      border-left-style: solid;
      .block-subheading {
        position: relative;
        &::before {
          position: absolute;
          content: " ";
          width: 6px;
          height: 6px;
          border-radius: 100%;
          left: -14px;
          top: 50%;
          transform: translateY(-50%);
        }
      }
      &.profile-info-block {
        .block-heading {
          position: relative;
          &::before {
            position: absolute;
            content: " ";
            width: 6px;
            height: 6px;
            border-radius: 100%;
            left: -14px;
            top: 50%;
            transform: translateY(-70%);
            z-index: 10;
          }
          &::after {
            position: absolute;
            content: " ";
            width: 2px;
            height: 7px;
            left: -12px;
            top: 0;
            background: $main_color_1;
          }
        }
      }
      &.profile-block,
      &.contacts-information-block {
        border-color: transparent !important;
        padding-left: 0;
      }
    }
    .contacts-information-block {
      .contacts-block {
        display: flex;
        justify-content: space-between;
        column-gap: 30px;
        row-gap: 5px;
        flex-wrap: wrap;
      }
      .block-item {
        display: flex;
        column-gap: 5px;
        max-width: calc(50% - 15px);
        align-items: center;
        svg {
          flex-shrink: 0;
        }
      }
    }
    .courses-block {
      .date-range {
        margin-bottom: 0;
      }
    }
  }

  .column-right {
    width: 190px;
    min-width: 190px;
    padding: 0 20px;
    color: $main_color_1;
    .block-block {
      &:not(:first-of-type) {
        margin-top: 12px;
        padding-top: 12px;
        border-top: 1px solid rgba($main_color_1, .1);
      }
    }
    .photo-block {
      width: 130px;
      height: 130px;
      margin: 35px auto 35px 0;
      .photo {
        width: 100%;
        height: 100%;
        border-radius: 20px;
        background-size: cover;
        background-position: center center;
        overflow: hidden;
      }
    }
    .personal-info-block {
      .personal-info {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        row-gap: 5px;
      }
      .item-block {
        display: flex;
        flex-direction: column;
        row-gap: 2px;
      }
      .name {
        text-transform: uppercase;
        letter-spacing: 0.8px;
      }
    }
    .estimated-items-list {
      display: flex;
      flex-direction: column;
      row-gap: 4px;
      .estimated-item-value {
        height: 2px;
        background: $main_color_1;
      }
      .list-item {
        display: flex;
        flex-direction: column;
        row-gap: 4px;
      }
    }
    .references-block {
      .block-info {
        display: flex;
        flex-direction: column;
        row-gap: 4px;
      }
    }
    .certificates-block {
      .certificates-list {
        display: flex;
        flex-direction: column;
        row-gap: 6px;
      }
    }
    .links-block {
      .links-list {
        display: flex;
        flex-wrap: wrap;
        column-gap: 10px;
        .links-item {
          text-decoration: underline;
        }
      }
    }
  }
  
  .block-block {
    .block-heading {
      margin-bottom: 6px;
      text-transform: uppercase;
      font-weight: 700;
    }
    p:last-child {
      margin-bottom: 0;
    }
    .block-subheading {
      margin-bottom: 4px;
    }
    .date-range {
      margin-bottom: 5px;
      text-transform: uppercase;
      color: $main_color_3;
    }
    .degree-block {
      margin-bottom: 4px;
    }
    .block-info {
      margin-top: 10px;
      &:nth-child(2) {
        margin-top: 0;
      }
    }
    &:not(:first-child) {
      padding-top: 10px;
    }
    &:first-child {
      margin-top: 30px;
      padding-top: 0;
    }
    &.contacts-information-block {
      margin-top: 20px;
      padding: 0;
    }
    &.profile-info-block {
      margin-top: 30px;
      padding-top: 0;
    }
  }
  
  /* Stylization */
  #cv-chapter-section-cv {
    .photo-block {
      display: none;
    }
    &.has-photo {
      .photo-block {
        display: block;
      }
      .cv-body-content {
        .column-right {
          padding-top: 0;
        }
      }
    }
  }

  .cv-body-2 {
    margin: 0;
    .column-left {
      padding: 0 30px 0 0;
      .cv-name {
        padding: 60px 0 0 50px;
      }
      .letter-block {
        padding: 70px 0 15px 50px;
      }
    }
    .column-right {
      padding: 0;
      min-width: 200px;
      display: flex;
      flex-direction: column;
      .destination-block {
        display: flex;
        flex-direction: column;
        padding: 50px 20px;
        margin: 0;
        flex: 1;
      }
      .destination-contacts-block {
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: space-between;
      }
    }
  }
  
  /* Font size scheme */
  .font-size-scheme-state-small {
    .font-size-1 {
      font-size: 8px;
    }
    .font-size-2 {
      font-size: 10px;
    }
    .font-size-3 {
      font-size: 12px;
    }
    .font-size-4 {
      font-size: 14px;
    }
    .font-size-5 {
      font-size: 34px;
    }
  }
  
  .font-size-scheme-state-medium {
    .font-size-1 {
      font-size: 10px;
    }
    .font-size-2 {
      font-size: 12px;
    }
    .font-size-3 {
      font-size: 14px;
    }
    .font-size-4 {
      font-size: 16px;
    }
    .font-size-5 {
      font-size: 36px;
    }
  }
  
  .font-size-scheme-state-big {
    .font-size-1 {
      font-size: 12px;
    }
    .font-size-2 {
      font-size: 14px;
    }
    .font-size-3 {
      font-size: 16px;
    }
    .font-size-4 {
      font-size: 18px;
    }
    .font-size-5 {
      font-size: 38px;
    }
  }
  
  /* Line height scheme */
  .line-height-scheme-state-small {
    .cv-body {
      line-height: 1.2;
    }
  }
  
  .line-height-scheme-state-medium {
    .cv-body {
      line-height: 1.4;
    }
  }
  
  .line-height-scheme-state-big {
    .cv-body {
      line-height: 1.6;
    }
  }
  
  /* Color scheme */
  .color-scheme-state-color-set-0 {
    .main-color-1-text {
      color: $main_color_2;
    }
  
    .additional-color-1-text {
      color: $color_set_0_additional_color_1;
    }
  
    .additional-color-1-background {
      background-color: $color_set_0_additional_color_1;
    }

    .additional-color-1-border {
      border-color: $color_set_0_additional_color_1;
    }
  
    .additional-color-1-svg {
      path {
        fill: $color_set_0_additional_color_1;
      }
    }
    .column-left {
      .block-subheading {
        &::before {
          background: $color_set_0_additional_color_1;
        }
      }
    }
    .column-left {
      .profile-info-block {
        .block-heading {
          &::before {
            background: $color_set_0_additional_color_1;
          }
        }
      }
    }
  }
  
  .color-scheme-state-color-set-1 {
    .main-color-1-text {
      color: $main_color_2;
    }
  
    .additional-color-1-text {
      color: $color_set_1_additional_color_1;
    }
  
    .additional-color-1-background {
      background-color: $color_set_1_additional_color_1;
    }

    .additional-color-1-border {
      border-color: $color_set_1_additional_color_1;
    }
  
    .additional-color-1-svg {
      path {
        fill: $color_set_1_additional_color_1;
      }
    }
    .column-left {
      .block-subheading {
        &::before {
          background: $color_set_1_additional_color_1;
        }
      }
    }
    .column-left {
      .profile-info-block {
        .block-heading {
          &::before {
            background: $color_set_1_additional_color_1;
          }
        }
      }
    }
  }
  
  .color-scheme-state-color-set-2 {
    .main-color-1-text {
      color: $main_color_2;
    }
  
    .additional-color-1-text {
      color: $color_set_2_additional_color_1;
    }
  
    .additional-color-1-background {
      background-color: $color_set_2_additional_color_1;
    }

    .additional-color-1-border {
      border-color: $color_set_2_additional_color_1;
    }
  
    .additional-color-1-svg {
      path {
        fill: $color_set_2_additional_color_1;
      }
    }
    .column-left {
      .block-subheading {
        &::before {
          background: $color_set_2_additional_color_1;
        }
      }
    }
    .column-left {
      .profile-info-block {
        .block-heading {
          &::before {
            background: $color_set_2_additional_color_1;
          }
        }
      }
    }
  }
  
  .color-scheme-state-color-set-3 {
    .main-color-1-text {
      color: $main_color_2;
    }
  
    .additional-color-1-text {
      color: $color_set_3_additional_color_1;
    }
  
    .additional-color-1-background {
      background-color: $color_set_3_additional_color_1;
    }

    .additional-color-1-border {
      border-color: $color_set_3_additional_color_1;
    }
  
    .additional-color-1-svg {
      path {
        fill: $color_set_3_additional_color_1;
      }
    }
    .column-left {
      .block-subheading {
        &::before {
          background: $color_set_3_additional_color_1;
        }
      }
    }
    .column-left {
      .profile-info-block {
        .block-heading {
          &::before {
            background: $color_set_3_additional_color_1;
          }
        }
      }
    }
  }
  
  .color-scheme-state-color-set-4 {
    .main-color-1-text {
      color: $main_color_2;
    }
    .additional-color-1-text {
      color: $color_set_4_additional_color_1;
    }
  
    .additional-color-1-background {
      background-color: $color_set_4_additional_color_1;
    }

    .additional-color-1-border {
      border-color: $color_set_4_additional_color_1;
    }
  
    .additional-color-1-svg {
      path {
        fill: $color_set_4_additional_color_1;
      }
    }
    .column-left {
      .block-subheading {
        &::before {
          background: $color_set_4_additional_color_1;
        }
      }
    }
    .column-left {
      .profile-info-block {
        .block-heading {
          &::before {
            background: $color_set_4_additional_color_1;
          }
        }
      }
    }
  }
  
  .color-scheme-state-color-set-5 {
    .main-color-1-text {
      color: $main_color_2;
    }
  
    .additional-color-1-text {
      color: $color_set_5_additional_color_1;
    }
  
    .additional-color-1-background {
      background-color: $color_set_5_additional_color_1;
    }

    .additional-color-1-border {
      border-color: $color_set_5_additional_color_1;
    }
  
    .additional-color-1-svg {
      path {
        fill: $color_set_5_additional_color_1;
      }
    }
    .column-left {
      .block-subheading {
        &::before {
          background: $color_set_5_additional_color_1;
        }
      }
    }
    .column-left {
      .profile-info-block {
        .block-heading {
          &::before {
            background: $color_set_5_additional_color_1;
          }
        }
      }
    }
  }
  
  .color-scheme-state-color-set-6 {
    .main-color-1-text {
      color: $main_color_2;
    }
  
    .additional-color-1-text {
      color: $color_set_6_additional_color_1;
    }
  
    .additional-color-1-background {
      background-color: $color_set_6_additional_color_1;
    }

    .additional-color-1-border {
      border-color: $color_set_6_additional_color_1;
    }
  
    .additional-color-1-svg {
      path {
        fill: $color_set_6_additional_color_1;
      }
    }
    .column-left {
      .block-subheading {
        &::before {
          background: $color_set_6_additional_color_1;
        }
      }
    }
    .column-left {
      .profile-info-block {
        .block-heading {
          &::before {
            background: $color_set_6_additional_color_1;
          }
        }
      }
    }
  }
}