.wt_cal {
    position: relative;
}

.wrData {
    position: absolute;
    z-index: 100;
    top: calc(100% + 10px);

    &>div {
        height: 0;
        overflow: hidden;
    }
}

.none {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.open {
    visibility: visible;
    opacity: 1;
    pointer-events: all;

    &>div {
        height: auto;
        overflow: visible;
    }
}

.open_top {
    top: auto;
    bottom: calc(100% + 10px);
}

.ins {
    display: none;
}

.wt_cal_in {
    position: relative;

    input {
        padding-right: 50px;
    }

    .wt_cal_in_icon_cal {
        position: absolute;
        width: 20px;
        height: 20px;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
        z-index: 10;
        background: url("/../images/icons/icon-data.svg") center/contain no-repeat;
    }
}

.btn_clean {
    .clean {
        width: 26px;
        height: 26px;
        position: absolute;
        background: #fff;
        top: 50%;
        right: 17px;
        transform: translateY(-50%);
        z-index: 20;

        svg {
            width: 100%;
            height: 100%;
        }
    }
}

.wt_cal_in_icon_cal_wr {
    position: relative;
    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 5;
    } 
}