.wt_cal {
    position: relative;
}

.wrData {
    position: absolute;
    z-index: 10;
    top: calc(100% + 10px);
}

.none {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.open {
    visibility: visible;
    opacity: 1;
    pointer-events: all;
}

.open_top {
    top: auto;
    bottom: calc(100% + 10px);
}

.ins {
    display: none;
}

.wt_cal_in {
    position: relative;

    input {
        padding-right: 50px;
    }

    &::before {
        content: '';
        position: absolute;
        width: 20px;
        height: 20px;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
        z-index: 4;
        background: url("/../images/icons/icon-data.svg") center/contain no-repeat;
    }
}