.row {
    display: flex;
    margin: 0 -15px;

    &>div {
        margin: 0 15px;
        min-width: 220px;
    }
}

@media screen and (max-width: 768px) {
    .buttonWrapper {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}

.btn {
    width: 100%;
    border-radius: 12px;
    text-align: center;
    padding: 15px;
    transition: 0.4s !important;

    &_next {
        background: #3679FD;
        border: 1px solid #3679FD;

        &:hover {
            background: #6798F9;
            border: 1px solid #6798F9;
        }
    }

    &_prev {
        background: #fff !important;
        border: 1px solid #DADCE3 !important;
        color: #838799 !important;

        &:hover {
            color: #3679FD !important;
            border-color: #3679FD !important;
        }
    }


}

.btn.disabled,
.btn:disabled,
fieldset:disabled .btn {
    background: #F6F8FA !important;
    color: #C4C7D0;
    border-color: #F6F8FA !important;
    opacity: 1 !important;
    border: 1px solid #DADCE3 !important;
}


@media (max-width: 1559px) {
    .row {
        &>div {
            min-width: 170px;
        }
    }

    .btn {
        padding: 10px;
        font-size: 16px;
    }
}