@font-face {
    font-family: "GTEestiProDisplay";
    src: url("../../fonts/GTEestiProDisplay-Light.woff2") format("woff2");
    font-weight: 350;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "GTEestiProDisplay";
    src: url("../../fonts/GTEestiProDisplay-Medium.woff2") format("woff2");
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "GTEestiProDisplay";
    src: url("../../fonts/GTEestiProDisplay-Bold.woff2") format("woff2");
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "GTEestiProDisplay";
    src: url("../../fonts/GTEestiProDisplay-UltraBold.woff2") format("woff2");
    font-weight: 900;
    font-display: swap;
    font-style: normal;
}