* {
    font-family: "GTEestiProDisplay", sans-serif;
}

body {
    &.scroll-hide {
        overflow: hidden;
    }
}

h1.h1 {
    font-weight: 700 !important;
    font-size: 52px;
    line-height: 1.13;
    color: #01153a;

    >span {
        position: relative;
    }
}

h2.h2 {
    font-weight: 500 !important;
    font-size: 36px;
    color: #01153a;

    >span {
        position: relative;
    }
}

h3.h3 {
    font-weight: 500 !important;
    font-size: 30px;
    color: #01153a;

    >span {
        position: relative;
    }
}

.text-center {
    text-align: center;
}

.containers {
    max-width: 1200px !important;
    margin: 0 auto;
    padding: 0 15px !important;
}

.page {
    position: relative;
    overflow: hidden;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 83px;
}

.btns {
    border-radius: 12px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 15px 35px;
    transition: background 0.3s ease-in-out;
    color: #ffffff !important;
    width: fit-content;
    white-space: nowrap;

    &.btn--grey {
        background: #f6f8fa;
        color: #546c97 !important;
        padding: 15px 17px;

        &:hover {
            background: #d0e6fc;
        }
    }

    &.btn--blue {
        background: #3679fd;

        &:hover {
            background: #1c63ef;
        }
    }

    &.btn--search {
        padding: 17px;
    }

    svg {
        width: 18px;
        // margin-right: 12px;
    }

    &.minp {
        padding-left: 18px;
        padding-right: 18px;
    }
}

.form-btn-center {
    display: flex;
    justify-content: center;
}

.mt-30 {
    margin-top: 30px;
}

.mt-130 {
    margin-top: 130px;
}


.btn-centers-w {
    display: flex;
    justify-content: center;
}

.mt-40 {
    margin-top: 40px;
}

// media

@media (max-width: 1399px) {
    h1.h1 {
        font-size: 42px;
    }

    .faq-page {
        padding: 96px 0;
    }

    .icon-right-top::before {
        width: 43px;
        height: 40px;
        right: -23px;
        top: -3px;
    }
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0 !important;
}

@media (max-width: 1023px) {
    h1.h1 {
        font-size: 36px;
    }

    .icon-right-top::before {
        width: 43px;
        height: 40px;
        right: -23px;
        top: -3px;
    }
}

@media (max-width: 992px) {
    .page {
        padding-top: 57px;
    }
}

@media (max-width: 767px) {
    h1.h1 {
        font-size: 30px;
    }

    .icon-right-top::before {
        width: 43px;
        height: 40px;
        right: -23px;
        top: -3px;
    }
}


@media(max-width: 366px) {
    h1.h1 {
        font-size: 20px;
        font-weight: 400 !important;
    }

    .icon-right-top::before {
        display: none;
    }
}