body {
    &.scroll-hide {
        overflow: hidden;
    }
}

h1.h1 {
    font-weight: 700 !important;
    font-size: 52px;
    line-height: 1.13;
    color: #01153a;

    >span {
        position: relative;
    }
}

h2.h2 {
    font-weight: 500 !important;
    font-size: 36px;
    color: #01153a;

    >span {
        position: relative;
    }
}

h3.h3 {
    font-weight: 500 !important;
    font-size: 30px;
    color: #01153a;

    >span {
        position: relative;
    }
}

.text-center {
    text-align: center;
}

.containers {
    max-width: 1200px !important;
    margin: 0 auto;
    padding: 0 20px !important;
}

.page {
    position: relative;
    overflow: hidden;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 120px;
}

.btns {
    border-radius: 12px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 15px 35px;
    transition: background 0.3s ease-in-out;
    color: #ffffff !important;
    width: fit-content;
    white-space: nowrap;

    &.btn--grey {
        background: #f6f8fa;
        color: #546c97 !important;
        padding: 15px 17px;

        &:hover {
            background: #d0e6fc;
        }
    }

    &.btn--grey-two {
        background: #EEF0F2 !important;
        color: #838799 !important;
        padding: 15px 17px;

        svg {
            fill: #838799;
        }

        &:hover {
            color: #3679FD !important;

            svg {
                fill: #3679FD;
            }
        }
    }

    &.btn--blue {
        background: #3679fd;

        &:hover {
            background: #1c63ef;
        }
    }

    &.btn--search {
        padding: 17px;
    }

    svg {
        width: 18px;
        // margin-right: 12px;
    }

    &.minp {
        padding-left: 18px;
        padding-right: 18px;
    }
}

.form-btn-center {
    display: flex;
    justify-content: center;
}

.mt-30 {
    margin-top: 30px;
}

.mt-130 {
    margin-top: 130px;
}


.btn-centers-w {
    display: flex;
    justify-content: center;
}

.mt-40 {
    margin-top: 40px;
}

// media

@media (max-width: 1399px) {
    h1.h1 {
        font-size: 42px;
    }

    .faq-page {
        padding: 96px 0;
    }

    .icon-right-top::before {
        width: 43px;
        height: 40px;
        right: -23px;
        top: -3px;
    }
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0 !important;
}

svg {
    width: 20px;
    height: 20px;
}

@media (max-width: 1023px) {
    h1.h1 {
        font-size: 36px;
    }

    .icon-right-top::before {
        width: 43px;
        height: 40px;
        right: -23px;
        top: -3px;
    }
}

@media (max-width: 992px) {
    .page {
        padding-top: 60px;
    }
}

@media (max-width: 767px) {
    h1.h1 {
        font-size: 30px;
    }

    .icon-right-top::before {
        width: 43px;
        height: 40px;
        right: -23px;
        top: -3px;
    }

    .page.renewal {
        padding-top: 50px;
    }
}


@media(max-width: 366px) {
    h1.h1 {
        font-size: 20px;
        font-weight: 400 !important;
    }

    .icon-right-top::before {
        display: none;
    }
}


@media screen and (max-width: 768px) {
    .mobile-rows {
        display: flex;
        flex-direction: column;

        &>div {
            width: 100%;
        }

        &.two-items {
            gap: 12px;
        }
    }

    .career-form {
        gap: 12px;
        flex-direction: column-reverse;
    }

    .dates-wrap {
        .date-block {
            &:last-child {
                .popup {
                    left: -105px;
                }
            }
        }
    }

    .personalize-form {
        .form-margins {
            gap: 20px;

            .row {
                gap: 20px;
            }
        }

        .wr-btn-cover {
            justify-content: center;
        }
    }

    .step-wr {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .date-pickers-wrapper {
        display: flex;
        justify-content: center;
        gap: 30px;
    }

    .date-picker-block {
        position: relative;
        width: 104px;

        ul {
            box-shadow: none;
            width: 100%;
            -ms-overflow-style: none;
            scrollbar-width: none;

            &::-webkit-scrollbar {
                display: none;
            }


            li {
                display: flex;
                flex-direction: row;
                justify-content: center;
                font-weight: 400;
                font-size: 14px;
                line-height: 16px;

                span {
                    display: none;
                }

                p {
                    padding: 0;
                }
            }
        }

        &:before,
        &:after {
            content: '';
            display: block;
            width: 100%;
            height: 1px;
            position: absolute;
            background-color: var(--grey-3);
            left: 0;
        }

        &:before {
            // top: 90px;
            top: calc(50% - 25px);
        }

        &:after {
            // top: 140px;
            top: calc(50% + 25px);
        }
    }

    .wr-col-text-r.search-block {
        min-height: auto;
        margin-bottom: 25px;

        .search-text-content .modal-text__main {
            height: auto;
        }

        .modal-text .modal-text__head input.form-control {
            border-radius: 12px;
        }
    }

    .form-wrapper {
        width: 100%;
    }

    form.mobile-gap {
        gap: 12px;
    }

}