:root {
  --white: #fff;
  --blue: #3679fd;
  --orange: #ffad61;
  --orange-opacity: rgba(255, 173, 97, 0.15);
  --grey: #546C97;
  --grey-2: #838799;
  --light-grey: #FDFDFD;
  --light-grey-1: #F8FAFB;
}
