:root {
  --white: #fff;
  --black: #01153A;
  --blue: #3679fd;
  --red: #F63B3B;
  --orange: #ffad61;
  --orange-opacity: rgba(255, 173, 97, 0.15);
  --grey: #546C97;
  --grey-2: #838799;
  --grey-3: #EEF0F2;
  --light-grey: #FDFDFD;
  --light-grey-1: #F8FAFB;
  --light-grey-2: #F6F8FA;
}
