// базовые подключения
@import "vars";
@import "mixins";
@import "null";
@import "global";

// подключения компонентов страницы
@import "./components/header";
@import "./components/advantages";
@import "./components/document";
@import "./components/faq";
@import "./components/footer";
@import "./components/offer-sec";
@import "./components/promo";
@import "./components/steps-creating";
@import "./components/faq-page";
@import "./components/contact-page";
@import "./components/cookies";
@import "./components/templates";
@import "./components/page-templates";
@import "./components/partners";
@import "./components/perfect-template";
@import "./components/professional-story";
@import "./components/let-ai";
@import "./components/reviews";