// базовые подключения
@import "vars";
@import "mixins";
@import "null";
@import "global";

// подключения компонентов страницы
@import "./components/header";
@import "./components/advantages";
@import "./components/faq";
@import "./components/footer";
@import "./components/offer-sec";
@import "./components/promo";
@import "./components/steps-creating";
@import "./components/faq-page";
@import "./components/contact-page";
@import "./components/cookies";
@import "./components/templates";
@import "./components/page-templates";
@import "./components/partners";
@import "./components/perfect-template";
@import "./components/professional-story";
@import "./components/let-ai";
@import "./components/reviews";
@import "./components/card-reviews";
@import "./components/relavant";
@import "./components/select-templates";
@import "./components/card-select-template";
@import "./components/privace-of-you";
@import "./components/customers";
@import "./components/get-you";
@import "./components/for-free";
@import "./components/resume-and-cover";
@import "./components/autoCreateCover";