  /* Colors */
  $main_color_1: #F1F1F4;
  $main_color_2: #E9E9E9;
  $main_color_3: #231F20;
  $main_color_4: #4C5C68;

  $color_set_1_additional_color_1: #1E7BC0;
  $color_set_1_additional_color_2: #072034;

  $color_set_2_additional_color_1: #F63350;
  $color_set_2_additional_color_2: #42303C;

  $color_set_3_additional_color_1: #B45DC2;
  $color_set_3_additional_color_2: #392733;

  $color_set_4_additional_color_1: #5DBCC2;
  $color_set_4_additional_color_2: #273239;

  $color_set_5_additional_color_1: #67C64F;
  $color_set_5_additional_color_2: #1D3B2F;

  $color_set_6_additional_color_1: #DC9934;
  $color_set_6_additional_color_2: #3C2B2A;

  .sv_041 {
    font-weight: 400;

    /* Global */
    * {
      padding: 0;
      margin: 0;
    }

    *,
    *:before,
    *:after {
      box-sizing: border-box;
      font-family: 'Almarai', sans-serif;
    }

    ul {
      margin-left: 15px;
      display: flex;
      flex-direction: column;
      row-gap: 2px;

      li {
        list-style: disc;
      }
    }

    .empty-field {
      opacity: 0.3;
    }

    .hide {
      display: none !important;
    }

    //Blocks
    .cv-name {
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 2px;
      color: $main_color_3;
    }

    .cv-profession {
      position: absolute;
      transform: translate(-50%, 50%);
      bottom: 0;
      left: 50%;
      padding: 0px 14px;
      text-transform: uppercase;
      text-align: center;
      color: $main_color_3;
      font-weight: 400;
      white-space: nowrap;
    }

    .cv-body {
      display: flex;
      flex-direction: column;
      overflow: hidden;

      &.page-1 {
        .cv-body-content {
          padding-top: 0;
        }
      }
    }

    .cv-body-content {
      position: relative;
      flex: 1;
      display: none;
      flex-direction: column;
      padding-top: 20px;
    }

    .middle-area {
      flex: 1;
      display: flex;
      column-gap: 30px;

      .column-left {
        display: flex;
        flex-direction: column;

        .block-block {
          margin: 10px 0 0 20px;

          .cv-heading {
            font-weight: 700;
            margin-bottom: 6px;
            text-transform: uppercase;
            letter-spacing: 1.1px;
            color: $main_color_3;
          }

          &:not(:first-of-type) {
            padding-top: 10px;
            border-top: 1px solid $main_color_3;
          }

          &:first-of-type {
            margin-top: 0;
          }

          &>div {
            min-width: 200px;
          }
        }

        .estimated-items-list {
          display: flex;
          flex-direction: column;
          row-gap: 5px;

          .estimated-item {
            display: flex;
            align-items: center;

            &:first-child {
              margin: 0px 0px 0px 0px;
            }

            .item-name {
              flex: 1;
            }

            .estimation-wrapper {
              width: 90px;
              height: 4px;

              .estimation-value {
                height: 100%;
              }
            }
          }
        }

        .photo-block {
          display: flex;

          .left-side {
            width: 40px;
          }

          .right-side {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            padding-top: 35px;
          }

          .photo {
            display: block;
            border-radius: 100%;
            width: 118px;
            height: 118px;
            overflow: hidden;
            background-size: cover;
            background-position: center center;
          }
        }

        .links-block {
          display: flex;

          .left-side {
            width: 40px;
          }

          .right-side {
            flex: 1;
            display: flex;
            flex-wrap: wrap;
            padding-left: 16px;
            column-gap: 20px;
            row-gap: 5px;
          }

          .link-wrapper {
            display: flex;
            align-items: center;

            svg,
            img {
              margin-right: 6px;
              width: 13px;
              height: 13px;
            }
          }
        }

        .personal-information-block {
          display: flex;
          flex-direction: column;

          .personal-information-item {
            display: flex;

            .left-side {
              width: 40px;
              min-width: 40px;
              display: flex;
              justify-content: center;
              padding-top: 10px;
            }

            .right-side {
              flex: 1;
              padding: 10px 0 0 16px;

              .subheading {
                font-weight: 700;
                color: $main_color_3;
              }

              .info-list-item {
                display: flex;
                column-gap: 4px;
                flex-wrap: wrap;

                .name {
                  font-weight: 700;
                }
              }
            }
          }

          &+.block-block {
            margin-top: 0;
            padding-top: 30px;
            border: 0;
          }
        }

        .references-block {
          .block-info {
            display: flex;
            flex-direction: column;
            row-gap: 2px;
          }
        }

        .certificates-block {
          .certificates-info {
            display: flex;
            flex-direction: column;
            row-gap: 6px;
          }
        }
      }

      .column-right {
        flex: 1;
        display: flex;
        flex-direction: column;
        margin-right: 30px;
        flex-basis: 300%;

        .block-block {
          .cv-heading {
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 1.1px;
            color: $main_color_3;
          }

          .heading-line {
            display: flex;
            align-items: center;
            margin-bottom: 8px;

            .heading-border-line {
              flex: 1;
              margin-left: 10px;
              background-color: $main_color_3;
              height: 1px;
            }
          }

          .subheading-line {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            margin-bottom: 5px;

            .to-left {
              color: $main_color_3;

              div {
                &:first-of-type {
                  text-transform: uppercase;
                  margin-bottom: 4px;
                  font-weight: 700;
                }
              }
            }

            .date-range {
              color: $main_color_3;
              flex-shrink: 0;
            }

            .degree-block {
              font-weight: 700;
              margin-top: 8px;
            }
          }

          &:not(:first-of-type) {
            margin-top: 25px;
          }

          &.profile-block {
            margin-top: 0;
          }
        }

        .main-info-block {
          position: relative;
          width: 100%;
          height: 50px;
          margin: 45px 0;
          padding: 0px 10px;
          border-width: 1px;
          border-style: solid;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }

    .bottom-area {
      height: 30px;
      margin-top: 20px;
      min-height: 30px;
    }

    .block-block {
      .block-info {
        margin-top: 10px;

        &:nth-child(2) {
          margin-top: 0;
        }
      }
    }

    /* Stylization */
    #cv-chapter-section-cv {
      .photo-block {
        display: none;
      }

      .middle-area {
        .column-left {
          .links-block {
            .right-side {
              padding-top: 138px;
            }
          }
        }

        .column-right {
          .main-info-block {
            margin-left: -105px;
          }
        }
      }

      &.has-photo {
        .photo-block {
          display: flex;
        }

        .middle-area {
          .column-left {
            .links-block {
              .right-side {
                padding-top: 6px;
              }
            }
          }
        }

        .column-right {
          .main-info-block {
            margin-left: auto;
          }
        }
      }
    }

    .cv-body-2 {
      .cv-body-content {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: stretch;
        padding-top: 0;

        .top-area {
          .main-info-block {
            position: relative;
            width: 325px;
            height: 50px;
            margin: 134px auto 54px;
            padding: 0px 10px;
            border-width: 1px;
            border-style: solid;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }

        .middle-area {
          flex: 1;
          display: flex;
          flex-direction: column;
          align-items: stretch;
          justify-content: stretch;

          .letter-block {
            flex: 1;
            width: 325px;
            margin: 0px auto;
          }

          .addresses-block {
            width: 325px;
            margin: 20px auto 35px;
            display: flex;
            column-gap: 30px;

            .block-to {
              flex: 0;
            }

            .cv-heading {
              font-weight: 700;
              margin-bottom: 6px;
              color: $main_color_3;
            }
          }
        }

        .bottom-area {
          height: 30px;
        }
      }
    }

    /* Font size scheme */
    .font-size-scheme-state-small {
      .font-size-1 {
        font-size: 8px;
      }

      .font-size-2 {
        font-size: 9px;
      }

      .font-size-3 {
        font-size: 10px;
      }

      .font-size-4 {
        font-size: 11px;
      }

      .font-size-5 {
        font-size: 18px;
      }
    }

    .font-size-scheme-state-medium {
      .font-size-1 {
        font-size: 10px;
      }

      .font-size-2 {
        font-size: 11px;
      }

      .font-size-3 {
        font-size: 12px;
      }

      .font-size-4 {
        font-size: 13px;
      }

      .font-size-5 {
        font-size: 20px;
      }
    }

    .font-size-scheme-state-big {
      .font-size-1 {
        font-size: 12px;
      }

      .font-size-2 {
        font-size: 13px;
      }

      .font-size-3 {
        font-size: 14px;
      }

      .font-size-4 {
        font-size: 15px;
      }

      .font-size-5 {
        font-size: 22px;
      }
    }

    /* Line height scheme */
    .line-height-scheme-state-small {
      .cv-body-content {
        line-height: 1.2;
      }
    }

    .line-height-scheme-state-medium {
      .cv-body-content {
        line-height: 1.4;
      }
    }

    .line-height-scheme-state-big {
      .cv-body-content {
        line-height: 1.6;
      }
    }

    /* Color scheme */
    .color-scheme-state-color-set-1 {
      .main-color-1-background {
        background-color: $main_color_1;
      }

      .main-color-2-text {
        color: $main_color_2;
      }

      .main-color-2-background {
        background-color: $main_color_2;
      }

      .main-color-3-text {
        color: $main_color_3;
      }

      .main-color-3-border {
        border-color: $main_color_3;
      }

      .main-color-4-text {
        color: $main_color_4;
      }

      .additional-color-1-text {
        color: $color_set_1_additional_color_1;
      }

      .additional-color-1-border {
        border-color: $color_set_1_additional_color_1;
      }

      .additional-color-1-background {
        background-color: $color_set_1_additional_color_1;
      }

      .additional-color-1-svg-path {
        path {
          stroke: $color_set_1_additional_color_1;
          fill: $main_color_1;
        }
      }

      .additional-color-1-svg {
        path {
          fill: $color_set_1_additional_color_1;
        }
      }

      .additional-color-2-svg {
        svg {
          fill: $color_set_1_additional_color_2;
        }
      }

      .additional-color-2-background {
        background-color: $color_set_1_additional_color_2;
      }
    }

    .color-scheme-state-color-set-2 {
      .main-color-1-background {
        background-color: $main_color_1;
      }

      .main-color-2-text {
        color: $main_color_2;
      }

      .main-color-2-background {
        background-color: $main_color_2;
      }

      .main-color-3-text {
        color: $main_color_3;
      }

      .main-color-3-border {
        border-color: $main_color_3;
      }

      .main-color-4-text {
        color: $main_color_4;
      }

      .additional-color-1-text {
        color: $color_set_2_additional_color_1;
      }

      .additional-color-1-border {
        border-color: $color_set_2_additional_color_1;
      }

      .additional-color-1-background {
        background-color: $color_set_2_additional_color_1;
      }

      .additional-color-1-svg-path {
        path {
          stroke: $color_set_2_additional_color_1;
          fill: $main_color_1;
        }
      }

      .additional-color-1-svg {
        path {
          fill: $color_set_2_additional_color_1;
        }
      }

      .additional-color-2-svg {
        svg {
          fill: $color_set_2_additional_color_2;
        }
      }

      .additional-color-2-background {
        background-color: $color_set_2_additional_color_2;
      }
    }

    .color-scheme-state-color-set-3 {
      .main-color-1-background {
        background-color: $main_color_1;
      }

      .main-color-2-text {
        color: $main_color_2;
      }

      .main-color-2-background {
        background-color: $main_color_2;
      }

      .main-color-3-text {
        color: $main_color_3;
      }

      .main-color-3-border {
        border-color: $main_color_3;
      }

      .main-color-4-text {
        color: $main_color_4;
      }

      .additional-color-1-text {
        color: $color_set_3_additional_color_1;
      }

      .additional-color-1-border {
        border-color: $color_set_3_additional_color_1;
      }

      .additional-color-1-background {
        background-color: $color_set_3_additional_color_1;
      }

      .additional-color-1-svg-path {
        path {
          stroke: $color_set_3_additional_color_1;
          fill: $main_color_1;
        }
      }

      .additional-color-1-svg {
        path {
          fill: $color_set_3_additional_color_1;
        }
      }

      .additional-color-2-svg {
        svg {
          fill: $color_set_3_additional_color_2;
        }
      }

      .additional-color-2-background {
        background-color: $color_set_3_additional_color_2;
      }
    }

    .color-scheme-state-color-set-4 {
      .main-color-1-background {
        background-color: $main_color_1;
      }

      .main-color-2-text {
        color: $main_color_2;
      }

      .main-color-2-background {
        background-color: $main_color_2;
      }

      .main-color-3-text {
        color: $main_color_3;
      }

      .main-color-3-border {
        border-color: $main_color_3;
      }

      .main-color-4-text {
        color: $main_color_4;
      }

      .additional-color-1-text {
        color: $color_set_4_additional_color_1;
      }

      .additional-color-1-border {
        border-color: $color_set_4_additional_color_1;
      }

      .additional-color-1-background {
        background-color: $color_set_4_additional_color_1;
      }

      .additional-color-1-svg-path {
        path {
          stroke: $color_set_4_additional_color_1;
          fill: $main_color_1;
        }
      }

      .additional-color-1-svg {
        path {
          fill: $color_set_4_additional_color_1;
        }
      }

      .additional-color-2-svg {
        svg {
          fill: $color_set_4_additional_color_2;
        }
      }

      .additional-color-2-background {
        background-color: $color_set_4_additional_color_2;
      }
    }

    .color-scheme-state-color-set-5 {
      .main-color-1-background {
        background-color: $main_color_1;
      }

      .main-color-2-text {
        color: $main_color_2;
      }

      .main-color-2-background {
        background-color: $main_color_2;
      }

      .main-color-3-text {
        color: $main_color_3;
      }

      .main-color-3-border {
        border-color: $main_color_3;
      }

      .main-color-4-text {
        color: $main_color_4;
      }

      .additional-color-1-text {
        color: $color_set_5_additional_color_1;
      }

      .additional-color-1-border {
        border-color: $color_set_5_additional_color_1;
      }

      .additional-color-1-background {
        background-color: $color_set_5_additional_color_1;
      }

      .additional-color-1-svg-path {
        path {
          stroke: $color_set_5_additional_color_1;
          fill: $main_color_1;
        }
      }

      .additional-color-1-svg {
        path {
          fill: $color_set_5_additional_color_1;
        }
      }

      .additional-color-2-svg {
        svg {
          fill: $color_set_5_additional_color_2;
        }
      }

      .additional-color-2-background {
        background-color: $color_set_5_additional_color_2;
      }
    }

    .color-scheme-state-color-set-6 {
      .main-color-1-background {
        background-color: $main_color_1;
      }

      .main-color-2-text {
        color: $main_color_2;
      }

      .main-color-2-background {
        background-color: $main_color_2;
      }

      .main-color-3-text {
        color: $main_color_3;
      }

      .main-color-3-border {
        border-color: $main_color_3;
      }

      .main-color-4-text {
        color: $main_color_4;
      }

      .additional-color-1-text {
        color: $color_set_6_additional_color_1;
      }

      .additional-color-1-border {
        border-color: $color_set_6_additional_color_1;
      }

      .additional-color-1-background {
        background-color: $color_set_6_additional_color_1;
      }

      .additional-color-1-svg-path {
        path {
          stroke: $color_set_6_additional_color_1;
          fill: $main_color_1;
        }
      }

      .additional-color-1-svg {
        path {
          fill: $color_set_6_additional_color_1;
        }
      }

      .additional-color-2-svg {
        svg {
          fill: $color_set_6_additional_color_2;
        }
      }

      .additional-color-2-background {
        background-color: $color_set_6_additional_color_2;
      }
    }

    .cv-body-content {
      display: flex;
    }
  }