/* Font faces */
@font-face {
  font-family: 'Almarai';
  src: url('./fonts/Almarai/Almarai-Regular.ttf');
}

.sv_041 {
  font-family: 'Almarai', sans-serif;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 700;
  }

  /* Font size scheme */
  .font-size-scheme-state-small {
    .font-size-1 {
      font-size: 8px;
    }

    .font-size-2 {
      font-size: 9px;
    }

    .font-size-3 {
      font-size: 10px;
    }

    .font-size-4 {
      font-size: 11px;
    }

    .font-size-5 {
      font-size: 18px;
    }
  }

  .font-size-scheme-state-medium {
    .font-size-1 {
      font-size: 10px;
    }

    .font-size-2 {
      font-size: 11px;
    }

    .font-size-3 {
      font-size: 12px;
    }

    .font-size-4 {
      font-size: 13px;
    }

    .font-size-5 {
      font-size: 20px;
    }
  }

  .font-size-scheme-state-big {
    .font-size-1 {
      font-size: 12px;
    }

    .font-size-2 {
      font-size: 13px;
    }

    .font-size-3 {
      font-size: 14px;
    }

    .font-size-4 {
      font-size: 15px;
    }

    .font-size-5 {
      font-size: 22px;
    }
  }

  /* Line height scheme */
  .line-height-scheme-state-small {
    .line-height-1 {
      line-height: 8.1px;
    }

    .line-height-2 {
      line-height: 9.9px;
    }

    .line-height-3 {
      line-height: 10.8px;
    }

    .line-height-4 {
      line-height: 11.2px;
    }

    .line-height-5 {
      line-height: 11.16px;
    }

    .line-height-6 {
      line-height: 14px;
    }

    .line-height-7 {
      line-height: 16.2px;
    }
  }

  .line-height-scheme-state-medium {
    .line-height-1 {
      line-height: 10.1px;
    }

    .line-height-2 {
      line-height: 11.9px;
    }

    .line-height-3 {
      line-height: 12.8px;
    }

    .line-height-4 {
      line-height: 13.2px;
    }

    .line-height-5 {
      line-height: 13.16px;
    }

    .line-height-6 {
      line-height: 16px;
    }

    .line-height-7 {
      line-height: 18.2px;
    }
  }

  .line-height-scheme-state-big {
    .line-height-1 {
      line-height: 12.1px;
    }

    .line-height-2 {
      line-height: 13.9px;
    }

    .line-height-3 {
      line-height: 14.8px;
    }

    .line-height-4 {
      line-height: 15.2px;
    }

    .line-height-5 {
      line-height: 15.16px;
    }

    .line-height-6 {
      line-height: 18px;
    }

    .line-height-7 {
      line-height: 20.2px;
    }
  }

  /* Colors */
  $main_color_1: #F1F1F4;
  $main_color_2: #E9E9E9;
  $main_color_3: #231F20;
  $main_color_4: #4C5C68;

  $color_set_1_additional_color_1: #1E7BC0;
  $color_set_1_additional_color_2: #072034;

  $color_set_2_additional_color_1: #F63350;
  $color_set_2_additional_color_2: #42303C;

  $color_set_3_additional_color_1: #B45DC2;
  $color_set_3_additional_color_2: #392733;

  $color_set_4_additional_color_1: #5DBCC2;
  $color_set_4_additional_color_2: #273239;

  $color_set_5_additional_color_1: #67C64F;
  $color_set_5_additional_color_2: #1D3B2F;

  $color_set_6_additional_color_1: #DC9934;
  $color_set_6_additional_color_2: #3C2B2A;

  /* Color scheme */
  .color-scheme-state-color-set-1 {
    .main-color-1-background {
      background-color: $main_color_1;
    }

    .main-color-2-text {
      color: $main_color_2;
    }

    .main-color-2-background {
      background-color: $main_color_2;
    }

    .main-color-3-text {
      color: $main_color_3;
    }

    .main-color-3-border {
      border-color: $main_color_3;
    }

    .main-color-4-text {
      color: $main_color_4;
    }

    .additional-color-1-text {
      color: $color_set_1_additional_color_1;
    }

    .additional-color-1-border {
      border-color: $color_set_1_additional_color_1;
    }

    .additional-color-1-background {
      background-color: $color_set_1_additional_color_1;
    }

    .additional-color-1-svg-path {
      path {
        stroke: $color_set_1_additional_color_1;
        fill: $main_color_1;
      }
    }

    .additional-color-1-svg {
      path {
        fill: $color_set_1_additional_color_1;
      }
    }

    .additional-color-2-background {
      background-color: $color_set_1_additional_color_2;
    }
  }

  .color-scheme-state-color-set-2 {
    .main-color-1-background {
      background-color: $main_color_1;
    }

    .main-color-2-text {
      color: $main_color_2;
    }

    .main-color-2-background {
      background-color: $main_color_2;
    }

    .main-color-3-text {
      color: $main_color_3;
    }

    .main-color-3-border {
      border-color: $main_color_3;
    }

    .main-color-4-text {
      color: $main_color_4;
    }

    .additional-color-1-text {
      color: $color_set_2_additional_color_1;
    }

    .additional-color-1-border {
      border-color: $color_set_2_additional_color_1;
    }

    .additional-color-1-background {
      background-color: $color_set_2_additional_color_1;
    }

    .additional-color-1-svg-path {
      path {
        stroke: $color_set_2_additional_color_1;
        fill: $main_color_1;
      }
    }

    .additional-color-1-svg {
      path {
        fill: $color_set_2_additional_color_1;
      }
    }

    .additional-color-2-background {
      background-color: $color_set_2_additional_color_2;
    }
  }

  .color-scheme-state-color-set-3 {
    .main-color-1-background {
      background-color: $main_color_1;
    }

    .main-color-2-text {
      color: $main_color_2;
    }

    .main-color-2-background {
      background-color: $main_color_2;
    }

    .main-color-3-text {
      color: $main_color_3;
    }

    .main-color-3-border {
      border-color: $main_color_3;
    }

    .main-color-4-text {
      color: $main_color_4;
    }

    .additional-color-1-text {
      color: $color_set_3_additional_color_1;
    }

    .additional-color-1-border {
      border-color: $color_set_3_additional_color_1;
    }

    .additional-color-1-background {
      background-color: $color_set_3_additional_color_1;
    }

    .additional-color-1-svg-path {
      path {
        stroke: $color_set_3_additional_color_1;
        fill: $main_color_1;
      }
    }

    .additional-color-1-svg {
      path {
        fill: $color_set_3_additional_color_1;
      }
    }

    .additional-color-2-background {
      background-color: $color_set_3_additional_color_2;
    }
  }

  .color-scheme-state-color-set-4 {
    .main-color-1-background {
      background-color: $main_color_1;
    }

    .main-color-2-text {
      color: $main_color_2;
    }

    .main-color-2-background {
      background-color: $main_color_2;
    }

    .main-color-3-text {
      color: $main_color_3;
    }

    .main-color-3-border {
      border-color: $main_color_3;
    }

    .main-color-4-text {
      color: $main_color_4;
    }

    .additional-color-1-text {
      color: $color_set_4_additional_color_1;
    }

    .additional-color-1-border {
      border-color: $color_set_4_additional_color_1;
    }

    .additional-color-1-background {
      background-color: $color_set_4_additional_color_1;
    }

    .additional-color-1-svg-path {
      path {
        stroke: $color_set_4_additional_color_1;
        fill: $main_color_1;
      }
    }

    .additional-color-1-svg {
      path {
        fill: $color_set_4_additional_color_1;
      }
    }

    .additional-color-2-background {
      background-color: $color_set_4_additional_color_2;
    }
  }

  .color-scheme-state-color-set-5 {
    .main-color-1-background {
      background-color: $main_color_1;
    }

    .main-color-2-text {
      color: $main_color_2;
    }

    .main-color-2-background {
      background-color: $main_color_2;
    }

    .main-color-3-text {
      color: $main_color_3;
    }

    .main-color-3-border {
      border-color: $main_color_3;
    }

    .main-color-4-text {
      color: $main_color_4;
    }

    .additional-color-1-text {
      color: $color_set_5_additional_color_1;
    }

    .additional-color-1-border {
      border-color: $color_set_5_additional_color_1;
    }

    .additional-color-1-background {
      background-color: $color_set_5_additional_color_1;
    }

    .additional-color-1-svg-path {
      path {
        stroke: $color_set_5_additional_color_1;
        fill: $main_color_1;
      }
    }

    .additional-color-1-svg {
      path {
        fill: $color_set_5_additional_color_1;
      }
    }

    .additional-color-2-background {
      background-color: $color_set_5_additional_color_2;
    }
  }

  .color-scheme-state-color-set-6 {
    .main-color-1-background {
      background-color: $main_color_1;
    }

    .main-color-2-text {
      color: $main_color_2;
    }

    .main-color-2-background {
      background-color: $main_color_2;
    }

    .main-color-3-text {
      color: $main_color_3;
    }

    .main-color-3-border {
      border-color: $main_color_3;
    }

    .main-color-4-text {
      color: $main_color_4;
    }

    .additional-color-1-text {
      color: $color_set_6_additional_color_1;
    }

    .additional-color-1-border {
      border-color: $color_set_6_additional_color_1;
    }

    .additional-color-1-background {
      background-color: $color_set_6_additional_color_1;
    }

    .additional-color-1-svg-path {
      path {
        stroke: $color_set_6_additional_color_1;
        fill: $main_color_1;
      }
    }

    .additional-color-1-svg {
      path {
        fill: $color_set_6_additional_color_1;
      }
    }

    .additional-color-2-background {
      background-color: $color_set_6_additional_color_2;
    }
  }


  * {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    font-family: 'Almarai', sans-serif;
  }

  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }

  .font-weight-200 {
    font-weight: 200;
  }

  .font-weight-300 {
    font-weight: 300;
  }

  .font-weight-400 {
    font-weight: 400;
  }

  .font-weight-500 {
    font-weight: 500;
  }

  .font-weight-600 {
    font-weight: 600;
  }

  .font-weight-700 {
    font-weight: 700;
  }

  .font-weight-900 {
    font-weight: 900;
  }

  .cv-prophecy {}

  .cv-name {
    text-align: center;
    font-family: 'Almarai', sans-serif;
  }

  ul {
    margin-left: 20px;

    li {
      margin-top: 2px;

      &:first-child {
        margin-top: 0px;
      }

      &:marker {}
    }
  }

  #cv-chapter-section-cv {
    .top-area {
      .center-block {
        width: 64px;
        height: 64px;

        .photo-wrapper {
          display: none;
        }
      }
    }

    &.has-photo {
      .top-area {
        .center-block {
          width: 128px;
          height: 128px;

          .photo-wrapper {
            display: flex;
          }
        }
      }
    }
  }

  .cv-body {
    min-width: 595px;
    min-height: 764px;
    max-height: 764px;
    background-color: #fff;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;

    .cv-body-content {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: stretch;
      height: 100%;
      position: relative;
      z-index: 10;

      .middle-area {
        flex: 1;
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: stretch;

        .column-left {
          display: flex;
          flex-direction: column;
          align-items: stretch;
          justify-content: stretch;
          width: 221px;
          margin: 0px 29px 0px 0px;
        }

        .column-right {
          flex: 1;
          display: flex;
          flex-direction: column;
          align-items: stretch;
          justify-content: stretch;
          margin: 0px 30px 0px 0px;
        }
      }

      .bottom-area {
        height: 30px;
        margin-top: 20px;
      }
    }

    &.cv-body-1 {
      position: relative;

      .cv-body-content {
        position: relative;

        .column-left {}
      }
    }

    &.cv-body-2 {
      .cv-body-content {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: stretch;

        .top-area {
          .main-info-block {
            margin: 134px auto 54px;
          }
        }

        .middle-area {
          flex: 1;
          display: flex;
          flex-direction: column;
          align-items: stretch;
          justify-content: stretch;

          .letter-block {
            flex: 1;
            width: 325px;
            margin: 0px auto;
          }

          .addresses-block {
            width: 325px;
            margin: 0px auto 55px;
            display: flex;
            align-items: stretch;
            justify-content: stretch;

            .block-to {
              margin: 0px 33px 0px 0px;

              .block-heading {
                margin: 0px 0px 5px 0px;
              }

              p {
                margin-top: 3px;
              }
            }

            .block-from {
              .block-heading {
                margin: 0px 0px 5px 0px;
              }

              p {
                margin-top: 3px;
              }
            }

            padding-top: 30px;
          }
        }

        .bottom-area {
          height: 30px;
        }
      }
    }
  }

  .estimated-items-list {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;

    .estimated-item {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: stretch;
      margin: 5px 0px 0px 0px;

      &:first-child {
        margin: 0px 0px 0px 0px;
      }

      .item-name {
        text-align: left !important;
        margin-bottom: 1px;
        flex: 1;
      }

      .estimation-wrapper {
        width: 89px;
        height: 4px;
        margin-left: 18px;

        .estimation-value {
          height: 100%;
        }
      }
    }
  }

  /* Block stylization */
  .block-block {
    .heading-line {
      display: flex;
      align-items: center;
      justify-content: stretch;

      .heading-border-line {
        flex: 1;
        margin: 0px 0px 0px 10px;
        background-color: $main_color_3;
        height: 1px;
      }
    }

    .block-heading {
      text-transform: uppercase;
    }

    .subheading-line {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;

      .to-left {
        p {
          &:first-child {
            text-transform: uppercase;
            margin: 0px 0px 3px 0px;
          }
        }
      }
    }
  }

  .photo-block {
    display: flex;
    align-items: stretch;
    justify-content: stretch;

    .left-side {
      width: 40px;
      min-width: 40px;
    }

    .right-side {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        display: block;
        width: 118px;
        height: 118px;
        border-radius: 50%;
        margin: 35px 0px 0px 0px;
      }
    }
  }

  .links-block {
    display: flex;
    align-items: stretch;
    justify-content: stretch;

    .left-side {
      width: 40px;
      min-width: 40px;
    }

    .right-side {
      flex: 1;
      display: flex;
      padding: 6px 0px 10.04px 16px;

      .link-wrapper {
        display: flex;
        align-items: center;
        margin: 0px 0px 0px 20px;

        &:first-child {
          margin: 0px 0px 0px 0px;
        }

        svg,
        img {
          margin-right: 6px;
          width: 13px;
          height: 13px;
        }
      }
    }
  }

  .personal-information-block {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;

    .personal-information-item {
      display: flex;
      align-items: stretch;

      .left-side {
        width: 40px;
        min-width: 40px;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        padding: 10px 0px 0px 0px;
      }

      .right-side {
        flex: 1;
        padding: 10px 0px 0px 16px;

        .info-list-item {
          display: flex;
          align-items: center;
          justify-content: flex-start;
        }
      }
    }
  }

  .skills-block {
    padding: 30px 0px 0px 0px;
    margin: 0px 0px 0px 20px;

    .block-heading {
      margin: 0px 0px 6px 0px!important;
    }
  }

  .languages-block {
    padding: 10px 0px 0px 0px;
    margin: 10px 0px 0px 20px;
    border-top-width: 1px;
    border-top-style: solid;

    .block-heading {
      margin: 0px 0px 6px 0px!important;
    }
  }

  .references-block {
    padding: 10px 0px 0px 0px;
    margin: 10px 0px 0px 20px;
    border-top-width: 1px;
    border-top-style: solid;

    .block-heading {
      margin: 0px 0px 6px 0px!important;
    }

    p {
      margin: 3px 0px 0px 0px;

      &:first-child {
        margin: 0px 0px 0px 0px;
      }
    }
  }

  .certificates-block {
    padding: 10px 0px 0px 0px;
    margin: 10px 0px 0px 20px;
    border-top-width: 1px;
    border-top-style: solid;

    .block-heading {
      margin: 0px 0px 6px 0px!important;
    }
  }

  .hobbies-block {
    padding: 10px 0px 0px 0px;
    margin: 10px 0px 0px 20px;
    border-top-width: 1px;
    border-top-style: solid;

    .block-heading {
      margin: 0px 0px 6px 0px!important;
    }
  }

  .main-info-block {
    position: relative;
    width: 325px;
    height: 49px;
    margin: 43px 0px 45.5px 0px;
    padding: 0px 10px;
    border-width: 1px;
    border-style: solid;
    display: flex;
    align-items: center;
    justify-content: center;

    .cv-name {
      text-transform: uppercase;
      letter-spacing: 2px;
    }

    .cv-prophecy {
      position: absolute;
      transform: translate(-50%, 50%);
      bottom: 0px;
      left: 50%;
      padding: 0px 14px;
      text-transform: uppercase;
      text-align: center;
    }
  }

  .profile-block {
    .heading-line {
      margin: 0px 0px 7.5px 0px;
    }
  }

  .employment-history-block {
    margin: 26px 0px 0px 0px;

    .heading-line {
      margin: 0px 0px 12px 0px;
    }

    ul {
      margin-top: 5px;
    }
  }

  .education-block {
    margin: 26px 0px 0px 0px;

    .heading-line {
      margin: 0px 0px 12px 0px;
    }

    .subheading-line {
      margin-bottom: 5px;

      .to-left {
        .text-line-3 {
          margin-top: 12px!important;
        }

        p {
          &:first-child {
            margin-bottom: 3px;
          }
        }
      }
    }
  }

  .courses-block {
    margin: 26px 0px 0px 0px;

    .heading-line {
      margin: 0px 0px 12px 0px;
    }

    .subheading-line {
      margin-bottom: 5px;
    }
  }

  .extra-curricular-activities-block {
    margin: 26px 0px 0px 0px;

    .heading-line {
      margin: 0px 0px 12px 0px;
    }

    .subheading-line {
      margin-bottom: 12px;
    }
  }

  .internships-block {
    margin: 26px 0px 0px 0px;

    .heading-line {
      margin: 0px 0px 12px 0px;
    }

    ul {
      margin-top: 5px;
    }

    .subheading-line {
      margin-bottom: 5px;
    }
  }

  /* Control panel */
  #control-panel {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 10000;

    .control-panel-item-block {
      border: 1px solid #ccc;
      background-color: #fff;
      border-radius: 5px;
      padding: 5px 10px;

      &.toggle-photo-block {
        opacity: 0.25;

        a {
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;

          img {
            display: block;
            width: 50px;
            height: 50px;
          }
        }

        &.active {
          opacity: 1;
        }
      }

      .control-panel-heading {
        font-size: 11px;
        margin: 0px 0px 0px 0px;
      }

      .control-panel-item-input-list {
        &.radio-input-list {
          .input-list-item {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            cursor: pointer;
            margin: 3px 0px;

            .radio-input {
              display: block;
              border-radius: 50%;
              border: 2px solid #d6d0d0;
              width: 7px;
              height: 7px;
              background-color: transparent;
              margin-right: 5px;
              pointer-events: none;
            }

            .radio-input-label {
              font-size: 10px;
              pointer-events: none;
            }

            &.active {
              .radio-input {
                background-color: #d6d0d0;
              }
            }
          }

          &.color-list {
            .input-list-item {
              .radio-input-label {
                flex: 1;
                height: 15px;
                border-radius: 3px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;

                .color-set-color {
                  display: block;
                  border-radius: 50%;
                  width: 15px;
                  height: 15px;
                  border: 0.5px solid #d4d4d4;
                }
              }
            }
          }
        }
      }
    }
  }

  /* Stylization */
  #cv-chapter-section-cv {
    .photo-block {
      display: none;
    }

    .middle-area {
      .column-left {
        .links-block {
          .right-side {
            padding-top: 138px;
          }
        }
      }

      .column-right {
        .main-info-block {
          margin-left: -105px;
        }
      }
    }

    &.has-photo {
      .photo-block {
        display: flex;
      }

      .middle-area {
        .column-left {
          .links-block {
            .right-side {
              padding-top: 6px;
            }
          }
        }
      }

      .column-right {
        .main-info-block {
          margin-left: auto;
        }
      }
    }
  }


  /* Custom class for custom color and font-size or line-height */
  /* ReactJS scripts shoud change CUSTOM_FONT_SIZE, CUSTOM_LINE_HEIGHT and CUSTOM_COLOR to any values
AND change appropriate container classes to font-size-scheme-state-custom, line-height-scheme-state-custom, color-scheme-state-color-set-custom */
  .font-size-scheme-state-custom {
    .font-size-1 {
      /* font-size: CUSTOM_FONT_SIZE; */
    }

    .font-size-2 {
      /* font-size: CUSTOM_FONT_SIZE; */
    }

    .font-size-3 {
      /* font-size: CUSTOM_FONT_SIZE; */
    }

    .font-size-4 {
      /* font-size: CUSTOM_FONT_SIZE; */
    }

    .font-size-5 {
      /* font-size: CUSTOM_FONT_SIZE; */
    }
  }

  /* Line height scheme */
  .line-height-scheme-state-custom {
    .line-height-1 {
      /* line-height: CUSTOM_LINE_HEIGHT; */
    }

    .line-height-2 {
      /* line-height: CUSTOM_LINE_HEIGHT; */
    }

    .line-height-3 {
      /* line-height: CUSTOM_LINE_HEIGHT; */
    }

    .line-height-4 {
      /* line-height: CUSTOM_LINE_HEIGHT; */
    }

    .line-height-5 {
      /* line-height: CUSTOM_LINE_HEIGHT; */
    }

    .line-height-6 {
      /* line-height: CUSTOM_LINE_HEIGHT; */
    }
  }

  .color-scheme-state-color-set-custom {
    .main-color-1-text {
      color: $main_color_1;
    }

    .main-color-1-background {
      background-color: $main_color_1;
    }

    .main-color-2-text {
      color: $main_color_2;
    }

    .main-color-2-border {
      border-color: $main_color_2;
    }

    .additional-color-1-text {
      /* color: CUSTOM_COLOR; */
    }

    .additional-color-1-border {
      /* border-color: CUSTOM_COLOR; */
    }

    .additional-color-1-background {
      /* background-color: CUSTOM_COLOR; */
    }

    .additional-color-1-svg-path {
      path {
        /* stroke: CUSTOM_COLOR; */
        fill: transparent;
      }
    }

    .additional-color-1-svg {
      path {
        /* fill: CUSTOM_COLOR; */
      }
    }

    .additional-color-2-text {
      /* color: CUSTOM_COLOR; */
    }

    .additional-color-2-border {
      /* border-color: CUSTOM_COLOR; */
    }

    .additional-color-2-background {
      /* background-color: CUSTOM_COLOR; */
    }

    .additional-color-2-svg-path {
      path {
        /* stroke: CUSTOM_COLOR; */
        fill: transparent;
      }
    }

    .additional-color-2-svg {
      path {
        /* fill: CUSTOM_COLOR; */
      }
    }
  }
}