.wr-form-cover {
    margin-top: 30px;
}

.wr-gab-30 {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.wr-btn-cover {
    display: flex;
    gap: 20px;
    margin-top: 30px;
}

.cover-checks {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 100px;
    row-gap: 30px;
    max-width: 680px;
}

.cover-card-no {
    background: #FFFFFF;
    border-radius: 12px;
    text-align: center;
    padding: 65px 20px;
    font-weight: 500;
    font-size: 30px;
    line-height: 1.3;
    margin-top: 40px;

    button {
        color: #3679FD;
        cursor: pointer;
        font-weight: 500;

        &:hover {
            text-decoration: underline;
        }
    }
}

.items-step-skill {
    &>div {
        margin-bottom: 30px;
    }
}