.dragged {
  &__item {
    background: #ffffff;
    border-radius: 12px;
    padding: 5px 15px !important;

    &.none {
      display: none !important;
    }

    &.selected {
      display: none !important;
      // .dragged__drag svg {
      //   // fill: #3679FD;
      //   stroke: #3679FD;
      // }
    }

    &_new {
      .dragged__arrow {
        transform: rotate(-90deg);
      }

      &.selected {
        .dragged__arrow {
          transform: rotate(90deg);
        }
      }
    }
  }

  &__title {
    line-height: 19px;
  }

  span {
    font-size: 14px;
    line-height: 16px;
    color: #838799;
  }

  &__drag {
    cursor: pointer;
  }

  &__delete {
    cursor: pointer;
  }

  &__arrow {
    transform: rotate(90deg);

    svg {
      stroke: #3679FD;
    }
  }

  &__content {
    min-height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.dragged_main {
  background: #f6f8fa;
  margin-bottom: 24px;

  &_new {
    .dragged_from {
      margin-top: 30px;
    }
  }
}

.dragged_from {}

.dragged-items {
  display: flex;
  flex-wrap: wrap;
  color: #838799;
  font-size: 14px;
  font-weight: 350;
  margin-top: 2px;

}

.dragged-item {
  &:not(:last-child) {
    margin-right: 20px;
  }
}