.resume {
   position: sticky;
   top: 0;
}

.col.resume {
   flex: 0 0 570px;
   max-width: 570px;
   padding: 0px 14px 0px 30px;
   display: flex;
   flex-direction: column;
   height: 100vh;
}

.resume-main {
   flex: 1 1 auto;
   height: calc(100vh - 166px);
   overflow: hidden;
   position: relative;

   &_scroll {
      max-height: 100%;
      overflow-y: auto;
      margin-right: 10px;
   }

   &>.scroll-style {
      @media (min-width: 1023px) {
         height: inherit;
      }
   }

   p {
      margin-bottom: 0;
   }

   &__row.row {
      &:not(:last-child) {
         margin-bottom: 30px;
      }
   }

   &__col1.col {
      width: 150px;
      flex: 0 0 auto;

      @media (max-width: 1700px) {
         width: 106px;
      }
   }

   &__col2.col {
      width: calc(100% - 150px);
      max-width: calc(100% - 150px);
   }

   &__avatar-img {
      position: relative;
      height: 100px;
      width: 100px;
      overflow: hidden;
      border-radius: 50%;

      img {
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         object-fit: cover;
      }

      @media (max-width: 1700px) {
         height: 80px;
         width: 80px;
      }
   }

   &__head-info {
      font-size: 14px;
      line-height: 16px;
      color: #838799;

      &:not(:last-child) {
         margin-bottom: 36px;

         @media (max-width: 1700px) {
            margin-bottom: 20px;
         }
      }
   }

   &__title {
      font-weight: 400;
      font-size: 30px;
      line-height: 35px;

      &:not(:last-child) {
         margin-bottom: 12px;
      }

      @media (max-width: 1700px) {
         font-size: 24px;
      }
   }

   &__text {
      font-size: 16px;
      line-height: 21px;
   }

   &__label {
      color: #838799;
      font-weight: 400;
      line-height: 1.4;
   }

   &__head-text {
      font-weight: 350;
      font-size: 14px;
      line-height: 16px;
      color: #838799;
      line-height: 1.3;
   }

   &__title2 {
      font-weight: 400;
      line-height: 19px;
      color: #01153a;
   }

   &__info-text {
      font-size: 14px;
      line-height: 20px;
      color: #838799;

      ul {
         padding-left: 16px;

         li {
            list-style: disc;
         }
      }
   }

   &.load {

      &::before,
      &::after {
         content: '';
         position: absolute;
      }

      &::before {
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         z-index: 5;
         background: #fff;
      }

      &::after {
         position: absolute;
         width: 18px;
         height: 18px;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         background: url("/../images/icons/preloader-blue.svg?sprite") center/contain no-repeat;
         z-index: 10;
      }
   }
}

.resume-main_scale {
   min-width:  794px;
   
   @media(min-width: 1024px) {
      max-height: 1122px;
      overflow: hidden;
   }

   &>div {
      .cv-body {
         width: 100% !important;
         max-width: 794px !important;
         margin-left: auto;
         margin-right: auto;
      }
   }

   transform-origin: 0 0;
}

.resume-footer {
   &__button.btn {
      display: inline-flex;
      align-items: center;
      gap: 12px;
      height: 48px;
      border: 1px solid #dadce3;
      border-radius: 12px;

      svg {
         flex-shrink: 0;
      }
   }
}

@media screen and (max-width: 1023px) {
   .page-templates__right {
      background-color: var(--white);
   }

   .buttons-wrapper {
      position: relative;
      // overflow: hidden;

      .ranges-row {
         display: block;
         position: absolute;
         top: -165px;
         border-radius: 12px;
         background-color: #fff;
         padding: 19px 16px;
         box-shadow: 0px 35px 50px rgba(54, 121, 253, 0.15);
         transform: translateY(300px);
         transition: all ease-out 0.3s;
      }

      &.show {
         overflow: visible;

         .ranges-row {
            transform: translateY(0);
         }
      }

      svg {
         width: auto;
         height: auto;
      }
   }

   .btns-tem {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
   }

   .font-settings {
      width: 34px;
      height: 34px;
      background-color: var(--light-grey-2);
      display: flex;
      align-items: center;
      border-radius: 60%;
      justify-content: center;
   }

   .page-templates .buttons-wrapper .form-btn {
      height: 48px;
   }
}


.resume-main__head-info2 {
   &:not(:first-child) {
      margin-top: 10px;
   }
}

.resume-socials {
   display: flex;
   flex-wrap: wrap;
}

.item-resum-soc {
   position: relative;
   display: flex;
   padding-bottom: 5px;
   max-width: 100%;
   font-size: 14px;

   i {
      width: 18px;
      height: 18px;
      min-width: 18px;
      margin-right: 4px;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      z-index: 2;
   }

   span {
      max-width: 200px;
      white-space: nowrap;
      overflow-x: hidden;
      text-overflow: ellipsis;
      padding-top: 4px;
   }
}

.rows-items {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   margin: 0 -15px;

   &>div {
      width: calc(50% - 30px);
   }
}

.text-blk {
   font-weight: 350;
   color: #01153A;
   font-size: 14px;
   padding-bottom: 5px;

   &.pr {
      padding-right: 10px;
   }
}

.item-col {
   display: flex;
   flex-wrap: wrap;
   margin: 0 15px 8px 15px;
}

.resunme_starrs {
   .react-stars:hover {
      transform: scale(1);
   }

   svg {
      width: 10px !important;
      height: 10px !important;
      min-width: 10px !important;
   }
}

.resume-main__info-text {
   margin-bottom: 0;
}

.resume-btn {
   display: none;
}

.mob-opas-menu {
   display: none;
}

@media (max-width: 1720px) {
   .col.resume {
      flex: 0 0 520px;
      max-width: 520px;
   }
}

.sidebar-nav .nav-link {
   gap: 12px;

   svg {
      width: 20px;
      height: 20px;
   }
}

@media (max-width: 1559px) {
   .col.resume {
      padding: 0px 4px 0px 20px;
      flex: 0 0 420px;
      max-width: 420px;
   }

   .sidebar-nav .nav-link {
      white-space: pre-wrap;
   }

   .resume-footer__button.btn {
      font-size: 15px;
   }
}

@media (max-width: 1350px) {
   .mob-opas-menu {
      display: block;
      opacity: 0;
      position: fixed;
      visibility: hidden;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform: scale(0.5);
      transition: 0.2s;
      pointer-events: none;
      z-index: 5;
      background: rgba(255, 255, 255, 0.4);

      &.open {
         opacity: 1;
         transform: scale(1);
         visibility: visible;
         pointer-events: all;
      }
   }

   .col.resume {
      position: fixed;
      top: 50px;
      right: -150%;
      height: calc(100% - 50px);
      z-index: 200;
      background: #f6f8fa;
      border-left: 1px solid #dadce3;
      transition: 0.4s;
      max-width: 100%;
      flex: 1 1 100%;

      &.open {
         right: 0;
      }
   }

   .resume-btn {
      position: absolute;
      top: 50%;
      right: 100%;
      transform: scaleY(-50%);
      border-radius: 12px 0 0 12px;
      background: #f6f8fa;
      height: 100px;
      width: 40px;
      z-index: 30;
      border: 1px solid #dadce3;
      border-right: none;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 5px;

      svg {
         transform: rotate(180deg);
      }
   }

   .resume-btn_fix {
      position: fixed;
      right: 0;
      z-index: 10;

      svg {
         transform: rotate(0);
      }
   }


}

@media (max-width: 1024px) {
   .col.resume {
      padding: 0px 20px 0px 20px;
   }
}

@media (max-width: 992px) {
   .resume-btn {
      &.hide-result {
         right: 90%;
         border-left: none;
         border-radius: 0 12px 12px 0;
         border: 1px solid #dadce3;
      }
   }

   .resume-main_scroll {
      max-height: fit-content;
   }

   .head_resume_div__flex {
      display: flex;
      align-items: center;
      gap: 16px;
   }
}


@media (max-width: 1024px) and (max-height: 460px) {
   .resume-main {
       overflow-y: scroll;
   }
}