.resume {
   position: sticky;
   top: 0;
}

.col.resume {
   flex: 1 1 30%;
   width: auto;
   padding: 0px 30px 0px 30px;
   display: flex;
   flex-direction: column;
   height: 100vh;
}

.resume-main {
   background: linear-gradient(153.47deg,
         rgba(255, 243, 243, 0.75) 0%,
         rgba(255, 254, 242, 0.75) 16.44%,
         rgba(241, 255, 243, 0.75) 33.33%,
         rgba(240, 254, 255, 0.75) 50%,
         rgba(243, 242, 255, 0.75) 66.67%,
         rgba(253, 242, 255, 0.75) 83.33%,
         rgba(255, 240, 240, 0.75) 100%);
   border: 1px solid #dadce3;
   border-radius: 12px;
   flex: 1 1 auto;
   padding: 24px 0;

   height: calc(100vh - 160px);

   &_scroll {
      height: 100%;
      overflow-y: auto;
      margin-right: 10px;
      padding: 0 24px;
   }

   p {
      margin-bottom: 0;
   }

   &__row.row {
      &:not(:last-child) {
         margin-bottom: 30px;
      }
   }

   &__col1.col {
      width: 150px;
      flex: 0 0 auto;

      @media (max-width: 1700px) {
         width: 106px;
      }
   }

   &__col2.col {
      width: calc(100% - 150px);
      max-width: calc(100% - 150px);
   }

   &__avatar-img {
      position: relative;
      height: 100px;
      width: 100px;
      overflow: hidden;
      border-radius: 50%;

      img {
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         object-fit: cover;
      }

      @media (max-width: 1700px) {
         height: 80px;
         width: 80px;
      }
   }

   &__head-info {
      font-size: 14px;
      line-height: 16px;
      color: #838799;

      &:not(:last-child) {
         margin-bottom: 36px;

         @media (max-width: 1700px) {
            margin-bottom: 20px;
         }
      }
   }

   &__title {
      font-weight: 400;
      font-size: 30px;
      line-height: 35px;

      &:not(:last-child) {
         margin-bottom: 12px;
      }

      @media (max-width: 1700px) {
         font-size: 24px;
      }
   }

   &__text {
      font-size: 16px;
      line-height: 21px;
   }

   &__label {
      color: #838799;
      font-weight: 400;
      line-height: 1.4;
   }

   &__head-text {
      font-weight: 350;
      font-size: 14px;
      line-height: 16px;
      color: #838799;
      line-height: 1.3;
   }

   &__title2 {
      font-weight: 400;
      line-height: 19px;
      color: #01153a;
   }

   &__info-text {
      font-size: 14px;
      line-height: 20px;
      color: #838799;

      ul {
         padding-left: 16px;

         li {
            list-style: disc;
         }
      }
   }
}

.resume-footer {
   &__button.btn {
      display: inline-flex;
      align-items: center;
      gap: 12px;
      height: 48px;
      border: 1px solid #dadce3;
      border-radius: 12px;

      svg {
         flex-shrink: 0;
      }
   }
}


.resume-main__head-info2 {
   &:not(:first-child) {
      margin-top: 10px;
   }
}

.resume-socials {
   display: flex;
   flex-wrap: wrap;
}

.item-resum-soc {
   position: relative;
   display: flex;
   padding-bottom: 5px;
   max-width: 100%;
   font-size: 14px;

   i {
      width: 18px;
      height: 18px;
      min-width: 18px;
      margin-right: 4px;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      z-index: 2;
   }

   span {
      max-width: 200px;
      white-space: nowrap;
      overflow-x: hidden;
      text-overflow: ellipsis;
      padding-top: 4px;
   }
}

.rows-items {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   margin: 0 -15px;

   &>div {
      width: calc(50% - 30px);
   }
}

.text-blk {
   font-weight: 350;
   color: #01153A;
   font-size: 14px;
   padding-bottom: 5px;

   &.pr {
      padding-right: 10px;
   }
}

.item-col {
   display: flex;
   flex-wrap: wrap;
   margin: 0 15px 8px 15px;
}

.resunme_starrs {
   .react-stars:hover {
      transform: scale(1);
   }

   svg {
      width: 10px !important;
      height: 10px !important;
      min-width: 10px !important;
   }
}

.resume-main__info-text {
   margin-bottom: 0;
}