@font-face {
  font-family: Montserrat;
  src: url('./fonts/Montserrat/Montserrat-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Hind Light', sans-serif;
  src: url('./fonts/Hind/Hind-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Hind Bold', sans-serif;
  src: url('./fonts/Hind/Hind-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'Hind Medium', sans-serif;
  src: url('./fonts/Hind/Hind-Bold.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Hind', sans-serif;
  src: url('./fonts/Hind/Hind-Regular.ttf');
  font-weight: 400;
}

  /* Colors */
  $main_color_1: #333333;
  $main_color_2: #B0B0B0;

  $color_set_0_additional_color_1: #a0a0a0;
  $color_set_0_additional_color_2: #f2f2f2;

  $color_set_1_additional_color_1: #d64e52;
  $color_set_1_additional_color_2: #ebdbdb;

  $color_set_2_additional_color_1: #ddbeaa;
  $color_set_2_additional_color_2: #ebe1db;

  $color_set_3_additional_color_1: #79785c;
  $color_set_3_additional_color_2: #d3d2cd;

  $color_set_4_additional_color_1: #aa7a09;
  $color_set_4_additional_color_2: #d8d5c5;

  $color_set_5_additional_color_1: #048399;
  $color_set_5_additional_color_2: #d3e4e7;

  $color_set_6_additional_color_1: #4b56d2;
  $color_set_6_additional_color_2: #cad2ef;

.sv_003 {
  font-family: Hind;

  * {
    padding: 0px;
    margin: 0px;
    font-family: Hind;
  }

  ul {
    li {
      list-style-type: disc;
    }
  }

  .date-range {
    font-weight: 300;
    flex-shrink: 0;
    color: $main_color_2;
    margin: 0px 0px 0px;
  }

  .degree-text {
    font-weight: 600;
    margin-bottom: 6px;
  }

  .cv-name {
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: Montserrat;

    span {
      font-family: Montserrat;
    }
  }

  .name-line-1 {
    font-weight: 400;
  }

  .name-line-2 {
    font-weight: 600;
  }

  .line-after-block-heading {
    display: block;
    width: 20px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding-top: 4px;
  }

  .cv-speciality {
    margin-top: 6px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  .skills-estimation-block {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 8px;

    .skill-item {
      display: flex;
      flex-direction: column;

      .skill-name {
        font-weight: 600;
      }

      .skill-estimation {
        display: flex;
        align-items: center;
        margin-top: 4px;

        svg {
          width: 10px;
          height: 10px;
        }


        .estimation-point {
          display: block;
          border-radius: 50%;
          width: 5px;
          height: 5px;
          border-width: 1px;
          border-style: solid;
          margin-right: 2px;
          box-sizing: border-box;

          &.filled {
            background-color: rgba(214, 208, 208, 1);
          }
        }
      }
    }
  }

  #cv-body-hidden-container,
  #cv-body-2 {
    height: 0;
    max-height: 0;
    min-height: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    opacity: 0;
    pointer-events: none;
    left: -10000px;
    // display: none;
  }

  #cv-body-2 {
    .cv-body-area {
      &.area-1 {
        height: 117px;
        padding: 50px 50px 0px 50px;
        box-sizing: border-box;

        @media screen and (max-width: 768px) {
          height: 75px;
          padding: 25px 25px 0px 25px;
          box-sizing: border-box;
        }
      }
    }
  }

  .cv-body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    // max-width: 595px;
    min-width: 595px;
    height: 764px;
    min-height: 764px;
    max-height: 764px;
    overflow: hidden;
    background-color: #fff;
    // margin: 0px 25px 25px;
    box-sizing: border-box;


    .cv-body-content {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: stretch;

      .cv-body-area {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: stretch;

        .column-left {
          flex: 1;

          ul {
            padding: 0px 0px 0px 15px;

            li {
              span {
                display: block;
              }
            }
          }
        }

        .column-right {
          width: 120px;
          min-width: 120px;
          margin-left: 20px;
        }

        &.area-1 {
          flex-direction: column;
          display: flex;

          .columns-wrapper {
            display: flex;
            padding: 25px 25px 10px;
            align-items: center;
          }

          .profile-info-block {
            padding: 20px 25px;
          }
        }

        &.area-2 {
          padding: 0 25px;
          .separator {
            border-left: 1px dotted $main_color_1;
            margin-left: 20px;
          }
        }

        &.area-3 {
          .column-left {
            flex: 1;
          }
        }
      }
    }

    &.page-1 {
      .cv-body-area {
        &.area-2 {
          flex: 1;
        }
      }
    }

    &.cv-body-1.page-2,
    &.cv-body-1.page-3,
    &.cv-body-1.page-4 {
      .cv-body-content {
        padding-top: 9px;
      }
    }
  }

  .cv-body-2 {
    .cv-body-content {
      .cv-body-area.area-1 {
        padding: 50px 50px 40px;
      }

      .cv-body-area.area-2 {
        padding: 40px 50px;

        .column-right {
          width: auto;
          margin-left: 30px;
        }
      }
    }
  }


  /* Blocks */
  .block-block,
  .wrappable-block {
    position: relative;
    .horizontal-wrap {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 6px;
    }

    .cv-heading {
      text-transform: uppercase;
      font-family: Montserrat;
      font-weight: 600;
      margin-bottom: 5px !important;
    }

    .block-info {
      .cv-heading {
        text-transform: none;
        margin-bottom: 0 !important;
        font-family: Hind;
      }

      &:not(:first-of-type) {
        margin-top: 10px;
      }
    }

    &.horiz-line {
      &::before {
        display: block;
        position: absolute;
        content: " ";
        width: 100%;
        border-top: 1px dotted $main_color_1;
        top: -10px;
        left: 0;
      }
    }
  }

  .block-block {
    &:not(:first-of-type) {
      margin-top: 20px;
    }
  }

  .references-block {
    .references-item {
      margin-top: 4px;
    }
  }

  .certificates-block {
    .block-info {
      .cv-heading {
        font-weight: 400;
      }
    }
  }

  .personal-info-block {
    display: flex;
    column-gap: 14px;
    .photo-block {
      display: block;
      width: 60px;
      height: 60px;
      border-radius: 100%;
      overflow: hidden;
      .photo {
        width: 60px;
        height: 60px;
        border-radius: 100%;
        background-size: 60px auto;
        background-position: 50% 50%;
        overflow: hidden;
      }
    }

    .cv-headings-wrap {
      display: flex;
      flex-direction: column;
    }
  }

  .profile-secondary-info {
    min-width: 120px;
    display: flex;
    flex-direction: column;
    row-gap: 6px;

    .profile-item {
      display: flex;
      column-gap: 5px;
      .name {
        font-weight: 300;
      }
      .value {
        font-weight: 500;
      }
    }
  }

  .cv-destination {
    border-left: 1px dotted $main_color_1;
  }

  .cv-destination-block {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    padding: 0 0 15px 30px;
    width: 143px;
    box-sizing: border-box;

    .cv-sender {
      margin-bottom: 10px;
    }

    .block-from {
      margin-top: 25px;
    }
  }

  .skills-block {
    .cv-heading {
      margin-top: 8px;
    }

    .skills-estimation-block {
      .skill-item {
        .skill-estimation {
          svg {
            margin-right: 2px;
          }
        }
      }
    }
  }

  .details-block {
    border-top-style: dotted;
    border-bottom-style: dotted;
    border-top-width: 1px;
    border-bottom-width: 1px;
    display: flex;
    justify-content: space-between;
    margin: 0 25px 20px;
    padding: 10px 0;

    .details-block-item {
      display: flex;
      align-items: center;
      column-gap: 6px;

      svg {
        width: 16px;
        height: 16px;
      }

      .links-wrapper {
        display: flex;
        column-gap: 4px;
      }
    }
  }

  .cv-career-block {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    padding: 15px 20px;
    margin-top: 26px;

  }

  .career-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-top: 17px;

    .career-links-head {
      font-size: 10px;
      line-height: 14px;
      font-weight: 600;
      margin: 0px 8px 0px 0px;
      color: rgba(96, 92, 100, 1);
    }

    .career-links-link {
      text-decoration: none;
      margin-right: 5px;

      svg {
        width: 16px;
        height: 16px;
      }
    }
  }

  .cv-letter {
    .letter-heading {
      margin-bottom: 15px;
    }
  }

  /* Control panel */
  #control-panel {
    position: fixed;
    top: 10px;
    right: 10px;

    .control-panel-item-block {
      border: 1px solid #ccc;
      background-color: #fff;
      border-radius: 5px;
      padding: 5px 10px;

      &.toggle-photo-block {
        opacity: 0.25;

        a {
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;

          img {
            display: block;
            width: 50px;
            height: 50px;
          }
        }

        &.active {
          opacity: 1;
        }
      }

      .control-panel-heading {
        font-size: 11px;
        margin: 0px 0px 0px 0px;
      }

      .control-panel-item-input-list {
        &.radio-input-list {
          .input-list-item {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            cursor: pointer;
            margin: 3px 0px;

            .radio-input {
              display: block;
              border-radius: 50%;
              border: 2px solid #d6d0d0;
              width: 7px;
              height: 7px;
              background-color: transparent;
              margin-right: 5px;
              pointer-events: none;
            }

            .radio-input-label {
              font-size: 10px;
              pointer-events: none;
            }

            &.active {
              .radio-input {
                background-color: #d6d0d0;
              }
            }
          }

          &.color-list {
            .input-list-item {
              .radio-input-label {
                flex: 1;
                height: 15px;
                border-radius: 3px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;

                .color-set-color {
                  display: none;
                  border-radius: 50%;
                  width: 15px;
                  height: 15px;
                  border: 0.5px solid #d4d4d4;

                  &:nth-child(n + 4) {
                    display: block;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  /* Stylization */
  #cv-chapter-section-cv {
    .personal-info-block {
      &.is-photo {
        display: none;
      }

      &.no-photo {
        display: flex;
      }
    }

    &.has-photo {
      .personal-info-block {
        &.is-photo {
          display: flex;
        }

        &.no-photo {
          display: none;
        }
      }
    }
  }

  /* Font size scheme */
  .font-size-scheme-state-small {
    .font-size-1 {
      font-size: 8px;
    }

    .font-size-2 {
      font-size: 10px;
    }

    .font-size-3 {
      font-size: 12px;
    }

    .font-size-4 {
      font-size: 24px;
    }
    
    .profile-secondary-info {
      .profile-item {
        .name {
          width: 60px;
        }
      }
    }
  }

  .font-size-scheme-state-medium {
    .font-size-1 {
      font-size: 10px;
    }

    .font-size-2 {
      font-size: 12px;
    }

    .font-size-3 {
      font-size: 14px;
    }

    .font-size-4 {
      font-size: 26px;
    }

    .profile-secondary-info {
      .profile-item {
        .name {
          width: 75px;
        }
      }
    }
  }

  .font-size-scheme-state-big {
    .font-size-1 {
      font-size: 12px;
    }

    .font-size-2 {
      font-size: 14px;
    }

    .font-size-3 {
      font-size: 16px;
    }

    .font-size-4 {
      font-size: 28px;
    }

    .profile-secondary-info {
      .profile-item {
        .name {
          width: 85px;
        }
      }
    }
  }

  /* Line height scheme */
  .line-height-scheme-state-small {
    .cv-body-content {
      line-height: 1.2;
    }
  }

  .line-height-scheme-state-medium {
    .cv-body-content {
      line-height: 1.4;
    }
  }

  .line-height-scheme-state-big {
    .cv-body-content {
      line-height: 1.6;
    }
  }

  /* Color scheme */
  .image-color-set {
    display: none;
  }

  .cv-letter-text {
    .line_text {
      &::before {
        background: $main_color_1;
      }
    }
  }

  .color-scheme-state-color-set-0 {
    .image-color-set-0 {
      display: block;
    }

    .main-color-1-text {
      color: $main_color_1;
    }

    .additional-color-1-text {
      color: $color_set_0_additional_color_1;
    }

    .additional-color-1-border {
      border-color: $color_set_0_additional_color_1;
    }

    .additional-color-1-background {
      background-color: $color_set_0_additional_color_1;
    }

    .additional-color-1-svg-path {
      path {
        stroke: $color_set_0_additional_color_1;
        fill: transparent;
        &.additional-color-1-svg {
          fill: $color_set_0_additional_color_1;
      }
      }
    }

    .additional-color-1-svg {
      path {
          fill: $color_set_0_additional_color_1;
      }
    }

    .additional-color-2-background {
      background-color: $color_set_0_additional_color_2;
    }

    .additional-color-2-border {
      border-color: $color_set_0_additional_color_2;
    }
  }

  .color-scheme-state-color-set-1 {
    .image-color-set-1 {
      display: block;
    }

    .main-color-1-text {
      color: $main_color_1;
    }

    .additional-color-1-text {
      color: $color_set_1_additional_color_1;
    }

    .additional-color-1-border {
      border-color: $color_set_1_additional_color_1;
    }

    .additional-color-1-background {
      background-color: $color_set_1_additional_color_1;
    }

    .additional-color-1-svg-path {
      path {
        stroke: $color_set_1_additional_color_1;
        fill: transparent;
        &.additional-color-1-svg {
          fill: $color_set_1_additional_color_1;
        }
      }
    }

    .additional-color-1-svg {
      path {
          fill: $color_set_1_additional_color_1;
      }
    }

    .additional-color-2-background {
      background-color: $color_set_1_additional_color_2;
    }

    .additional-color-2-border {
      border-color: $color_set_1_additional_color_2;
    }
  }

  .color-scheme-state-color-set-2 {
    .image-color-set-2 {
      display: block;
    }

    .main-color-1-text {
      color: $main_color_1;
    }

    .additional-color-1-text {
      color: $color_set_2_additional_color_1;
    }

    .additional-color-1-border {
      border-color: $color_set_2_additional_color_1;
    }

    .additional-color-1-background {
      background-color: $color_set_2_additional_color_1;
    }

    .additional-color-1-svg-path {
      path {
        stroke: $color_set_2_additional_color_1;
        fill: transparent;
        &.additional-color-1-svg {
          fill: $color_set_2_additional_color_1;
        }
      }
    }

    .additional-color-1-svg {
      path {
          fill: $color_set_2_additional_color_1;
      }
    }

    .additional-color-2-background {
      background-color: $color_set_2_additional_color_2;
    }

    .additional-color-2-border {
      border-color: $color_set_2_additional_color_2;
    }
  }

  .color-scheme-state-color-set-3 {
    .image-color-set-3 {
      display: block;
    }

    .main-color-1-text {
      color: $main_color_1;
    }

    .additional-color-1-text {
      color: $color_set_3_additional_color_1;
    }

    .additional-color-1-border {
      border-color: $color_set_3_additional_color_1;
    }

    .additional-color-1-background {
      background-color: $color_set_3_additional_color_1;
    }

    .additional-color-1-svg-path {
      path {
        stroke: $color_set_3_additional_color_1;
        fill: transparent;
        &.additional-color-1-svg {
          fill: $color_set_3_additional_color_1;
        }
      }
    }

    .additional-color-1-svg {
      path {
          fill: $color_set_3_additional_color_1;
      }
    }

    .additional-color-2-background {
      background-color: $color_set_3_additional_color_2;
    }

    .additional-color-2-border {
      border-color: $color_set_3_additional_color_2;
    }
  }

  .color-scheme-state-color-set-4 {
    .image-color-set-4 {
      display: block;
    }

    .main-color-1-text {
      color: $main_color_1;
    }

    .additional-color-1-text {
      color: $color_set_4_additional_color_1;
    }

    .additional-color-1-border {
      border-color: $color_set_4_additional_color_1;
    }

    .additional-color-1-background {
      background-color: $color_set_4_additional_color_1;
    }

    .additional-color-1-svg-path {
      path {
        stroke: $color_set_4_additional_color_1;
        fill: transparent;
        &.additional-color-1-svg {
          fill: $color_set_4_additional_color_1;
        }
      }
    }

    .additional-color-1-svg {
      path {
          fill: $color_set_4_additional_color_1;
      }
    }

    .additional-color-2-background {
      background-color: $color_set_4_additional_color_2;
    }

    .additional-color-2-border {
      border-color: $color_set_4_additional_color_2;
    }
  }

  .color-scheme-state-color-set-5 {
    .image-color-set-5 {
      display: block;
    }

    .main-color-1-text {
      color: $main_color_1;
    }

    .additional-color-1-text {
      color: $color_set_5_additional_color_1;
    }

    .additional-color-1-border {
      border-color: $color_set_5_additional_color_1;
    }

    .additional-color-1-background {
      background-color: $color_set_5_additional_color_1;
    }

    .additional-color-1-svg-path {
      path {
        stroke: $color_set_5_additional_color_1;
        fill: transparent;
        &.additional-color-1-svg {
          fill: $color_set_5_additional_color_1;
        }
      }
    }

    .additional-color-1-svg {
      path {
          fill: $color_set_5_additional_color_1;
      }
    }

    .additional-color-2-background {
      background-color: $color_set_5_additional_color_2;
    }

    .additional-color-2-border {
      border-color: $color_set_5_additional_color_2;
    }
  }

  .color-scheme-state-color-set-6 {
    .image-color-set-6 {
      display: block;
    }

    .main-color-1-text {
      color: $main_color_1;
    }

    .additional-color-1-text {
      color: $color_set_6_additional_color_1;
    }

    .additional-color-1-border {
      border-color: $color_set_6_additional_color_1;
    }

    .additional-color-1-background {
      background-color: $color_set_6_additional_color_1;
    }

    .additional-color-1-svg-path {
      path {
        stroke: $color_set_6_additional_color_1;
        fill: transparent;
        &.additional-color-1-svg {
          fill: $color_set_6_additional_color_1;
        }
      }
    }

    .additional-color-1-svg {
      path {
          fill: $color_set_6_additional_color_1;
      }
    }

    .additional-color-2-background {
      background-color: $color_set_6_additional_color_2;
    }

    .additional-color-2-border {
      border-color: $color_set_6_additional_color_2;
    }
  }
}