@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat/Montserrat-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Hind', sans-serif;
  src: url('./fonts/Hind/Hind-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Hind', sans-serif;
  src: url('./fonts/Hind/Hind-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'Hind', sans-serif;
  src: url('./fonts/Hind/Hind-Bold.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Hind', sans-serif;
  src: url('./fonts/Hind/Hind-Regular.ttf');
  font-weight: 400;
}

  /* Colors */
  $main_color_1: #333333;
  $main_color_2: #B0B0B0;

  $color_set_0_additional_color_1: #a0a0a0;
  $color_set_0_additional_color_2: #f2f2f2;

  $color_set_1_additional_color_1: #d64e52;
  $color_set_1_additional_color_2: #ebdbdb;

  $color_set_2_additional_color_1: #ddbeaa;
  $color_set_2_additional_color_2: #ebe1db;

  $color_set_3_additional_color_1: #79785c;
  $color_set_3_additional_color_2: #d3d2cd;

  $color_set_4_additional_color_1: #aa7a09;
  $color_set_4_additional_color_2: #d8d5c5;

  $color_set_5_additional_color_1: #048399;
  $color_set_5_additional_color_2: #d3e4e7;

  $color_set_6_additional_color_1: #4b56d2;
  $color_set_6_additional_color_2: #cad2ef;

.sv_003 {
  font-weight: 400;

  /* Global */
  * {
    padding: 0;
    margin: 0;
  }

  *, *:before, *:after {
    box-sizing: border-box;
    font-family: 'Hind', sans-serif;
  }

  ul {
    padding-left: 15px;
    li {
      list-style-type: disc;
    }
  }

  .empty-field {
    opacity: 0.3;
  }

  .hide {
    display: none !important;
  }

  // Blocks
  .cv-name {
    letter-spacing: 2px;
    text-transform: uppercase;
    span {
      font-family: 'Montserrat';
    }
    .name-line-2 {
      font-weight: 600;
    }
  }

  .cv-profession {
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  .cv-heading {
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-weight: 600;
    margin-bottom: 5px;
  }

  .line-after-block-heading {
    display: block;
    width: 20px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding-top: 4px;
  }

  .cv-body {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: #fff;
  }

  .cv-body-content {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .cv-body-area {
    display: flex;
    .column-right {
      flex-shrink: 1;
    }
  }

  .area-1 {
    flex-direction: column;
    display: flex;
    .top-block {
      display: flex;
      padding: 25px 25px 10px;
      align-items: center;
    }
    .personal-info-block {
      display: flex;
      flex: 1;
      column-gap: 14px;
      .photo-block {
        width: 60px;
        height: 60px;
      }
      .photo {
        width: 100%;
        height: 100%;
        border-radius: 100%;
        background-size: cover;
        background-position: 50% 50%;
        overflow: hidden;
      }
      .cv-heading-wrap {
        display: flex;
        row-gap: 6px;
        flex-direction: column;
      }
    }
    .profile-secondary-info {
      min-width: 120px;
      display: flex;
      flex-direction: column;
      row-gap: 6px;
      justify-content: center;
      .item-block {
        display: flex;
        column-gap: 5px;
        .name {
          font-weight: 300;
        }
        .value {
          font-weight: 500;
        }
      }
    }
    .profile-info-block {
      padding: 20px 25px;
    }
    .details-block {
      border-top-style: dotted;
      border-bottom-style: dotted;
      border-top-width: 1px;
      border-bottom-width: 1px;
      border-color: $main_color_1;
      display: flex;
      column-gap: 10px;
      justify-content: center;
      margin: 0 25px;
      padding: 10px 0;
      .block-item {
        display: flex;
        align-items: center;
        column-gap: 6px;
        &.phone-item,
        &.email-item {
          flex-shrink: 0;
        }
      }
      .links-wrapper {
        display: flex;
        column-gap: 4px;
      }
      svg {
        width: 16px;
        height: 16px;
      }
    }
  }

  .area-2 {
    padding: 20px 25px;
    flex: 1;
    column-gap: 20px;
    .column-left {
      flex: 1;
      border-right: 1px dotted $main_color_1;
      padding-right: 20px;
      flex-basis: 200%;

    }
    .column-right {
      .block-block {
        min-width: 120px;
      }
      &.m-empty {
        min-width: 120px;
      }
    }
    .date-range {
      font-weight: 300;
      flex-shrink: 0;
      color: $main_color_2;
    }
    .cv-degree {
      font-weight: 600;
      margin-bottom: 6px;
    }
    .references-block {
      .references-item {
        margin-top: 4px;
      }
    }
  }

  .block-block {
    position: relative;
    .horizontal-wrap {
      display: flex;
      justify-content: space-between;
      margin-bottom: 6px;
    }
    .block-info {
      .cv-heading {
        text-transform: none;
        margin-bottom: 0;
        font-family: 'Hind';
      }

      &:not(:first-of-type) {
        margin-top: 10px;
      }
    }

    &.horiz-line {
      &:not(:first-of-type) {
        &::before {
          display: block;
          position: absolute;
          content: " ";
          width: 100%;
          border-top: 1px dotted $main_color_1;
          top: -10px;
          left: 0;
        }
      }
    }

    &:not(:first-of-type) {
      margin-top: 20px;
    }
  }

  .skills-estimation-block {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 8px;
    .skill-item {
      display: flex;
      flex-direction: column;
      .skill-name {
        font-weight: 600;
      }
      .skill-estimation {
        display: flex;
        align-items: center;
        margin-top: 4px;
        column-gap: 2px;
        svg {
          width: 10px;
          height: 10px;
        }
        .estimation-point {
          display: block;
          border-radius: 50%;
          width: 5px;
          height: 5px;
          border-width: 1px;
          border-style: solid;
          box-sizing: border-box;
        }
      }
    }
  }

  .cv-letter {
    .letter-heading {
      margin-bottom: 15px;
    }
  }

  #cv-body-2 {
    .cv-body-area {
      &.area-1 {
        height: 117px;
        padding: 50px 50px 0px 50px;
        box-sizing: border-box;

        @media screen and (max-width: 768px) {
          height: 75px;
          padding: 25px 25px 0px 25px;
          box-sizing: border-box;
        }
      }
    }
  }

  /* Stylization */
  #cv-chapter-section-cv {
    .personal-info-block {
      &.is-photo {
        display: none;
      }

      &.no-photo {
        display: flex;
      }
    }
  }

  .cv-body-2 {
    .area-1 {
      padding: 50px 50px 40px;
    }
    .area-2 {
      padding: 40px 50px 30px;
      column-gap: 30px;
      .column-left {
        padding-right: 0;
        border-right: 0;
        flex-basis: 200%;
      }
      .cv-letter-text {
        & > br:first-child {
          display: none;
        }
      }
      .cv-destination {
        border-left: 1px dotted $main_color_1;
      }
      .cv-destination-block {
        display: flex;
        flex-direction: column;
        padding: 0 0 15px 30px;
        min-width: 145px;
      }
      .cv-sender {
        margin-bottom: 25px;
      }
    }
  }

  /* Font size scheme */
  .font-size-scheme-state-small {
    .font-size-1 {
      font-size: 8px;
    }

    .font-size-2 {
      font-size: 10px;
    }

    .font-size-3 {
      font-size: 12px;
    }

    .font-size-4 {
      font-size: 24px;
    }
    
    .profile-secondary-info {
      .profile-item {
        .name {
          width: 60px;
        }
      }
    }
  }

  .font-size-scheme-state-medium {
    .font-size-1 {
      font-size: 10px;
    }

    .font-size-2 {
      font-size: 12px;
    }

    .font-size-3 {
      font-size: 14px;
    }

    .font-size-4 {
      font-size: 26px;
    }

    .profile-secondary-info {
      .profile-item {
        .name {
          width: 75px;
        }
      }
    }
  }

  .font-size-scheme-state-big {
    .font-size-1 {
      font-size: 12px;
    }

    .font-size-2 {
      font-size: 14px;
    }

    .font-size-3 {
      font-size: 16px;
    }

    .font-size-4 {
      font-size: 28px;
    }

    .profile-secondary-info {
      .profile-item {
        .name {
          width: 85px;
        }
      }
    }
  }

  /* Line height scheme */
  .line-height-scheme-state-small {
    .cv-body-content {
      line-height: 1.2;
    }
  }

  .line-height-scheme-state-medium {
    .cv-body-content {
      line-height: 1.4;
    }
  }

  .line-height-scheme-state-big {
    .cv-body-content {
      line-height: 1.6;
    }
  }

  /* Color scheme */
  .image-color-set {
    display: none;
  }

  .cv-letter-text {
    .line_text {
      &::before {
        background: $main_color_1;
      }
    }
  }

  .color-scheme-state-color-set-0 {
    .image-color-set-0 {
      display: block;
    }

    .main-color-1-text {
      color: $main_color_1;
    }

    .additional-color-1-text {
      color: $color_set_0_additional_color_1;
    }

    .additional-color-1-border {
      border-color: $color_set_0_additional_color_1;
    }

    .additional-color-1-background {
      background-color: $color_set_0_additional_color_1;
    }

    .additional-color-1-svg-path {
      path {
        stroke: $color_set_0_additional_color_1;
        fill: transparent;
        &.additional-color-1-svg {
          fill: $color_set_0_additional_color_1;
      }
      }
    }

    .additional-color-1-svg {
      path {
          fill: $color_set_0_additional_color_1;
      }
    }

    .additional-color-2-background {
      background-color: $color_set_0_additional_color_2;
    }

    .additional-color-2-border {
      border-color: $color_set_0_additional_color_2;
    }
  }

  .color-scheme-state-color-set-1 {
    .image-color-set-1 {
      display: block;
    }

    .main-color-1-text {
      color: $main_color_1;
    }

    .additional-color-1-text {
      color: $color_set_1_additional_color_1;
    }

    .additional-color-1-border {
      border-color: $color_set_1_additional_color_1;
    }

    .additional-color-1-background {
      background-color: $color_set_1_additional_color_1;
    }

    .additional-color-1-svg-path {
      path {
        stroke: $color_set_1_additional_color_1;
        fill: transparent;
        &.additional-color-1-svg {
          fill: $color_set_1_additional_color_1;
        }
      }
    }

    .additional-color-1-svg {
      path {
          fill: $color_set_1_additional_color_1;
      }
    }

    .additional-color-2-background {
      background-color: $color_set_1_additional_color_2;
    }

    .additional-color-2-border {
      border-color: $color_set_1_additional_color_2;
    }
  }

  .color-scheme-state-color-set-2 {
    .image-color-set-2 {
      display: block;
    }

    .main-color-1-text {
      color: $main_color_1;
    }

    .additional-color-1-text {
      color: $color_set_2_additional_color_1;
    }

    .additional-color-1-border {
      border-color: $color_set_2_additional_color_1;
    }

    .additional-color-1-background {
      background-color: $color_set_2_additional_color_1;
    }

    .additional-color-1-svg-path {
      path {
        stroke: $color_set_2_additional_color_1;
        fill: transparent;
        &.additional-color-1-svg {
          fill: $color_set_2_additional_color_1;
        }
      }
    }

    .additional-color-1-svg {
      path {
          fill: $color_set_2_additional_color_1;
      }
    }

    .additional-color-2-background {
      background-color: $color_set_2_additional_color_2;
    }

    .additional-color-2-border {
      border-color: $color_set_2_additional_color_2;
    }
  }

  .color-scheme-state-color-set-3 {
    .image-color-set-3 {
      display: block;
    }

    .main-color-1-text {
      color: $main_color_1;
    }

    .additional-color-1-text {
      color: $color_set_3_additional_color_1;
    }

    .additional-color-1-border {
      border-color: $color_set_3_additional_color_1;
    }

    .additional-color-1-background {
      background-color: $color_set_3_additional_color_1;
    }

    .additional-color-1-svg-path {
      path {
        stroke: $color_set_3_additional_color_1;
        fill: transparent;
        &.additional-color-1-svg {
          fill: $color_set_3_additional_color_1;
        }
      }
    }

    .additional-color-1-svg {
      path {
          fill: $color_set_3_additional_color_1;
      }
    }

    .additional-color-2-background {
      background-color: $color_set_3_additional_color_2;
    }

    .additional-color-2-border {
      border-color: $color_set_3_additional_color_2;
    }
  }

  .color-scheme-state-color-set-4 {
    .image-color-set-4 {
      display: block;
    }

    .main-color-1-text {
      color: $main_color_1;
    }

    .additional-color-1-text {
      color: $color_set_4_additional_color_1;
    }

    .additional-color-1-border {
      border-color: $color_set_4_additional_color_1;
    }

    .additional-color-1-background {
      background-color: $color_set_4_additional_color_1;
    }

    .additional-color-1-svg-path {
      path {
        stroke: $color_set_4_additional_color_1;
        fill: transparent;
        &.additional-color-1-svg {
          fill: $color_set_4_additional_color_1;
        }
      }
    }

    .additional-color-1-svg {
      path {
          fill: $color_set_4_additional_color_1;
      }
    }

    .additional-color-2-background {
      background-color: $color_set_4_additional_color_2;
    }

    .additional-color-2-border {
      border-color: $color_set_4_additional_color_2;
    }
  }

  .color-scheme-state-color-set-5 {
    .image-color-set-5 {
      display: block;
    }

    .main-color-1-text {
      color: $main_color_1;
    }

    .additional-color-1-text {
      color: $color_set_5_additional_color_1;
    }

    .additional-color-1-border {
      border-color: $color_set_5_additional_color_1;
    }

    .additional-color-1-background {
      background-color: $color_set_5_additional_color_1;
    }

    .additional-color-1-svg-path {
      path {
        stroke: $color_set_5_additional_color_1;
        fill: transparent;
        &.additional-color-1-svg {
          fill: $color_set_5_additional_color_1;
        }
      }
    }

    .additional-color-1-svg {
      path {
          fill: $color_set_5_additional_color_1;
      }
    }

    .additional-color-2-background {
      background-color: $color_set_5_additional_color_2;
    }

    .additional-color-2-border {
      border-color: $color_set_5_additional_color_2;
    }
  }

  .color-scheme-state-color-set-6 {
    .image-color-set-6 {
      display: block;
    }

    .main-color-1-text {
      color: $main_color_1;
    }

    .additional-color-1-text {
      color: $color_set_6_additional_color_1;
    }

    .additional-color-1-border {
      border-color: $color_set_6_additional_color_1;
    }

    .additional-color-1-background {
      background-color: $color_set_6_additional_color_1;
    }

    .additional-color-1-svg-path {
      path {
        stroke: $color_set_6_additional_color_1;
        fill: transparent;
        &.additional-color-1-svg {
          fill: $color_set_6_additional_color_1;
        }
      }
    }

    .additional-color-1-svg {
      path {
          fill: $color_set_6_additional_color_1;
      }
    }

    .additional-color-2-background {
      background-color: $color_set_6_additional_color_2;
    }

    .additional-color-2-border {
      border-color: $color_set_6_additional_color_2;
    }
  }
}