@font-size {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat/Montserrat-VariableFont_wght.ttf');
}

@font-size {
  font-family: 'Hind';
  src: url('./fonts/Hind/Hind-Light.ttf');
  font-weight: 300;
}

@font-size {
  font-family: 'Hind';
  src: url('./fonts/Hind/Hind-Bold.ttf');
  font-weight: 500;
}

.sv_003 {
  // body {
  //   background-color: #494949;
  //   font-family: Hind, sans-serif;
  //   display: flex;
  //   justify-content: center;
  //   align-items: flex-start;
  // }

  * {
    padding: 0px;
    margin: 0px;
  }

  .heading-type-3 {
    font-weight: 600;
    text-transform: uppercase;
    font-family: Montserrat, sans-serif;

    .line-after-block-heading {
      display: block;
      width: 20px;
      border-top: 1px solid;
      margin-top: 5px;
    }
  }

  .font-weight-200 {
    font-weight: 200;
  }

  .font-weight-300 {
    font-weight: 300;
  }

  .font-weight-400 {
    font-weight: 400;
  }

  .font-weight-500 {
    font-weight: 500;
  }

  .font-weight-600 {
    font-weight: 600;
  }

  .font-weight-700 {
    font-weight: 700;
  }

  .font-weight-800 {
    font-weight: 800;
  }

  .date-range {
    font-size: 8px;
    line-height: 11.2px;
    font-weight: 400;
    color: rgba(164, 164, 164, 1);
    margin: 0px 0px 0px;
  }

  .cv-name {
    font-family: Montserrat, sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  .cv-speciality {
    font-family: Hind, sans-serif;
    margin-top: 6px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  .block-block {
    .horizontal-wrap {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 5px;
      margin-bottom: 6px;
    }

    p,
    span {
      font-family: Hind, sans-serif;
    }
  }

  .skills-estimation-block {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 14px;

    .skill-item {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      margin-bottom: 6px;

      .skill-name {
        display: inline-block;
        font-weight: 700;
      }

      .skill-estimation {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        margin-top: 3px;

        .estimation-point {
          display: block;
          border-radius: 50%;
          width: 5px;
          height: 5px;
          border: 1px solid rgba(214, 208, 208, 1);
          background-color: transparent;
          margin-right: 2px;
          box-sizing: border-box;

          &.filled {
            background-color: rgba(214, 208, 208, 1);
          }
        }
      }
    }
  }

  // #cv-body-hidden-container {
  //   height: auto;
  //   max-height: none;
  //   position: absolute;
  //   z-index: -1;
  //   opacity: 0;
  //   pointer-events: none;
  // }

  #cv-body-2 {
    .cv-body-area {
      &.area-1 {
        height: 117px;
        padding: 50px 50px 0px 50px;
        box-sizing: border-box;
      }
    }
  }

  .cv-body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    // max-width: 595px;
    // min-width: 595px;
    // height: 842px;
    // max-height: 842px;
    // overflow-y: hidden;
    background-color: #fff;
    // margin: 0px 25px 25px;
    box-sizing: border-box;


    .cv-body-content {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: stretch;

      .cv-body-area {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: stretch;
        padding: 20px 30px;

        .column-left {
          flex: 1;

          ul {
            padding: 0px 0px 0px 15px;
            margin: 4px 0px 0px;

            li {
              span {
                display: block;
              }
            }
          }
        }

        .column-right {
          width: 144px;
          min-width: 144px;
          margin-left: 27px;

          .block-block {
            margin-top: 0px;

            &:first-child {
              margin-top: 0px !important;
            }

            .cv-heading {}

            p {}
          }
        }

        &.area-1 {
          flex-direction: column;
          display: flex;
          padding: 0px;

          .columns-wrapper {
            display: flex;
            align-items: stretch;
            justify-content: stretch;
            padding: 27px 25px;
            height: 117px;
            box-sizing: border-box;

            .column-left {}

            .column-right {}
          }

          .profile-info-block {
            padding: 20px 25px;

            .profile {
              p {
                margin-top: 5px;
              }
            }
          }
        }

        &.area-2 {
          background-color: #fff;

          .column-left {}

          .separator {
            border-left-width: 1px;
            border-left-style: dotted;
            margin-left: 28px;
          }

          .column-right {}
        }

        &.area-3 {
          .column-left {
            flex: 1;
          }

          .column-right {}
        }
      }
    }

    &.page-1 {
      .cv-body-area {
        &.area-2 {
          flex: 1;
        }
      }
    }
  }

  .cv-body-2 {
    .cv-body-area {
      &.area-2 {
        padding: 40px 50px;
      }
    }
  }


  /* Blocks */
  .block-block {
    .horiz-line {
      border-top-width: 1px;
      border-top-style: dotted;
    }

    .cv-heading {
      position: relative;
    }

    .block-subheadiong {}
  }

  .personal-info-block {
    display: flex;
    flex-direction: row;
    align-items: stretch;

    .photo-block {
      display: none;

      &.active {
        display: flex;
      }

      .cv-photo {
        width: 60px;
        height: 60px;
        margin-right: 23px;
        border-radius: 50%;
      }
    }

    .cv-headings-wrap {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;

    }
  }

  .profile-secondary-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    .profile-item {
      display: flex;
      height: 11px;
      margin-bottom: 6px;
      font-family: Hind, sans-serif;

      .name {
        margin-right: 4px;
      }

      .value {
        margin-right: 10px;
      }
    }
  }

  .cv-destination {
    border-left-width: 1px;
    border-left-style: dotted;
  }

  .cv-destination-block {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    padding: 2px 20px 15px 20px;
    width: 143px;
    box-sizing: border-box;

    .cv-sender {
      margin-bottom: 10px;
    }

    .heading-type-3 {
      margin-bottom: 5px;
    }

    .block-from {
      margin-top: 25px;
    }
  }

  .skills-block {
    .cv-heading {
      margin-top: 8px;
    }

    .skills-estimation-block {
      margin-top: 14px !important;

      .skill-item {
        .skill-estimation {
          svg {
            margin-right: 2px;
          }
        }
      }
    }
  }

  .languages-block {
    .cv-heading {
      margin-top: 0px;
    }

    .skills-estimation-block {
      margin-top: 14px !important;

      .skill-item {}
    }
  }

  .education-block {
    margin-top: 20px;
  }

  .courses-block {
    margin-top: 20px;
  }

  .extra-curricular-activities-block {
    margin-top: 20px;
  }

  .internships-block {
    margin-top: 20px;
  }

  .certificates-block {
    .cv-heading {
      margin-top: 8px;
    }
  }

  .hobbies-block {
    margin-top: 8px !important;

    .cv-heading {
      margin-top: 8px;
    }

    p {
      margin-top: 3px;

      &:first-child {
        margin-top: 5px;
      }
    }
  }

  .references-block {
    margin-top: 8px !important;

    .cv-heading {
      margin-top: 8px;
    }

    p {
      margin-top: 3px;

      &:first-child {
        margin-top: 5px;
      }
    }
  }

  .employment-history-block {
    .employment-history-item {
      .horizontal-wrap {
        align-items: flex-start;

        .block-subheading {
          display: flex;
          align-items: center;
        }

        &.font-size-state-small {
          .block-subheading {
            flex-direction: row;
            align-items: flex-start;
          }
        }

        &.font-size-state-medium {
          .block-subheading {
            flex-direction: column;
            align-items: flex-start;
          }
        }

        &.font-size-state-big {
          .block-subheading {
            flex-direction: column;
            align-items: flex-start;
          }
        }
      }
    }
  }

  .details-block {
    border-top-style: dotted;
    border-bottom-style: dotted;
    border-top-width: 1px;
    border-bottom-width: 1px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0px 25px;
    padding: 10px 5px;

    .details-block-item {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      margin-top: 0px;

      svg {
        margin-right: 6px;
      }

      &.career-phone {
        align-items: center;
      }

      &.career-email {
        align-items: center;
      }

      &.career-address {
        span {
          display: block;

          &.font-size-state-small {
            margin-top: 3px;
          }

          &.font-size-state-medium {
            width: 163px;
            margin-top: 2px;
          }

          &.font-size-state-big {
            width: 140px;
            margin-top: 3px;
          }
        }
      }

      &.career-social {
        .links-wrapper {
          display: flex;

          &.font-size-state-small {
            margin-top: 2px;
          }

          &.font-size-state-medium {
            flex-direction: column;
            margin-top: 2px;

            a {
              &:last-child {
                margin-left: 0px;
                margin-top: 4px;
              }
            }
          }

          &.font-size-state-big {
            flex-direction: column;
            margin-top: 3px;

            a {
              &:last-child {
                margin-left: 0px;
                margin-top: 4px;
              }
            }
          }
        }
      }
    }

    .career-address {}

    .career-phone {}

    .career-email {}

    .career-social {
      a {
        &:last-child {
          margin-left: 4px;
        }
      }
    }
  }

  .cv-career-block {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    padding: 15px 20px;
    margin-top: 26px;

  }

  .career-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-top: 17px;

    .career-links-head {
      font-size: 10px;
      line-height: 14px;
      font-weight: 600;
      margin: 0px 8px 0px 0px;
      color: rgba(96, 92, 100, 1);
    }

    .career-links-link {
      text-decoration: none;
      margin-right: 5px;

      svg {
        width: 16px;
        height: 16px;
      }
    }
  }

  .cv-letter {
    .letter-heading {
      margin-bottom: 15px;
    }

    .letter-text {}
  }

  /* Control panel */
  #control-panel {
    position: fixed;
    top: 10px;
    right: 10px;

    .control-panel-item-block {
      border: 1px solid #ccc;
      background-color: #fff;
      border-radius: 5px;
      padding: 5px 10px;

      &.toggle-photo-block {
        opacity: 0.25;

        a {
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;

          img {
            display: block;
            width: 50px;
            height: 50px;
          }
        }

        &.active {
          opacity: 1;
        }
      }

      .control-panel-heading {
        font-size: 11px;
        margin: 0px 0px 0px 0px;
      }

      .control-panel-item-input-list {
        &.radio-input-list {
          .input-list-item {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            cursor: pointer;
            margin: 3px 0px;

            .radio-input {
              display: block;
              border-radius: 50%;
              border: 2px solid #d6d0d0;
              width: 7px;
              height: 7px;
              background-color: transparent;
              margin-right: 5px;
              pointer-events: none;
            }

            .radio-input-label {
              font-size: 10px;
              pointer-events: none;
            }

            &.active {
              .radio-input {
                background-color: #d6d0d0;
              }
            }
          }

          &.color-list {
            .input-list-item {
              .radio-input-label {
                flex: 1;
                height: 15px;
                border-radius: 3px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;

                .color-set-color {
                  display: none;
                  border-radius: 50%;
                  width: 15px;
                  height: 15px;
                  border: 0.5px solid #d4d4d4;

                  &:nth-child(n + 3) {
                    display: block;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}