  /* Colors */
  $main_color_1: #030303;
  $main_color_2: #ffffff;
  $main_color_3: #D2D2D2;
  $main_color_4: #B0B0B0;

  $color_set_0_additional_color_1: #030303;
  $color_set_0_additional_color_2: #d2d2d2;

  $color_set_1_additional_color_1: #032a49;
  $color_set_1_additional_color_2: #0067b9;

  $color_set_2_additional_color_1: #3c2463;
  $color_set_2_additional_color_2: #7039c7;

  $color_set_3_additional_color_1: #554853;
  $color_set_3_additional_color_2: #ad7872;

  $color_set_4_additional_color_1: #49493d;
  $color_set_4_additional_color_2: #af9e00;

.sv_004 {
  font-weight: 400;

  /* Global */
  * {
    padding: 0;
    margin: 0;
  }

  *, *:before, *:after {
    box-sizing: border-box;
    font-family: 'Hind', sans-serif;
  }

  ul {
    padding-left: 15px;
    li {
      list-style-type: disc;

      &:not(:first-child) {
        margin-top: 4px;
      }
    }
  }

  .empty-field {
    opacity: 0.3;
  }

  .hide {
    display: none !important;
  }

  // Blocks
  .cv-profession {
    letter-spacing: 3px;
    font-weight: 400;
    text-transform: uppercase;
  }

  .cv-name {
    font-family: 'Arsenal';
    margin-bottom: 24px;
    font-weight: 700;
  }

  .cv-body {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: $main_color_2;
  }

  .cv-body-content {
    flex: 1;
    display: none;
    flex-direction: column;
  }

  .main-columns-wrapper {
    flex: 1;
    display: flex;
  }

  .area-top {
    padding: 20px;
  }
  
  .area-1 {
    width: 195px;
    display: flex;
    flex-direction: column;
    .block-block {
      margin: 30px 36px 0;
      padding-top: 10px;
      &:nth-child(2) {
        margin-top: 45px;
      }
    }
    .photo-block {
      width: 195px;
      height: 195px;
    }
    .photo {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: 50% 50%;
      overflow: hidden;
    }
    .skills-block {
      .skills-list {
        display: flex;
        flex-direction: column;
        row-gap: 5px;
      }
      .skill-item {
        font-weight: 600;
      }
    }
    .languages-block {
      .language-item {
        display: flex;
        flex-direction: column;
        row-gap: 4px;
        &:not(:first-of-type) {
          margin-top: 10px;
        }
      }
      .language-name {
        font-weight: 600;
      }
    }
  }

  .area-2 {
    flex: 1;
    padding: 0 25px 10px 20px;
    display: flex;
    flex-direction: column;
    .block-block {
      display: flex;
      margin-top: 10px;
      padding-top: 10px;
      .left-side {
        min-width: 120px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        text-align: right;
        row-gap: 6px;
        padding-right: 10px;
        &.profile-secondary-info {
          align-items: flex-start;
          width: auto;
          padding-right: 0;
        }
      }
      .right-side {
        flex: 1;
        display: flex;
        flex-direction: column;
        padding-left: 15px;
        padding-top: 2px;
      }
      .cv-heading {
        font-weight: 600;
      }
      .cv-subheading {
        font-weight: 600;
        color: $main_color_4;
      }
      .date-range {
        font-weight: 300;
        color: $main_color_4;
      }
      .block-title {
        align-self: flex-start;
        margin-bottom: 0;
      }
      &.work-experience-block {
        flex-direction: column;
        .block-title {
          margin-bottom: 14px;
        }
        .work-experience-subblock {
          display: flex;
          flex: 1;
          &:not(:last-of-type) {
            .right-side {
              padding-bottom: 20px;
            }
          }
        }
        .left-side {
          row-gap: 2px;
          position: relative;
          p {
            text-align: right;
          }
          .pointer-circle {
            position: absolute;
            width: 7px;
            height: 7px;
            border-radius: 50%;
            display: block;
            right: -4px;
            top: 0;
          }
          .title-text {
            font-weight: 600;
          }
          .company-text {
            font-weight: 600;
            color: $main_color_4;
          }
        }
        .right-side {
          padding-top: 0;
          border-left-width: 1px;
          border-left-style: solid;
        }
        &.m-transfer {
          flex: 1;
        }
      }
      &:nth-child(2) {
        margin-top: 20px;
      }
      &:first-child {
        border: none;
      }
    }
    .profile-info-block {
      .cv-name {
        margin-bottom: 20px;
        text-align: center;
      }
      .cv-profession {
        text-align: center;
      }
    }
    .details-block {
      .details-content-wrapper {
        display: flex;
        align-items: center;
        column-gap: 10px;
        flex: 1;
      }
    }
    .contacts-information {
      display: flex;
      flex-wrap: wrap;
      gap: 6px;
      .item-block {
        display: flex;
        align-items: center;
        column-gap: 6px;
        flex-basis: calc(50% - 3px);
        svg {
          width: 15px;
          height: 15px;
          flex-shrink: 0;
        }
        .social-wrapper {
          display: flex;
          column-gap: 4px;
        }
      }
    }
    .profile-secondary-info {
      border-right-width: 1px;
      border-right-style: dotted;
      flex-shrink: 0;
      height: 100%;
      justify-content: center;
      .items-block {
        display: flex;
        flex-direction: column;
        margin-right: 20px;
        row-gap: 5px;
      }
      .item-block {
        display: flex;
        column-gap: 5px;
        align-items: center;
      }
      .name {
        font-weight: 300;
        flex-shrink: 0;
      }
      .value {
        font-weight: 500;
        flex-shrink: 0;
      }
    }
    .education-block {
      .block-info {
        display: flex;
        flex-direction: column;
        row-gap: 2px;
      }
    }
    .certificates-block {
      .certificate-name {
        font-weight: 600;
      }
    }
    .references-block {
      p:not(:first-child) {
        margin-top: 2px;
      }
    }
  }

  .block-block {
    .block-title {
      font-family: 'Arsenal';
      font-weight: 700;
      margin-bottom: 10px;
    }
    .block-info {
      &:not(:first-of-type) {
        margin-top: 10px;
      }
    }
    border-top: 1px solid $main_color_3;
  }

  .skill-estimation {
    display: flex;
    flex-direction: row;
    column-gap: 2px;
    align-items: center;
    justify-content: flex-start;

    .estimation-point {
      width: 5px;
      height: 5px;
      display: block;
      border-radius: 100%;
      border-width: 1px;
      border-style: solid;
      box-sizing: border-box;
    }
  }
  
  /* Photo styles */
  #cv-chapter-section-cv {
    .profile-info-block {
      &.no-photo {
        display: block;

        .cv-profession {
          text-align: center;
        }

        .cv-name {
          text-align: center;
        }
      }

      &.is-photo {
        display: none;
      }
    }

    .area-1 {
      .photo-block {
        display: none;
      }
    }

    &.has-photo {
      .area-top {
        padding: 0;
      }
      .area-1 {
        .photo-block {
          display: block;
          margin: 0;
          padding: 0;
          border: 0;
        }
      }

      .profile-info-block {
        &.no-photo {
          display: none;
        }

        &.is-photo {
          display: block;
          margin-top: 30px;
          padding: 0;
        }
      }
    }
  }

  .cv-body-2 {
    .cv-name {
      padding: 50px 50px 0;
      margin-bottom: 0;
    }
    .columns-wrapper {
      display: flex;
      column-gap: 60px;
      padding: 45px 50px 30px;
      .column-1 {
        flex-basis: 200%;
      }
      .cv-destination-block {
        display: flex;
        flex-direction: column;
        min-width: 120px;
        border-top: 0;
      }
      .cv-sender {
        padding-bottom: 30px;
        margin-bottom: 30px;
        border-bottom-width: 1px;
        border-bottom-style: solid;
      }
    }
  }

  /* Font size scheme */
  .font-size-scheme-state-small {
    .font-size-1 {
      font-size: 8px;
    }

    .font-size-2 {
      font-size: 10px;
    }

    .font-size-3 {
      font-size: 12px;
    }

    .font-size-4 {
      font-size: 30px;
    }
    
    .details-block {
      .profile-secondary-info {
        .name {
          width: 55px;
        }
      }
    }
  }

  .font-size-scheme-state-medium {
    .font-size-1 {
      font-size: 10px;
    }

    .font-size-2 {
      font-size: 12px;
    }

    .font-size-3 {
      font-size: 14px;
    }

    .font-size-4 {
      font-size: 32px;
    }

    .details-block {
      .profile-secondary-info {
        .name {
          width: 70px;
        }
      }
      .contacts-information {
        flex-direction: column;
        .item-block  {
          flex-basis: 100%;
        }
      }
    }
  }

  .font-size-scheme-state-big {
    .font-size-1 {
      font-size: 12px;
    }

    .font-size-2 {
      font-size: 14px;
    }

    .font-size-3 {
      font-size: 16px;
    }

    .font-size-4 {
      font-size: 34px;
    }

    .details-block {
      .profile-secondary-info {
        .name {
          width: 80px;
        }
      }
      .contacts-information {
        flex-direction: column;
        .item-block  {
          flex-basis: 100%;
        }
      }
    }
  }

  /* Line height scheme */
  .line-height-scheme-state-small {
    .cv-body-content {
      line-height: 1.2;
    }
  }

  .line-height-scheme-state-medium {
    .cv-body-content {
      line-height: 1.4;
    }
  }

  .line-height-scheme-state-big {
    .cv-body-content {
      line-height: 1.6;
    }
  }

  /* Color scheme */
  .image-color-set {
    display: none;
  }

  .color-scheme-state-color-set-0 {
    .image-color-set-0 {
      display: block;
    }

    .main-color-1-text {
      color: $main_color_1;
    }

    .main-color-2-text {
      color: $main_color_2;
    }

    .main-color-2-border {
      border-color: $main_color_2;
    }

    .main-color-2-background {
      background-color: $main_color_2;
    }

    .additional-color-1-text {
      color: $color_set_0_additional_color_1;
    }

    .additional-color-1-border {
      border-color: $color_set_0_additional_color_1;
    }

    .additional-color-1-background {
      background-color: $color_set_0_additional_color_1;
    }

    .additional-color-2-background {
      background-color: $color_set_0_additional_color_2;
    }

    .additional-color-2-svg {
      path {
        fill: $main_color_1;
      }
    }
  }

  .cv-letter-text {
    .line_text {
      &::before {
        background: $main_color_1;
      }
    }
  }

  .color-scheme-state-color-set-1 {
    .image-color-set-1 {
      display: block;
    }

    .main-color-1-text {
      color: $main_color_1;
    }

    .main-color-2-text {
      color: $main_color_2;
    }

    .main-color-2-border {
      border-color: $main_color_2;
    }

    .main-color-2-background {
      background-color: $main_color_2;
    }

    .additional-color-1-text {
      color: $color_set_1_additional_color_1;
    }

    .additional-color-1-border {
      border-color: $color_set_1_additional_color_1;
    }

    .additional-color-1-background {
      background-color: $color_set_1_additional_color_1;
    }

    .additional-color-2-background {
      background-color: $color_set_1_additional_color_2;
    }

    .additional-color-2-svg {
      path {
        fill: $color_set_1_additional_color_2;
      }
    }
  }

  .color-scheme-state-color-set-2 {
    .image-color-set-2 {
      display: block;
    }

    .main-color-1-text {
      color: $main_color_1;
    }

    .main-color-2-text {
      color: $main_color_2;
    }

    .main-color-2-border {
      border-color: $main_color_2;
    }

    .main-color-2-background {
      background-color: $main_color_2;
    }

    .additional-color-1-text {
      color: $color_set_2_additional_color_1;
    }

    .additional-color-1-border {
      border-color: $color_set_2_additional_color_1;
    }

    .additional-color-1-background {
      background-color: $color_set_2_additional_color_1;
    }

    .additional-color-2-background {
      background-color: $color_set_2_additional_color_2;
    }

    .additional-color-2-svg {
      path {
        fill: $color_set_2_additional_color_2;
      }
    }
  }

  .color-scheme-state-color-set-3 {
    .image-color-set-3 {
      display: block;
    }

    .main-color-1-text {
      color: $main_color_1;
    }

    .main-color-2-text {
      color: $main_color_2;
    }

    .main-color-2-border {
      border-color: $main_color_2;
    }

    .main-color-2-background {
      background-color: $main_color_2;
    }

    .additional-color-1-text {
      color: $color_set_3_additional_color_1;
    }

    .additional-color-1-border {
      border-color: $color_set_3_additional_color_1;
    }

    .additional-color-1-background {
      background-color: $color_set_3_additional_color_1;
    }

    .additional-color-2-background {
      background-color: $color_set_3_additional_color_2;
    }

    .additional-color-2-svg {
      path {
        fill: $color_set_3_additional_color_2;
      }
    }
  }

  .color-scheme-state-color-set-4 {
    .image-color-set-4 {
      display: block;
    }

    .main-color-1-text {
      color: $main_color_1;
    }

    .main-color-2-text {
      color: $main_color_2;
    }

    .main-color-2-border {
      border-color: $main_color_2;
    }

    .main-color-2-background {
      background-color: $main_color_2;
    }

    .additional-color-1-text {
      color: $color_set_4_additional_color_1;
    }

    .additional-color-1-border {
      border-color: $color_set_4_additional_color_1;
    }

    .additional-color-1-background {
      background-color: $color_set_4_additional_color_1;
    }

    .additional-color-2-background {
      background-color: $color_set_4_additional_color_2;
    }

    .additional-color-2-svg {
      path {
        fill: $color_set_4_additional_color_2;
      }
    }
  }

  .cv-body-content {
    display: flex;
  }
}