@font-face {
  font-family: 'Arsenal';
  src: url('fonts/Arsenal/Arsenal-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Arsenal';
  src: url('fonts/Arsenal/Arsenal-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'Hind';
  src: url('fonts/Hind/Hind-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Hind';
  src: url('fonts/Hind/Hind-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Hind';
  src: url('fonts/Hind/Hind-SemiBold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'Hind';
  src: url('fonts/Hind/Hind-Bold.ttf');
  font-weight: 700;
}


  /* Colors */
  $main_color_1: #030303;
  $main_color_2: #ffffff;
  $main_color_3: #D2D2D2;
  $main_color_4: #B0B0B0;

  $color_set_0_additional_color_1: #030303;
  $color_set_0_additional_color_2: #d2d2d2;

  $color_set_1_additional_color_1: #032a49;
  $color_set_1_additional_color_2: #0067b9;

  $color_set_2_additional_color_1: #3c2463;
  $color_set_2_additional_color_2: #7039c7;

  $color_set_3_additional_color_1: #554853;
  $color_set_3_additional_color_2: #ad7872;

  $color_set_4_additional_color_1: #49493d;
  $color_set_4_additional_color_2: #af9e00;

.sv_004 {
  font-family: 'Hind';

  * {
    padding: 0px;
    margin: 0px;
    box-sizing: content-box;
    font-family: 'Hind';
  }

  ul {
    li {
      list-style-type: disc;
    }
  }

  .skill-estimation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    .estimation-point {
      width: 5px;
      height: 5px;
      display: block;
      border-radius: 50%;
      border-width: 1px;
      border-style: solid;
      box-sizing: border-box;
    }
  }

  #cv-body-hidden-container,
  #cv-body-2 {
    height: 0;
    max-height: 0;
    min-height: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    opacity: 0;
    pointer-events: none;
    left: -10000px;
  }

  ul {
    li {
      &:not(:first-child) {
        margin-top: 4px;
      }
    }
  }

  .cv-body {
    display: flex;
    flex-direction: column;
    width: 595px;
    height: 764px;
    max-height: 764px;
    min-height: 764px;
    overflow: hidden;
    background-color: #fff;
    box-sizing: border-box;
    // margin: 0px 25px 25px;

    .cv-body-content {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: stretch;

      .main-columns-wrapper {
        flex: 1;
        display: flex;
        align-items: stretch;
        justify-content: stretch;
      }
    }

    &.cv-body-1 {
      .cv-body-content {
        .column-1 {
          width: 193px;
          display: flex;
          flex-direction: column;
          align-items: stretch;
          justify-content: stretch;
          padding-top: 148px;

          &.toggle-photo-state-active {
            padding-top: 0px;
          }

          .block-block {
            margin: 30px 36px 0;
            padding-top: 10px;
            &:nth-child(2) {
              margin-top: 45px;
            }
          }
        }

        .column-2 {
          flex: 1;
          padding: 0 25px 10px 20px;

          .block-block {
            display: flex;
            align-items: stretch;
            justify-content: stretch;
            margin-top: 10px;
            padding-top: 10px;

            .left-side {
              width: 120px;
              display: flex;
              flex-direction: column;
              align-items: flex-end;
              row-gap: 6px;
              padding-right: 20px;
            }

            .right-side {
              flex: 1;
              display: flex;
              flex-direction: column;
              padding-left: 24px;
            }

            .block-title {
              align-self: flex-start;
              margin-bottom: 0 !important;
            }

            &:nth-child(2) {
              margin-top: 20px;
            }

            &.work-experience-block {
              flex-direction: column;
          
              .block-title {
                margin-bottom: 14px !important;
              }
          
              .work-experience-subblock {
                display: flex;
                .left-side {
                  row-gap: 2px;
                  position: relative;
          
                  p {
                    text-align: right;
                  }
          
                  .pointer-circle {
                    position: absolute;
                    width: 7px;
                    height: 7px;
                    border-radius: 50%;
                    display: block;
                    right: -4px;
                    top: 0;
                  }

                  .title-text {
                    font-weight: 600;
                  }

                  .company-text {
                    font-weight: 600;
                    color: $main_color_4;
                  }

                  .date-range {
                    font-weight: 300;
                    color: $main_color_4;
                  }
                }
          
                .right-side {
                  justify-content: center;
                  border-left-width: 1px;
                  border-left-style: solid;
                }

                &:not(:last-of-type) {
                  .right-side {
                    padding-bottom: 20px;
                  }
                }
              }
            }

            &:first-child {
              border: none;
            }
          }
        }
      }
    }

    &.cv-body-2 {
      padding: 50px 50px;

      .cv-body-content {
        flex-direction: column;

        .name-block {
          text-align: center;

          &.toggle-photo-state-active {
            text-align: left;
          }
        }

        .columns-wrapper {
          display: flex;
          flex-direction: row;
          align-items: stretch;
          justify-content: stretch;
          margin-top: 43px;

          .column-1 {
            flex: 1;

            .letter-block {
              h3 {
                margin-bottom: 15px;
              }
            }
          }

          .column-2 {
            width: 118px;
            margin-left: 58px;

            .to-block {
              margin-bottom: 30px;

              h3 {
                margin-bottom: 10px;
              }
            }

            .from-block {
              h3 {
                margin: 30px 0px 10px
              }

            }
          }
        }
      }
    }
  }

  .block-block {
    .block-title {
      font-family: 'Arsenal';
      font-weight: 700;
      margin-bottom: 10px !important;
    }
    .block-info {
      &:not(:first-of-type) {
        margin-top: 10px;
      }
    }
    border-top: 1px solid $main_color_3;
  }

  .photo-block {
    display: none;
    width: 193px;
    min-height: 193px;


    img {
      width: 100%;
    }

    &.active {
      display: flex;
    }
  }

  .education-block {
    .block-info {
      .facility-text,
      .degree-text {
        font-weight: 600;
      }
      .study-text {
        font-weight: 600;
        color: $main_color_4;
      }
      .data-range {
        font-weight: 300;
        color: $main_color_4;
      }

      p:not(:first-child) {
        margin-top: 2px;
      }
    }
  }

  .skills-block {
    .skill-item {
      font-weight: 600;
      &:not(:first-of-type) {
        margin-top: 5px;
      }
    }
  }

  .profile-info-block {
    .profile-speciality {
      letter-spacing: 3px;
      font-weight: 400;
      text-transform: uppercase;
    }

    &.no-photo {
      background-color: #fff;
      padding: 30px 25px 11px;
      text-align: center;

      .profile-name {
        margin-bottom: 24px !important;
      }
    }
  }

  .languages-block {
    .language-item {
      display: flex;
      flex-direction: column;

      .language-name {
        margin-bottom: 4px;
        font-weight: 600;
      }

      .skill-estimation {
        .estimation-point {
          margin-right: 2px;
        }
      }

      &:not(:first-of-type) {
        margin-top: 10px;
      }
    }
  }

  .details-block {
    padding: 12px 0 0;
    .details-content-wrapper {
      display: flex;

      .person-details {
        border-right-width: 1px;
        border-right-style: dotted;

        .details-item {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;

          &:last-child {
            margin-bottom: 0px;
          }

          .details-item-name {
            width: 60px;
          }

          .details-item-value {
            width: 60px;
          }
        }
      }

      .contacts {
        display: flex;
        flex-wrap: wrap;
        padding-left: 10px;
        gap: 6px;

        .contacts-item {
          display: flex;
          column-gap: 6px;
          flex-basis: calc(50% - 3px);

          svg {
            width: 15px;
            height: 15px;
            flex-shrink: 0;
          }

          .social-wrapper, p {
            padding-top: 2px;
          }

          .social-wrapper {
            display: flex;
            column-gap: 4px;
          }
        }
      }
    }
  }

  .certificates-block {
    .right-side {
      span {
        display: block;
        font-weight: 600;

        &:not(:first-child) {
          margin-top: 4px;
        }
      }
    }
  }

  .references-block {
    .references-block-item {
      .name-text {
        font-weight: 600;
      }
      p:not(:first-child) {
        margin-top: 2px;
      }
      &:not(:first-child) {
        margin-top: 10px;
      }
    }
  }

  .profile-info-block {
    background-color: #fff;

    &.toggle-photo-state-active {
      margin-left: auto;
      margin-top: auto;
      padding-top: 0px;
    }

    .profile-name {
      margin-bottom: 23px;
      text-align: center;

      &.toggle-photo-state-active {
        text-align: left;
      }
    }

    .profile-speciality {
      text-align: center;

      &.toggle-photo-state-active {
        text-align: left;
      }
    }
  }


  /* Stylization */
  #cv-chapter-section-cv {
    .profile-info-block {
      &.no-photo {
        display: block;

        .profile-speciality {
          text-align: center;
        }

        .profile-name {
          text-align: center;
        }
      }

      &.is-photo {
        display: none;
      }
    }

    .column-1 {
      .photo-block {
        display: none;
      }
    }

    &.has-photo {
      .column-1 {
        .photo-block {
          display: block;
          margin: 0;
          padding: 0;
          border: 0;
        }
      }

      .profile-info-block {
        &.no-photo {
          display: none;
        }

        &.is-photo {
          padding-top: 30px;
          display: block;
          margin: 0;

          .profile-name {
            font-family: 'Arsenal';
            margin-bottom: 24px !important;
            font-weight: 700;
          }
        }
      }
    }
  }

  /* Font size scheme */
  .font-size-scheme-state-small {
    .font-size-1 {
      font-size: 8px;
    }

    .font-size-2 {
      font-size: 10px;
    }

    .font-size-3 {
      font-size: 12px;
    }

    .font-size-4 {
      font-size: 30px;
    }
  }

  .font-size-scheme-state-medium {
    .font-size-1 {
      font-size: 10px;
    }

    .font-size-2 {
      font-size: 12px;
    }

    .font-size-3 {
      font-size: 14px;
    }

    .font-size-4 {
      font-size: 32px;
    }

    .details-block {
      .details-content-wrapper {
        flex-basis: 100%;
        .contacts {
          flex-direction: column;
          column-gap: 0;
          flex-wrap: nowrap;
          flex-basis: calc(50% - 10px);
          .contacts-item {
            flex-basis: 100%;
          }
        }
      }
    }
    .cv-body.cv-body-1 {
      .cv-body-content {
        .column-2 {
          .details-block {
            .left-side {
              width: auto;
              align-items: flex-start;
              flex-basis: calc(50% - 20px);
              .details-item-name {
                min-width: 75px;
              }
              .details-item-value {
                width: auto;
              }
            }
          }
          .work-experience-block {
            .work-experience-subblock {
              .left-side {
                margin-top: -3px;
                .pointer-circle {
                  top: 3px;
                }
              }
              .right-side {
                .list-wrapper {
                  margin-top: -2px;
                }
              }
            }
          }
        }
      }
    }
  }

  .font-size-scheme-state-big {
    .font-size-1 {
      font-size: 12px;
    }

    .font-size-2 {
      font-size: 14px;
    }

    .font-size-3 {
      font-size: 16px;
    }

    .font-size-4 {
      font-size: 34px;
    }

    .details-block {
      .details-content-wrapper {
        flex-basis: 100%;
        .contacts {
          flex-direction: column;
          column-gap: 0;
          flex-wrap: nowrap;
          flex-basis: calc(50% - 10px);
          .contacts-item {
            flex-basis: 100%;
          }
        }
      }
    }
    .cv-body.cv-body-1 {
      .cv-body-content {
        .column-2 {
          .details-block {
            .left-side {
              width: auto;
              align-items: flex-start;
              flex-basis: calc(50% - 20px);
              .details-item-name {
                min-width: 90px;
              }
              .details-item-value {
                width: auto;
              }
            }
          }
          .work-experience-block {
            .work-experience-subblock {
              .left-side {
                margin-top: -4px;
                .pointer-circle {
                  top: 4px;
                }
              }
              .right-side {
                .list-wrapper {
                  margin-top: -4px;
                }
              }
            }
          }
        }
      }
    }
  }

  /* Line height scheme */
  .line-height-scheme-state-small {
    .cv-body-content {
      line-height: 1.2;
    }
  }

  .line-height-scheme-state-medium {
    .cv-body-content {
      line-height: 1.4;
    }
  }

  .line-height-scheme-state-big {
    .cv-body-content {
      line-height: 1.6;
    }
  }

  /* Color scheme */
  .image-color-set {
    display: none;
  }

  .color-scheme-state-color-set-0 {
    .image-color-set-0 {
      display: block;
    }

    .main-color-1-text {
      color: $main_color_1;
    }

    .main-color-2-text {
      color: $main_color_2;
    }

    .main-color-2-border {
      border-color: $main_color_2;
    }

    .main-color-2-background {
      background-color: $main_color_2;
    }

    .additional-color-1-text {
      color: $color_set_0_additional_color_1;
    }

    .additional-color-1-border {
      border-color: $color_set_0_additional_color_1;
    }

    .additional-color-1-background {
      background-color: $color_set_0_additional_color_1;
    }

    .additional-color-2-background {
      background-color: $color_set_0_additional_color_2;
    }

    .additional-color-2-svg {
      path {
        fill: $main_color_1;
      }
    }
  }

  .cv-letter-text {
    .line_text {
      &::before {
        background: $main_color_1;
      }
    }
  }

  .color-scheme-state-color-set-1 {
    .image-color-set-1 {
      display: block;
    }

    .main-color-1-text {
      color: $main_color_1;
    }

    .main-color-2-text {
      color: $main_color_2;
    }

    .main-color-2-border {
      border-color: $main_color_2;
    }

    .main-color-2-background {
      background-color: $main_color_2;
    }

    .additional-color-1-text {
      color: $color_set_1_additional_color_1;
    }

    .additional-color-1-border {
      border-color: $color_set_1_additional_color_1;
    }

    .additional-color-1-background {
      background-color: $color_set_1_additional_color_1;
    }

    .additional-color-2-background {
      background-color: $color_set_1_additional_color_2;
    }

    .additional-color-2-svg {
      path {
        fill: $color_set_1_additional_color_2;
      }
    }
  }

  .color-scheme-state-color-set-2 {
    .image-color-set-2 {
      display: block;
    }

    .main-color-1-text {
      color: $main_color_1;
    }

    .main-color-2-text {
      color: $main_color_2;
    }

    .main-color-2-border {
      border-color: $main_color_2;
    }

    .main-color-2-background {
      background-color: $main_color_2;
    }

    .additional-color-1-text {
      color: $color_set_2_additional_color_1;
    }

    .additional-color-1-border {
      border-color: $color_set_2_additional_color_1;
    }

    .additional-color-1-background {
      background-color: $color_set_2_additional_color_1;
    }

    .additional-color-2-background {
      background-color: $color_set_2_additional_color_2;
    }

    .additional-color-2-svg {
      path {
        fill: $color_set_2_additional_color_2;
      }
    }
  }

  .color-scheme-state-color-set-3 {
    .image-color-set-3 {
      display: block;
    }

    .main-color-1-text {
      color: $main_color_1;
    }

    .main-color-2-text {
      color: $main_color_2;
    }

    .main-color-2-border {
      border-color: $main_color_2;
    }

    .main-color-2-background {
      background-color: $main_color_2;
    }

    .additional-color-1-text {
      color: $color_set_3_additional_color_1;
    }

    .additional-color-1-border {
      border-color: $color_set_3_additional_color_1;
    }

    .additional-color-1-background {
      background-color: $color_set_3_additional_color_1;
    }

    .additional-color-2-background {
      background-color: $color_set_3_additional_color_2;
    }

    .additional-color-2-svg {
      path {
        fill: $color_set_3_additional_color_2;
      }
    }
  }

  .color-scheme-state-color-set-4 {
    .image-color-set-4 {
      display: block;
    }

    .main-color-1-text {
      color: $main_color_1;
    }

    .main-color-2-text {
      color: $main_color_2;
    }

    .main-color-2-border {
      border-color: $main_color_2;
    }

    .main-color-2-background {
      background-color: $main_color_2;
    }

    .additional-color-1-text {
      color: $color_set_4_additional_color_1;
    }

    .additional-color-1-border {
      border-color: $color_set_4_additional_color_1;
    }

    .additional-color-1-background {
      background-color: $color_set_4_additional_color_1;
    }

    .additional-color-2-background {
      background-color: $color_set_4_additional_color_2;
    }

    .additional-color-2-svg {
      path {
        fill: $color_set_4_additional_color_2;
      }
    }
  }
}