@font-face {
  font-family: 'Arsenal';
  src: url('fonts/Arsenal/Arsenal-Regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'Arsenal';
  src: url('fonts/Arsenal/Arsenal-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'Hind';
  src: url('fonts/Hind/Hind-Regular.ttf');
}

@font-face {
  font-family: 'Hind';
  src: url('fonts/Hind/Hind-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Hind';
  src: url('fonts/Hind/Hind-Bold.ttf');
  font-weight: bold;
}

.sv_004 {
  font-family: 'Hind';

  * {
    padding: 0px;
    margin: 0px;
    box-sizing: content-box;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 700;
    font-family: 'Arsenal', sans-serif !important;

    &> {
      div {
        font-family: inherit;
      }
    }
  }

  ul {
    li {
      list-style-type: disc;
    }
  }

  h1 {
    margin-bottom: 23px !important;
  }

  a {
    text-decoration: underline !important;
  }

  // body {
  //   display: flex;
  //   flex-direction: row;
  //   align-items: flex-start;
  //   justify-content: center;
  //   background-color: #504F4F;
  //   font-family: 'Hind';
  // }

  // .cv-chapter-section {
  //   margin: 20px;
  // }

  .skill-estimation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    .estimation-point {
      width: 5px;
      height: 5px;
      display: block;
      border-radius: 50%;
      border-width: 1px;
      border-style: solid;
      box-sizing: border-box;
    }
  }

  #cv-body-hidden-container {
    // height: auto;
    // max-height: none;
    // position: absolute;
    // z-index: -1;
    // opacity: 0;
    // pointer-events: none;
    // display: none;
  }

  .heading-type-3 {
    margin-top: 10px;
  }

  .font-weight-300 {
    font-weight: 300;
  }

  .font-weight-500 {
    font-weight: 500;
  }

  .font-weight-600 {
    font-weight: 600;
  }

  .font-family-hind {
    font-family: 'Hind', sans-serif;
  }

  .font-family-arsenal {
    font-family: 'Arsenal', sans-serif;
  }

  ul {
    li {
      margin-bottom: 5px;

      &:last-child {
        margin-bottom: 0px;
      }
    }
  }

  .cv-body {
    display: flex;
    flex-direction: column;
    // width: 595px;
    // height: 842px;
    // max-height: 842px;
    min-height: 842px;
    background-color: #fff;
    box-sizing: border-box;
    // margin: 0px 25px 25px;

    .cv-body-content {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: stretch;

      .main-columns-wrapper {
        flex: 1;
        display: flex;
        align-items: stretch;
        justify-content: stretch;
      }
    }

    &.cv-body-1 {
      .cv-body-content {
        .column-1 {
          width: 193px;
          display: flex;
          flex-direction: column;
          align-items: stretch;
          justify-content: stretch;
          padding-top: 148px;

          &.toggle-photo-state-active {
            padding-top: 0px;
          }

          // .informations-container {
          //   padding: 45px 38px 45px 36px;
          // }

          .block-block {
            >h3 {
              margin: 10px 0px;
            }
          }
        }

        .column-2 {
          flex: 1;
          color: #000;
          padding: 0px 20px 30px 20px;

          .block-block {
            display: flex;
            align-items: stretch;
            justify-content: stretch;

            .left-side {
              display: flex;
              flex-direction: column;
              align-items: flex-end;
              justify-content: stretch;
              padding: 0px 20px 0px 0px;
            }

            .right-side {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              justify-content: stretch;
              padding: 0px 0px 0px 24px;
            }
          }
        }
      }
    }

    &.cv-body-2 {
      padding: 50px 50px;

      .cv-body-content {
        flex-direction: column;

        .name-block {
          text-align: center;

          &.toggle-photo-state-active {
            text-align: left;
          }
        }

        .columns-wrapper {
          display: flex;
          flex-direction: row;
          align-items: stretch;
          justify-content: stretch;
          margin-top: 43px;

          .column-1 {
            flex: 1;

            .letter-block {
              h3 {
                margin-bottom: 15px;
              }
            }
          }

          .column-2 {
            width: 118px;
            margin-left: 58px;

            .to-block {
              margin-bottom: 30px;

              h3 {
                margin-bottom: 10px;
              }
            }

            .from-block {
              h3 {
                margin: 30px 0px 10px
              }

            }
          }
        }
      }
    }
  }

  .block-block {
    border-top-width: 1px;
    border-top-style: solid;

    .left-side {
      width: 120px;
    }

    .right-side {
      flex: 1;
    }
  }

  .photo-block {
    display: none;

    img {
      width: 100%;
    }

    &.active {
      display: flex;
    }
  }

  .skills-block {
    margin: 45px 38px 0px 36px;
    border-top: none;
    margin-top: 0px;

    .skill-item {
      margin-bottom: 5px;

      &:last-child {
        margin-bottom: 0px;
      }
    }
  }

  .profile-info-block {
    .profile-speciality {
      letter-spacing: 3px;
      text-align: center;
    }

    &.no-photo {
      background-color: #fff;
      padding: 30px 25px 11px;

      .profile-name {
        text-align: center;
      }

      .profile-speciality {
        text-align: center;
      }
    }
  }

  .languages-block {
    margin: 30px 38px 0px 36px;

    .language-item {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      margin-bottom: 10px;

      .language-name {
        margin-bottom: 3px;
      }

      .skill-estimation {
        .estimation-point {
          margin-right: 2px;
        }
      }

      &:last-child {
        margin-bottom: 0px;
      }
    }
  }

  .hobbies-block {
    margin: 30px 38px 0px 36px;
  }

  .details-block {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    margin-top: 20px;
    padding: 12px 0px 10px;

    .details-content-wrapper {
      display: flex;
      flex-direction: row;
      align-items: stretch;
      justify-content: stretch;

      .person-details {
        border-right-width: 1px;
        border-right-style: dotted;

        .details-item {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;
          margin: 2.5px 0px;

          &:last-child {
            margin-bottom: 0px;
          }

          .details-item-name {
            width: 60px;
          }

          .details-item-value {
            width: 60px;
          }
        }
      }

      .contacts {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 0px 0px 0px 12px;

        .contacts-item {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;
          width: 50%;

          svg {
            width: 15px;
            height: 15px;
            margin-right: 5px;
          }

          .social-wrapper {
            display: flex;
            align-items: center;
            justify-content: flex-start;

            a {
              &:first-child {
                margin-right: 4px;
              }
            }
          }
        }

        &.font-size-state-medium {
          flex-wrap: nowrap;
          flex-direction: column;
          justify-content: space-between;

          .contacts-item {
            width: 100%;
          }
        }

        &.font-size-state-big {
          flex-wrap: nowrap;
          flex-direction: column;
          justify-content: space-between;

          .contacts-item {
            width: 100%;
          }
        }
      }
    }
  }

  .education-block {
    padding: 10px 0px;
  }

  .work-experience-block {
    padding: 10px 0px;
    flex-direction: column;

    .block-heading {
      .left-side {
        text-align: right;
      }
    }

    .work-experience-subblock {
      display: flex;
      flex-direction: row;
      align-items: stretch;
      justify-content: stretch;

      .left-side {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: stretch;
        width: 120px;
        position: relative;

        p {
          text-align: right;
        }

        .pointer-circle {
          position: absolute;
          width: 7px;
          height: 7px;
          border-radius: 50%;
          display: block;
          right: -4px;
          top: 3px;
        }
      }

      .right-side {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        border-left-width: 1px;
        border-left-style: solid;
      }
    }
  }

  .certificates-block {
    padding: 10px 0px;

    .right-side {
      justify-content: center !important;
    }
  }

  .references-block {
    padding: 10px 0px;
  }

  /* Control panel */
  #control-panel {
    position: fixed;
    top: 10px;
    right: 10px;

    .control-panel-item-block {
      border: 1px solid #ccc;
      background-color: #fff;
      border-radius: 5px;
      padding: 5px 10px;

      &.toggle-photo-block {
        opacity: 0.25;

        a {
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;

          img {
            display: block;
            width: 50px;
            height: 50px;
          }
        }

        &.active {
          opacity: 1;
        }
      }

      .control-panel-heading {
        font-size: 11px;
        margin: 0px 0px 0px 0px;
      }

      .control-panel-item-input-list {
        &.radio-input-list {
          .input-list-item {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            cursor: pointer;
            margin: 3px 0px;

            .radio-input {
              display: block;
              border-radius: 50%;
              border: 2px solid #d6d0d0;
              width: 7px;
              height: 7px;
              background-color: transparent;
              margin-right: 5px;
              pointer-events: none;
            }

            .radio-input-label {
              font-size: 10px;
              pointer-events: none;
            }

            &.active {
              .radio-input {
                background-color: #d6d0d0;
              }
            }
          }

          &.color-list {
            .input-list-item {
              .radio-input-label {
                flex: 1;
                height: 15px;
                border-radius: 3px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;

                .color-set-color {
                  display: block;
                  border-radius: 50%;
                  width: 15px;
                  height: 15px;
                  border: 0.5px solid #d4d4d4;
                }
              }
            }
          }
        }
      }
    }
  }

  .profile-info-block {
    background-color: #fff;
    padding: 30px 0px 11px;

    &.toggle-photo-state-active {
      margin-left: auto;
      margin-top: auto;
      padding-top: 0px;
    }

    .profile-name {
      margin-bottom: 23px;
      text-align: center;

      &.toggle-photo-state-active {
        text-align: left;
      }
    }

    .profile-speciality {
      text-align: center;

      &.toggle-photo-state-active {
        text-align: left;
      }
    }
  }


  /* Stylization */
  #cv-chapter-section-cv {
    .profile-info-block {
      &.no-photo {
        display: block;

        .profile-speciality {
          text-align: center;
        }

        .profile-name {
          text-align: center;
        }
      }

      &.is-photo {
        display: none;
      }
    }

    .column-1 {
      .photo-block {
        display: none;
      }
    }

    &.has-photo {
      .column-1 {
        .photo-block {
          display: flex;
        }
      }

      .profile-info-block {
        &.no-photo {
          display: none;
        }

        &.is-photo {
          display: block;
        }
      }
    }
  }

  /* Font size scheme */
  .font-size-scheme-state-small {
    .font-size-1 {
      font-size: 8px;
    }

    .font-size-2 {
      font-size: 10px;
    }

    .font-size-3 {
      font-size: 12px;
    }

    .font-size-4 {
      font-size: 30px;
    }
  }

  .font-size-scheme-state-medium {
    .font-size-1 {
      font-size: 10px;
    }

    .font-size-2 {
      font-size: 12px;
    }

    .font-size-3 {
      font-size: 14px;
    }

    .font-size-4 {
      font-size: 30px;
    }
  }

  .font-size-scheme-state-big {
    .font-size-1 {
      font-size: 12px;
    }

    .font-size-2 {
      font-size: 14px;
    }

    .font-size-3 {
      font-size: 16px;
    }

    .font-size-4 {
      font-size: 30px;
    }
  }

  /* Line height scheme */
  .line-height-scheme-state-small {
    .line-height-1 {
      line-height: 11.2px;
    }

    .line-height-2 {
      line-height: 16.01px;
    }

    .line-height-3 {
      line-height: 18px;
    }

    .line-height-4 {
      line-height: 34.5px;
    }
  }

  .line-height-scheme-state-medium {
    .line-height-1 {
      line-height: 14px;
    }

    .line-height-2 {
      line-height: 16.8px;
    }

    .line-height-3 {
      line-height: 26.07px;
    }

    .line-height-4 {
      line-height: 34.5px;
    }
  }

  .line-height-scheme-state-big {
    .line-height-1 {
      line-height: 16.8px;
    }

    .line-height-2 {
      line-height: 19.6px;
    }

    .line-height-3 {
      line-height: 29.63px;
    }

    .line-height-4 {
      line-height: 34.5px;
    }
  }

  /* Colors */
  $main_color_1: rgba(3, 3, 3, 1);
  $main_color_2: rgba(255, 255, 255, 1);
  $color_set_0_additional_color_1: rgba(3, 3, 3, 1);
  $color_set_0_additional_color_2: rgba(210, 210, 210, 1);
  $color_set_1_additional_color_1: rgba(3, 42, 73, 1);
  $color_set_1_additional_color_2: rgba(0, 103, 185, 1);
  $color_set_2_additional_color_1: rgba(60, 36, 99, 1);
  $color_set_2_additional_color_2: rgba(112, 57, 199, 1);
  $color_set_3_additional_color_1: rgba(85, 72, 83, 1);
  $color_set_3_additional_color_2: rgba(173, 120, 114, 1);
  $color_set_4_additional_color_1: rgba(73, 73, 61, 1);
  $color_set_4_additional_color_2: rgba(175, 158, 0, 1);

  /* Color scheme */
  .image-color-set {
    display: none;
  }

  .color-scheme-state-color-set-0 {
    .image-color-set-0 {
      display: block;
    }

    .main-color-1-text {
      color: $main_color_1;
    }

    .main-color-2-text {
      color: $main_color_2;
    }

    .main-color-2-border {
      border-color: $main_color_2;
    }

    .main-color-2-background {
      background-color: $main_color_2;
    }

    .additional-color-1-text {
      color: $color_set_0_additional_color_1;
    }

    .additional-color-1-border {
      border-color: $color_set_0_additional_color_1;
    }

    .additional-color-1-background {
      background-color: $color_set_0_additional_color_1;
    }

    .additional-color-2-background {
      background-color: $color_set_0_additional_color_2;
    }

    .additional-color-2-svg {
      path {
        fill: $color_set_0_additional_color_2;
      }
    }
  }

  .color-scheme-state-color-set-1 {
    .image-color-set-1 {
      display: block;
    }

    .main-color-1-text {
      color: $main_color_1;
    }

    .main-color-2-text {
      color: $main_color_2;
    }

    .main-color-2-border {
      border-color: $main_color_2;
    }

    .main-color-2-background {
      background-color: $main_color_2;
    }

    .additional-color-1-text {
      color: $color_set_1_additional_color_1;
    }

    .additional-color-1-border {
      border-color: $color_set_1_additional_color_1;
    }

    .additional-color-1-background {
      background-color: $color_set_1_additional_color_1;
    }

    .additional-color-2-background {
      background-color: $color_set_1_additional_color_2;
    }

    .additional-color-2-svg {
      path {
        fill: $color_set_1_additional_color_2;
      }
    }
  }

  .color-scheme-state-color-set-2 {
    .image-color-set-2 {
      display: block;
    }

    .main-color-1-text {
      color: $main_color_1;
    }

    .main-color-2-text {
      color: $main_color_2;
    }

    .main-color-2-border {
      border-color: $main_color_2;
    }

    .main-color-2-background {
      background-color: $main_color_2;
    }

    .additional-color-1-text {
      color: $color_set_2_additional_color_1;
    }

    .additional-color-1-border {
      border-color: $color_set_2_additional_color_1;
    }

    .additional-color-1-background {
      background-color: $color_set_2_additional_color_1;
    }

    .additional-color-2-background {
      background-color: $color_set_2_additional_color_2;
    }

    .additional-color-2-svg {
      path {
        fill: $color_set_2_additional_color_2;
      }
    }
  }

  .color-scheme-state-color-set-3 {
    .image-color-set-3 {
      display: block;
    }

    .main-color-1-text {
      color: $main_color_1;
    }

    .main-color-2-text {
      color: $main_color_2;
    }

    .main-color-2-border {
      border-color: $main_color_2;
    }

    .main-color-2-background {
      background-color: $main_color_2;
    }

    .additional-color-1-text {
      color: $color_set_3_additional_color_1;
    }

    .additional-color-1-border {
      border-color: $color_set_3_additional_color_1;
    }

    .additional-color-1-background {
      background-color: $color_set_3_additional_color_1;
    }

    .additional-color-2-background {
      background-color: $color_set_3_additional_color_2;
    }

    .additional-color-2-svg {
      path {
        fill: $color_set_3_additional_color_2;
      }
    }
  }

  .color-scheme-state-color-set-4 {
    .image-color-set-4 {
      display: block;
    }

    .main-color-1-text {
      color: $main_color_1;
    }

    .main-color-2-text {
      color: $main_color_2;
    }

    .main-color-2-border {
      border-color: $main_color_2;
    }

    .main-color-2-background {
      background-color: $main_color_2;
    }

    .additional-color-1-text {
      color: $color_set_4_additional_color_1;
    }

    .additional-color-1-border {
      border-color: $color_set_4_additional_color_1;
    }

    .additional-color-1-background {
      background-color: $color_set_4_additional_color_1;
    }

    .additional-color-2-background {
      background-color: $color_set_4_additional_color_2;
    }

    .additional-color-2-svg {
      path {
        fill: $color_set_4_additional_color_2;
      }
    }
  }
}