.advantages {
    h2 {
        span {
            padding: 4px 0;
            margin-left: 3px;
        }
    }
}

.advantages__wrapper {
    margin-top: 64px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 50px;
    row-gap: 70px;
}

.advantages-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 32px;
    text-align: center;

    img {
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
    }

    h4 {
        font-size: 16px;
        line-height: 21px;
        color: var(--black);
    }

    p {
        font-size: 16px;
        line-height: 21px;
        color: var(--grey);
        margin-top: 12px;
    }

    &>div {
        max-width: 300px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 992px) {
    .advantages__wrapper {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 25px;
        grid-row-gap: 40px;
        row-gap: 40px;
    }

    .advantages .h2 {
        text-align: center;
    }
}

@media (max-width: 620px) {
    .advantages__wrapper {
        grid-template-columns: repeat(1, 1fr);
        gap: 24px;
        margin-top: 40px;
    }

    .advantages-item {
        gap: 16px;
        flex-direction: row;
        text-align: left;

        h4 {
            font-size: 16px;
        }

        p {
            font-size: 14px;
            margin-top: 2px;
        }

        img {
            max-width: 36px;
        }

        &>div {
            max-width: none;
            margin-left: 0;
            margin-right: 0;
        }
    }
}

@media (max-width: 360px) {
    .advantages-item h4 {
        font-size: 14px;
    }

    .advantages-item p {
        font-size: 12px;
    }

    .advantages-item {
        gap: 12px;
    }
}