.card-revie {
    border-radius: 24px;
    border: 1px dashed rgba(84, 108, 151, 0.3);
    padding: 32px 42px 38px 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    &__h {
        display: flex;
        justify-content: space-between;
    }

    &__left {
        display: flex;
    }

    &__ava {
        min-width: 64px;
        height: 64px;
        border-radius: 50%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin-right: 24px;
    }

    &__l-r {
        padding-right: 16px;
    }

    &__name {
        font-size: 18px;
    }

    &__job {
        font-size: 14px;
        margin-top: 2px;
        color: var(--grey);
    }

    &__star {
        width: 92px;
        height: 16px;

        &.four {
            background: url("/../images/page/stars-four.svg")center/contain no-repeat;
        }

        &.five {
            background: url("/../images/page/stars-five.svg")center/contain no-repeat;
        }

        &.fout_five {
            background: url("/../images/page/stars.svg")center/contain no-repeat;
        }


        &.four_9 {
            background: url("/../images/page/stars-fout_9.svg")center/contain no-repeat;
        }
    }

    &__des {
        margin-top: 30px;
        color: var(--grey);
    }
}

.rtl {
    .card-revie__h{
        flex-direction: row-reverse;
    }

    .card-revie__left {
        flex-direction: row-reverse;
    }

    .card-revie__l-r {
        text-align: left;
    }
    .card-revie__des {
        text-align: left;
    }
}

@media(max-width: 767px) {
    .card-revie__h {
        flex-direction: column;
    }

    .card-revie__right {
        margin-top: 16px;
    }

    .card-revie__des {
        font-size: 14px;
        margin-top: 16px;
    }

    .card-revie__ava {
        min-width: 48px;
        height: 48px;
        margin-right: 14px;
    }

    .revs__main {
        margin-top: 30px;
    }

    .card-revie {
        padding: 24px;
    }

    .card-revie__name {
        font-size: 16px;
    }
}