.contact-page {
    padding-top: 20px;

    .bottom-text {
        margin: 24px auto 0 auto;
        color: #fff;
        text-align: left;
    }

    .form {
        flex-direction: column;
        max-width: 830px;
        margin: 20px auto 0;
    }
}

.form {
    .form-btn {
        width: 100%;
    }

    .form__wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;

        input,
        textarea {
            border-radius: 12px;
            border: 1px solid #2C345C;
            background: rgba(84, 108, 151, 0.10);
            color: #ABB7CD;
        }
    }

    .form__top {
        display: flex;
        gap: 10px;
        margin-bottom: 16px;
        flex-wrap: wrap;

        .form-checkbox {
            span {
                white-space: nowrap;
            }
        }
    }

    .form-checkbox {
        position: relative;
        cursor: pointer;

        span {
            font-family: "GTEestiProDisplay", sans-serif;
            padding: 10px 12px;
            font-weight: 350;
            font-size: 14px;
            line-height: 19px;
            color: #ABB7CD;
            border-radius: 30px;
            display: flex;
            background: rgba(84, 108, 151, 0.10);
            border: 1px solid #3678fd00;
        }

        input {
            position: absolute;
            width: 100%;
            height: 100%;
            background: #f6f8fa;
            border: 1px solid #3678fd00;
            border-radius: 12px;
            appearance: none;
            z-index: -1;
            left: 0;
            top: 0;
            cursor: pointer;

            &::placeholder,
            &::-moz-placeholder,
            &::-webkit-input-placeholder {
                color: #ABB7CD;
            }

            &:checked {
                background: #3678fd34;
                border: 1px solid #3679fd;
            }

            &:checked+span {
                color: #3679fd;
                border-color: #3679fd;
            }
        }
    }

    .form-texrarea {
        width: 100%;
        grid-column: 1 / 3;

        textarea {
            border: 1px solid #2C345C;
            border-radius: 12px;
            width: 100%;
            height: 100%;
            height: 120px;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: #ABB7CD;
            padding: 17px;
            resize: none;
            transition: 0.4s;

            &::placeholder {
                color: #ABB7CD;
            }

            &:focus {
                border-color: #3679fd;
            }
        }
    }
}

.form-btn {
    &:disabled {
        opacity: 0.5;
        pointer-events: none;
    }
}

.contact-page__bottom {
    margin-top: 30px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #fff;

    a {
        display: block;
        color: #3679FD;
    }
}

.cont__row {
    display: flex;
    gap: 30px;
}

.cont__left {
    border-radius: 24px;
    flex: 1 1 auto;
    background: url("/../images/page/contc-bg.png") center/cover no-repeat;
}

.cont_right {
    border-radius: 24px;
    min-width: 476px;
    max-width: 502px;
    padding: 40px 40px 32px 40px;
    background: #01153A;
}

.cont-title {
    font-size: 36px;
    color: #fff;
    font-weight: 700;
    font-family: "NotoSans";
    line-height: 120%;
    margin: 0;
}

.form-btn_n {
    margin-top: 24px;

    &>div {
        width: 100%;
    }
}

@media (max-width: 992px) {
    .contact-page {

        .container,
        .container-sm {
            max-width: 100%;
        }
    }

    .error-page-404 {
        padding: 48px 0 20px 0;
    }

    .form {
        .form__top {
            max-width: calc(100% + 12px);
            overflow-x: auto;
            margin-right: -12px;
            padding-right: 12px;

            scrollbar-color: transparent transparent;
            scrollbar-width: 0;

            &::-webkit-scrollbar {
                width: 0;
                height: 0;
                background-color: transparent;
                border-radius: 0;
            }

            &::-webkit-scrollbar-thumb {
                background-color: transparent;
                border-radius: 0;
                width: 0;
            }

            .form-checkbox {
                span {
                    white-space: nowrap;
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .error-page {
        padding-bottom: 60px;
    }

    .cont__left {
        display: none;
    }

    .cont_right {
        min-width: auto;
        max-width: 100%;
        width: 100%;
    }

    .cont-title {
        font-size: 28px;
    }

    .contact-page .bottom-text {
        text-align: center;
        margin-top: 18px;
    }

    .contact-page__bottom {
        font-size: 14px;
    }

    .contact-page {
        padding-top: 36px;
    }
}

@media (max-width: 600px) {
    .form .form__wrapper {
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
    }

    .form .form-texrarea {
        grid-column: 1;
    }

    .contact-page .bottom-text {
        font-size: 12px;
    }

    .contact-page__bottom {
        font-size: 12px;
        margin-top: 22px;
    }

    .cont_right {
        padding: 32px 20px;
    }
}