.document {
    position: relative;
    padding: 100px 0 60px 0;

    .background {
        position: absolute;
        top: 0;
    }
}

.cover-letter {
    .document {
        padding-bottom: 45px;

        .background {
            &:before {
                content: '';
                display: block;
                height: 100%;
                width: 100%;
                position: absolute;
                left: 0;
                top: 0;
                background: linear-gradient(270deg, rgba(246, 248, 250, 0) 0%, #F6F8FA 22.92%, #F6F8FA 78.12%, rgba(246, 248, 250, 0) 100%);
            }
        }

        @media screen and (max-width: 768px) {
            padding-bottom: 0;
        }
    }
}


.document__wrapper {
    margin-top: 50px;

    .swiper {
        overflow: visible;
        padding-bottom: 60px;
    }

    .swiper-slide {
        height: 500px;
        position: relative;

        &:hover {

            .document__link_before,
            .document__btn {
                opacity: 1;
            }
        }

        .document__link_before {
            position: absolute;
            width: 100%;
            height: 100%;
            background: #01153a48;
            left: 0;
            top: 0;
            opacity: 0;
            transition: opacity 0.2s ease-in-out;
        }

        img {
            width: 100%;
            height: 100%;
            // object-fit: cover;
        }
    }

    .document__btn {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: all 0.3s ease-in-out;
    }

    .swiper-pagination-bullet {
        background: #e2e6ec;
        border-radius: 4px;
        width: 24px;
        height: 4px;
        opacity: 1;
    }

    .swiper-pagination-bullet-active {
        background: #3679fd;
    }
}

.doc-img {
    max-height: 100%;
    height: inherit;
}

.swiper-button-next,
.swiper-button-prev {
    background: #eef0f2;
    border-radius: 8px;
    width: 44px;
    height: 44px;
    transition: background 0.3s ease-in-out;

    &:hover {
        background: #3679fd;

        &::after {
            filter: brightness(20);
        }
    }

    &::after {
        font-size: 0;
        transition: filter 0.3s ease-in-out;
    }
}

.swiper-button-next {
    &::after {
        position: absolute;
        content: url("/../images/page/arrow-next.svg");
    }
}

.swiper-button-prev {
    &::after {
        position: absolute;
        content: url("/../images/page/arrow-prev.svg");
    }
}

@media (max-width: 1199px) {
    .document__wrapper .swiper-slide {
        height: auto;
    }
}

@media (max-width: 992px) {

    .swiper-button-next,
    .swiper-button-prev {
        width: 34px;
        height: 34px;
        display: flex;
    }

    .swiper-button-prev {
        &::after {
            left: 6px;
        }
    }

    .document {
        padding: 60px 0 40px 0;
    }

    .document__wrapper .swiper {
        padding-bottom: 40px;
    }
}

@media (max-width: 767px) {
    .document {
        .swiper-pagination {
            display: none;
        }
    }

    .document {
        padding: 40px 0 30px 0;
    }

    .document__wrapper {
        margin-top: 30px;
    }

    .document__wrapper .swiper-slide::before {
        display: none;
    }

    .document__wrapper .document__btn {
        position: relative;
        opacity: 1;
        left: auto;
        top: auto;
        transform: none;
    }

    .doc-btn {
        margin-top: 23px;
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 560px) {

    .swiper-button-prev,
    .swiper-rtl .swiper-button-next {
        left: 0px;
        right: auto;
    }

    .swiper-button-next,
    .swiper-rtl .swiper-button-prev {
        right: 0;
        left: auto;
    }

    .document__wrapper {
        margin-top: 24px;
    }

    .document__wrapper .swiper {
        padding-bottom: 20px;
    }
}