.sfaq {
    &__main {
        max-width: 770px;
        margin: 64px auto 0 auto;
    }

    &__wr-btn {
        display: flex;
        justify-content: center;
        margin-top: 48px;
    }
}

@media (max-width: 767px) {
    .sfaq {
        &__main {
            margin-top: 32px;
        }

        &__wr-btn {
            margin-top: 20px;

            a {
                font-size: 14px;
                min-width: 144px!important;
                padding: 15px 28px;
                border-radius: 35px;
            }
        }
    }
}