.faq-page {
    padding: 120px 0;

    .bottom-text {
        max-width: 633px;
        margin: 24px auto 0 auto;
    }
}

.form {
    margin-top: 40px;
    display: flex;
    margin-bottom: 45px;

    .form-input {
        width: 100%;

        input {
            border: 1px solid #eef0f2;
            border-radius: 12px;
            width: 100%;
            height: 100%;
            height: 54px;
            font-weight: 350;
            font-size: 16px;
            line-height: 19px;
            color: #1a1c24;
            padding: 0 17px;
            transition: 0.4s;

            &::placeholder {
                color: #838799;
            }

            &:focus {
                border-color: #3679fd;
            }
        }
    }

    .form-btn.btn--search {
        width: 172px;
        min-width: 172px !important;
        margin-left: 15px;
    }
}

.faq-page__bottom {
    margin-top: 45px;
    font-weight: 350;
    font-size: 16px;
    line-height: 24px;
    color: #838799;

    a {
        display: block;
        color: rgba(54, 121, 253, 1);
    }
}

.btn--search {}

@media (max-width: 1399px) {
    .faq-page {
        padding: 96px 0;
    }
}

@media (max-width: 991px) {
    .faq-page {
        padding: 66px 0;
    }
}

@media (max-width: 767px) {
    .faq-page {
        padding: 46px 0;
    }

    .bottom-text {
        font-size: 14px;
    }

    .faq-page .bottom-text {
        margin-top: 10px;
    }
}

@media (max-width: 576px) {
    .faq-page {
        padding: 24px 0;
    }

    .form {
        margin: 24px 0;
    }

    .page-texts {
        .bottom-text {
            margin-top: 8px !important;
        }
    }

    .form .form-btn.btn--search {
        width: auto;
        min-width: auto !important;
    }
}

@media(max-width: 366px) {
    .faq-page__bottom {
        font-size: 12px;
        line-height: 1.4;
        margin-top: 24px;
    }

    .faq-page .bottom-text {
        font-size: 12px;
        line-height: 1.4;
        margin-top: 5px;
    }
}