.footer-r {
    background: #01153a !important;
    position: relative;
    margin-top: auto;

    &::before {
        position: absolute;
        content: "";
        background: #546c97;
        opacity: 0.5;
        width: 100%;
        bottom: 60px;
        height: 1px;
        left: 0;
    }

    .submenu {
        bottom: 100%;
        gap: 10px !important;

        a {
            color: #01153a !important;
        }
    }

    p {
        margin-bottom: 0;
    }
}

.footer-r-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;

    .nav ul a,
    .lang,
    .logins {
        color: #ffffff;
    }

    .btns.btn--grey {
        background: #3679fd;
        color: #ffffff !important;

        &:hover {
            background: #1c63ef;
        }

        img {
            filter: brightness(20);
        }
    }
}

.footer-r-logo {
    max-width: 120px;
    width: 100%;

    img {
        width: 100%;
    }
}

.footer-r-bottom {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
    color: #838799;

    a {
        color: #838799 !important;
        transition: 0.3s;

        &:not(:last-child) {
            margin-right: 10px;
        }

        &:hover {
            color: #fff !important;
        }
    }
}

@media(max-width: 854px) {
    .footer-r-top {
        flex-direction: column;
        align-items: center;
        padding: 24px 0;

        .nav {
            margin: 30px 0;
        }
    }
}

@media(max-width: 576px) {
    .footer-r-top {
        .nav ul {
            flex-direction: column;
            grid-gap: 8px;
        }

        .get-startend {
            margin-left: 0;
        }
    }

    .footer-r::before {
        display: none;
    }

    .footer-r-bottom {
        flex-direction: column-reverse;
        justify-content: center;
        text-align: center;
        padding-top: 0;

        &__addres {
            padding: 14px 0;
            position: relative;

            &::before {
                content: '';
                position: absolute;
                height: 1px;
                top: 0;
                left: -15px;
                right: -15px;
                background: #546C97;
                opacity: 0.5;
            }

            &::after {
                content: '';
                position: absolute;
                height: 1px;
                bottom: 0;
                left: -15px;
                right: -15px;
                background: #546C97;
                opacity: 0.1;
            }
        }
    }

    .footer-r-bottom__copy {
        padding-top: 16px;
    }

    .footer-r-top {
        padding-bottom: 0;
    }

    .get-startend {
        margin-bottom: 30px;
    }
}

@media(max-width: 366px) {
    .footer-r-bottom {
        font-size: 12px;
        line-height: 18px;
    }

    .footer-r-logo {
        max-width: 113px;

        img {
            max-width: 100%;
        }
    }
}