.header-r {
    height: 81px;
    padding: 16px 0;
    z-index: 222;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;

    .containers {
        display: flex !important;
        justify-content: space-between !important;
        align-items: center !important;
        height: 100%;
    }

    .submenu {
        gap: 10px !important;
    }

    p {
        margin-bottom: 0;
    }
}

.logo {
    max-width: 120px;
    width: 100%;

    img {
        width: 100%;
    }
}

.submenu {
    position: absolute;
    background: var(--white);
    box-shadow: 0px 35px 50px rgba(54, 121, 253, 0.15);
    border-radius: 0px 0px 12px 12px;
    padding: 25px 30px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
    width: 440px;

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__title {
        color: var(--black);
        font-weight: 400;
    }

    &__r {
        padding-left: 10px;
    }
}

.link-a {
    color: #3679FD !important;
    font-weight: 400;
    font-size: 12px;
    text-decoration: none;
}

.submenu-item {
    position: relative;

    >a {
        display: flex;
        align-items: center;
        gap: 5px;

        &::after {
            content: "";
            background-image: url("/../images/page/arrow-menu.svg");
            background-repeat: no-repeat;
            background-size: cover;
            width: 14px;
            height: 14px;
            margin-top: 3px;
            transition: 1s;
            display: inline-block;
        }
    }

    &:hover {
        .submenu {
            opacity: 1;
            pointer-events: all;
        }

        >a {
            &::after {
                transform: rotateX(180deg);
            }
        }
    }
}

.submenu_items {
    margin-top: 20px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
}

.submenu__item-c {
    border: 1px solid #F6F8FA;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 6px 10px 6px;
    line-height: 1.3 !important;
}

.submenu__item-icon {
    svg {
        width: 18px;
    }
}

.submenu__item-title {
    margin-top: 9px;
    color: var(--black);
    font-weight: 400;
    font-size: 14px;
}

.submenu__item-text {
    margin-top: 5px;
    margin-bottom: 0;
    padding: 0;
    text-align: center;
    font-size: 14px;
    color: #838799;
}

.submenu__item__fot {
    border: 1px solid #F6F8FA;
    border-radius: 8px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-center {
        padding: 14px 6px;
        text-align: center;
        width: 158px;
    }
}

.submenu__item-bot_t {
    color: var(--black);
    font-size: 14px;
    font-weight: 400;
}

.submenu__item-bot_text {
    margin-top: 5px;
    color: #838799;
    font-size: 14px;
}

.submenu__item-bot_link {
    margin-top: 14px;

    &.link-a {
        font-size: 12px;
    }
}

.nav {
    ul {
        display: flex;
        gap: 30px;
        align-items: center;
        margin-bottom: 0;

        @media(min-width: 992px) {
            &>li {
                &:not(.submenu-item) {
                    &:not(:last-child) {
                        margin-right: 14px;
                    }
                }
            }
        }

        a {
            font-weight: 350;
            font-size: 16px;
            line-height: 27px;
            color: var(--black);
            padding-left: 2px;
            padding-right: 2px;

            &:hover {
                color: var(--blue);
            }
        }
    }
}

.lang {
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: var(--black);
    display: flex;
    align-items: center;
    height: fit-content;
    gap: 6px;
    transition: text-shadow 0.3s ease-in-out;

    &:hover {
        text-shadow: 0.5px 0 0 currentColor;
    }

    &::before {
        content: "";
        background-image: url("/../images/page/lang.svg");
        background-repeat: no-repeat;
        background-size: cover;
        width: 16px;
        height: 16px;
    }
}

.logins {
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: var(--grey);
}

.right-info {
    display: flex;
    align-items: center;

    .logins {
        margin-left: 32px;
    }

    &__auth {
        margin-left: 32px;
    }
}

.get-startend {
    margin-left: 32px;
    display: flex;
    align-items: center;
    padding: 5px 5px 5px 20px;
    background: rgba(84, 108, 151, .05);
    border-radius: 34px;
    transition: 0.4s;
    color: var(--grey);

    i {
        margin-left: 18px;
        width: 42px;
        height: 42px;
        border-radius: 50%;
        background: var(--grey);
        position: relative;

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 14px;
            height: 13px;
            background: url("/../images/icons/icon_arrow_get_start.svg") center/contain no-repeat;
        }
    }

    &:hover {
        color: var(--blue);
    }
}

.submenu__item-bot_link {
    font-size: 12px;
}

.submenu__r {
    a {
        font-size: 14px !important;
    }
}

.wr-burger {
    display: flex;
    align-items: center;
}

@media (max-width: 992px) {
    .nav ul {
        grid-gap: 26px;
    }

    .right-info {
        .get-startend {
            margin-left: 25px;
        }

        .logins {
            margin-left: 0;
        }
    }

    .head-mob {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    .btn-burger,
    .btn-burger_eye {
        width: 18px;
        height: 18px;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            width: inherit;
            height: inherit;
        }
    }

    .btn-burger_eye {
        height: 16px;
        position: absolute;
        right: 47px;

        svg {
            height: inherit;
            fill: #546C97;
        }

        &.active {
            svg {
                fill: #3679FD;
            }
        }
    }

    .logo {
        display: flex;
        align-items: center;
        max-width: 100px;
    }

    .header-r {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background: var(--white);
        height: 50px;
    }

    .submenu {
        z-index: 1;
    }

    .mobile-menu {
        background-color: var(--white);
        height: auto;
        bottom: 0;
        width: 80%;
        position: fixed;
        overflow-y: auto;
        top: 0;
        right: 0;
        transform: translateX(100%);
        transition: 0.3s;
        width: 70%;
        max-width: 360px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .nav {
            ul {
                flex-direction: column;
            }
        }

        &.show {
            transform: translateX(0);
        }

        .close-menu {
            width: 20px;
            height: 20px;
            cursor: pointer;

            svg {
                width: 11px;
                height: 11px;
            }
        }

        header {
            padding: 15px 4px 15px 15px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid #F6F8FA;
            position: sticky;
            top: 0;
            width: 100%;
            background: #fff;
            z-index: 3;
        }

        .mobile-logo {
            height: 14px;
        }

        ul {
            gap: 0;
        }

        ul,
        li {
            width: 100%;
        }

        li {
            a.nav-link {
                padding: 19px 26px;
                font-weight: 350;
                font-size: 18px;
                line-height: 21px;
                display: block;
                color: #838799;
                display: flex;
                align-items: center;

                svg {
                    width: 20px;
                    height: 20px;
                    margin-right: 12px;
                }

                &:hover {
                    background: #DADCE3;
                }
            }

            .submenu {
                border-radius: 12px 0 0 12px;
                transition: all ease-out 0.3s;
                right: 0;
                z-index: 100;
            }
        }
    }

    .user-menu {
        border-top: 1px solid var(--grey-3);
    }

    .logout-wrapper {
        border-top: 1px solid var(--grey-3);
        width: calc(100% + 30px);
        padding: 18px 15px 0 36px;
        margin-left: -15px;
        margin-right: 15px;
        color: var(--red);
        font-weight: 300;
        font-size: 18px;
        line-height: 21px;

        button {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            gap: 12px;
        }
    }

    .overlay {
        width: 100vw;
        height: auto;
        bottom: 0;
        background: var(--black);
        opacity: 0.6;
        position: fixed;
        display: none;
        top: 0;

        &.show {
            display: block;
        }
    }

    .submenu {
        display: none !important;
    }

    .submenu-item>a::after {
        display: none !important;
    }
}

.mobile-menu__bot {
    padding: 20px 15px 15px 20px;
}

.mobile-menu__mob {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 20px;

    .btns.btn--grey {
        margin: 0;
        min-width: 190px;
        justify-content: center;
    }
}

@media(max-width: 767px) {
    .home {
        .header-r {
            background: var(--blue);
        }
    }
}

@media(max-width: 576px) {
    .header-r {
        .get-startend {
            margin-left: 16px;
        }
    }
}

@media(max-width: 480px) {
    .mobile-menu {
        max-width: 240px;
    }
}