.header-r {
    height: 81px;
    border-bottom: 1px solid #eef0f2;
    padding: 16px 0;
    z-index: 222;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;

    .containers {
        display: flex !important;
        justify-content: space-between !important;
        align-items: center !important;
        height: 100%;
    }

    .submenu {
        gap: 10px !important;
    }

    p {
        margin-bottom: 0;
    }
}

.logo {
    max-width: 120px;
    width: 100%;

    img {
        width: 100%;
    }
}

.submenu {
    position: absolute;
    background: #ffffff;
    box-shadow: 0px 35px 50px rgba(54, 121, 253, 0.15);
    border-radius: 0px 0px 12px 12px;
    padding: 25px 30px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
    width: 380px;

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__title {
        color: #01153A;
        font-weight: 400;
    }

    &__r {
        padding-left: 10px;
    }
}

.link-a {
    color: #3679FD !important;
    font-weight: 400;
    font-size: 12px;
    text-decoration: none;
}

.submenu-item {
    position: relative;

    &:hover {
        .submenu {
            opacity: 1;
            pointer-events: all;
        }

        >a {
            text-shadow: 0.5px 0 0 currentColor;

            &::after {
                transform: rotateX(180deg);
            }
        }
    }

    >a {
        display: flex;
        align-items: center;
        gap: 5px;

        &::after {
            content: "";
            background-image: url("/../images/page/arrow-menu.svg");
            background-repeat: no-repeat;
            background-size: cover;
            width: 14px;
            height: 14px;
            margin-top: 3px;
            transition: after 0.3s ease-in-out;
            display: inline-block;
        }
    }
}

.submenu_items {
    margin-top: 20px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
}

.submenu__item-c {
    border: 1px solid #F6F8FA;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 6px 10px 6px;
    line-height: 1.3!important;
}

.submenu__item-icon {
    svg {
        width: 18px;
    }
}

.submenu__item-title {
    margin-top: 9px;
    color: #01153A;
    font-weight: 400;
    font-size: 14px;
}

.submenu__item-text {
    margin-top: 5px;
    margin-bottom: 0;
    padding: 0;
    text-align: center;
    font-size: 9px;
    color: #838799;
}

.submenu__item__fot {
    border: 1px solid #F6F8FA;
    border-radius: 8px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-center {
        padding: 14px 6px;
        text-align: center;
        width: 158px;
    }
}

.submenu__item-bot_t {
    color: #01153A;
    font-size: 12px;
    font-weight: 400;
}

.submenu__item-bot_text {
    margin-top: 5px;
    color: #838799;
    font-size: 9px;
}

.submenu__item-bot_link {
    margin-top: 14px;
}

.nav {
    ul {
        display: flex;
        gap: 40px;
        align-items: center;
        margin-bottom: 0;

        a {
            font-weight: 350;
            font-size: 16px;
            line-height: 27px;
            color: #01153a;
            transition: text-shadow 0.3s ease-in-out;

            &:hover {
                text-shadow: 0.5px 0 0 currentColor;
            }
        }
    }
}

.lang {
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: #01153a;
    display: flex;
    align-items: center;
    height: fit-content;
    gap: 6px;
    transition: text-shadow 0.3s ease-in-out;

    &:hover {
        text-shadow: 0.5px 0 0 currentColor;
    }

    &::before {
        content: "";
        background-image: url("/../images/page/lang.svg");
        background-repeat: no-repeat;
        background-size: cover;
        width: 16px;
        height: 16px;
    }
}

.logins {
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: #01153a;
    transition: text-shadow 0.3s ease-in-out;

    &:hover {
        text-shadow: 0.5px 0 0 currentColor;
    }
}

.right-info {
    display: flex;
    align-items: center;

    .get-startend {
        margin-left: 45px;
        display: flex;
        align-items: center;
        padding: 14px 17px 14px 16px;
    }

    .logins {
        margin-left: 45px;
    }

    &__auth {
        margin-left: 45px;
    }
}

.submenu__item-bot_link {
    font-size: 12px;
}

.submenu__r {
    a {
        font-size: 12px !important;
    }
}

@media (max-width: 992px) {
    .nav ul {
        grid-gap: 26px;
    }

    .right-info {
        .get-startend {
            margin-left: 25px;
        }

        .logins {
            margin-left: 0;
        }
    }

    .head-mob {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    .btn-burger {
        width: 18px;
        height: 18px;

        svg {
            width: inherit;
            height: inherit;
        }
    }

    .logo {
        display: flex;
        align-items: center;
        max-width: 100px;
    }

    .header-r {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 10;
        background: var(--white);
        height: 50px;
    }

    submenu {
        z-index: 1;
    }

    .mobile-menu {
        background-color: var(--white);
        height: 100vh;
        width: 80%;
        position: absolute;
        top: 0;
        right: 0;
        transform: translateX(100%);
        transition: all ease-out 0.3s;
        width: 70%;

        .nav {
            ul {
                flex-direction: column;
            }
        }

        &.show {
            transform: translateX(0);
        }

        .close-menu {
            width: 20px;
            height: 20px;
            cursor: pointer;

            svg {
                width: 11px;
                height: 11px;
            }
        }

        header {
            padding: 11px 4px 11px 15px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }

        .mobile-logo {
            height: 21px;
        }

        ul {
            gap: 0;
        }

        ul, li {
            width: 100%;
        }

        li {
            a.nav-link {
                padding: 19px 26px;
                font-weight: 300;
                font-size: 18px;
                line-height: 21px;
                display: block;
            }

            .submenu {
                border-radius: 12px 0 0 12px;
                transition: all ease-out 0.3s;
                right: 0;
                z-index: 100;
            }
        }
    }

    .user-menu {
        border-top: 1px solid var(--grey-3);
        border-bottom: 1px solid var(--grey-3);
    }

    .logout-wrapper {
        position: absolute;
        bottom: 0;
        left: 0;
        border-top: 1px solid var(--grey-3);
        width: 100%;
        padding: 19px 0 19px 30px;
        color: var(--red);
        font-weight: 300;
        font-size: 18px;
        line-height: 21px;

        button {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            gap: 12px;
        }
    }

    .overlay {
        width: 100vw;
        height: 100vh;
        background: var(--black);
        opacity: 0.6;
        position: absolute;
        display: none;
        top: 0;

        &.show {
            display: block;
        }
    }
}