.page-templates {
    &__row {
        display: flex;
    }

    &__left {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100vh;
        width: 36.56%;
    }

    &__right {
        width: 63.44%;
        background: #F6F8FA;
        height: 100vh;
    }

    @media screen and (max-width: 768px) {
        &__row {
            flex-direction: column;
        }

        &__left,
        &__right {
            height: auto;
            width: 100%;
        }
    }
}

.pt_h {
    padding: 20px 30px;
}

.pt_h-l {
    padding: 30px;
    border-bottom: 1px solid #F6F8FA;
}

.pt_b-l {
    padding: 20px 30px;
    border-top: 1px solid #F6F8FA;
}


.pt-ts {
    max-height: calc(100vh - 150px);
    overflow-y: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-gap: 30px;
    padding: 30px;

    @media screen and (max-width: 768px) {
        display: inline-block;
        text-align: center;
    }
}

.it-t {
    position: relative;
    width: 100%;
    padding-bottom: 141%;
    overflow: hidden;
    border-radius: 12px;
    border: 2px solid #F6F8FA;
    cursor: pointer;
    transition: 0.4s;

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .item-card-resum__types {
        position: absolute;
        z-index: 10;
        right: 8px;
        bottom: 8px;
    }

    &:hover {
        border-color: #3679FD;
    }

    &.active {
        border-color: #3679FD;

        &::before {
            content: '';
            position: absolute;
            width: 30px;
            height: 30px;
            background: url("/../images/icons/check-icon-active-templates.svg") center/contain no-repeat;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 50;
        }
    }
}

.pt_b-r {
    padding: 16px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pt_h-r {
    padding-left: 110px;
}

.plr {
    padding-left: 30px;
    padding-right: 30px;
}

.ptr-c {
    max-height: calc(100vh - 170px);
    max-height: calc(100vh - 170px);
    overflow-y: auto;

    &__content {
        margin: 0 auto;
        max-width: 624px;
        width: 100%;

        img {
            max-width: 100%;
        }
    }

    @media screen and (max-width: 768px) {
        &__content {
            max-width: 100%;
        }
    }
}

.colors-t-wrapper {
    max-width: 215px;
    width: 100%;
}

.colors-t {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 8px;
    height: 76px;
    margin-top: -26px;
}

.color-it {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    cursor: pointer;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: -3px;
        right: -3px;
        bottom: -3px;
        left: -3px;
        border-radius: 100%;
        border: 2px solid #3679FD;
        transition: 0.3s;
        opacity: 0;
    }

    &.active {
        &::before {
            opacity: 1;
        }
    }
}

.color-select {
    background: url("/../images/icons/ellipse-color.svg") center/contain no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
        width: 18px;
        height: 18px;
        transition: 0.4s;
    }

    &:hover {
        svg {
            transform: scale(1.1);
        }
    }
}

.menu-show-tem {
    position: relative;
    margin-left: 16px;
}

.btns-tem {
    display: flex;
    align-items: center;
}

@media(max-width: 1700px) {
    .page-templates__left {
        width: 30.56%;
    }

    .page-templates__right {
        width: 69.44%;
    }

    .pt-ts {
        grid-template-columns: repeat(2, 1fr);
    }

    .MuiSlider-root {
        width: 150px !important;
        min-width: 150px !important;
    }

    .item-range {
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    .color-it {
        width: 30px;
        height: 30px;
    }
}

@media(max-width: 1500px) {
    .pt_b-r {
        flex-wrap: wrap;
    }

    .colors-t-wrapper {
        width: 100%;
        max-width: 100%;
    }

    .ptr-c {
        max-height: calc(100vh - 225px);
        max-height: calc(100vh - 225px);
    }

    .colors-t {
        margin-top: 0;
        height: 34px;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
    }
}

@media (min-width: 788px) and (max-width: 1500px) {
    span.MuiSlider-root {
        width: 113px !important;
        min-width: 113px !important;
    }
}

@media (max-width: 1200px) {
    .pt-ts {
        grid-template-columns: repeat(1, 1fr);
    }

    .page-templates__left {
        width: 30%;
    }

    .page-templates__right {
        width: 70%;
    }
}

@media screen and (max-width: 1024px) {

    .buttons-wrapper,
    .btns-tem {
        flex-direction: row-reverse;
        gap: 14vw;
        justify-content: center;
    }

    .page-templates {
        height: 100%;

        &__row {
            height: 100%;
            justify-content: space-between;
        }

        &__right {
            height: 100%;
            justify-content: space-between;
            display: flex;
            flex-direction: column;
        }

        .scroll-style,
        .ptr-c__content,
        .body-template-resume,
        .body-template-resume>div,
        .body-template-resume>div>div,
        .cv-chapter-section,
        .body-template-resume .cv-body {
            height: 100%;
        }

        .buttons-wrapper {
            .colors-t {
                margin: 0;
            }

            .form-btn {
                margin: 0;
                width: 168px;
            }
        }

        .body-template-resume>div {
            margin: 0 10px;
            border: 1px solid #ccc;
            border-radius: 6px;
            overflow: hidden;

            .cv-body-area {
                padding: 25px 25px 10px 25px;
            }
        }
    }

    .pt_h-l {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .pt_h-logo {
        width: 98px;
    }
}

.ranges-row {
    display: flex;
    align-items: center;
}

.item-range {
    padding-top: 5px;

    &:not(:last-child) {
        margin-right: 50px;
    }

    p {
        color: #838799;
        font-weight: 500;
        font-size: 10px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 0;
        font-family: "GTEestiProDisplay", sans-serif;
    }
}

.css-eg0mwd-MuiSlider-thumb::after {
    width: 20px;
    height: 20px;
}

.wrapper-ranges {
    display: flex;
    align-items: center;
    font-size: 12px;
    color: #546C97;

    .ite-t-r {
        padding: 0 7px;
    }
}

.MuiSlider-root {
    width: 180px !important;
    min-width: 180px !important;
}

.css-eg0mwd-MuiSlider-thumb:hover,
.css-eg0mwd-MuiSlider-thumb.Mui-focusVisible {
    box-shadow: 0px 0px 0px 3px rgb(25 118 210 / 16%) !important;
}

@media (max-width: 767px) {
    .page-templates__right {
        width: 100%;
        overflow: hidden;
    }

    .page-templates__left {
        width: 100%;

        .pt-ts {
            grid-gap: 20px;
            padding: 14px 16px 20px 14px;
        }
    }

    .colors-t-wrapper {
        position: absolute;
        background: #FFFFFF;
        box-shadow: 0px 35px 50px rgba(54, 121, 253, 0.15);
        border-radius: 12px;
        padding: 10px;
        left: 15px;
        width: calc(100% - 30px);
        right: 15px;
        bottom: -150vw;
        transition: 0.4s;
    }

    .ptr-c {
        max-height: calc(100vh - 208px);
        max-height: calc(100vh - 208px);
    }

    .btns-tem {
        flex-direction: row !important;
    }

    .item-range:not(:last-child) {
        margin-right: 0;
    }

    .color-select svg {
        width: 16px !important;
        height: 16px !important;
        transition: 0.4s;
    }

    .colors-t-wrapper.colors-t-wrapper__open {
        bottom: 131px;
    }
}


.page-view-share {
    pointer-events: none;

    .page-templates__right {
        width: 100%;
        min-height: 100vh;
        height: auto;
        padding: 0 16px 25px 16px;

        .body-template-resume {
            background: transparent;
        }

        .load-ages {
            min-height: calc(100vh - 50px);
        }

        .ptr-c.scroll-style {
            height: auto;
            max-height: none;
            min-height: auto;
            overflow: hidden;

            .body-template-resume {
                min-height: auto;
            }

            .cv-body {
                display: flex !important;
                min-height: 840px;
                max-height: 840px;
                height: 840px;
                margin-top: 25px;
            }
        }
    }
}