.page-templates {
    &__row {
        display: flex;
    }

    &__left {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100vh;
        width: 36.56%;
    }

    &__right {
        width: 63.44%;
        background: #F6F8FA;
        height: 100vh;
    }
}

.pt_h {
    padding: 20px 30px;
}

.pt_h-l {
    padding: 30px;
    border-bottom: 1px solid #F6F8FA;
}

.pt_b-l {
    padding: 20px 30px;
    border-top: 1px solid #F6F8FA;
}


.pt-ts {
    max-height: calc(100vh - 150px);
    overflow-y: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-gap: 30px;
    padding: 30px;
}

.it-t {
    position: relative;
    width: 100%;
    padding-bottom: 141%;
    overflow: hidden;
    border-radius: 12px;
    border: 2px solid #F6F8FA;
    cursor: pointer;
    transition: 0.4s;

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .item-card-resum__types {
        position: absolute;
        z-index: 10;
        right: 8px;
        bottom: 8px;
    }

    &:hover {
        border-color: #3679FD;
    }

    &.active {
        border-color: #3679FD;

        &::before {
            content: '';
            position: absolute;
            width: 30px;
            height: 30px;
            background: url("/../images/icons/check-icon-active-templates.svg") center/contain no-repeat;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 50;
        }
    }
}

.pt_b-r {
    padding: 16px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pt_h-r {
    padding-left: 110px;
}

.plr {
    padding-left: 30px;
    padding-right: 30px;
}

.ptr-c {
    max-height: calc(100vh - 180px);
    overflow-y: auto;

    &__content {
        margin: 0 auto;
        max-width: 34vw;
        width: 100%;

        img {
            max-width: 100%;
        }
    }
}

.colors-t {
    display: flex;
    align-items: center;
    margin: 0 -3px;
}

.color-it {
    margin: 0 3px;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    cursor: pointer;
}

.color-select {
    background: url("/../images/icons/ellipse-color.svg") center/contain no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
        width: 18px;
        height: 18px;
        transition: 0.4s;
    }

    &:hover {
        svg {
            transform: scale(1.1);
        }
    }
}

.btns-tem {
    display: flex;

    button {
        &:not(:last-child) {
            margin-right: 16px;
        }
    }
}

.ranges-row {
    display: flex;
    align-items: center;
}

.item-range {
    padding-top: 5px;
    &:not(:last-child) {
        margin-right: 50px;
    }
}

.css-d3wcwz-MuiTypography-root {
    color: #838799;
    font-weight: 500;
    font-size: 10px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 0;
    font-family: "GTEestiProDisplay", sans-serif;
}

.css-eg0mwd-MuiSlider-thumb::after {
    width: 20px;
    height: 20px;
}

.wrapper-ranges {
    display: flex;
    align-items: center;
    font-size: 12px;
    color: #546C97;

    .ite-t-r {
        padding: 0 7px;
    }
}

.css-173nvfb-MuiSlider-root {
    width: 180px!important;
}

.css-eg0mwd-MuiSlider-thumb:hover, .css-eg0mwd-MuiSlider-thumb.Mui-focusVisible {
    box-shadow: 0px 0px 0px 3px rgb(25 118 210 / 16%)!important;
}



@media(max-width: 1700px) {
    .css-173nvfb-MuiSlider-root {
        width: 150px!important;
    }
    .item-range {
        &:not(:last-child) {
            margin-right: 30px;
        }
    }
    .color-it {
        width: 30px;
        height: 30px;
    }
}