.promo {
    margin-top: 30px;
    position: relative;
    z-index: 2;
}

.sure-block {
    h2 {
        width: 522px;
    }

    .containers {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 90px;
    }

    .sure-list {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: 0;
        width: 100%;
    }

    @media screen and (max-width: 768px) {
        .containers {
            gap: 40px;
        }

        h2 {
            width: auto;
        }

        .sure-list {
            flex-direction: column;
            gap: 40px;
        }
    }
}

.promo__wrapper {
    display: flex;
    min-height: 460px;
    position: relative;
    line-height: normal;

    h1.h1 {
        font-size: 64px;
    }
}

.promo-offer {
    max-width: 530px;
    margin-top: 68px;

    .top-text {
        margin-bottom: 15px;
    }
}

.top-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 0.03em;
    color: var(--grey);
}

.bottom-text {
    font-size: 16px;
    color: var(--grey);
    line-height: 24px;
    margin: 0;
}

.promo-offer__bottom {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-top: 30px;
}

.promo-img {
    margin-right: -130px;
    position: absolute;
    right: 0;
    height: 100%;
    z-index: -1;
    object-fit: cover;
    width: 692px;

    img {
        width: inherit;
    }
}

.user-icons {
    display: flex;
    align-items: center;
    gap: 16px;
    border-radius: 16px 0px 16px 16px;
    background: #FFF;
    box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.15);
    max-width: 328px;
    padding: 24px;
    position: absolute;
    z-index: 20;
    left: -47px;
    bottom: -7%;

    &>div {
        display: flex;
        flex-wrap: nowrap;

        div {
            margin-left: -15px;
            border-radius: 50%;
            border: 2px solid #fff;

            width: 40px;
            min-width: 40px;
            height: 40px;

            &:first-child {
                margin-left: 0;
            }

            img {
                width: 100%;
                height: 100%;
                min-width: inherit;
                object-fit: cover;
                border-radius: inherit;
            }
        }
    }

    p {
        font-size: 14px;
        line-height: 18px;
        color: var(--grey);
        margin-bottom: 0;
        text-align: left;
    }
}

.promo-num {
    margin-top: 15px;
    display: flex;
    gap: 55px;
}

.promo-num-item {
    height: fit-content;

    h2 {
        font-weight: 700;
        font-size: 60px;

        span {
            font-size: 30px;
            transform: translateX(-10px);
            display: inline-block;
        }
    }

    img {
        margin-top: 6px;
    }

    p {
        font-weight: 350;
        font-size: 18px;
        color: var(--grey);
        margin-top: 6px;
    }
}

.border {
    background: rgba(255, 173, 97, 0.15);
    border: 1.3px dashed #ffad61;
    padding: 0 13px;
    position: absolute;
    width: calc(100% + 15px);
    left: 50%;
    transform: translateX(-50%);
    height: 100%;

    &::before {
        content: "";
        position: absolute;
        background-image: url("/../images/page/dots.svg");
        background-repeat: no-repeat;
        background-size: 100%;
        width: calc(100% + 6px);
        height: calc(100% + 7px);
        left: -3px;
        top: 50%;
        transform: translateY(-50%);
    }

    &::after {
        content: "";
        position: absolute;
        background-image: url("/../images/page/dots.svg");
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: bottom;
        width: calc(100% + 6px);
        height: calc(100% + 7px);
        left: -3px;
        top: 50%;
        transform: translateY(-50%);
    }
}

.cursor {
    position: relative;

    &::after {
        content: "";
        position: absolute;
        background-image: url("/../images/page/cursor.svg");
        background-repeat: no-repeat;
        background-size: cover;
        width: 20px;
        height: 20px;
        right: -26px;
        bottom: -18px;
    }
}

.icon-right-top {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        background-image: url("/../images/page/text-icon.svg");
        background-repeat: no-repeat;
        background-size: cover;
        width: 53px;
        height: 50px;
        right: -31px;
        top: -8px;
    }
}

.arrow-left {
    position: relative;

    svg {
        position: absolute;
        transform: translateY(-50%);
        left: -57px;
        top: 50%;
    }
}

.advantage-list {
    width: 100%;
    margin-top: 64px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: 768px) {
        flex-direction: column;
        gap: 40px;
    }
}

.promo-offer__btn {
    filter: drop-shadow(0px 35px 50px rgba(54, 121, 253, 0.15));
}


.promo-scroll {
    display: flex;
    gap: 12px;
    margin-right: -34px;
    margin-left: -34px;
    width: calc(100% + 68px);
    overflow-x: scroll;
    padding-left: 24px;
    padding-right: 24px;
    margin-bottom: -20px;

    &::-webkit-scrollbar {
        width: 0;
        height: 0;
    }

    &::-webkit-scrollbar-thumb {
        width: 0;
        height: 0;
    }

    &__item {
        padding: 12px 12px 0 12px;
        border: 1px dashed rgba(255, 255, 255, 0.5);
        border-bottom: 0;
        border-radius: 16px 16px 0 0;
        width: 234px;
        max-width: 234px;
        min-width: 234px;

        img {
            max-width: 100% !important;
        }
    }
}

.promo-offe {
    text-align: center;

    h2 {
        max-width: 700px;
        text-align: center;
        margin: 0 auto;
    }
}

@media (max-width: 1480px) {
    .promo-img {
        margin-right: -50px;
        width: 620px;
    }

    .mt-130,
    div.tabs {
        margin-top: 110px !important;
    }

    .promo__wrapper h1.h1 {
        font-size: 56px;
    }
}

@media (max-width: 1300px) {
    .promo-img {
        margin-right: 0;
        width: 580px;
    }

    .promo__wrapper h1.h1 {
        font-size: 49px;
    }
}

@media (max-width: 1180px) {
    .promo__wrapper {
        min-height: 400px;
    }

    .promo-img {
        max-width: 500px;
    }

    .user-icons {
        left: -18px;
        bottom: 8%;
        padding: 10px 0 10px 10px;
        max-width: 292px
    }

    .promo-offer__bottom {
        gap: 20px;
    }

    .promo-offer__bottom {
        flex-direction: column-reverse;
        align-items: flex-start;
    }

    .promo-offer {
        max-width: 400px;
    }
}

@media (max-width: 1023px) {

    .mt-130,
    div.tabs {
        margin-top: 80px !important;
    }

    .advantages h2 span.border {
        display: none;
    }

    .promo-offer {
        margin-top: 20px;
    }
}

@media (max-width: 992px) {
    .promo-num {
        gap: 40px;
    }

    .promo-img {
        max-width: 421px;
    }

    .user-icons {
        bottom: 23%;
    }
}

@media (max-width: 899px) {
    .promo__wrapper {
        min-height: 375px;
    }

    .mt-130,
    div.tabs {
        margin-top: 50px !important;
    }

    .promo-img {
        max-width: 373px;
    }

    .promo__wrapper h1.h1 {
        font-size: 38px;
    }

    .promo-offer__bottom {
        margin-top: 20px;
    }

    .promo__wrapper {
        min-height: 320px;
    }

    .user-icons {
        bottom: 5%;
    }

    .promo-offer {
        max-width: 360px;
    }
}

@media (max-width: 767px) {
    .promo {
        padding-top: 40px;
        margin-top: 0;
        background: var(--white);

        &:not(.cover) {
            overflow: hidden;
        }

        &.cover {
            margin-bottom: 120px;
        }
    }

    .home .promo {
        background: var(--blue);
    }

    .coverPage .promo {
        background: rgba(1, 21, 58, 1);
    }

    .promo-offer__bottom {
        align-items: center;
        gap: 0;
    }

    .promo-offer {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
    }

    .promo__wrapper {
        min-height: auto;
        flex-direction: column;
    }

    .promo-offer .top-text {
        margin-bottom: 8px;
    }

    .promo-offer__bottom {
        margin-top: 0;
    }

    .promo-img {
        position: relative;
        display: flex;
        flex-direction: column-reverse;
        max-width: 100%;
        width: 100%;
        align-items: center;
        margin-top: 32px;
        z-index: 4;

        img {
            max-width: 60%;
            width: 100%;
        }
    }

    .user-icons {
        position: relative;
        background: transparent;
        box-shadow: none;
        padding: 0;
        border-radius: 0;
        margin-bottom: 40px;
    }

    .user-icons {
        text-align: left;
    }

    .promo__wrapper h1.h1 {
        font-size: 36px;
    }

    .mt-130,
    div.tabs {
        margin-top: 40px !important;
    }

    h2.h2 {
        font-size: 28px;
    }

    .offer-sec__img {
        max-width: 200px;
    }

    .offer-sec {
        .promo-offer {
            text-align: left;
            align-items: flex-start;
        }
    }

    .offer-sec__btn {
        margin-top: 30px;
    }

    .tabs__top {
        gap: 24px !important;
    }

    .promo-offer .bottom-text {
        margin-top: 15px;
        margin-bottom: 30px;
    }

    .promo-num {
        display: none;
    }

    .home .top-text,
    .home .promo__wrapper h1.h1,
    .home .promo-offer .bottom-text,
    .home .user-icons p,
    .coverPage .top-text,
    .coverPage .promo__wrapper h1.h1,
    .coverPage .promo-offer .bottom-text,
    .coverPage .user-icons p {
        color: var(--white);
    }

    .promo-img {
        flex-direction: column;

        &> {
            img {
                display: none;
            }
        }
    }

    .user-icons {
        bottom: auto;
        left: auto;
        margin-left: auto;
        margin-right: auto;
        max-width: 275px;

        &>div div {
            border-color: var(--blue);
        }
    }

    .home .user-icons {
        &>div div {
            border-color: var(--blue);
        }
    }

    .coverPage .user-icons {
        &>div div {
            border-color: rgba(1, 21, 58, 1);
        }
    }

    .home .promo-offer .promo-offer__btn {
        background: var(--white);
        color: var(--black) !important;

        &:hover {
            background: #EFEFEF;
        }
    }

    .advantage-list {
        margin-top: 40px;
    }

    .promo-offer__imgs {
        margin-left: -70px;
        margin-right: -20px;
        margin-bottom: -130px;
        margin-top: -40px;

        img {
            max-width: 200%;
            width: 110%;
            transform: rotate(-14deg);
        }
    }
}

@media (max-width: 475px) {
    h2.h2 {
        font-size: 24px;
    }

    .tabs__top {
        gap: 20px !important;
    }
}