.promo {
    margin-top: 30px;
}

.cover-letter {
    display: flex;
    flex-direction: column;
    gap: 100px;
    margin-bottom: 100px;

    .promo__wrapper {
        min-height: auto;
    }

    .promo-img {
        position: relative;
    }

    .bottom-text {
        max-width: 460px;
    }

    .containers {
        position: relative;
        z-index: 1;
    }

    &>section {
        margin: 0;
    }

    @media screen and (max-width: 768px) {
        gap: 40px;

        .top-text {
            font-weight: 500;
            font-size: 12px;
            line-height: 26px;
        }

        .promo-offer {
            align-items: center;

            h1 {
                font-weight: 700!important;

                p {
                    margin-bottom: 3px;
                }
            }

            .bottom-text {
                margin-top: 16px;
                margin-bottom: 27px;
    
                svg {
                    display: none;
                }
            }
        }

        .document {
            background-color: var(--light-grey-1);
        }

        .user-icons {
            div img {
                width: 34px;
                height: 34px;
                min-width: 34px;
            }

            p {
                width: 90px;
                font-weight: 300;
                font-size: 12px;
                line-height: 17px;
            }
        }

        .promo-num {
            border: none;
        }

        .background {
            display: none;
        }
    }
}

.sure-block {
    h2 {
        width: 522px;
    }

    .containers {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 90px;
    }

    .sure-list {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: 0;
        width: 100%;
    }

    @media screen and (max-width: 768px) {
        .containers {
            gap: 40px;
        }

        h2 {
            width: auto;
        }

        .sure-list {
            flex-direction: column;
            gap: 40px;
        }
    }
}

.promo__wrapper {
    display: flex;
    align-items: center;
    min-height: 582px;
    position: relative;
}

.promo-offer {
    max-width: 530px;

    .top-text {
        margin-bottom: 15px;
    }

    .bottom-text {
        margin-top: 40px;
    }
}

.top-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 0.03em;
    color: #838799;
}

.bottom-text {
    font-weight: 350;
    font-size: 18px;
    line-height: 24px;
    color: #546c97;
}



.promo-offer__bottom {
    margin-top: 54px;
    display: flex;
    align-items: center;
    gap: 45px;
}

.cover-letter {
    .promo-offer__bottom {
        margin: 0;
    }
}

.user-icons {
    display: flex;
    align-items: center;
    gap: 14px;

    div {
        display: flex;
        flex-wrap: nowrap;

        img {
            width: 40px;
            min-width: 40px;
            height: 40px;
            margin-left: -15px;

            &:first-child {
                margin-left: 0;
            }
        }
    }

    p {
        font-weight: 350;
        font-size: 14px;
        line-height: 18px;
        color: #01153a;
        margin-bottom: 0;
        text-align: left;
    }
}

.promo-img {
    margin-right: -165px;
    position: absolute;
    right: 0;
    height: 100%;
    z-index: -1;
    object-fit: cover;
    width: 820px;

    img {
        width: inherit;
    }
}

.promo-num {
    margin-top: 15px;
    display: flex;
    gap: 130px;
}

.promo-num-item {
    height: fit-content;

    h2 {
        font-weight: 700;
        font-size: 60px;

        span {
            font-size: 30px;
            transform: translateX(-10px);
            display: inline-block;
        }
    }

    img {
        margin-top: 6px;
    }

    p {
        font-weight: 350;
        font-size: 18px;
        color: #546c97;
        margin-top: 6px;
    }
}

.border {
    background: rgba(255, 173, 97, 0.15);
    border: 1.3px dashed #ffad61;
    padding: 0 13px;
    position: absolute;
    width: calc(100% + 15px);
    left: 50%;
    transform: translateX(-50%);
    height: 100%;

    &::before {
        content: "";
        position: absolute;
        background-image: url("/../images/page/dots.svg");
        background-repeat: no-repeat;
        background-size: 100%;
        width: calc(100% + 6px);
        height: calc(100% + 7px);
        left: -3px;
        top: 50%;
        transform: translateY(-50%);
    }

    &::after {
        content: "";
        position: absolute;
        background-image: url("/../images/page/dots.svg");
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: bottom;
        width: calc(100% + 6px);
        height: calc(100% + 7px);
        left: -3px;
        top: 50%;
        transform: translateY(-50%);
    }
}

.cursor {
    position: relative;

    &::after {
        content: "";
        position: absolute;
        background-image: url("/../images/page/cursor.svg");
        background-repeat: no-repeat;
        background-size: cover;
        width: 20px;
        height: 20px;
        right: -26px;
        bottom: -18px;
    }
}

.icon-right-top {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        background-image: url("/../images/page/text-icon.svg");
        background-repeat: no-repeat;
        background-size: cover;
        width: 53px;
        height: 50px;
        right: -31px;
        top: -8px;
    }
}

.left-arrow {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        background-image: url("/../images/page/line-icon.svg");
        background-repeat: no-repeat;
        background-size: cover;
        width: 36px;
        height: 144px;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        left: -57px;
    }
}

.arrow-left {
    position: relative;

    svg {
        position: absolute;
        transform: translateY(-50%);
        left: -57px;
        top: 50%;
    }
}

.advantage-list {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: 768px) {
        flex-direction: column;
        gap: 40px;
    }
}


@media (max-width: 1399px) {
    .icon-right-top::before {
        width: 43px;
        height: 40px;
        right: -23px;
        top: -3px;
    }
}

@media (max-width: 1199px) {
    .promo-img {
        margin-right: -50px;
        width: 620px;
    }

    .promo__wrapper {
        min-height: 475px;
    }

    .left-arrow::before {
        display: none;
    }

    .mt-130,
    div.tabs {
        margin-top: 110px!important;
    }
}

@media (max-width: 1023px) {
    .icon-right-top::before {
        right: -25px;
        top: -6px;
    }

    .promo-img {
        margin-right: -200px;
        width: 600px;
    }

    .mt-130,
    div.tabs {
        margin-top: 80px!important;
    }
    .advantages h2 span.border {
        display: none;
    }
}

@media (max-width: 899px) {
    .promo__wrapper {
        align-items: flex-start;
    }

    .promo__wrapper {
        min-height: 375px;
    }

    .promo-img {
        margin-right: -200px;
        width: 500px;
    }

    .mt-130,
    div.tabs {
        margin-top: 50px!important;
    }
}

@media (max-width: 767px) {
    .promo {
        margin-top: 40px;
    }

    .promo-img {
        display: none;
    }

    .promo-offer {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
    }

    .promo__wrapper {
        min-height: auto;
    }

    .promo-offer .top-text {
        margin-bottom: 5px;
    }

    .promo-offer__bottom {
        margin-top: 27px;
    }

    .promo-num-item h2 {
        font-size: 40px;
        line-height: 1.1;
    }

    .promo-num {
        margin-top: 30px;
        gap: 40px;
        justify-content: center;
    }

    .promo-offer__bottom {
        flex-direction: column;
        gap: 30px;
    }

    .user-icons {
        text-align: left;
    }

    .promo__wrapper h1.h1 {
        font-size: 36px;
    }

    .promo-num-item p {
        font-size: 16px;
        margin-top: 0;
    }

    .promo-num-item img {
        max-width: 70px;
        margin-top: 4px;

        &+p {
            margin-top: -6px;
        }
    }

    .promo-num {
        border-bottom: 1px solid #EEF0F2;
        padding-bottom: 10px;
    }

    .mt-130,
    div.tabs {
        margin-top: 40px!important;
    }

    h2.h2 {
        font-size: 28px;
    }

    .offer-sec__img {
        max-width: 200px;
    }

    .offer-sec {
        .promo-offer {
            text-align: left;
            align-items: flex-start;
        }
    }

    .offer-sec__btn {
        margin-top: 30px;
    }
    .tabs__top {
        gap: 24px!important;;
    }
}

@media (max-width: 599px) {
    .offer-sec_flex {
        flex-direction: column;
        gap: 24px;
    }

    .offer-sec {
        .promo-offer {
            text-align: center;
            align-items: center;
        }
    }

    .offer-sec__img {
        max-width: 100%;
    }
    
}

@media (max-width: 475px) {
    .promo-num-item h2 {
        font-size: 30px;
    }

    .promo-num-item p {
        font-size: 12px;
    }

    .promo-num-item img {
        max-width: 50px;
    }

    h2.h2 {
        font-size: 24px;
    }
    .tabs__top {
        gap: 20px!important;
    }
}

@media (max-width: 359px) {
    .promo__wrapper {
        .top-text {
            font-size: 12px;
        }
    }

    .promo-offer .bottom-text,
    .user-icons p {
        font-size: 12px;
        max-width: none;
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }

    .user-icons div img {
        width: 34px;
        height: 34px;
        min-width: 34px;
    }

    .promo-num-item p {
        font-size: 10px;
    }

    .promo-num-item img {
        max-width: 42px;
    }

    .mt-130,
    div.tabs {
        margin-top: 24px !important;
    }

    .offer-sec__btn {
        margin-top: 24px;
    }

    h2.h2 {
        font-size: 20px;
    }

    .offer-sec__btn {
        margin-top: 24px;
    }

    .top-text {
        font-size: 12px;
    }

    .promo-offer .bottom-text {
        margin-top: 10px;
    }

    .tabs__top {
        gap: 12px!important;
    }
}