.promo {
    margin-top: 30px;
}

.promo__wrapper {
    display: flex;
    align-items: center;
    min-height: 582px;
    position: relative;
}

.promo-ofer {
    max-width: 530px;

    .top-text {
        margin-bottom: 15px;
    }

    .bottom-text {
        margin-top: 40px;
    }
}

.top-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 0.03em;
    color: #838799;
}

.bottom-text {
    font-weight: 350;
    font-size: 18px;
    line-height: 24px;
    color: #546c97;
}

.promo-ofer__bottom {
    margin-top: 54px;
    display: flex;
    align-items: center;
    gap: 45px;
}

.user-icons {
    display: flex;
    align-items: center;
    gap: 15px;

    div {
        display: flex;
        flex-wrap: nowrap;

        img {
            width: 40px;
            min-width: 40px;
            height: 40px;
            margin-left: -15px;

            &:first-child {
                margin-left: 0;
            }
        }
    }

    p {
        font-weight: 350;
        font-size: 14px;
        line-height: 18px;
        color: #01153a;
        margin-bottom: 0;
    }
}

.promo-img {
    margin-right: -165px;
    position: absolute;
    right: 0;
    height: 100%;
    z-index: -1;
    object-fit: cover;
    width: 851px;

    img {
        width: inherit;
    }
}

.promo-num {
    margin-top: 15px;
    display: flex;
    gap: 130px;
}

.promo-num-item {
    height: fit-content;

    h2 {
        font-weight: 700;
        font-size: 60px;

        span {
            font-size: 30px;
            transform: translateX(-10px);
            display: inline-block;
        }
    }

    img {
        margin-top: 6px;
    }

    p {
        font-weight: 350;
        font-size: 18px;
        color: #546c97;
        margin-top: 6px;
    }
}

.border {
    background: rgba(255, 173, 97, 0.15);
    border: 1.3px dashed #ffad61;
    padding: 0 13px;
    position: absolute;
    width: calc(100% + 15px);
    left: 50%;
    transform: translateX(-50%);
    height: 100%;

    &::before {
        content: "";
        position: absolute;
        background-image: url("/../images/page/dots.svg");
        background-repeat: no-repeat;
        background-size: 100%;
        width: calc(100% + 6px);
        height: calc(100% + 7px);
        left: -3px;
        top: 50%;
        transform: translateY(-50%);
    }

    &::after {
        content: "";
        position: absolute;
        background-image: url("/../images/page/dots.svg");
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: bottom;
        width: calc(100% + 6px);
        height: calc(100% + 7px);
        left: -3px;
        top: 50%;
        transform: translateY(-50%);
    }
}

.cursor {
    position: relative;

    &::after {
        content: "";
        position: absolute;
        background-image: url("/../images/page/cursor.svg");
        background-repeat: no-repeat;
        background-size: cover;
        width: 20px;
        height: 20px;
        right: -26px;
        bottom: -18px;
    }
}

.icon-right-top {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        background-image: url("/../images/page/text-icon.svg");
        background-repeat: no-repeat;
        background-size: cover;
        width: 53px;
        height: 50px;
        right: -31px;
        top: -8px;
    }
}

.left-arrow {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        background-image: url("/../images/page/line-icon.svg");
        background-repeat: no-repeat;
        background-size: cover;
        width: 36px;
        height: 144px;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        left: -57px;
    }
}


@media (max-width: 1399px) {
    .icon-right-top::before {
        width: 43px;
        height: 40px;
        right: -23px;
        top: -3px;
    }
}

@media (max-width: 1199px) {
    .promo-img {
        margin-right: -50px;
        width: 620px;
    }

    .promo__wrapper {
        min-height: 475px;
    }

    .left-arrow::before {
        display: none;
    }

    .mt-130,
    div.tabs {
        margin-top: 110px!important;
    }
}

@media (max-width: 1023px) {
    .icon-right-top::before {
        right: -25px;
        top: -6px;
    }

    .promo-img {
        margin-right: -200px;
        width: 600px;
    }

    .mt-130,
    div.tabs {
        margin-top: 80px!important;
    }
}

@media (max-width: 899px) {
    .promo__wrapper {
        align-items: flex-start;
    }

    .promo__wrapper {
        min-height: 375px;
    }

    .promo-img {
        margin-right: -200px;
        width: 500px;
    }

    .mt-130,
    div.tabs {
        margin-top: 50px!important;
    }
}

@media (max-width: 767px) {
    .promo {
        margin-top: 40px;
    }

    .promo-img {
        display: none;
    }

    .promo-ofer {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
    }

    .promo__wrapper {
        min-height: auto;
    }

    .promo-ofer .top-text {
        margin-bottom: 5px;
    }

    .promo-ofer .bottom-text {
        margin-top: 14px;
        margin-bottom: 0;
        max-width: 360px;
        margin-left: auto;
        margin-right: auto;
    }

    .promo-ofer__bottom {
        margin-top: 27px;
    }

    .promo-num-item h2 {
        font-size: 40px;
        line-height: 1.1;
    }

    .promo-num {
        margin-top: 30px;
        gap: 40px;
        justify-content: center;
    }

    .promo-ofer__bottom {
        flex-direction: column;
        gap: 30px;
    }

    .user-icons {
        text-align: left;
    }

    .promo__wrapper h1.h1 {
        font-size: 36px;
    }

    .promo-num-item p {
        font-size: 16px;
        margin-top: 0;
    }

    .promo-num-item img {
        max-width: 70px;
        margin-top: 4px;

        &+p {
            margin-top: -6px;
        }
    }

    .promo-num {
        border-bottom: 1px solid #EEF0F2;
        padding-bottom: 10px;
    }

    .mt-130,
    div.tabs {
        margin-top: 40px!important;
    }

    h2.h2 {
        font-size: 28px;
    }

    .ofer-sec__img {
        max-width: 200px;
    }

    .ofer-sec {
        .promo-ofer {
            text-align: left;
            align-items: flex-start;
        }
    }

    .ofer-sec__btn {
        margin-top: 30px;
    }
}

@media (max-width: 599px) {
    .ofer-sec_flex {
        flex-direction: column;
        gap: 24px;
    }

    .ofer-sec {
        .promo-ofer {
            text-align: center;
            align-items: center;
        }
    }

    .ofer-sec__img {
        max-width: 100%;
    }
}

@media (max-width: 475px) {
    .promo-num-item h2 {
        font-size: 30px;
    }

    .promo-num-item p {
        font-size: 12px;
    }

    .promo-num-item img {
        max-width: 50px;
    }

    h2.h2 {
        font-size: 24px;
    }
}

@media (max-width: 359px) {
    .promo__wrapper {
        .top-text {
            font-size: 12px;
        }
    }

    .promo-ofer .bottom-text,
    .user-icons p {
        font-size: 12px;
    }

    .user-icons div img {
        width: 34px;
        height: 34px;
        min-width: 34px;
    }

    .promo-num-item p {
        font-size: 10px;
    }

    .promo-num-item img {
        max-width: 42px;
    }

    .mt-130,
    div.tabs {
        margin-top: 24px !important;
    }

    .ofer-sec__btn {
        margin-top: 24px;
    }

    h2.h2 {
        font-size: 20px;
    }

    .ofer-sec__btn {
        margin-top: 24px;
    }

    .top-text {
        font-size: 12px;
    }

    .promo-ofer .bottom-text {
        margin-top: 10px;
    }
}