.tabs {
    margin-top: 130px;
    z-index: 1;
    position: relative;
}

.sec-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    left: 0;
    top: 0;
    z-index: -1;
}

.tabs__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 35px;

    .bottom-text {
        max-width: 699px;
        margin: 0 auto;
    }
}

.tabs__top--btn {
    margin-top: 10px;
}

.tab-content-wrapper {
    margin-top: 60px;
}

.tabs-content {
    background: #ffffff;
    box-shadow: 0px 35px 50px rgba(54, 121, 253, 0.03);
    border-radius: 12px;
    padding: 0 40px 0 45px;
    max-width: 970px;
    margin: 0 auto;
    gap: 46px;
    align-items: center;
    display: flex;
    min-height: 300px;

    &.hide {
        display: none;
    }

    img {
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
    }

    .bottom-text {
        margin-top: 20px;
    }
}

.tab-link-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 60px auto 0 auto;
    max-width: 970px;
}

.tab {
    background: #eef0f2;
    border-radius: 12px 12px 0px 0px;
    font-weight: 400;
    font-size: 20px;
    line-height: 45px;
    color: #838799 !important;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding-right: 20px;
    padding: 5px 20px 0;
    position: relative;
    align-items: center;

    img {
        max-width: 105px;
        max-height: 80px;
        object-fit: cover;
        pointer-events: none;
        opacity: 0.3;
    }

    p {
        padding: 30px;
        padding-right: 10px;
        white-space: nowrap;
        pointer-events: none;
        margin-bottom: 0;
    }

    .progress {
        display: none;
        position: absolute;
        width: 100%;
        height: 3px;
        background: #eef0f2;
        left: 0;
        bottom: 0;

        span {
            background: #3679fd;
            position: absolute;
            left: 0;
            height: 100%;
            top: 0;
        }
    }
}


.tab-active {
    background: #ffffff;
    color: #01153A !important;

    .progress {
        display: block;

        span {
            animation: widthAnim 6s linear 0s 1 forwards;
        }
    }

    img {
        opacity: 1;
    }
}

@keyframes widthAnim {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}


@media (max-width: 1023px) {
    .tab-link-wrapper {
        margin-top: 40px;
    }

    .tab {
        gap: 10px;
        line-height: 25px;

        img {
            max-width: 91px;
            max-height: 68px;
        }

        p {
            margin-bottom: 0;
            font-size: 16px;
        }
    }

    .tab-content-wrapper {
        margin-top: 40px;
    }
}

@media (max-width: 992px) {
    .tabs-content {
        padding: 0 20px 0 20px;
        gap: 20px;

        img {
            max-width: 240px;
        }
    }

    .tab {
        img {
            max-width: 70px;
            max-height: 40px;
        }
    }

    .tab {
        justify-content: center;
        text-align: center;

        p {
            padding: 12px;
        }

        img {
            display: none;
        }
    }
}

@media (max-width: 767px) {
    h3.h3 {
        font-size: 22px;
    }
    .tab {
        line-height: 15px;
    }
}

@media (max-width: 575px) {
    .tab p {
        font-size: 14px;
        padding-left: 0;
        padding-right: 0;
    }

    .tab-link-wrapper {
        gap: 6px;
        margin-top: 20px;
    }

    .tabs-content {
        flex-direction: column;
        text-align: center;
    }

    h3.h3 {
        font-size: 20px;
    }

    .tabs-content {
        padding-top: 20px;
    }

    .tabs-wrapper {
        .bottom-text {
            margin-bottom: 20px;
        }
    }

    .tab {
        padding-left: 10px;
        padding-right: 10px;
    }

    .tab-content-wrapper {
        margin-top: 24px;
    }
}

@media (max-width: 359px) {
    h3.h3 {
        font-size: 16px;
    }

    .tabs-content .bottom-text {
        margin-top: 10px;
    }
}