.wr-resumes {
    margin-top: 60px;
    padding-bottom: 20px;
}

.items-resumes {
    display: grid;
    grid-row-gap: 48px;
    grid-column-gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 30px;
}

.item-card-resum {
    &__head {
        position: relative;
        border-radius: 12px;
        overflow: hidden;
        box-shadow: 0px 20px 30px 0px rgba(54, 121, 253, 0.06);

        img {
            width: 100%;
            max-width: 100%;
        }

        .doc-btn {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(1, 21, 58, 0.2823529412);
            z-index: 10;
            transition: opacity 0.2s ease-in-out;
            opacity: 0;
            gap: 16px;
        }

        a,
        button {
            min-width: 216px;
        }

        &:hover {
            .doc-btn {
                opacity: 1;
            }
        }
    }

    &__btn-top {
        display: flex;
        justify-content: center;
    }

    &__bot {
        margin-top: 24px;
    }

    &__tt {
        display: flex;
        align-items: center;
    }

    &__titl {
        font-weight: 400;
        font-size: 24px;
        color: #01153A !important;
    }

    &__types {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    &__desk {
        margin: 6px 0 0 0;
        font-weight: 400;
        font-size: 16px;
        color: #838799;
        text-align: left;
    }
}

.item-type {
    margin-left: 8px;
    background: #FFAD61;
    border-radius: 6px;
    padding: 6px 8px;
    color: #fff;
    font-size: 11px;
    background: #FFAD61;
    text-transform: uppercase;
    font-weight: 500;

    &.type-docx {
        background: #3679FD;
    }
}

.error-page-404 {
    margin: 0 auto;
}

.mtw-2 {
    margin-top: 6vw;
}

.mt-text-content {
    margin-top: 32px;
}

.content-text {
    line-height: 1.5;
    color: #01153A;
    font-weight: 400;
    font-size: 16px;

    p {
        margin-bottom: 1.3rem;
        display: flex;
    }

    h2 {
        font-weight: 700;
        font-size: 18px;
        color: #01153A;
        padding-top: 8px;
    }

    h3 {
        font-weight: 500;
        padding-top: 4px;
    }

    ul {
        list-style: none;
        counter-reset: li;

        ul {
            ul {
                padding-left: 30px;
            }
        }

        &>li {
            position: relative;

            p:before {
                counter-increment: li;
                content: counters(li, ".") ". ";
                display: inline-block;
                padding-right: 10px;
            }
        }

        &.no-style>li,
        &.no-pad>li {
            >p {
                &::before {
                    visibility: hidden;
                    display: none;
                }
            }
        }

        &.no-pad {
            padding-left: 40px;
        }

        &.no-mar_b {
            p {
                margin-bottom: 4px;
            }

            margin-bottom: 18px;
        }
    }

    ol {
        padding-left: 20px;

        li {
            list-style-type: lower-alpha;
        }
    }

    a {
        color: #1c63ef !important;
        text-decoration: underline !important;

        &:hover {
            text-decoration: none !important;
        }
    }

    .text-center p {
        justify-content: center;
    }

    .text-dec {
        text-decoration: underline;
    }
}



.btn-centers-w_t {
    margin-top: 32px;
}

.btn-centers-w_t2 {
    margin-top: 48px;
}

.card-color {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    margin-top: 14px;

    &__item {
        width: 34px;
        height: 34px;
        min-width: 34px;
        max-width: 34px;
        border-radius: 50%;
        cursor: pointer;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) scale(1.2);
            border: 2px solid rgba(54, 121, 253, 1);
            width: 100%;
            height: 100%;
            border-radius: inherit;
            opacity: 0;
        }

        &.active {
            &::before {
                opacity: 1;
            }
        }
    }
}

.card-color_t {
    gap: 12px;

    .card-color__item {
        width: 24px;
        height: 24px;
        min-width: 24px;
        max-width: 24px;

        &::before {
            transform: translate(-50%, -50%) scale(1.4);
        }
    }
}

.text-t-t {
    text-align: center;
    color: var(--grey);
    max-width: 770px;
    margin: 32px auto 0 auto;

    &_18 {
        font-size: 18px;
    }
}

.wr-select-row {
    margin-top: 64px;
    display: flex;
    justify-content: center;
}

.seler-r {
    display: flex;
    align-items: center;
    background: rgba(235, 235, 235, 0.3);
    border-radius: 40px;
    padding: 8px;
    gap: 22px;

    button,
    a {
        border-radius: 34px;
        background: transparent;
        color: #838799;
        font-size: 16px;
        padding: 12px 10px;
        cursor: pointer;
        font-weight: 400;

        &.active {
            color: #01153A;
            background: #fff;
            box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.12);
            padding-left: 30px;
            padding-right: 30px;
        }
    }
}

.bottom-text_grey {
    color: var(--grey) !important;
    margin-top: 20px;
}

@media(max-width: 1199px) {
    .items-resumes {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 767px) {
    .item-card-resum__titl {
        font-size: 26px;
    }

    .wr-select-row {
        margin-top: 40px;
    }
}

@media (max-width: 576px) {
    .content-text {
        font-size: 14px;

        h2 {
            font-size: 14px;
        }
    }

    .page-texts {

        .h1_p48,
        .bottom-text_grey {
            text-align: left !important;
        }

        .bottom-text {
            font-size: 14px;
        }
    }

    .content-text ul.no-pad {
        padding-left: 33px;
    }

    .items-resumes {
        grid-template-columns: 1fr;
        gap: 40px;
        grid-row-gap: 40px;
        grid-column-gap: 40px;
    }

    .item-card-resum__titl {
        font-size: 20px;
    }

    .item-card-resum__types {
        margin-left: auto;
    }

    .item-card-resum__desk {
        font-size: 14px;
    }

    .wr-resumes {
        margin-top: 32px;
    }

    .btn-centers-w.mt-40 {
        margin-top: 20px;
    }

    .text-t-t {
        font-size: 14px;
        margin-top: 24px;
    }

    .btn-centers-w_t {
        margin-top: 24px;
    }
}