.wr-resumes {
    margin-top: 60px;
    padding-bottom: 20px;
}

.resumes-tabs {
    display: flex;
    align-items: center;
    margin: 0 -15px;
}

.resumes-tab {
    margin: 0 15px;
    width: calc(20% - 30px);
}

.resumes-tab-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F6F8FA;
    border-radius: 12px 12px 0px 0px;
    padding: 27px 10px;
    width: 100%;
    font-weight: 400;
    font-size: 20px;
    color: #C4C7D0;
    transition: 0.3s;
    white-space: nowrap;

    svg {
        min-width: 21px;
        width: 21px;
        height: 21px;
        margin-right: 15px;
        fill: #C4C7D0;
        transition: 0.3s;
    }

    &:hover,
    &.active {
        color: #FFFFFF;
        background: #3679FD;

        svg {
            fill: #FFFFFF;
        }
    }
}

.items-resumes {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 30px;
}

.item-card-resum {
    &__head {
        position: relative;

        img {
            width: 100%;
            max-width: 100%;
        }

        .doc-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(1, 21, 58, 0.2823529412);
            z-index: 10;
            transition: opacity 0.2s ease-in-out;
            opacity: 0;

            a {
                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }
            }
        }

        &:hover {
            .doc-btn {
                opacity: 1;
            }
        }
    }

    &__bot {
        margin-top: 24px;
    }

    &__tt {
        display: flex;
        align-items: center;
    }

    &__titl {
        font-weight: 400;
        font-size: 30px;
        color: #01153A !important;
    }

    &__types {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    &__desk {
        margin: 6px 0 0 0;
        font-weight: 350;
        font-size: 18px;
        color: #838799;
        text-align: left;
    }
}

.item-type {
    margin-left: 8px;
    background: #FFAD61;
    border-radius: 6px;
    padding: 6px 8px;
    color: #fff;
    font-size: 12px;
    background: #FFAD61;
    text-transform: uppercase;

    &.type-docx {
        background: #3679FD;
    }
}

.error-page-404 {
    margin: 0 auto;
}

.mtw-2 {
    margin-top: 6vw;
}

.mt-text-content {
    margin-top: 4vw;
}

.content-text {
    line-height: 1.25;
    color: #01153A;
    font-weight: 350;
    font-size: 16px;

    p {
        margin-bottom: 1.3rem;
        display: flex;
    }

    h2 {
        font-weight: 700;
        font-size: 18px;
        color: #01153A;
        padding-top: 8px;
    }

    h3 {
        font-weight: 500;
        padding-top: 4px;
    }

    ul {
        list-style: none;
        counter-reset: li;

        ul {
            ul {
                padding-left: 30px;
            }
        }

        &>li {
            position: relative;

            p:before {
                counter-increment: li;
                content: counters(li, ".") ". ";
                display: inline-block;
                padding-right: 10px;
            }
        }

        &.no-style>li,
        &.no-pad>li {
            >p {
                &::before {
                    visibility: hidden;
                    display: none;
                }
            }
        }

        &.no-pad {
            padding-left: 40px;
        }

        &.no-mar_b {
            p {
                margin-bottom: 4px;
            }

            margin-bottom: 18px;
        }
    }

    ol {
        padding-left: 20px;

        li {
            list-style-type: lower-alpha;
        }
    }

    a {
        color: #1c63ef !important;
        text-decoration: underline !important;

        &:hover {
            text-decoration: none !important;
        }
    }

    .text-center p {
        justify-content: center;
    }

    .text-dec {
        text-decoration: underline;
    }
}

@media(max-width: 1199px) {
    .items-resumes {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 992px) {
    .resumes-tabs {
        overflow-x: auto;
        max-width: 100%;

        scrollbar-color: transparent transparent;
        scrollbar-width: 0;

        &::-webkit-scrollbar {
            width: 0;
            height: 0;
            background-color: transparent;
            border-radius: 0;
        }

        &::-webkit-scrollbar-thumb {
            background-color: transparent;
            border-radius: 0;
            width: 0;
        }
    }

    .resumes-tab {
        width: auto;
        min-width: calc(28% - 30px);
    }

    .resumes-tab-btn {
        padding: 14px 12px;
    }
}

@media (max-width: 767px) {
    .resumes-tabs {
        margin: 0 -20px;
        padding: 0 16px;
        max-width: calc(100% + 32px);
    }

    .resumes-tab {
        margin: 0 4px;
        min-width: auto;
    }

    .resumes-tab-btn {
        font-size: 18px;
    }

    .item-card-resum__titl {
        font-size: 26px;
    }
}

@media (max-width: 576px) {
    .content-text {
        font-size: 12px;

        h2 {
            font-size: 14px;
        }
    }

    .content-text ul.no-pad {
        padding-left: 33px;
    }

    .items-resumes {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .item-card-resum__titl {
        font-size: 20px;
    }

    .item-card-resum__types {
        margin-left: auto;
    }

    .item-card-resum__desk {
        font-size: 14px;
    }

    .wr-resumes {
        margin-top: 32px;
    }

    .resumes-tab-btn {
        font-size: 14px;
    }

    .resumes-tab-btn svg {
        min-width: 14px;
        width: 14px;
        margin-right: 10px;
    }

    .btn-centers-w.mt-40 {
        margin-top: 20px;
    }
}