@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat/Montserrat-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Hind';
  src: url('./fonts/Hind/Hind-Regular.ttf');
}

@font-face {
  font-family: 'Rubik';
  src: url('./fonts/Rubik/Rubik-VariableFont_wght.ttf');
}

  /* Colors */
  $main_color_1: #333333;
  $main_color_2: #ffffff;
  $main_color_3: #eeeff0;
  $main_color_4: #888888;

  $color_set_1_additional_color_1: #606c70;
  $color_set_2_additional_color_1: #ac132a;
  $color_set_3_additional_color_1: #c43d16;
  $color_set_4_additional_color_1: #e14e2b;
  $color_set_5_additional_color_1: #a8795e;
  $color_set_6_additional_color_1: #006955;
  $color_set_7_additional_color_1: #56a08e;
  $color_set_8_additional_color_1: #9f8cc9;
  $color_set_9_additional_color_1: #81acc6;

.sv_006 {
  font-weight: 400;

  /* Global */
  * {
    padding: 0;
    margin: 0;
  }

  *, *:before, *:after {
    box-sizing: border-box;
    font-family: 'Hind', sans-serif;
  }

  .empty-field {
    opacity: 0.3;
  }

  .hide {
    display: none !important;
  }

  // Blocks
  .cv-name {
    font-family: 'Montserrat', sans-serif;
  }

  .cv-profession {
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  .cv-body {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: $main_color_2;
  }

  .cv-body-content {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .cv-body-area {
    &.top-area {
      padding: 30px 30px 25px;
    }

    &.middle-area {
      padding: 20px 30px;
    }
  }

  .top-area {
    display: flex;
    .photo-wrapper {
      width: 106px;
      height: 106px;
      flex-shrink: 0;
    }

    .photo {
      width: 100%;
      height: 100%;
      border-radius: 100%;
      background-size: cover;
      background-position: 50% 50%;
      overflow: hidden;
    }

    .profile-information {
      display: flex;
      border-top-width: 2px;
      border-top-style: solid;
      padding-top: 20px;
      column-gap: 25px;
      flex: 1;
    }

    .profile-info {
      display: flex;
      flex-direction: column;
      row-gap: 5px;

      .profile-info-text {
        margin-top: 15px;
      }
    }

    .profile-additional-info {
      width: 100%;
      display: flex;
      margin-top: 20px;
      flex-wrap: wrap;
      column-gap: 10px;
      row-gap: 10px;
      .item-block {
        display: flex;
        align-items: center;
        column-gap: 4px;
        span {
          font-family: 'Rubik';

          &.name {
            font-weight: 300;
          }
        }
      }
    }
  }

  .middle-area {
    display: flex;
    flex: 1;
    padding: 25px 30px;
    background: $main_color_3;

    .column-1 {
      flex: 1;
      display: flex;
      flex-direction: column;
      flex-basis: 300%;
      .block-block {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: stretch;
        .right-side {
          padding-top: 10px;
        }
        &:first-child {
          .right-side {
            padding-top: 0px;
            .block-circle {
              top: 24px;
            }
          }
          .left-side {
            padding-top: 24px;
          }
        }
        .left-side {
          width: 56px;
          padding-top: 34px;

          .date-range {
            font-weight: 600;
          }
        }
        .right-side {
          flex: 1;
          border-left-width: 1px;
          border-left-style: solid;
          padding-left: 19px;
          position: relative;
          .block-circle {
            position: absolute;
            display: block;
            border-radius: 50%;
            width: 7px;
            height: 7px;
            top: 34px;
            left: -4px;
          }
        }
        &.block-net {
          .left-side {
            padding-top: 10px;
          }
          .right-side {
            .block-circle {
              top: 10px;
            }
          }
        }
        &.references-block {
          flex-direction: column;
        }
      }

      .references-block {
        border-top-width: 1px;
        border-top-style: dotted;
        margin-top: 15px;
        padding-top: 15px;
        .block-content-wrapper {
          display: flex;
          column-gap: 20px;
          margin-top: 6px;
          &:nth-child(2) {
            margin-top: 0;
          }
        }
        .references-name {
          font-weight: 600;
        }
      }
    }

    .column-2 {
      display: flex;
      flex-direction: column;
      padding-left: 25px;
      border-left-width: 1px;
      border-left-style: dotted;
      margin-left: 25px;
      .block-block {
        min-width: 94px;
        &:not(:first-child) {
          margin-top: 10px;
          padding-top: 10px;
          border-top-width: 1px;
          border-top-style: dotted;
        }
      }
      .skills-block {
        .skills-list-item {
          &:not(:last-child) {
            margin-bottom: 12px;
          }
        }
        .skills-name {
          font-weight: 600;
        }
        .skill-estimation-point-list {
          height: 10px;
          display: flex;
          align-items: center;
          column-gap: 2px;
        }
        svg {
          width: 10px;
          height: 10px;
        }
      }
      .languages-block {
        .language-list-item {
          &:not(:last-child) {
            margin-bottom: 12px;
          }
        }
        .language-name {
          font-weight: 600;
          margin-bottom: 2px;
        }
        .language-skill-estimation-wrapper {
          display: flex;
          height: 7px;
          border-radius: 5px;
          border-width: 1px;
          border-style: solid;
          padding: 0 1px;
          box-sizing: border-box;
          padding: 1px;
        }
        .estimation-value {
          display: block;
          border-radius: 5px;
          box-sizing: border-box;
        }
      }
      .certificates-block {
        .certificates-info {
          display: flex;
          flex-direction: column;
          row-gap: 6px;
        }
      }
    }
  }

  .bottom-area {
    display: flex;
    .bottom-block {
      flex: 1;
      display: flex;
      justify-content: space-between;
      padding: 0 30px;
      height: 46px;
      box-sizing: border-box;
      column-gap: 10px;
    }
    .footer-block {
      display: flex;
      align-items: center;
      column-gap: 5px;
      svg {
        width: 15px;
        height: 15px;
        flex-shrink: 0;
      }
      .social-info {
        display: flex;
        column-gap: 5px;
      }
      &.phone,
      &.email,
      &.links {
        flex-shrink: 0;
      }
    }
  }

  .block-block {
    .cv-heading {
      text-transform: uppercase;
      font-family: 'Montserrat';
      font-weight: 700;
      letter-spacing: 1px;
      margin-bottom: 10px;
    }
    .cv-subheading {
      font-weight: 600;
      letter-spacing: 0.24px;
      margin-bottom: 5px;
    }
  }

  .details-block {
    .details-wrapper {
      .details-item {
        margin-bottom: 3px;

        &:last-child {
          margin-bottom: 0px;
        }
      }
    }
  }

  /* Stylization */
  #cv-chapter-section-cv {
    .photo-block {
      display: none;
    }

    &.has-photo {
      .photo-block {
        display: flex;
      }
    }
  }

  .cv-letter-text {
    .line_text {
      &::before {
        background: $main_color_1;
      }
    }
  }

  .bottom-area {
    .line_text {
      &::before {
        background: $main_color_2;
      }
    }
  }

  .cv-body-2 {
    .cv-body-content {
      flex-direction: column;

      .columns-wrapper {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: stretch;
      }

      .cv-body-area {
        &.top-area {
          padding: 30px 30px 0;
        }

        &.top-area {
          .profile-information {
            padding-top: 30px;
          }
        }

        &.middle-area {
          padding: 30px 50px;

          .cv-heading {
            margin-bottom: 15px;
          }
        }

        &.bottom-area {
          display: flex;
          flex: 1;
          align-items: flex-end;
          min-height: 100px;

          .block-block {
            margin-top: 0px;
          }

          .cv-destination {
            padding: 30px 51px;
            flex-basis: 100%;

            .cv-destination-block {
              height: 100%;

              .destination-details {
                height: 100%;
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                justify-content: flex-start;

                .block-block {
                  .cv-heading {
                    margin-bottom: 5px;
                  }
                }

                .to-block {
                  width: 118px;
                  margin-right: 80px;
                }

                p {
                  margin-bottom: 2px;

                  &:last-child {
                    margin-bottom: 0px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

    /* Font size scheme */
    .font-size-scheme-state-small {
      .font-size-1 {
        font-size: 8px;
      }
  
      .font-size-2 {
        font-size: 10px;
      }
  
      .font-size-3 {
        font-size: 25px;
      }
    }
  
    .font-size-scheme-state-medium {
      .font-size-1 {
        font-size: 10px;
      }
  
      .font-size-2 {
        font-size: 12px;
      }
  
      .font-size-3 {
        font-size: 27px;
      }
  
      .cv-body.cv-body-1 {
        .cv-body-content {
          .cv-body-area.middle-area {
            .column-1 {
              .block-block {
                .right-side {
                  .block-circle {
                    top: 38px;
                  }
                }
                &:first-child {
                  .right-side {
                    .block-circle {
                      top: 28px;
                    }
                  }
                }

                &.block-net {
                  .right-side {
                    .block-circle {
                      top: 13px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  
    .font-size-scheme-state-big {
      .font-size-1 {
        font-size: 12px;
      }
  
      .font-size-2 {
        font-size: 14px;
      }
  
      .font-size-3 {
        font-size: 29px;
      }

      .cv-body.cv-body-1 {
        .cv-body-content {
          .cv-body-area.middle-area {
            .column-1 {
              .block-block {
                .right-side {
                  .block-circle {
                    top: 41px;
                  }
                }
                &:first-child {
                  .right-side {
                    .block-circle {
                      top: 30px;
                    }
                  }
                }

                &.block-net {
                  .right-side {
                    .block-circle {
                      top: 13px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  
    /* Line height scheme */
    .line-height-scheme-state-small {
      .cv-body-content {
        line-height: 1.2;
      }
    }
  
    .line-height-scheme-state-medium {
      .cv-body-content {
        line-height: 1.4;
      }
    }
  
    .line-height-scheme-state-big {
      .cv-body-content {
        line-height: 1.6;
      }
    }

  /* Color scheme */
  .color-scheme-state-color-set-1 {
    .main-color-1-text {
      color: $main_color_1;
    }

    .main-color-1-background {
      background-color: $main_color_1;
    }

    .main-color-2-text {
      color: $main_color_2;
    }

    .main-color-2-border {
      border-color: $main_color_2;
    }

    .main-color-3-background {
      background-color: $main_color_3;
    }

    .additional-color-1-text {
      color: $color_set_1_additional_color_1;
    }

    .additional-color-1-border {
      border-color: $color_set_1_additional_color_1;
    }

    .additional-color-1-background {
      background-color: $color_set_1_additional_color_1;
    }

    .additional-color-1-svg-path {
      path {
        stroke: $color_set_1_additional_color_1;
        fill: transparent;
      }
    }

    .additional-color-1-svg {
      path {
        fill: $color_set_1_additional_color_1;
      }
    }
  }

  .color-scheme-state-color-set-2 {
    .main-color-1-text {
      color: $main_color_1;
    }

    .main-color-1-background {
      background-color: $main_color_1;
    }

    .main-color-2-text {
      color: $main_color_2;
    }

    .main-color-2-border {
      border-color: $main_color_2;
    }

    .main-color-3-background {
      background-color: $main_color_3;
    }

    .additional-color-1-text {
      color: $color_set_2_additional_color_1;
    }

    .additional-color-1-border {
      border-color: $color_set_2_additional_color_1;
    }

    .additional-color-1-background {
      background-color: $color_set_2_additional_color_1;
    }

    .additional-color-1-svg-path {
      path {
        stroke: $color_set_2_additional_color_1;
        fill: transparent;
      }
    }

    .additional-color-1-svg {
      path {
        fill: $color_set_2_additional_color_1;
      }
    }
  }

  .color-scheme-state-color-set-3 {
    .main-color-1-text {
      color: $main_color_1;
    }

    .main-color-1-background {
      background-color: $main_color_1;
    }

    .main-color-2-text {
      color: $main_color_2;
    }

    .main-color-2-border {
      border-color: $main_color_2;
    }

    .main-color-3-background {
      background-color: $main_color_3;
    }

    .additional-color-1-text {
      color: $color_set_3_additional_color_1;
    }

    .additional-color-1-border {
      border-color: $color_set_3_additional_color_1;
    }

    .additional-color-1-background {
      background-color: $color_set_3_additional_color_1;
    }

    .additional-color-1-svg-path {
      path {
        stroke: $color_set_3_additional_color_1;
        fill: transparent;
      }
    }

    .additional-color-1-svg {
      path {
        fill: $color_set_3_additional_color_1;
      }
    }
  }

  .color-scheme-state-color-set-4 {
    .main-color-1-text {
      color: $main_color_1;
    }

    .main-color-1-background {
      background-color: $main_color_1;
    }

    .main-color-2-text {
      color: $main_color_2;
    }

    .main-color-2-border {
      border-color: $main_color_2;
    }

    .main-color-3-background {
      background-color: $main_color_3;
    }

    .additional-color-1-text {
      color: $color_set_4_additional_color_1;
    }

    .additional-color-1-border {
      border-color: $color_set_4_additional_color_1;
    }

    .additional-color-1-background {
      background-color: $color_set_4_additional_color_1;
    }

    .additional-color-1-svg-path {
      path {
        stroke: $color_set_4_additional_color_1;
        fill: transparent;
      }
    }

    .additional-color-1-svg {
      path {
        fill: $color_set_4_additional_color_1;
      }
    }
  }

  .color-scheme-state-color-set-5 {
    .main-color-1-text {
      color: $main_color_1;
    }

    .main-color-1-background {
      background-color: $main_color_1;
    }

    .main-color-2-text {
      color: $main_color_2;
    }

    .main-color-2-border {
      border-color: $main_color_2;
    }

    .main-color-3-background {
      background-color: $main_color_3;
    }

    .additional-color-1-text {
      color: $color_set_5_additional_color_1;
    }

    .additional-color-1-border {
      border-color: $color_set_5_additional_color_1;
    }

    .additional-color-1-background {
      background-color: $color_set_5_additional_color_1;
    }

    .additional-color-1-svg-path {
      path {
        stroke: $color_set_5_additional_color_1;
        fill: transparent;
      }
    }

    .additional-color-1-svg {
      path {
        fill: $color_set_5_additional_color_1;
      }
    }
  }

  .color-scheme-state-color-set-6 {
    .main-color-1-text {
      color: $main_color_1;
    }

    .main-color-1-background {
      background-color: $main_color_1;
    }

    .main-color-2-text {
      color: $main_color_2;
    }

    .main-color-2-border {
      border-color: $main_color_2;
    }

    .main-color-3-background {
      background-color: $main_color_3;
    }

    .additional-color-1-text {
      color: $color_set_6_additional_color_1;
    }

    .additional-color-1-border {
      border-color: $color_set_6_additional_color_1;
    }

    .additional-color-1-background {
      background-color: $color_set_6_additional_color_1;
    }

    .additional-color-1-svg-path {
      path {
        stroke: $color_set_6_additional_color_1;
        fill: transparent;
      }
    }

    .additional-color-1-svg {
      path {
        fill: $color_set_6_additional_color_1;
      }
    }
  }

  .color-scheme-state-color-set-7 {
    .main-color-1-text {
      color: $main_color_1;
    }

    .main-color-1-background {
      background-color: $main_color_1;
    }

    .main-color-2-text {
      color: $main_color_2;
    }

    .main-color-2-border {
      border-color: $main_color_2;
    }

    .main-color-3-background {
      background-color: $main_color_3;
    }

    .additional-color-1-text {
      color: $color_set_7_additional_color_1;
    }

    .additional-color-1-border {
      border-color: $color_set_7_additional_color_1;
    }

    .additional-color-1-background {
      background-color: $color_set_7_additional_color_1;
    }

    .additional-color-1-svg-path {
      path {
        stroke: $color_set_7_additional_color_1;
        fill: transparent;
      }
    }

    .additional-color-1-svg {
      path {
        fill: $color_set_7_additional_color_1;
      }
    }
  }


  .color-scheme-state-color-set-8 {
    .main-color-1-text {
      color: $main_color_1;
    }

    .main-color-1-background {
      background-color: $main_color_1;
    }

    .main-color-2-text {
      color: $main_color_2;
    }

    .main-color-2-border {
      border-color: $main_color_2;
    }

    .main-color-3-background {
      background-color: $main_color_3;
    }

    .additional-color-1-text {
      color: $color_set_8_additional_color_1;
    }

    .additional-color-1-border {
      border-color: $color_set_8_additional_color_1;
    }

    .additional-color-1-background {
      background-color: $color_set_8_additional_color_1;
    }

    .additional-color-1-svg-path {
      path {
        stroke: $color_set_8_additional_color_1;
        fill: transparent;
      }
    }

    .additional-color-1-svg {
      path {
        fill: $color_set_8_additional_color_1;
      }
    }
  }

  .color-scheme-state-color-set-9 {
    .main-color-1-text {
      color: $main_color_1;
    }

    .main-color-1-background {
      background-color: $main_color_1;
    }

    .main-color-2-text {
      color: $main_color_2;
    }

    .main-color-2-border {
      border-color: $main_color_2;
    }

    .main-color-3-background {
      background-color: $main_color_3;
    }

    .additional-color-1-text {
      color: $color_set_9_additional_color_1;
    }

    .additional-color-1-border {
      border-color: $color_set_9_additional_color_1;
    }

    .additional-color-1-background {
      background-color: $color_set_9_additional_color_1;
    }

    .additional-color-1-svg-path {
      path {
        stroke: $color_set_9_additional_color_1;
        fill: transparent;
      }
    }

    .additional-color-1-svg {
      path {
        fill: $color_set_9_additional_color_1;
      }
    }
  }
}