@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat/Montserrat-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Hind';
  src: url('./fonts/Hind/Hind-Regular.ttf');
}

@font-face {
  font-family: 'Hind';
  src: url('./fonts/Rubik/Rubik-VariableFont_wght.ttf');
}

.sv_006 {
  font-family: 'Hind', sans-serif;

  * {
    padding: 0px;
    margin: 0px;
    font-family: 'Hind', sans-serif;
  }

  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }

  // body {
  //   display: flex;
  //   flex-direction: row;
  //   align-items: flex-start;
  //   justify-content: center;
  //   background-color: #504F4F;
  // }

  .font-weight-300 {
    font-weight: 300;
  }

  .font-weight-400 {
    font-weight: 400;
  }

  .font-weight-500 {
    font-weight: 500;
  }

  .font-weight-600 {
    font-weight: 600;
  }

  .font-weight-700 {
    font-weight: 700;
  }

  // .cv-chapter-section {
  //   margin: 20px;
  // }

  .skill-estimation-point-list {
    svg {
      width: 10px;
      height: 10px;
    }
  }

  #cv-body-hidden-container {
    height: auto;
    max-height: none;
    position: absolute;
    z-index: -1;
    opacity: 0;
    pointer-events: none;
  }

  .cv-body {
    min-width: 595px;
    min-height: 764px;
    height: 764px;
    max-height: 764px;
    background-color: #fff;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .cv-body-content {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: stretch;

      .cv-body-area {
        &.top-area {
          display: flex;
          flex-direction: row;
          align-items: stretch;
          justify-content: stretch;
          padding: 30px 30px 30px;

          .profile-information {
            flex: 1;
            display: flex;
            flex-direction: row;
            align-items: stretch;
            justify-content: stretch;
            border-top-width: 2px;
            border-top-style: solid;
            padding-top: 20px;

            .cv-name {
              font-family: 'Montserrat', sans-serif;
            }
          }
        }

        &.middle-area {
          flex: 1;
          padding: 0px 30px;
        }

        &.bottom-area {}
      }
    }

    &.cv-body-1 {
      .cv-body-content {
        .cv-body-area {
          &.top-area {
            display: flex;
            flex-direction: row;
            align-items: stretch;
            justify-content: stretch;

            .photo-wrapper {
              margin: 0px 25px 0px 10px;
            }

            .profile-info {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              justify-content: flex-start;

              .cv-prophecy {
                margin: 5px 0px 15px !important;
                text-transform: uppercase;
                font-weight: 500;
              }

              .profile-additional-info {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                margin-top: 20px;
                font-family: 'Rubik', sans-serif;

                .profile-info-item {
                  display: flex;
                  flex-direction: row;
                  align-items: center;
                  justify-content: flex-start;
                  margin-right: 15px;

                  .item-name {
                    margin-right: 4px;
                  }
                }
              }
            }
          }

          &.middle-area {
            display: flex;
            flex-direction: row;
            align-items: stretch;
            justify-content: space-between;
            padding: 25px 25px 25px 30px;

            .column-1 {
              flex: 1;
              display: flex;
              flex-direction: column;
              align-items: stretch;
              justify-content: stretch;

              .block-block {
                display: flex;
                flex-direction: row;
                align-items: stretch;
                justify-content: stretch;

                .right-side {
                  padding-top: 9px;
                }

                &:first-child {
                  .right-side {
                    padding-top: 0px;
                  }
                }

                .heading-type-3 {
                  margin-bottom: 9px !important;
                }

                .left-side {
                  width: 54px;
                  padding-top: 35px;
                }

                .right-side {
                  flex: 1;
                  border-left-width: 1px;
                  border-left-style: solid;
                  padding-left: 19px;
                  position: relative;

                  .block-circle {
                    position: absolute;
                    display: block;
                    border-radius: 50%;
                    width: 7px;
                    height: 7px;
                    top: 35px;
                    left: -4px;
                  }
                }
              }
            }

            .column-2 {
              width: 120px;
              display: flex;
              flex-direction: column;
              align-items: stretch;
              justify-content: stretch;
              padding-left: 25px;
              border-left-width: 1px;
              border-left-style: dotted;
              margin-left: 25px;

              .block-block {
                .heading-type-3 {
                  margin-bottom: 10px !important;
                }
              }
            }
          }

          &.bottom-area {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            .footer-block {
              display: flex;
              align-items: center;

              svg {
                margin-right: 5px;
              }

              &.social {
                a {
                  &:last-child {
                    margin-left: 4px;
                  }
                }
              }
            }
          }
        }
      }
    }

    &.cv-body-2 {
      .cv-body-content {
        flex-direction: column;

        .name-block {}

        .columns-wrapper {
          display: flex;
          flex-direction: row;
          align-items: stretch;
          justify-content: stretch;
        }

        .cv-body-area {
          &.top-area {
            .cv-name {
              margin-left: 19px;
            }
          }

          &.middle-area {
            padding: 0px 50px;

            .cv-heading {
              margin-bottom: 15px;
            }
          }

          &.bottom-area {
            padding: 30px 51px;
            min-height: 140px;

            .block-block {
              margin-top: 0px;
            }

            .cv-destination {
              height: 100%;

              .cv-destination-block {
                height: 100%;

                .destination-details {
                  height: 100%;
                  display: flex;
                  flex-direction: row;
                  align-items: flex-start;
                  justify-content: flex-start;

                  .block-block {
                    .cv-heading {
                      margin-bottom: 5px;
                    }
                  }

                  .to-block {
                    width: 118px;
                    margin-right: 80px;
                  }

                  p {
                    margin-bottom: 2px;

                    &:last-child {
                      margin-bottom: 0px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

  }

  .block-block {
    .heading-type-3 {
      margin-bottom: 5px !important;
      text-transform: uppercase;
    }

    p {
      margin-bottom: 5px;

      &:last-child {
        margin-bottom: 0px;
      }
    }
  }

  .skills-block {
    border-top-width: 1px;
    border-top-style: dotted;
    padding: 10px 0px 0px 0px;

    .heading-type-3 {
      margin-bottom: 10px !important;
    }

    .skills-list {
      .skills-list-item {
        margin-bottom: 12px;

        &:last-child {
          margin-bottom: 0px;
        }

        p {}

        .skill-estimation-point-list {
          height: 10px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;

          svg {
            width: 10px;
            height: 10px;
            margin-right: 2px;
          }
        }
      }
    }
  }

  .languages-block {
    .heading-type-3 {
      margin-bottom: 10px !important;
    }

    .languages-list {
      .language-list-item {
        margin-bottom: 12px;

        &:last-child {
          margin-bottom: 0px;
        }

        p {
          margin-bottom: 3px;
        }

        .language-skill-estimation-wrapper {
          display: flex;
          flex-direction: row;
          align-items: stretch;
          justify-content: stretch;
          height: 7px;
          border-radius: 5px;
          border-width: 1px;
          border-style: solid;
          padding: 0px 1px;
          box-sizing: border-box;
          margin-bottom: 12px;
          padding: 1px;

          &:last-child {
            margin-bottom: 10px;
          }

          .estimation-value {
            display: block;
            border-radius: 5px;
            box-sizing: border-box;
          }
        }
      }
    }
  }

  .details-block {
    .details-wrapper {
      .details-item {
        margin-bottom: 3px;

        &:last-child {
          margin-bottom: 0px;
        }
      }
    }
  }

  .references-block {
    border-top-width: 1px;
    border-top-style: dotted;
    margin-top: 15px;
    padding-top: 15px;
    flex-direction: column !important;

    .block-content-wrapper {
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }
  }

  .certificates-block {
    border-top-width: 1px;
    border-top-style: dotted;
    margin-top: 10px;

    .heading-type-3 {
      margin-top: 10px !important;
      margin-bottom: 5px !important;
    }
  }

  .hobbies-block {
    border-top-width: 1px;
    border-top-style: dotted;
    margin-top: 10px;

    .heading-type-3 {
      margin-top: 10px !important;
      margin-bottom: 5px !important;
    }
  }

  .bottom-block {
    flex: 1;
    display: flex;
    justify-content: space-between;
    padding: 0px 30px;
    height: 46px;
    box-sizing: border-box;
  }

  /* Control panel */
  #control-panel {
    position: fixed;
    top: 10px;
    right: 10px;

    .control-panel-item-block {
      border: 1px solid #ccc;
      background-color: #fff;
      border-radius: 5px;
      padding: 5px 10px;

      &.toggle-photo-block {
        opacity: 0.25;

        a {
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;

          img {
            display: block;
            width: 50px;
            height: 50px;
          }
        }

        &.active {
          opacity: 1;
        }
      }

      .control-panel-heading {
        font-size: 11px;
        margin: 0px 0px 0px 0px;
      }

      .control-panel-item-input-list {
        &.radio-input-list {
          .input-list-item {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            cursor: pointer;
            margin: 3px 0px;

            .radio-input {
              display: block;
              border-radius: 50%;
              border: 2px solid #d6d0d0;
              width: 7px;
              height: 7px;
              background-color: transparent;
              margin-right: 5px;
              pointer-events: none;
            }

            .radio-input-label {
              font-size: 10px;
              pointer-events: none;
            }

            &.active {
              .radio-input {
                background-color: #d6d0d0;
              }
            }
          }

          &.color-list {
            .input-list-item {
              .radio-input-label {
                flex: 1;
                height: 15px;
                border-radius: 3px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;

                .color-set-color {
                  display: block;
                  border-radius: 50%;
                  width: 15px;
                  height: 15px;
                  border: 0.5px solid #d4d4d4;
                }
              }
            }
          }
        }
      }
    }
  }

  /* Stylization */
  #cv-chapter-section-cv {
    .photo-block {
      display: none;
    }

    &.has-photo {
      .photo-block {
        display: flex;
      }
    }
  }

  /* Font size scheme */
  .font-size-scheme-state-small {
    .font-size-1 {
      font-size: 8px;
    }

    .font-size-2 {
      font-size: 10px;
    }

    .font-size-3 {
      font-size: 25px;
    }
  }

  .font-size-scheme-state-medium {
    .font-size-1 {
      font-size: 10px;
    }

    .font-size-2 {
      font-size: 12px;
    }

    .font-size-3 {
      font-size: 22px;
    }
  }

  .font-size-scheme-state-big {
    .font-size-1 {
      font-size: 12px;
    }

    .font-size-2 {
      font-size: 14px;
    }

    .font-size-3 {
      font-size: 25px;
    }
  }

  /* Line height scheme */
  .line-height-scheme-state-small {
    .line-height-1 {
      line-height: 11.2px;
    }

    .line-height-2 {
      line-height: 14px;
    }

    .line-height-3 {
      line-height: 16.01px;
    }

    .line-height-4 {
      line-height: 28.75px;
    }
  }

  .line-height-scheme-state-medium {
    .line-height-1 {
      line-height: 14px;
    }

    .line-height-2 {
      line-height: 16.8px;
    }

    .line-height-3 {
      line-height: 26.07px;
    }

    .line-height-4 {
      line-height: 28.75px;
    }
  }

  .line-height-scheme-state-big {
    .line-height-1 {
      line-height: 16.8px;
    }

    .line-height-2 {
      line-height: 19.6px;
    }

    .line-height-3 {
      line-height: 29.63px;
    }

    .line-height-4 {
      line-height: 28.75px;
    }
  }

  /* Colors */
  $main_color_1: rgba(51, 51, 51, 1);
  $main_color_2: rgba(255, 255, 255, 1);
  $main_color_3: rgba(238, 239, 240, 1);
  $main_color_4: rgba(136, 136, 136, 1);
  $color_set_1_additional_color_1: rgba(96, 108, 112, 1);
  $color_set_2_additional_color_1: rgba(172, 19, 42, 1);
  $color_set_3_additional_color_1: rgba(196, 61, 22, 1);
  $color_set_4_additional_color_1: rgba(225, 78, 43, 1);
  $color_set_5_additional_color_1: rgba(168, 121, 94, 1);
  $color_set_6_additional_color_1: rgba(0, 105, 85, 1);
  $color_set_7_additional_color_1: rgba(86, 160, 142, 1);
  $color_set_8_additional_color_1: rgba(159, 140, 201, 1);
  $color_set_9_additional_color_1: rgba(129, 172, 198, 1);

  /* Color scheme */
  .color-scheme-state-color-set-1 {
    .main-color-1-text {
      color: $main_color_1;
    }

    .main-color-1-background {
      background-color: $main_color_1;
    }

    .main-color-2-text {
      color: $main_color_2;
    }

    .main-color-2-border {
      border-color: $main_color_2;
    }

    .main-color-3-background {
      background-color: $main_color_3;
    }

    .additional-color-1-text {
      color: $color_set_1_additional_color_1;
    }

    .additional-color-1-border {
      border-color: $color_set_1_additional_color_1;
    }

    .additional-color-1-background {
      background-color: $color_set_1_additional_color_1;
    }

    .additional-color-1-svg-path {
      path {
        stroke: $color_set_1_additional_color_1;
        fill: transparent;
      }
    }

    .additional-color-1-svg {
      path {
        fill: $color_set_1_additional_color_1;
      }
    }
  }

  .color-scheme-state-color-set-2 {
    .main-color-1-text {
      color: $main_color_1;
    }

    .main-color-1-background {
      background-color: $main_color_1;
    }

    .main-color-2-text {
      color: $main_color_2;
    }

    .main-color-2-border {
      border-color: $main_color_2;
    }

    .main-color-3-background {
      background-color: $main_color_3;
    }

    .additional-color-1-text {
      color: $color_set_2_additional_color_1;
    }

    .additional-color-1-border {
      border-color: $color_set_2_additional_color_1;
    }

    .additional-color-1-background {
      background-color: $color_set_2_additional_color_1;
    }

    .additional-color-1-svg-path {
      path {
        stroke: $color_set_2_additional_color_1;
        fill: transparent;
      }
    }

    .additional-color-1-svg {
      path {
        fill: $color_set_2_additional_color_1;
      }
    }
  }

  .color-scheme-state-color-set-3 {
    .main-color-1-text {
      color: $main_color_1;
    }

    .main-color-1-background {
      background-color: $main_color_1;
    }

    .main-color-2-text {
      color: $main_color_2;
    }

    .main-color-2-border {
      border-color: $main_color_2;
    }

    .main-color-3-background {
      background-color: $main_color_3;
    }

    .additional-color-1-text {
      color: $color_set_3_additional_color_1;
    }

    .additional-color-1-border {
      border-color: $color_set_3_additional_color_1;
    }

    .additional-color-1-background {
      background-color: $color_set_3_additional_color_1;
    }

    .additional-color-1-svg-path {
      path {
        stroke: $color_set_3_additional_color_1;
        fill: transparent;
      }
    }

    .additional-color-1-svg {
      path {
        fill: $color_set_3_additional_color_1;
      }
    }
  }

  .color-scheme-state-color-set-4 {
    .main-color-1-text {
      color: $main_color_1;
    }

    .main-color-1-background {
      background-color: $main_color_1;
    }

    .main-color-2-text {
      color: $main_color_2;
    }

    .main-color-2-border {
      border-color: $main_color_2;
    }

    .main-color-3-background {
      background-color: $main_color_3;
    }

    .additional-color-1-text {
      color: $color_set_4_additional_color_1;
    }

    .additional-color-1-border {
      border-color: $color_set_4_additional_color_1;
    }

    .additional-color-1-background {
      background-color: $color_set_4_additional_color_1;
    }

    .additional-color-1-svg-path {
      path {
        stroke: $color_set_4_additional_color_1;
        fill: transparent;
      }
    }

    .additional-color-1-svg {
      path {
        fill: $color_set_4_additional_color_1;
      }
    }
  }

  .color-scheme-state-color-set-5 {
    .main-color-1-text {
      color: $main_color_1;
    }

    .main-color-1-background {
      background-color: $main_color_1;
    }

    .main-color-2-text {
      color: $main_color_2;
    }

    .main-color-2-border {
      border-color: $main_color_2;
    }

    .main-color-3-background {
      background-color: $main_color_3;
    }

    .additional-color-1-text {
      color: $color_set_5_additional_color_1;
    }

    .additional-color-1-border {
      border-color: $color_set_5_additional_color_1;
    }

    .additional-color-1-background {
      background-color: $color_set_5_additional_color_1;
    }

    .additional-color-1-svg-path {
      path {
        stroke: $color_set_5_additional_color_1;
        fill: transparent;
      }
    }

    .additional-color-1-svg {
      path {
        fill: $color_set_5_additional_color_1;
      }
    }
  }

  .color-scheme-state-color-set-6 {
    .main-color-1-text {
      color: $main_color_1;
    }

    .main-color-1-background {
      background-color: $main_color_1;
    }

    .main-color-2-text {
      color: $main_color_2;
    }

    .main-color-2-border {
      border-color: $main_color_2;
    }

    .main-color-3-background {
      background-color: $main_color_3;
    }

    .additional-color-1-text {
      color: $color_set_6_additional_color_1;
    }

    .additional-color-1-border {
      border-color: $color_set_6_additional_color_1;
    }

    .additional-color-1-background {
      background-color: $color_set_6_additional_color_1;
    }

    .additional-color-1-svg-path {
      path {
        stroke: $color_set_6_additional_color_1;
        fill: transparent;
      }
    }

    .additional-color-1-svg {
      path {
        fill: $color_set_6_additional_color_1;
      }
    }
  }

  .color-scheme-state-color-set-7 {
    .main-color-1-text {
      color: $main_color_1;
    }

    .main-color-1-background {
      background-color: $main_color_1;
    }

    .main-color-2-text {
      color: $main_color_2;
    }

    .main-color-2-border {
      border-color: $main_color_2;
    }

    .main-color-3-background {
      background-color: $main_color_3;
    }

    .additional-color-1-text {
      color: $color_set_7_additional_color_1;
    }

    .additional-color-1-border {
      border-color: $color_set_7_additional_color_1;
    }

    .additional-color-1-background {
      background-color: $color_set_7_additional_color_1;
    }

    .additional-color-1-svg-path {
      path {
        stroke: $color_set_7_additional_color_1;
        fill: transparent;
      }
    }

    .additional-color-1-svg {
      path {
        fill: $color_set_7_additional_color_1;
      }
    }
  }


  .color-scheme-state-color-set-8 {
    .main-color-1-text {
      color: $main_color_1;
    }

    .main-color-1-background {
      background-color: $main_color_1;
    }

    .main-color-2-text {
      color: $main_color_2;
    }

    .main-color-2-border {
      border-color: $main_color_2;
    }

    .main-color-3-background {
      background-color: $main_color_3;
    }

    .additional-color-1-text {
      color: $color_set_8_additional_color_1;
    }

    .additional-color-1-border {
      border-color: $color_set_8_additional_color_1;
    }

    .additional-color-1-background {
      background-color: $color_set_8_additional_color_1;
    }

    .additional-color-1-svg-path {
      path {
        stroke: $color_set_8_additional_color_1;
        fill: transparent;
      }
    }

    .additional-color-1-svg {
      path {
        fill: $color_set_8_additional_color_1;
      }
    }
  }

  .color-scheme-state-color-set-9 {
    .main-color-1-text {
      color: $main_color_1;
    }

    .main-color-1-background {
      background-color: $main_color_1;
    }

    .main-color-2-text {
      color: $main_color_2;
    }

    .main-color-2-border {
      border-color: $main_color_2;
    }

    .main-color-3-background {
      background-color: $main_color_3;
    }

    .additional-color-1-text {
      color: $color_set_9_additional_color_1;
    }

    .additional-color-1-border {
      border-color: $color_set_9_additional_color_1;
    }

    .additional-color-1-background {
      background-color: $color_set_9_additional_color_1;
    }

    .additional-color-1-svg-path {
      path {
        stroke: $color_set_9_additional_color_1;
        fill: transparent;
      }
    }

    .additional-color-1-svg {
      path {
        fill: $color_set_9_additional_color_1;
      }
    }
  }

  /* Custom class for custom color and font-size or line-height */
  /* ReactJS scripts shoud change CUSTOM_FONT_SIZE, CUSTOM_LINE_HEIGHT and CUSTOM_COLOR to any values
  AND change appropriate container classes to font-size-scheme-state-custom, line-height-scheme-state-custom, color-scheme-state-color-set-custom */
  .font-size-scheme-state-custom {
    .font-size-1 {
      /* font-size: CUSTOM_FONT_SIZE; */
    }

    .font-size-2 {
      /* font-size: CUSTOM_FONT_SIZE; */
    }

    .font-size-3 {
      /* font-size: CUSTOM_FONT_SIZE; */
    }
  }

  /* Line height scheme */
  .line-height-scheme-state-custom {
    .line-height-1 {
      /* line-height: CUSTOM_LINE_HEIGHT; */
    }

    .line-height-2 {
      /* line-height: CUSTOM_LINE_HEIGHT; */
    }

    .line-height-3 {
      /* line-height: CUSTOM_LINE_HEIGHT; */
    }

    .line-height-4 {
      /* line-height: CUSTOM_LINE_HEIGHT; */
    }
  }


  .color-scheme-state-color-set-custom {
    .main-color-1-text {
      color: $main_color_1;
    }

    .main-color-1-background {
      background-color: $main_color_1;
    }

    .main-color-2-text {
      color: $main_color_2;
    }

    .main-color-2-border {
      border-color: $main_color_2;
    }

    .main-color-3-background {
      background-color: $main_color_3;
    }

    .additional-color-1-text {
      /* color: CUSTOM_COLOR; */
    }

    .additional-color-1-border {
      /* border-color: CUSTOM_COLOR; */
    }

    .additional-color-1-background {
      /* background-color: CUSTOM_COLOR; */
    }

    .additional-color-1-svg-path {
      path {
        /* stroke: CUSTOM_COLOR; */
        fill: transparent;
      }
    }

    .additional-color-1-svg {
      path {
        /* fill: CUSTOM_COLOR; */
      }
    }
  }

}

.hideOpas {
  opacity: 0;
  visibility: hidden;
}

.block-net {
  .left-side {
    padding-top: 11px !important;
  }

  .right-side .block-circle {
    top: 15px !important;
  }
}