@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat/Montserrat-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Hind';
  src: url('./fonts/Hind/Hind-Regular.ttf');
}

@font-face {
  font-family: 'Rubik';
  src: url('./fonts/Rubik/Rubik-VariableFont_wght.ttf');
}

  /* Colors */
  $main_color_1: #333333;
  $main_color_2: #ffffff;
  $main_color_3: #eeeff0;
  $main_color_4: #888888;

  $color_set_1_additional_color_1: #606c70;
  $color_set_2_additional_color_1: #ac132a;
  $color_set_3_additional_color_1: #c43d16;
  $color_set_4_additional_color_1: #e14e2b;
  $color_set_5_additional_color_1: #a8795e;
  $color_set_6_additional_color_1: #006955;
  $color_set_7_additional_color_1: #56a08e;
  $color_set_8_additional_color_1: #9f8cc9;
  $color_set_9_additional_color_1: #81acc6;

.sv_006 {
  font-family: 'Hind';

  * {
    padding: 0px;
    margin: 0px;
    font-family: 'Hind', sans-serif;
  }

  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }

  .skill-estimation-point-list {
    svg {
      width: 10px;
      height: 10px;
    }
  }

  #cv-body-hidden-container,
  #cv-body-2 {
    height: auto;
    max-height: none;
    position: absolute;
    z-index: -1;
    opacity: 0;
    pointer-events: none;
  }

  .cv-body {
    min-width: 595px;
    min-height: 764px;
    height: 764px;
    max-height: 764px;
    background-color: #fff;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .cv-body-content {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: stretch;

      .cv-body-area {
        &.top-area {
          padding: 30px 30px 25px;

          .profile-information {
            display: flex;
            border-top-width: 2px;
            border-top-style: solid;
            padding-top: 20px;
            column-gap: 25px;

            .cv-name {
              font-family: 'Montserrat', sans-serif;
            }
          }
        }

        &.middle-area {
          flex: 1;
          padding: 0px 30px;
        }
      }
    }

    &.cv-body-1 {
      .cv-body-content {
        font-weight: 400;
        .cv-body-area {
          &.top-area {
            display: flex;
            flex-direction: row;
            align-items: stretch;
            justify-content: stretch;

            .photo-wrapper {
              width: 106px;
              height: 106px;
              flex-shrink: 0;
              border-radius: 100%;
              overflow: hidden;

              .photo {
                width: 106px;
                height: 106px;
                border-radius: 100%;
                background-size: 106px auto;
                background-position: 50% 50%;
                overflow: hidden;
              }
            }

            .profile-info {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              justify-content: flex-start;

              .cv-prophecy {
                letter-spacing: 2px;
                margin-top: 5px;
                text-transform: uppercase;
                font-weight: 500;
              }

              .profile-info-text {
                margin-top: 15px;
              }

              .profile-additional-info {
                width: 100%;
                display: flex;
                margin-top: 20px;
                flex-wrap: wrap;
                column-gap: 10px;
                row-gap: 10px;

                .profile-info-item {
                  display: flex;
                  align-items: center;
                  column-gap: 4px;
                  span {
                    font-family: 'Rubik';

                    &.item-name {
                      font-weight: 300;
                    }
                  }
                }
              }
            }
          }

          &.middle-area {
            display: flex;
            flex-direction: row;
            align-items: stretch;
            justify-content: space-between;
            padding: 25px 25px 25px 30px;

            .column-1 {
              flex: 1;
              display: flex;
              flex-direction: column;
              align-items: stretch;
              justify-content: stretch;

              .block-block {
                display: flex;
                flex-direction: row;
                align-items: stretch;
                justify-content: stretch;

                .right-side {
                  padding-top: 10px;
                }

                &:first-child {
                  .right-side {
                    padding-top: 0px;
                    .block-circle {
                      top: 24px;
                    }
                  }
                  .left-side {
                    padding-top: 24px;
                  }
                }

                .left-side {
                  width: 56px;
                  padding-top: 34px;

                  .date-range {
                    font-weight: 600;
                  }
                }

                .right-side {
                  flex: 1;
                  border-left-width: 1px;
                  border-left-style: solid;
                  padding-left: 19px;
                  position: relative;

                  .block-circle {
                    position: absolute;
                    display: block;
                    border-radius: 50%;
                    width: 7px;
                    height: 7px;
                    top: 34px;
                    left: -4px;
                  }
                }

                &.block-net {
                  .left-side {
                    padding-top: 10px;
                  }
                  .right-side {
                    .block-circle {
                      top: 10px;
                    }
                  }
                }
              }
            }

            .column-2 {
              width: 120px;
              display: flex;
              flex-direction: column;
              align-items: stretch;
              justify-content: stretch;
              padding-left: 25px;
              border-left-width: 1px;
              border-left-style: dotted;
              margin-left: 25px;

              .block-block {
                padding-top: 10px;
                
                &:not(:first-child) {
                  margin-top: 10px;
                }

                &:first-child {
                  padding-top: 0;
                }
              }
            }
          }

          &.bottom-area {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            .footer-block {
              display: flex;
              align-items: center;

              svg {
                margin-right: 5px;
              }

              &.social {
                a {
                  &:last-child {
                    margin-left: 4px;
                  }
                }
              }
            }
          }
        }
      }

      &.page-2,
      &.page-3,
      &.page-4 {
        .cv-body-content {
          .cv-body-area {
            .column-2 {
              .block-block {
                border-top: 0;
                margin: 0;
              }
            }
          }
        }
      }
    }

    &.cv-body-2 {
      .cv-body-content {
        flex-direction: column;

        .columns-wrapper {
          display: flex;
          flex-direction: row;
          align-items: stretch;
          justify-content: stretch;
        }

        .cv-body-area {
          &.top-area {
            .cv-name {
              margin-left: 19px;
            }
          }

          &.middle-area {
            padding: 0px 50px;

            .cv-heading {
              margin-bottom: 15px;
            }
          }

          &.bottom-area {
            padding: 30px 51px;
            min-height: 140px;

            .block-block {
              margin-top: 0px;
            }

            .cv-destination {
              height: 100%;

              .cv-destination-block {
                height: 100%;

                .destination-details {
                  height: 100%;
                  display: flex;
                  flex-direction: row;
                  align-items: flex-start;
                  justify-content: flex-start;

                  .block-block {
                    .cv-heading {
                      margin-bottom: 5px;
                    }
                  }

                  .to-block {
                    width: 118px;
                    margin-right: 80px;
                  }

                  p {
                    margin-bottom: 2px;

                    &:last-child {
                      margin-bottom: 0px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .block-block {
    .cv-heading {
      text-transform: uppercase;
      font-family: 'Montserrat';
      font-weight: 700;
      letter-spacing: 1px;
      margin-bottom: 10px !important;
    }
    .cv-subheading {
      font-weight: 600;
      letter-spacing: 0.24px;
      margin-bottom: 5px;
    }
  }

  .skills-block {
    border-top-width: 1px;
    border-top-style: dotted;
    padding: 10px 0px 0px 0px;

    .skills-list {
      .skills-list-item {

        .skills-name {
          font-weight: 600;
        }

        &:not(:last-child) {
          margin-bottom: 12px;
        }

        .skill-estimation-point-list {
          height: 10px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;
          column-gap: 2px;

          svg {
            width: 10px;
            height: 10px;
          }
        }
      }
    }
  }

  .languages-block {
    .languages-list {
      .language-list-item {
        &:not(:last-child) {
          margin-bottom: 12px;
        }

        .language-name {
          font-weight: 600;
          margin-bottom: 2px;
        }

        .language-skill-estimation-wrapper {
          display: flex;
          flex-direction: row;
          align-items: stretch;
          justify-content: stretch;
          height: 7px;
          border-radius: 5px;
          border-width: 1px;
          border-style: solid;
          padding: 0px 1px;
          box-sizing: border-box;
          padding: 1px;

          .estimation-value {
            display: block;
            border-radius: 5px;
            box-sizing: border-box;
          }
        }
      }
    }
  }

  .details-block {
    .details-wrapper {
      .details-item {
        margin-bottom: 3px;

        &:last-child {
          margin-bottom: 0px;
        }
      }
    }
  }

  .references-block {
    border-top-width: 1px;
    border-top-style: dotted;
    margin-top: 15px;
    padding-top: 15px;
    flex-direction: column !important;

    .block-content-wrapper {
      display: flex;
      column-gap: 20px;

      &:not(:first-of-type) {
        margin-top: 6px;
      }
    }

    .references-name {
      font-weight: 600;
    }
  }

  .certificates-block {
    border-top-width: 1px;
    border-top-style: dotted;
    margin-top: 10px;
    .certificates-info {
      display: flex;
      flex-direction: column;
      row-gap: 6px;
    }
  }

  .hobbies-block {
    border-top-width: 1px;
    border-top-style: dotted;
    margin-top: 10px;
  }

  .bottom-block {
    flex: 1;
    display: flex;
    justify-content: space-between;
    padding: 0px 30px;
    height: 46px;
    box-sizing: border-box;
  }

  /* Control panel */
  #control-panel {
    position: fixed;
    top: 10px;
    right: 10px;

    .control-panel-item-block {
      border: 1px solid #ccc;
      background-color: #fff;
      border-radius: 5px;
      padding: 5px 10px;

      &.toggle-photo-block {
        opacity: 0.25;

        a {
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;

          img {
            display: block;
            width: 50px;
            height: 50px;
          }
        }

        &.active {
          opacity: 1;
        }
      }

      .control-panel-heading {
        font-size: 11px;
        margin: 0px 0px 0px 0px;
      }

      .control-panel-item-input-list {
        &.radio-input-list {
          .input-list-item {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            cursor: pointer;
            margin: 3px 0px;

            .radio-input {
              display: block;
              border-radius: 50%;
              border: 2px solid #d6d0d0;
              width: 7px;
              height: 7px;
              background-color: transparent;
              margin-right: 5px;
              pointer-events: none;
            }

            .radio-input-label {
              font-size: 10px;
              pointer-events: none;
            }

            &.active {
              .radio-input {
                background-color: #d6d0d0;
              }
            }
          }

          &.color-list {
            .input-list-item {
              .radio-input-label {
                flex: 1;
                height: 15px;
                border-radius: 3px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;

                .color-set-color {
                  display: block;
                  border-radius: 50%;
                  width: 15px;
                  height: 15px;
                  border: 0.5px solid #d4d4d4;
                }
              }
            }
          }
        }
      }
    }
  }

  /* Stylization */
  #cv-chapter-section-cv {
    .photo-block {
      display: none;
    }

    &.has-photo {
      .photo-block {
        display: flex;
      }
    }
  }

  .cv-letter-text {
    .line_text {
      &::before {
        background: $main_color_1;
      }
    }
  }

  .bottom-area {
    .line_text {
      &::before {
        background: $main_color_2;
      }
    }
  }


    /* Font size scheme */
    .font-size-scheme-state-small {
      .font-size-1 {
        font-size: 8px;
      }
  
      .font-size-2 {
        font-size: 10px;
      }
  
      .font-size-3 {
        font-size: 25px;
      }
    }
  
    .font-size-scheme-state-medium {
      .font-size-1 {
        font-size: 10px;
      }
  
      .font-size-2 {
        font-size: 12px;
      }
  
      .font-size-3 {
        font-size: 27px;
      }
  
      .cv-body.cv-body-1 {
        .cv-body-content {
          .cv-body-area.middle-area {
            .column-1 {
              .block-block {
                .right-side {
                  .block-circle {
                    top: 38px;
                  }
                }
                &:first-child {
                  .right-side {
                    .block-circle {
                      top: 28px;
                    }
                  }
                }

                &.block-net {
                  .right-side {
                    .block-circle {
                      top: 13px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  
    .font-size-scheme-state-big {
      .font-size-1 {
        font-size: 12px;
      }
  
      .font-size-2 {
        font-size: 14px;
      }
  
      .font-size-3 {
        font-size: 29px;
      }

      .cv-body.cv-body-1 {
        .cv-body-content {
          .cv-body-area.middle-area {
            .column-1 {
              .block-block {
                .right-side {
                  .block-circle {
                    top: 41px;
                  }
                }
                &:first-child {
                  .right-side {
                    .block-circle {
                      top: 30px;
                    }
                  }
                }

                &.block-net {
                  .right-side {
                    .block-circle {
                      top: 13px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  
    /* Line height scheme */
    .line-height-scheme-state-small {
      .cv-body-content {
        line-height: 1.2;
      }
    }
  
    .line-height-scheme-state-medium {
      .cv-body-content {
        line-height: 1.4;
      }
    }
  
    .line-height-scheme-state-big {
      .cv-body-content {
        line-height: 1.6;
      }
    }

  /* Color scheme */
  .color-scheme-state-color-set-1 {
    .main-color-1-text {
      color: $main_color_1;
    }

    .main-color-1-background {
      background-color: $main_color_1;
    }

    .main-color-2-text {
      color: $main_color_2;
    }

    .main-color-2-border {
      border-color: $main_color_2;
    }

    .main-color-3-background {
      background-color: $main_color_3;
    }

    .additional-color-1-text {
      color: $color_set_1_additional_color_1;
    }

    .additional-color-1-border {
      border-color: $color_set_1_additional_color_1;
    }

    .additional-color-1-background {
      background-color: $color_set_1_additional_color_1;
    }

    .additional-color-1-svg-path {
      path {
        stroke: $color_set_1_additional_color_1;
        fill: transparent;
      }
    }

    .additional-color-1-svg {
      path {
        fill: $color_set_1_additional_color_1;
      }
    }
  }

  .color-scheme-state-color-set-2 {
    .main-color-1-text {
      color: $main_color_1;
    }

    .main-color-1-background {
      background-color: $main_color_1;
    }

    .main-color-2-text {
      color: $main_color_2;
    }

    .main-color-2-border {
      border-color: $main_color_2;
    }

    .main-color-3-background {
      background-color: $main_color_3;
    }

    .additional-color-1-text {
      color: $color_set_2_additional_color_1;
    }

    .additional-color-1-border {
      border-color: $color_set_2_additional_color_1;
    }

    .additional-color-1-background {
      background-color: $color_set_2_additional_color_1;
    }

    .additional-color-1-svg-path {
      path {
        stroke: $color_set_2_additional_color_1;
        fill: transparent;
      }
    }

    .additional-color-1-svg {
      path {
        fill: $color_set_2_additional_color_1;
      }
    }
  }

  .color-scheme-state-color-set-3 {
    .main-color-1-text {
      color: $main_color_1;
    }

    .main-color-1-background {
      background-color: $main_color_1;
    }

    .main-color-2-text {
      color: $main_color_2;
    }

    .main-color-2-border {
      border-color: $main_color_2;
    }

    .main-color-3-background {
      background-color: $main_color_3;
    }

    .additional-color-1-text {
      color: $color_set_3_additional_color_1;
    }

    .additional-color-1-border {
      border-color: $color_set_3_additional_color_1;
    }

    .additional-color-1-background {
      background-color: $color_set_3_additional_color_1;
    }

    .additional-color-1-svg-path {
      path {
        stroke: $color_set_3_additional_color_1;
        fill: transparent;
      }
    }

    .additional-color-1-svg {
      path {
        fill: $color_set_3_additional_color_1;
      }
    }
  }

  .color-scheme-state-color-set-4 {
    .main-color-1-text {
      color: $main_color_1;
    }

    .main-color-1-background {
      background-color: $main_color_1;
    }

    .main-color-2-text {
      color: $main_color_2;
    }

    .main-color-2-border {
      border-color: $main_color_2;
    }

    .main-color-3-background {
      background-color: $main_color_3;
    }

    .additional-color-1-text {
      color: $color_set_4_additional_color_1;
    }

    .additional-color-1-border {
      border-color: $color_set_4_additional_color_1;
    }

    .additional-color-1-background {
      background-color: $color_set_4_additional_color_1;
    }

    .additional-color-1-svg-path {
      path {
        stroke: $color_set_4_additional_color_1;
        fill: transparent;
      }
    }

    .additional-color-1-svg {
      path {
        fill: $color_set_4_additional_color_1;
      }
    }
  }

  .color-scheme-state-color-set-5 {
    .main-color-1-text {
      color: $main_color_1;
    }

    .main-color-1-background {
      background-color: $main_color_1;
    }

    .main-color-2-text {
      color: $main_color_2;
    }

    .main-color-2-border {
      border-color: $main_color_2;
    }

    .main-color-3-background {
      background-color: $main_color_3;
    }

    .additional-color-1-text {
      color: $color_set_5_additional_color_1;
    }

    .additional-color-1-border {
      border-color: $color_set_5_additional_color_1;
    }

    .additional-color-1-background {
      background-color: $color_set_5_additional_color_1;
    }

    .additional-color-1-svg-path {
      path {
        stroke: $color_set_5_additional_color_1;
        fill: transparent;
      }
    }

    .additional-color-1-svg {
      path {
        fill: $color_set_5_additional_color_1;
      }
    }
  }

  .color-scheme-state-color-set-6 {
    .main-color-1-text {
      color: $main_color_1;
    }

    .main-color-1-background {
      background-color: $main_color_1;
    }

    .main-color-2-text {
      color: $main_color_2;
    }

    .main-color-2-border {
      border-color: $main_color_2;
    }

    .main-color-3-background {
      background-color: $main_color_3;
    }

    .additional-color-1-text {
      color: $color_set_6_additional_color_1;
    }

    .additional-color-1-border {
      border-color: $color_set_6_additional_color_1;
    }

    .additional-color-1-background {
      background-color: $color_set_6_additional_color_1;
    }

    .additional-color-1-svg-path {
      path {
        stroke: $color_set_6_additional_color_1;
        fill: transparent;
      }
    }

    .additional-color-1-svg {
      path {
        fill: $color_set_6_additional_color_1;
      }
    }
  }

  .color-scheme-state-color-set-7 {
    .main-color-1-text {
      color: $main_color_1;
    }

    .main-color-1-background {
      background-color: $main_color_1;
    }

    .main-color-2-text {
      color: $main_color_2;
    }

    .main-color-2-border {
      border-color: $main_color_2;
    }

    .main-color-3-background {
      background-color: $main_color_3;
    }

    .additional-color-1-text {
      color: $color_set_7_additional_color_1;
    }

    .additional-color-1-border {
      border-color: $color_set_7_additional_color_1;
    }

    .additional-color-1-background {
      background-color: $color_set_7_additional_color_1;
    }

    .additional-color-1-svg-path {
      path {
        stroke: $color_set_7_additional_color_1;
        fill: transparent;
      }
    }

    .additional-color-1-svg {
      path {
        fill: $color_set_7_additional_color_1;
      }
    }
  }


  .color-scheme-state-color-set-8 {
    .main-color-1-text {
      color: $main_color_1;
    }

    .main-color-1-background {
      background-color: $main_color_1;
    }

    .main-color-2-text {
      color: $main_color_2;
    }

    .main-color-2-border {
      border-color: $main_color_2;
    }

    .main-color-3-background {
      background-color: $main_color_3;
    }

    .additional-color-1-text {
      color: $color_set_8_additional_color_1;
    }

    .additional-color-1-border {
      border-color: $color_set_8_additional_color_1;
    }

    .additional-color-1-background {
      background-color: $color_set_8_additional_color_1;
    }

    .additional-color-1-svg-path {
      path {
        stroke: $color_set_8_additional_color_1;
        fill: transparent;
      }
    }

    .additional-color-1-svg {
      path {
        fill: $color_set_8_additional_color_1;
      }
    }
  }

  .color-scheme-state-color-set-9 {
    .main-color-1-text {
      color: $main_color_1;
    }

    .main-color-1-background {
      background-color: $main_color_1;
    }

    .main-color-2-text {
      color: $main_color_2;
    }

    .main-color-2-border {
      border-color: $main_color_2;
    }

    .main-color-3-background {
      background-color: $main_color_3;
    }

    .additional-color-1-text {
      color: $color_set_9_additional_color_1;
    }

    .additional-color-1-border {
      border-color: $color_set_9_additional_color_1;
    }

    .additional-color-1-background {
      background-color: $color_set_9_additional_color_1;
    }

    .additional-color-1-svg-path {
      path {
        stroke: $color_set_9_additional_color_1;
        fill: transparent;
      }
    }

    .additional-color-1-svg {
      path {
        fill: $color_set_9_additional_color_1;
      }
    }
  }

  .hideOpas {
    opacity: 0;
    visibility: hidden;
  }
}