@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter/Inter-All.ttf');
}

@font-face {
  font-family: 'Pridi';
  src: url('./fonts/Pridi/Pridi-Regular.ttf');
  font-weight: 400;
}

.sv_016 {
  font-family: 'Inter', sans-serif;

  * {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    font-family: 'Inter', sans-serif;
  }

  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-weight: 700;
  }

  .font-weight-300 {
    font-weight: 300;
  }

  .font-weight-400 {
    font-weight: 400;
  }

  .font-weight-500 {
    font-weight: 500;
  }

  .font-weight-600 {
    font-weight: 600;
  }

  .font-weight-700 {
    font-weight: 700;
  }

  .font-weight-900 {
    font-weight: 900;
  }

  .cv-prophecy {
    text-align: left;
  }

  .cv-name {
    text-align: left;
    font-family: 'Pridi', sans-serif;
  }

  .name-and-prophecy-wrapper {
    margin-top: 17px;
    margin-top: 5px;
  }


  .item-value-container {
    height: 3px;
    width: 155px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: stretch;
    background: linear-gradient(270deg, #60A9CC 0%, #D13B83 100%);

    .item-value {
      width: 50%;
      background-color: transparent;
      position: relative;
      height: 100%;
    }

    .item-value-point {
      position: absolute;
      transform: translate(10px, -50%);
      right: 0px;
      top: 50%;
    }

    .empty-gap {
      flex: 1;
      height: 100%;
    }
  }

  .photo-wrapper {
    display: flex;
    justify-content: center;

    img {
      display: block;
      border-radius: 50%;
      width: 139px;
      height: 139px;
    }
  }

  #cv-body-hidden-container {
    height: auto;
    max-height: none;
    position: absolute;
    z-index: -1;
    opacity: 0;
    pointer-events: none;
  }

  .cv-body {
    min-width: 595px;
    min-height: 764px;
    height: 764px;
    max-height: 764px;
    background-color: #fff;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;

    .cv-body-content {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: stretch;
      height: 100%;
      position: relative;
      z-index: 10;

      .circle-shade {
        position: absolute;
        display: block;
        width: 578px;
        height: 681px;
        top: 111px;
        left: -373px;
        z-index: -1;
      }

      .top-area {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: stretch;
        margin: 23px 30px 0px 30px;
      }

      .middle-area {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: stretch;
        margin: 2px 30px 23px 30px;
      }

      .column-left {
        width: 172px;
        margin: 0px 25px 0px 0px;
      }

      .column-right {
        width: 338px;
        margin: 0px 0px 0px 0px
      }
    }

    &.cv-body-1 {
      .cv-body-content {
        .cv-body-area {}
      }
    }

    &.cv-body-2 {
      .cv-body-content {
        .top-area {
          .cv-name {
            margin-top: 34px;
          }
        }

        .middle-area {
          margin-top: 68px;
        }

        .column-left {
          .letter-block {
            width: 340px;
            margin: 18px 0px 0px 0px;

            .letter-heading {
              margin-bottom: 15px;
            }
          }
        }

        .column-right {
          .destination-block {
            padding: 122px 13px 125px 13px;

            .block-from {
              margin-top: 20px;
            }

            .heading-type-1 {
              margin-bottom: 5px;
            }

            p {
              margin-bottom: 3px;

              &:last-child {
                margin-bottom: 0px;
              }
            }
          }
        }
      }
    }

  }

  .text-block-list {
    ul {
      li {
        list-style-type: disc;
        margin-left: 16px;
        margin-top: 6px;
      }
    }

    .text-block {
      position: relative;
      padding-left: 13px;

      .circle-point {
        position: absolute;
        display: block;
        width: 3px;
        height: 3px;
        border-radius: 50%;
        background-color: #000;
        top: 3px;
        left: 4px;
      }
    }
  }

  /* Block styling */
  .block-block {
    .heading-wrapper {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
    }

    .underheading-line {
      width: 100%;
      height: 0.25px;
      background-color: rgba(102, 102, 102, 1);
      margin-top: 5px;
    }

    .block-subheading {
      margin-top: 5px;
    }

    .date-range {
      margin-top: 5px;
    }
  }

  .details-block {
    p {
      margin-top: 5px;
    }
  }

  .additional-details-block {
    margin-top: 10px;

    .block-item {
      margin-top: 5px;

      &:first-child {
        margin-top: 0px;
      }
    }
  }

  .links-block {
    margin-top: 10px;

    a {
      display: block;
      margin-top: 3px;

      &:first-child {
        margin-top: 5px;
      }
    }
  }

  .skills-block {
    margin-top: 10px;

    p {
      margin-top: 0px;

      &:first-child {
        margin-top: 5px;
      }
    }
  }

  .hobbies-block {
    margin-top: 10px;

    p {
      margin-top: 5px;
    }
  }

  .languages-block {
    margin-top: 10px;

    p {
      margin-top: 0px;

      &:first-child {
        margin-top: 5px;
      }
    }
  }

  .references-block {
    margin-top: 10px;

    p {
      margin-top: 5px;
    }
  }

  .profile-block {
    p {
      margin-top: 5px;
    }
  }

  .employment-history-block {
    margin-top: 10px;

    .text-block-list {
      .text-block {
        margin-top: 5px;
      }
    }
  }

  .education-block {
    margin-top: 10px;

    p {
      margin-top: 5px;
    }
  }

  .courses-block {
    margin-top: 10px;

  }

  .certificates-block {
    margin-top: 10px;

    p {
      margin-top: 5px;
    }
  }

  .extra-curricular-activities-block {
    margin-top: 10px;

    p {
      margin-top: 5px;
    }
  }

  .internships-block {
    margin-top: 10px;

    .text-block-list {
      .text-block {
        margin-top: 5px;
      }
    }
  }

  .destination-block {
    .block-to {
      p {
        margin-top: 5px;
      }
    }

    .block-from {
      margin-top: 19px;

      p {
        margin-top: 2px;

        &:first-child {
          margin-top: 5px;
        }
      }

      .underheading-line {
        margin-bottom: 5px;
      }
    }
  }

  .letter-block {
    .letter-text {
      margin-top: 15px;
    }
  }

  /* Control panel */
  #control-panel {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 10000;

    .control-panel-item-block {
      border: 1px solid #ccc;
      background-color: #fff;
      border-radius: 5px;
      padding: 5px 10px;

      .control-panel-heading {
        font-size: 11px;
        margin: 0px 0px 0px 0px;
      }

      .control-panel-item-input-list {
        &.radio-input-list {
          .input-list-item {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            cursor: pointer;
            margin: 3px 0px;

            .radio-input {
              display: block;
              border-radius: 50%;
              border: 2px solid #d6d0d0;
              width: 7px;
              height: 7px;
              background-color: transparent;
              margin-right: 5px;
              pointer-events: none;
            }

            .radio-input-label {
              font-size: 10px;
              pointer-events: none;
            }

            &.active {
              .radio-input {
                background-color: #d6d0d0;
              }
            }
          }

          &.color-list {
            .input-list-item {
              .radio-input-label {
                flex: 1;
                height: 15px;
                border-radius: 3px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;

                .color-set-color {
                  display: block;
                  border-radius: 50%;
                  width: 15px;
                  height: 15px;
                  border: 0.5px solid #d4d4d4;
                }
              }
            }
          }
        }
      }
    }
  }

  /* Stylization */
  #cv-chapter-section-cv {}

  /* Font size scheme */
  .font-size-scheme-state-small {
    .font-size-1 {
      font-size: 8px;
    }

    .font-size-2 {
      font-size: 10px;
    }

    .font-size-3 {
      font-size: 12px;
    }

    .font-size-4 {
      font-size: 14px;
    }

    .font-size-5 {
      font-size: 20px;
    }

    .font-size-6 {
      font-size: 38px;
    }
  }

  .font-size-scheme-state-medium {
    .font-size-1 {
      font-size: 10px;
    }

    .font-size-2 {
      font-size: 12px;
    }

    .font-size-3 {
      font-size: 14px;
    }

    .font-size-4 {
      font-size: 16px;
    }

    .font-size-5 {
      font-size: 22px;
    }

    .font-size-6 {
      font-size: 40px;
    }
  }

  .font-size-scheme-state-big {
    .font-size-1 {
      font-size: 12px;
    }

    .font-size-2 {
      font-size: 14px;
    }

    .font-size-3 {
      font-size: 16px;
    }

    .font-size-4 {
      font-size: 18px;
    }

    .font-size-5 {
      font-size: 24px;
    }

    .font-size-6 {
      font-size: 42px;
    }
  }

  /* Line height scheme */
  .line-height-scheme-state-small {
    .line-height-1 {
      line-height: 9.68px;
    }

    .line-height-2 {
      line-height: 11.2px;
    }

    .line-height-3 {
      line-height: 12.1px;
    }

    .line-height-4 {
      line-height: 14px;
    }

    .line-height-5 {
      line-height: 14.52px;
    }

    .line-height-6 {
      line-height: 16.94px;
    }

    .line-height-7 {
      line-height: 24.2px;
    }

    .line-height-8 {
      line-height: 38px;
    }
  }

  .line-height-scheme-state-medium {
    .line-height-1 {
      line-height: 11.68px;
    }

    .line-height-2 {
      line-height: 13.2px;
    }

    .line-height-3 {
      line-height: 14.1px;
    }

    .line-height-4 {
      line-height: 16px;
    }

    .line-height-5 {
      line-height: 16.52px;
    }

    .line-height-6 {
      line-height: 18.94px;
    }

    .line-height-7 {
      line-height: 26.2px;
    }

    .line-height-8 {
      line-height: 40px;
    }
  }

  .line-height-scheme-state-big {
    .line-height-1 {
      line-height: 13.68px;
    }

    .line-height-2 {
      line-height: 15.2px;
    }

    .line-height-3 {
      line-height: 16.1px;
    }

    .line-height-4 {
      line-height: 18px;
    }

    .line-height-5 {
      line-height: 18.52px;
    }

    .line-height-6 {
      line-height: 20.94px;
    }

    .line-height-7 {
      line-height: 28.2px;
    }

    .line-height-8 {
      line-height: 42px;
    }
  }

  /* Colors */
  $main_color_1: #FFFFFF;
  $main_color_2: #000000;
  $main_color_3: #666666;

  $color_set_1_additional_color_1: #FFD863;
  $color_set_2_additional_color_1: #82FF63;
  $color_set_3_additional_color_1: #FF97B0;
  $color_set_4_additional_color_1: #FFB489;
  $color_set_5_additional_color_1: #7EE0FF;

  /* Color scheme */
  .color-scheme-state-color-set-1 {
    .cv-body-content {
      background: linear-gradient(to right, rgba($color_set_1_additional_color_1, 0.3), rgba($color_set_1_additional_color_1, 0.1));

      .circle-shade {
        background: $color_set_1_additional_color_1;
        filter: blur(100px);
      }
    }

    .main-color-2-text {
      color: $main_color_2;
    }

    .main-color-3-text {
      color: $main_color_3;
    }
  }

  .color-scheme-state-color-set-2 {
    .cv-body-content {
      background: linear-gradient(to right, rgba($color_set_2_additional_color_1, 0.3), rgba($color_set_2_additional_color_1, 0.1));

      .circle-shade {
        background: $color_set_2_additional_color_1;
        filter: blur(100px);
      }
    }

    .main-color-2-text {
      color: $main_color_2;
    }

    .main-color-3-text {
      color: $main_color_3;
    }
  }

  .color-scheme-state-color-set-3 {
    .cv-body-content {
      background: linear-gradient(to right, rgba($color_set_3_additional_color_1, 0.3), rgba($color_set_3_additional_color_1, 0.1));

      .circle-shade {
        background: $color_set_3_additional_color_1;
        filter: blur(100px);
      }
    }

    .main-color-2-text {
      color: $main_color_2;
    }

    .main-color-3-text {
      color: $main_color_3;
    }
  }

  .color-scheme-state-color-set-4 {
    .cv-body-content {
      background: linear-gradient(to right, rgba($color_set_4_additional_color_1, 0.3), rgba($color_set_4_additional_color_1, 0.1));

      .circle-shade {
        background: $color_set_4_additional_color_1;
        filter: blur(100px);
      }
    }

    .main-color-2-text {
      color: $main_color_2;
    }

    .main-color-3-text {
      color: $main_color_3;
    }
  }

  .color-scheme-state-color-set-5 {
    .cv-body-content {
      background: linear-gradient(to right, rgba($color_set_5_additional_color_1, 0.3), rgba($color_set_5_additional_color_1, 0.1));

      .circle-shade {
        background: $color_set_5_additional_color_1;
        filter: blur(100px);
      }
    }

    .main-color-2-text {
      color: $main_color_2;
    }

    .main-color-3-text {
      color: $main_color_3;
    }
  }

  /* Custom class for custom color and font-size or line-height */
  /* ReactJS scripts shoud change CUSTOM_FONT_SIZE, CUSTOM_LINE_HEIGHT and CUSTOM_COLOR to any values
AND change appropriate container classes to font-size-scheme-state-custom, line-height-scheme-state-custom, color-scheme-state-color-set-custom */
  .font-size-scheme-state-custom {
    .font-size-1 {
      /* font-size: CUSTOM_FONT_SIZE; */
    }

    .font-size-2 {
      /* font-size: CUSTOM_FONT_SIZE; */
    }

    .font-size-3 {
      /* font-size: CUSTOM_FONT_SIZE; */
    }

    .font-size-4 {
      /* font-size: CUSTOM_FONT_SIZE; */
    }

    .font-size-5 {
      /* font-size: CUSTOM_FONT_SIZE; */
    }

    .font-size-6 {
      /* font-size: CUSTOM_FONT_SIZE; */
    }
  }

  /* Line height scheme */
  .line-height-scheme-state-custom {
    .line-height-1 {
      /* line-height: CUSTOM_LINE_HEIGHT; */
    }

    .line-height-2 {
      /* line-height: CUSTOM_LINE_HEIGHT; */
    }

    .line-height-3 {
      /* line-height: CUSTOM_LINE_HEIGHT; */
    }

    .line-height-4 {
      /* line-height: CUSTOM_LINE_HEIGHT; */
    }

    .line-height-5 {
      /* line-height: CUSTOM_LINE_HEIGHT; */
    }

    .line-height-6 {
      /* line-height: CUSTOM_LINE_HEIGHT; */
    }

    .line-height-7 {
      /* line-height: CUSTOM_LINE_HEIGHT; */
    }

    .line-height-8 {
      /* line-height: CUSTOM_LINE_HEIGHT; */
    }
  }

  .color-scheme-state-color-set-custom {
    .cv-body-content {
      /* background: linear-gradient(to right, rgba(CUSTOM_COLOR, 0.3), rgba(CUSTOM_COLOR, 0.1)); */

      .circle-shade {
        /* background-color: CUSTOM_COLOR; */
        filter: blur(100px);
      }
    }

    .main-color-2-text {
      /* color: CUSTOM_COLOR; */
    }

    .main-color-3-text {
      /* color: CUSTOM_COLOR; */
    }
  }
}