@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter/Inter-All.ttf');
}

@font-face {
  font-family: 'Pridi';
  src: url('./fonts/Pridi/Pridi-Regular.ttf');
  font-weight: 400;
}

  /* Colors */
  $main_color_1: #FFFFFF;
  $main_color_2: #000000;
  $main_color_3: #666666;

  $color_set_1_additional_color_1: #FFD863;
  $color_set_2_additional_color_1: #82FF63;
  $color_set_3_additional_color_1: #FF97B0;
  $color_set_4_additional_color_1: #FFB489;
  $color_set_5_additional_color_1: #7EE0FF;

.sv_016 {
  font-weight: 400;

  /* Global */
  * {
    padding: 0;
    margin: 0;
  }

  *, *:before, *:after {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
  }

  ul {
    li {
      list-style-type: disc;
      margin-left: 16px;
      &:not(:first-of-type) {
        margin-top: 5px;
      }
    }
  }

  .empty-field {
    opacity: 0.3;
  }

  .hide {
    display: none !important;
  }

  //Blocks
  .cv-name {
    font-weight: 400;
    line-height: 38px;
    span {
      font-family: 'Pridi', sans-serif;
    }
  }

  .cv-profession {
    font-weight: 300;
    text-transform: lowercase;
  }

  .circle-shade {
    position: absolute;
    display: block;
    width: 578px;
    height: 681px;
    top: 111px;
    left: -373px;
    z-index: -1;
  }

  .cv-body {
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  .cv-body-content {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .top-area {
    display: flex;
    align-items: center;
    column-gap: 40px;
    margin: 55px 30px 40px;
    .photo-wrapper {
      margin: 0 auto;
      width: 140px;
      height: 140px;
      .photo {
        display: block;
        border-radius: 100%;
        width: 100%;
        height: 100%;
        overflow: hidden;
        background-size: cover;
        background-position: center center;
      }
    }
    .name-and-prophecy-wrapper {
      display: flex;
      flex-direction: column;
      row-gap: 5px;
    }
  }

  .middle-area {
    display: flex;
    margin: 4px 30px 0;
    column-gap: 25px;
    .details-block {
      .details-info {
        display: flex;
        flex-direction: column;
        row-gap: 5px;
      }
    }
    .additional-details-block {
      display: flex;
      flex-direction: column;
      row-gap: 5px;
      .name {
        font-weight: 300;
        opacity: 0.5;
        margin-bottom: 2px;
      }
    }
    .links-block {
      .links-list {
        display: flex;
        flex-direction: column;
        row-gap: 3px;
      }
    }
    .skills-block {
      .skills-list {
        display: flex;
        flex-direction: column;
        row-gap: 4px;
      }
    }
    .languages-block {
      .languages-list {
        display: flex;
        flex-direction: column;
        row-gap: 4px;
      }
      .languages-item {
        display: flex;
      }
    }
    .references-block {
      .block-info {
        display: flex;
        flex-direction: column;
        row-gap: 5px;
      }
    }
    .courses-block {
      .date-range {
        margin-bottom: 0;
      }
    }
    .certificates-block {
      .certificates-list {
        display: flex;
        flex-direction: column;
        row-gap: 8px;
      }
    }
  }

  .column-left {
    flex: 0;
    .block-block {
      min-width: 172px;
    }
    &.m-empty {
      min-width: 172px;
    }
  }

  .column-right {
    flex: 1;
    flex-basis: 200%;
  }

  .block-block {
    .heading-wrapper {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      padding-bottom: 5px;
      margin-bottom: 5px;
      border-bottom: 1px solid $main_color_3;
    }
    .cv-heading {
      font-weight: 300;
    }
    .block-subheading {
      margin-bottom: 5px;
    }
    .block-info {
      margin-top: 10px;
      &:nth-child(2) {
        margin-top: 0;
      }
    }
    .block-wrapper  {
      display: flex;
      justify-content: space-between;
    }
    .date-range {
      margin-bottom: 5px;
      text-transform: uppercase;
      letter-spacing: 0.4px;
      font-weight: 300;
    }
    .block-degree {
      font-weight: 300;
    }
    &:not(:first-of-type) {
      margin-top: 10px;
    }
  }

  /* Stylization */
  #cv-chapter-section-cv {
    &.has-photo {
      .top-area {
        margin: 25px 30px 0;
      }
    }
  }

  .cv-body-2 {
    .cv-body-content {
      .middle-area {
        margin-top: 30px;
        column-gap: 50px;
      }

      .column-left {
        width: 130px;
      }
    }
  }

  .destination-block {
    .block-to {
      p {
        margin-top: 5px;
      }
    }

    .block-from {
      margin-top: 19px;

      p {
        margin-top: 2px;

        &:first-child {
          margin-top: 5px;
        }
      }

      .underheading-line {
        margin-bottom: 5px;
      }
    }
  }

  /* Font size scheme */
  .font-size-scheme-state-small {
    .font-size-1 {
      font-size: 8px;
    }

    .font-size-2 {
      font-size: 10px;
    }

    .font-size-3 {
      font-size: 12px;
    }

    .font-size-4 {
      font-size: 14px;
    }

    .font-size-5 {
      font-size: 20px;
    }

    .font-size-6 {
      font-size: 38px;
    }

    .languages-name {
      min-width: 45px;   
    }
  }

  .font-size-scheme-state-medium {
    .font-size-1 {
      font-size: 10px;
    }

    .font-size-2 {
      font-size: 12px;
    }

    .font-size-3 {
      font-size: 14px;
    }

    .font-size-4 {
      font-size: 16px;
    }

    .font-size-5 {
      font-size: 22px;
    }

    .font-size-6 {
      font-size: 40px;
    }

    .languages-name {
      min-width: 60px;   
    }
  }

  .font-size-scheme-state-big {
    .font-size-1 {
      font-size: 12px;
    }

    .font-size-2 {
      font-size: 14px;
    }

    .font-size-3 {
      font-size: 16px;
    }

    .font-size-4 {
      font-size: 18px;
    }

    .font-size-5 {
      font-size: 24px;
    }

    .font-size-6 {
      font-size: 42px;
    }

    .languages-name {
      min-width: 70px;   
    }
  }

  /* Line height scheme */
  .line-height-scheme-state-small {
    .cv-body-content {
      line-height: 1.2;
    }
  }

  .line-height-scheme-state-medium {
    .cv-body-content {
      line-height: 1.4;
    }
  }

  .line-height-scheme-state-big {
    .cv-body-content {
      line-height: 1.6 ;
    }
  }

  .line_text {
    &::before {
      background: $main_color_2;
    }
  }

  /* Color scheme */
  .color-scheme-state-color-set-1 {
    .cv-body-content {
      background: linear-gradient(to right, rgba($color_set_1_additional_color_1, 0.3), rgba($color_set_1_additional_color_1, 0.1));

      .circle-shade {
        background: $color_set_1_additional_color_1;
        filter: blur(100px);
      }
    }

    .main-color-2-text {
      color: $main_color_2;
    }

    .main-color-3-text {
      color: $main_color_3;
    }
  }

  .color-scheme-state-color-set-2 {
    .cv-body-content {
      background: linear-gradient(to right, rgba($color_set_2_additional_color_1, 0.3), rgba($color_set_2_additional_color_1, 0.1));

      .circle-shade {
        background: $color_set_2_additional_color_1;
        filter: blur(100px);
      }
    }

    .main-color-2-text {
      color: $main_color_2;
    }

    .main-color-3-text {
      color: $main_color_3;
    }
  }

  .color-scheme-state-color-set-3 {
    .cv-body-content {
      background: linear-gradient(to right, rgba($color_set_3_additional_color_1, 0.3), rgba($color_set_3_additional_color_1, 0.1));

      .circle-shade {
        background: $color_set_3_additional_color_1;
        filter: blur(100px);
      }
    }

    .main-color-2-text {
      color: $main_color_2;
    }

    .main-color-3-text {
      color: $main_color_3;
    }
  }

  .color-scheme-state-color-set-4 {
    .cv-body-content {
      background: linear-gradient(to right, rgba($color_set_4_additional_color_1, 0.3), rgba($color_set_4_additional_color_1, 0.1));

      .circle-shade {
        background: $color_set_4_additional_color_1;
        filter: blur(100px);
      }
    }

    .main-color-2-text {
      color: $main_color_2;
    }

    .main-color-3-text {
      color: $main_color_3;
    }
  }

  .color-scheme-state-color-set-5 {
    .cv-body-content {
      background: linear-gradient(to right, rgba($color_set_5_additional_color_1, 0.3), rgba($color_set_5_additional_color_1, 0.1));

      .circle-shade {
        background: $color_set_5_additional_color_1;
        filter: blur(100px);
      }
    }

    .main-color-2-text {
      color: $main_color_2;
    }

    .main-color-3-text {
      color: $main_color_3;
    }
  }
}