.wr {
    margin-top: 56px;
}

.title {
    margin-top: 30px;
    font-weight: 400;
    font-size: 30px;
    color: #01153A;
}

.label {
    color: #838799;
    font-size: 16px;
    font-weight: 350;
    margin-top: 8px;
}

.icon {
    width: 60px;
    img {
        width: 100%;
    }
}


@media screen and (max-width: 768px) {
    .wr {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }

    .title {
        margin-top: 16px;
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;
        text-align: center;
    }
}