.wr {
    margin-top: 56px;
}

.title {
    margin-top: 30px;
    font-weight: 400;
    font-size: 30px;
    color: #01153A;
}

.label {
    color: #838799;
    font-size: 16px;
    font-weight: 350;
    margin-top: 8px;
}