.textIcon {
  position: relative;

  svg {
    position: absolute;
    right: -35px;
    top: -10px;
  }

  @media screen and (max-width: 768px) {
    svg {
      transform: scale(0.7);
      right: -33px;
      top: -14px;
    }
  }
}

.border {
  background: var(--orange-opacity);
  border: 1.3px dashed var(--orange);
  display: inline-block;
  position: relative;
  padding: 3px 8px;

  .iconBlock {
    position: absolute;
    line-height: 0;
    right: -24px;
    bottom: -25px;
  }

  i {
    position: absolute;
    right: 0;
    top: 0;
    width: 1px;
    height: 100%;

    &:before {
      right: -3px;
      bottom: -3px;
    }

    &:after {
      right: -3px;
      top: -3px;
    }
  }

  &:before,
  &:after,
  i:before,
  i:after {
    content: '';
    display: block;
    border-radius: 50%;
    width: 6px;
    height: 6px;
    position: absolute;
    background-color: var(--orange);
  }

  &:before {
    left: -3px;
    bottom: -3px;
  }

  &:after {
    left: -3px;
    top: -3px;
  }
}