.body-template-resume {
  // background-color: #494949;
  font-family: Rubik;
  // display: flex;
  // justify-content: center;

  // align-items: flex-start;
  min-height: calc(100vh - 180px);
  background: #fff;
}

.desrip-content {
  ul {
    li {
      list-style: disc;
    }
  }

  p {
    &:not(:first-child) {
      margin-top: 4px;
    }
  }
}