.body-template-resume {
  // background-color: #494949;
  font-family: Rubik;
  // display: flex;
  // justify-content: center;
  // pointer-events: none;

  // align-items: flex-start;
  min-height: calc(100vh - 180px);
  background: #fff;
}

.desrip-content {
  ul {
    li {
      list-style: disc;
    }
  }

  p {
    &:not(:first-child) {
      margin-top: 4px;
    }
  }
}

.cv-body.cv-body-visible.none {
  display: none !important;
}

.cv-body.cv-body-visible.none.active {
  display: none !important;
}

.cv-body.cv-body-visible.active {
  display: flex !important;
}


@media screen and (max-width: 768px) {
  #__next {
    height: 100vh;
  }

  .body-template-resume {
    min-height: 425px;
  }

  .page-templates__right {
    .body-template-resume {
      .cv-body {
        min-width: auto;
      }

      .cv-body-content{
        .cv-body-area{
          justify-content: space-between;

          .column-right {
            margin: 0;
          }

          .column-left {
            flex:none;
          }
        }
      }
    }
  }

  .page-templates .nav-button,
  .page-templates .nav-button:hover,
  .page-templates .nav-button:active {
    background: none;
    filter: none;
    opacity: 1!important;
  }
}