.body-template-resume {
  font-family: Rubik;
  background: #fff;

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-weight: 700;
  }
}

.desrip-content {
  ul {
    li {
      list-style: disc;
    }
  }

  p {
    &:not(:first-child) {
      margin-top: 4px;
    }
  }
}

.cv-body {
  a {
    pointer-events: none !important;
  }
}

.cv-body.cv-body-visible.none {
  display: none !important;
}

.cv-body.cv-body-visible.none.active {
  display: none !important;
}

.cv-body.cv-body-visible.active {
  display: flex !important;
}


@media screen and (max-width: 1023px) {
  #__next {
    min-height: 100vh;
  }

  .page-templates .nav-button,
  .page-templates .nav-button:hover,
  .page-templates .nav-button:active {
    background: none;
    filter: none;
    opacity: 1 !important;
  }
}

.cv-body_height {
  min-height: 764px;
}



#cv-body-hidden-container,
#cv-body-2 {
  height: 0 !important;
  max-height: 0 !important;
  min-height: 0 !important;
  overflow: hidden !important;
  position: absolute !important;
  z-index: -1 !important;
  opacity: 0 !important;
  pointer-events: none !important;
  left: 0px !important;
  // display: none;
}

.cv-body {
  min-width: 100% !important;
  min-height: 542px !important;
  max-height: 542px !important;
  height: 542px !important;
  position: relative !important;
  overflow: hidden !important;
  box-sizing: border-box !important;
}

.alert_line {
  white-space: nowrap;
}

.line_text {
  display: inline-block;
  width: 46px;
  position: relative;

  &::before {
    content: '';
    height: 1px;
    width: inherit;
    background: #333;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

@media(max-width: 992px) {
  .cv-body.cv-body-visible.none {
    display: flex !important;
  }
}