@import "./general";
@import "./001/style";
@import "./002/style";
@import "./003/style";
@import "./004/style";
@import "./005/style";
@import "./006/style";
@import "./007/style";
@import "./008/style";
@import "./009/style";
@import "./010/style";
@import "./011/style";
@import "./013/style";
@import "./015/style";
@import "./016/style";
@import "./026/style";
@import "./029/style";
@import "./030/style";
@import "./031/style";
@import "./032/style";
@import "./039/style";
@import "./040/style";
@import "./041/style";