@font-face {
  font-family: 'Roboto Flex';
  src: url('./fonts/Roboto_Flex/RobotoFlex-VariableFont.ttf');
}

@font-face {
  font-family: 'Roboto Slab';
  src: url('./fonts/Roboto_Slab/RobotoSlab-VariableFont.ttf');
  font-weight: 400;
}

  /* Colors */
  $main_color_1: #FFFCFC;

  $color_set_1_additional_color_1: #68BAC5;
  $color_set_1_additional_color_2: #2E9BAA;
  $color_set_1_additional_color_3: #2C919E;
  $color_set_1_additional_color_4: #033960;
  $color_set_1_additional_color_5: #FFAE34;

  $color_set_2_additional_color_1: #3CC98E;
  $color_set_2_additional_color_2: #1F9F81;
  $color_set_2_additional_color_3: #159476;
  $color_set_2_additional_color_4: #005C51;
  $color_set_2_additional_color_5: #EB7100;

  $color_set_3_additional_color_1: #E49775;
  $color_set_3_additional_color_2: #D76C3C;
  $color_set_3_additional_color_3: #D05A25;
  $color_set_3_additional_color_4: #953105;
  $color_set_3_additional_color_5: #FFEB34;

  $color_set_4_additional_color_1: #A075E4;
  $color_set_4_additional_color_2: #7A46CD;
  $color_set_4_additional_color_3: #6C35C5;
  $color_set_4_additional_color_4: #3C0C89;
  $color_set_4_additional_color_5: #0EE765;

.sv_026 {
  font-weight: 400;

  /* Global */
  * {
    padding: 0;
    margin: 0;
  }

  *, *:before, *:after {
    box-sizing: border-box;
    font-family: 'Roboto Flex';
  }

  ul {
    li {
      list-style-type: none;
      padding-left: 2px;
      &::before {
        content: " - ";
      }
      &:not(:first-of-type) {
        margin-top: 5px;
      }
    }
  }

  .empty-field {
    opacity: 0.3;
  }

  .hide {
    display: none !important;
  }

  //Blocks
  .cv-name {
    span {
      font-family: 'Roboto Slab';
      font-weight: 700;
    }
  }

  .cv-profession {
    font-family: 'Roboto Slab';
    text-transform: uppercase;
  }

  .cv-body {
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  .cv-body-content {
    flex: 1;
    display: flex;
  }

  .column-left {
    width: 266px;
    flex-shrink: 0;
    padding: 25px 25px;
    .block-block {
      margin-top: 20px;
      .cv-heading {
        font-family: 'Roboto Slab';
        font-weight: 700;
        text-align: center;
        margin-bottom: 6px;
      } 
      .block-info {
        margin-top: 10px;
        &:nth-child(2) {
          margin-top: 0;
        }
      }
      &:first-child {
        margin-top: 0;
      }
    }
    .photo-wrapper {
      position: relative;
      margin-bottom: 20px;
      .photo {
        display: block;
        position: relative;
        border-radius: 100%;
        width: 156px;
        height: 156px;
        overflow: hidden;
        margin: 0 auto;
        background-size: cover;
        background-position: center center;
      }
      .circle-shade {
        position: absolute;
        display: block;
        width: 158px;
        height: 157px;
        top: -6px;
        right: 12px;
        background: url('/../styles/resumes/026/image/photo-ellipse.svg') no-repeat 0 0;
      }
    }
    .name-and-prophecy-wrapper {
      display: flex;
      flex-direction: column;
      row-gap: 5px;
      text-align: center;
    }
    .skills-block {
      .skills-list {
        display: flex;
        flex-wrap: wrap;
        row-gap: 15px;
        column-gap: 10px;
      }
      .estimated-wrapper {
        flex-basis: calc(50% - 5px);
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        align-items: center;
        &.single {
          flex-basis: 100%;
        }
      }
      .estimated-item-name {
        font-family: 'Roboto Slab';
        text-align: center;

      }
      .pie {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        transform: rotate(-90deg);
      }
      .pie .background {
          fill: none;
          stroke-width: 15;
        
      }
      .pie .chart{
          fill: none;
          stroke-width: 15;
      }
    }
    .languages-block {
      .languages-list {
        display: flex;
        flex-direction: column;
        margin-left: 40px;
        row-gap: 5px;
      }
      .languages-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      .languages-name {
        font-family: 'Roboto Slab';
      }
      .skill-estimation {
        display: flex;
        align-items: center;
        margin-right: 20px;
  
        svg {
          width: 15px;
          height: 15px;
        }
      }
    }
    .certificates-block {
      .certificates-info {
        display: flex;
        flex-direction: column;
        text-align: center;
        row-gap: 8px;
      }
    }
    .references-block {
      text-align: center;
      .block-info {
        display: flex;
        flex-direction: column;
        row-gap: 5px;
      }
    }
  }

  .column-right {
    padding: 25px;
    width: 100%;
    display: flex;
    flex-direction: column;
    .block-block {
      p {
        font-weight: 500;
      }
      .cv-heading {
        font-weight: 700;
        margin-bottom: 5px;
        font-family: 'Roboto Slab';
      }
      .cv-subheading {
        text-transform: uppercase;
        margin-bottom: 4px;
      }
      .date-range {
        text-transform: uppercase;
        margin-bottom: 4px;
        letter-spacing: 0.7px;
      }
      .cv-degree {
        margin-bottom: 4px;
      }
      &:not(:first-of-type) {
        margin-top: 10px;
      }
      &.profile-block {
        margin-top: 20px;
      }
      .block-info {
        &:not(:first-of-type) {
          margin-top: 10px;
        }
      }
    }
    .details-and-hobbies-block {
      display: flex;
      column-gap: 30px;
    }
    .details-block {
      width: 150px;
      .details-info {
        display: flex;
        flex-direction: column;
        row-gap: 5px;
      }
      .details-item {
        font-weight: 500;
      }
    }
    .additional-details-block {
      margin-top: 10px;
      .item-block {
        &:not(:first-of-type) {
          margin-top: 5px;
        }
      }
      .name {
        font-family: 'Roboto Slab';
        font-weight: 500;
        text-transform: uppercase;
        margin-bottom: 2px;
      }
      .value {
        font-weight: 500;
      }
    }
    .hobbies-block {
      .hobbies-info {
        display: flex;
        flex-direction: column;
        row-gap: 8px;
        border-left-width: 1px;
        border-left-style: solid;
        padding-left: 12px;
        margin-left: 3px;
      }
      .hobbies-item {
        position: relative;
        font-weight: 500;
        span {
          display: block;
          position: absolute;
          width: 10px;
          height: 10px;
          border-radius: 100%;
          background: $main_color_1;
          text-align: center;
          font-size: 6px;
          line-height: 7px;
          border-style: solid;
          border-width: 1px;
          top: 50%;
          left: -17px;
          transform: translateY(-50%);
        }
      }
    }
    .courses-block {
      .date-range {
        margin-bottom: 0;
      }
    }
    .links-block {
      display: flex;
      align-self: flex-end;
      flex: 1;
      .links-info {
        display: flex;
        column-gap: 5px;
        justify-content: flex-end;
        align-items: flex-end;
      }
      .links-item {
        display: block;
      }
      img {
        width: 20px;
        height: 20px;
      }
    }
  }

  /* Stylization */
  #cv-chapter-section-cv {
    .photo-wrapper {
      display: none;
    }
    .name-and-prophecy-wrapper {
      margin-top: 50px;
    }

    &.has-photo {
      .photo-wrapper {
        display: block;
      }
      .name-and-prophecy-wrapper {
        margin-top: 0;
      }
    }
  }

  .cv-body-2 {
    .cv-body-content {
      min-height: 100%;
      .middle-area {
        margin-top: 30px;
        column-gap: 50px;
      }

      .column-left {
        width: 130px;
      }
    }
  }

  .destination-block {
    .block-to {
      p {
        margin-top: 5px;
      }
    }

    .block-from {
      margin-top: 19px;

      p {
        margin-top: 2px;

        &:first-child {
          margin-top: 5px;
        }
      }

      .underheading-line {
        margin-bottom: 5px;
      }
    }
  }

  /* Font size scheme */
  .font-size-scheme-state-small {
    .font-size-1 {
      font-size: 8px;
    }

    .font-size-2 {
      font-size: 10px;
    }

    .font-size-3 {
      font-size: 12px;
    }

    .font-size-4 {
      font-size: 22px;
    }
  }

  .font-size-scheme-state-medium {
    .font-size-1 {
      font-size: 10px;
    }

    .font-size-2 {
      font-size: 12px;
    }

    .font-size-3 {
      font-size: 14px;
    }

    .font-size-4 {
      font-size: 24px;
    }
  }

  .font-size-scheme-state-big {
    .font-size-1 {
      font-size: 12px;
    }

    .font-size-2 {
      font-size: 14px;
    }

    .font-size-3 {
      font-size: 16px;
    }

    .font-size-4 {
      font-size: 26px;
    }
  }

  /* Line height scheme */
  .line-height-scheme-state-small {
    .cv-body-content {
      line-height: 1.2;
    }
  }

  .line-height-scheme-state-medium {
    .cv-body-content {
      line-height: 1.4;
    }
  }

  .line-height-scheme-state-big {
    .cv-body-content {
      line-height: 1.6 ;
    }
  }

  .line_text {
    &::before {
      background: $main_color_1;
    }
  }

  /* Color scheme */
  .color-scheme-state-color-set-1 {
    .main-color-1-text {
      color: $main_color_1;
    }
    .additional-color-1-background {
      background: $color_set_1_additional_color_1;
    }
    .additional-color-2-background { 
      background: $color_set_1_additional_color_2;
    }
    .additional-color-3-svg { 
      .background {
        stroke: $color_set_1_additional_color_3;
      }
    }
    .additional-color-4-text { 
      color: $color_set_1_additional_color_4;
    }
    .additional-color-4-border { 
      border-color: $color_set_1_additional_color_4;
    }
    .additional-color-5-svg {
      .chart {
        stroke: $color_set_1_additional_color_5;
      }
    }
    .additional-color-5-text {
      color: $color_set_1_additional_color_5;
    }
  }

  .color-scheme-state-color-set-2 {
    .main-color-1-text {
      color: $main_color_1;
    }
    .additional-color-1-background {
      background: $color_set_2_additional_color_1;
    }
    .additional-color-2-background { 
      background: $color_set_2_additional_color_2;
    }
    .additional-color-3-svg { 
      .background {
        stroke: $color_set_2_additional_color_3;
      }
    }
    .additional-color-4-text { 
      color: $color_set_2_additional_color_4;
    }
    .additional-color-4-border { 
      border-color: $color_set_2_additional_color_4;
    }
    .additional-color-5-svg {
      .chart {
        stroke: $color_set_2_additional_color_5;
      }
    }
    .additional-color-5-text {
      color: $color_set_2_additional_color_5;
    }
  }

  .color-scheme-state-color-set-3 {
    .main-color-1-text {
      color: $main_color_1;
    }
    .additional-color-1-background {
      background: $color_set_3_additional_color_1;
    }
    .additional-color-2-background { 
      background: $color_set_3_additional_color_2;
    }
    .additional-color-3-svg { 
      .background {
        stroke: $color_set_3_additional_color_3;
      }
    }
    .additional-color-4-text { 
      color: $color_set_3_additional_color_4;
    }
    .additional-color-4-border { 
      border-color: $color_set_3_additional_color_4;
    }
    .additional-color-5-svg {
      .chart {
        stroke: $color_set_3_additional_color_5;
      }
    }
    .additional-color-5-text {
      color: $color_set_3_additional_color_5;
    }
  }

  .color-scheme-state-color-set-4 {
    .main-color-1-text {
      color: $main_color_1;
    }
    .additional-color-1-background {
      background: $color_set_4_additional_color_1;
    }
    .additional-color-2-background { 
      background: $color_set_4_additional_color_2;
    }
    .additional-color-3-svg { 
      .background {
        stroke: $color_set_4_additional_color_3;
      }
    }
    .additional-color-4-text { 
      color: $color_set_4_additional_color_4;
    }
    .additional-color-4-border { 
      border-color: $color_set_4_additional_color_4;
    }
    .additional-color-5-svg {
      .chart {
        stroke: $color_set_4_additional_color_5;
      }
    }
    .additional-color-5-text {
      color: $color_set_4_additional_color_5;
    }
  }
}