@font-face {
  font-family: 'Oswald';
  src: url('./fonts/Oswald/Oswald-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat/Montserrat-VariableFont_wght.ttf');
}

  /* Colors */
  $main_color_3: #FF59A9;
  $main_color_4: #ffffff;

  $color_set_1_additional_color_1: #a6e2ff;
  $color_set_1_additional_color_2: #77c2ed;
  $color_set_1_additional_color_3: #312d4a;
  $color_set_1_additional_color_4: #16142d;
  $color_set_1_additional_color_5: #131120;

  $color_set_2_additional_color_1: #a6ffff;
  $color_set_2_additional_color_2: #77eded;
  $color_set_2_additional_color_3: #232e3a;
  $color_set_2_additional_color_4: #142a2d;
  $color_set_2_additional_color_5: #111d20;

  $color_set_3_additional_color_1: #da75d0;
  $color_set_3_additional_color_2: #da75d0;
  $color_set_3_additional_color_3: #4a2d44;
  $color_set_3_additional_color_4: #2a0e18;
  $color_set_3_additional_color_5: #201118;

  $color_set_4_additional_color_1: #50b6e2;
  $color_set_4_additional_color_2: #50b6e2;
  $color_set_4_additional_color_3: #39203e;
  $color_set_4_additional_color_4: #2d142c;
  $color_set_4_additional_color_5: #20111b;

.sv_010 {
  font-family: 'Montserrat', sans-serif;

  * {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    font-family: 'Montserrat', sans-serif;
  }

  h1,
  h2,
  h3,
  h4 {
    font-weight: bold;
  }

  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }

  .cv-prophecy {
    color: $main_color_3;
    text-align: center;
    letter-spacing: 2px;
    font-weight: 400;
  }

  .cv-name {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
  }

  .cv-heading {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
  }

  .cv-subheading {
    color: $main_color_3;
  }


  .text-block {
    margin-top: 6px;
    ul {
      li {
        position: relative;
        list-style: none;
        margin-left: 20px;

        &::before {
          content: " ";
          position: absolute;
          left: -10px;
          top: 50%;
          transform: translateY(-50%);
          display: block;
          width: 4px;
          height: 4px;
          border-radius: 50%;
          background: radial-gradient(rgb(255, 255, 255), rgb(96, 169, 204), rgb(70, 133, 164));
          box-shadow: 0px 0px 4px #fff;

        }
      }
    }
  }

  .block-content-wrapper {
    margin-top: 5px;
  }

  svg {
    width: auto;
    height: auto;
  }

  .item-value-container {
    height: 3px;
    width: 155px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: stretch;
    background: linear-gradient(270deg, #60A9CC 0%, #D13B83 100%);

    .item-value {
      width: 50%;
      background-color: transparent;
      position: relative;
      height: 100%;
    }

    .item-value-point {
      position: absolute;
      transform: translate(10px, -50%);
      right: 0px;
      top: 50%;
    }

    .empty-gap {
      flex: 1;
      height: 100%;
    }
  }

  #cv-body-hidden-container,
  #cv-body-2 {
    height: auto;
    max-height: none;
    position: absolute;
    z-index: -1;
    opacity: 0;
    pointer-events: none;
  }

  .cv-body {
    min-width: 595px;
    min-height: 764px;
    height: 764px;
    max-height: 764px;
    background-color: #fff;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .cv-body-content {
      display: flex;
      flex: 1;
      padding: 20px;
      flex-direction: row;
      align-items: stretch;
      justify-content: stretch;
      position: relative;
      z-index: 10;

      .column-left {
        width: 360px;
        margin-right: 10px;
        flex-shrink: 0;

        .block-block {
          margin-top: 15px;
          .date-range {
            display: flex;
            align-items: center;
            margin-top: 4px;
            flex-wrap: wrap;
            row-gap: 8px;

            .date-range-item {
              display: flex;
              align-items: stretch;
              height: 14px;

              span {
                display: flex;
                align-items: center;
                flex-shrink: 0;
                padding: 1px 5px 2px;
                background: linear-gradient(rgba(209, 59, 131, 0.2), rgba(71, 122, 151, 0.2));
                letter-spacing: 3px;
                text-transform: uppercase;
              }

              &:last-of-type {
                margin-right: 10px;
              }
            }
          }
          .block-info {
            &:not(:first-of-type) {
              margin-top: 8px;
            }
          }
        }

        .top-block {
          margin-top: 20px;
          margin-right: -224px;
        }

        .education-block {
          .subheading-additional {
            background: linear-gradient(270deg, #60A9CC 33.33%, #D13B83 77.58%, #60A9CC 100%);
            background-clip: text;
            -webkit-text-fill-color: transparent;
            padding-bottom: 1px;
          }
        }

        .internships-block {
          .text-block {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin-top: 5px;

            ul {
              li {
                list-style-type: disc;
                margin-left: 20px;
              }
            }

            .bullet {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 12px;
              min-width: 12px;
              height: 12px;
              margin-right: 10px;

              .inner-bullet-1 {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 8px;
                height: 8px;
                border-radius: 50%;

                /* background: radial-gradient(rgba(70, 133, 164, 0.4), rgba(96, 169, 204, 0.4), rgba(96, 169, 204, 0.4)); */
                .inner-bullet-2 {
                  display: block;
                  width: 4px;
                  height: 4px;
                  border-radius: 50%;
                  background: radial-gradient(rgba(255, 255, 255, 1), rgba(96, 169, 204, 1), rgba(70, 133, 164, 1));
                  box-shadow: 0px 0px 4px #fff;
                }
              }
            }
          }
        }
      }

      .column-right {
        flex-grow: 1;
        .information-block {
          margin-top: 78px;
          padding: 10px;
          border-radius: 20px;
          box-sizing: border-box;

          .block-block {
            margin-top: 15px;
            
            .cv-heading {
              color: $main_color_3;
            }
          }

          .photo-block {
            width: 155px;
            height: 155px;
            border-radius: 100%;
            overflow: hidden;
            position: relative;
            margin: 0 auto 20px;

            .svg-1 {
              position: absolute;
              top: 0px;
              left: 0px;
              bottom: 0px;
              right: 0px;
              width: 100%;
              height: 100%;
            }

            .svg-2 {
              position: absolute;
              top: 22px;
              left: 5px;
            }

            img {
              display: block;
              width: 100%;
              height: 100%;
              border-radius: 50%;
            }
          }

          .details-block {
            margin-top: 20px;

            .email {
              background: linear-gradient(270deg, #60A9CC 33.33%, #D13B83 77.58%, #60A9CC 100%);
              background-clip: text;
              -webkit-text-fill-color: transparent;
            }

            .details-block-item {
              margin-top: 5px;
              .item-name {
                color: $main_color_3;
                text-transform: uppercase;
                letter-spacing: 1.5px;
                font-weight: 300;
              }
            }
          }

          .links-block {
            display: flex;
            align-items: center;
            column-gap: 20px;

            a {
              background: linear-gradient(270deg, #60A9CC 33.33%, #D13B83 77.58%, #60A9CC 100%);
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
              background-clip: text;
              -webkit-text-fill-color: transparent;
            }
          }

          .skills-block {
            .skills-list {
              margin-top: 2px;
              .skills-list-item {
                .skill-item-name {
                  margin-bottom: 2px;
                }
                &:not(:last-child) {
                  margin-bottom: 10px;

                }
              }
            }
          }

          .certificates-block {
            .certificate-names {
              display: flex;
              flex-direction: column;
              row-gap: 4px;
            }
          }

          .languages-block {
            .languages-list {
              margin-top: 2px;
              .languages-list-item {
                .list-item-name {
                  margin-bottom: 2px;
                }

                &:not(last-child) {
                  margin-bottom: 9px;
                }
              }
            }
          }
        }
      }
    }

    &.cv-body-2 {
      .cv-body-content {
        .column-left {
          .letter-block {
            width: 340px;
            margin: 18px 0px 0px 0px;

            .letter-heading {
              margin-bottom: 15px;
            }
          }
        }

        .column-right {
          .destination-block {
            padding: 122px 13px 125px 13px;

            .block-from {
              margin-top: 20px;
            }
            p {
              margin-bottom: 3px;

              &:last-child {
                margin-bottom: 0px;
              }
            }
          }
        }
      }
    }

  }

  /* Stylization */
  #cv-chapter-section-cv {
    .photo-block {
      display: none;
    }

    &.has-photo {
      .photo-block {
        display: flex;
      }

      .cv-body {
        .cv-body-content {
          .column-left {
            .top-block {
              margin-right: 0;
            }
          }
          .column-right {
            .information-block {
              margin-top: 0;
            }
          }
        }
      }
      
    }
  }

  /* Font size scheme */
  .font-size-scheme-state-small {
    .font-size-1 {
      font-size: 6px;
    }

    .font-size-2 {
      font-size: 8px;
    }

    .font-size-3 {
      font-size: 12px;
    }

    .font-size-4 {
      font-size: 16px;
    }

    .font-size-5 {
      font-size: 22px;
    }
  }

  .font-size-scheme-state-medium {
    .font-size-1 {
      font-size: 8px;
    }

    .font-size-2 {
      font-size: 10px;
    }

    .font-size-3 {
      font-size: 14px;
    }

    .font-size-4 {
      font-size: 18px;
    }

    .font-size-5 {
      font-size: 24px;
    }
  }

  .font-size-scheme-state-big {
    .font-size-1 {
      font-size: 10px;
    }

    .font-size-2 {
      font-size: 12px;
    }

    .font-size-3 {
      font-size: 16px;
    }

    .font-size-4 {
      font-size: 20px;
    }

    .font-size-5 {
      font-size: 26px;
    }
  }

  /* Line height scheme */
  .line-height-scheme-state-small {
    .cv-body-content {
      line-height: 1.2;
    }
  }

  .line-height-scheme-state-medium {
    .cv-body-content {
      line-height: 1.4;
    }
  }

  .line-height-scheme-state-big {
    .cv-body-content {
      line-height: 1.6;
    }
  }

  /* Color scheme */
  .color-scheme-state-color-set-1 {
    .main-color-4-text {
      color: $main_color_4;
    }

    .line_text {
      &::before {
        background: $color_set_1_additional_color_1;
      }
    }

    .additional-color-1-text {
      color: $color_set_1_additional_color_1;
    }

    .additional-color-1-border {
      border-color: $color_set_1_additional_color_1;
    }

    .additional-color-1-background {
      background-color: $color_set_1_additional_color_1;
    }

    .additional-color-1-svg-path {
      path {
        stroke: $color_set_1_additional_color_1;
        fill: transparent;
      }
    }

    .additional-color-1-svg {
      path {
        fill: $color_set_1_additional_color_1;
      }
    }

    .additional-color-2-text {
      color: $color_set_1_additional_color_2;
    }

    .additional-color-2-border {
      border-color: $color_set_1_additional_color_2;
    }

    .additional-color-2-background {
      background-color: $color_set_1_additional_color_2;
    }

    .additional-color-2-svg-path {
      path {
        stroke: $color_set_1_additional_color_2;
        fill: transparent;
      }
    }

    .additional-color-2-svg {
      path {
        fill: $color_set_1_additional_color_2;
      }
    }

    .additional-color-3-background {
      background-color: $color_set_1_additional_color_3;
    }

    .additional-color-4-background {
      background-color: $color_set_1_additional_color_4;
    }

    .additional-color-5-background {
      background-color: $color_set_1_additional_color_5;
    }
  }

  .color-scheme-state-color-set-2 {
    .main-color-4-text {
      color: $main_color_4;
    }

    .line_text {
      &::before {
        background: $color_set_2_additional_color_1;
      }
    }

    .additional-color-1-text {
      color: $color_set_2_additional_color_1;
    }

    .additional-color-1-border {
      border-color: $color_set_2_additional_color_1;
    }

    .additional-color-1-background {
      background-color: $color_set_2_additional_color_1;
    }

    .additional-color-1-svg-path {
      path {
        stroke: $color_set_2_additional_color_1;
        fill: transparent;
      }
    }

    .additional-color-1-svg {
      path {
        fill: $color_set_2_additional_color_1;
      }
    }

    .additional-color-2-text {
      color: $color_set_2_additional_color_2;
    }

    .additional-color-2-border {
      border-color: $color_set_2_additional_color_2;
    }

    .additional-color-2-background {
      background-color: $color_set_2_additional_color_2;
    }

    .additional-color-2-svg-path {
      path {
        stroke: $color_set_2_additional_color_2;
        fill: transparent;
      }
    }

    .additional-color-2-svg {
      path {
        fill: $color_set_2_additional_color_2;
      }
    }

    .additional-color-3-background {
      background-color: $color_set_2_additional_color_3;
    }

    .additional-color-4-background {
      background-color: $color_set_2_additional_color_4;
    }

    .additional-color-5-background {
      background-color: $color_set_2_additional_color_5;
    }
  }

  .color-scheme-state-color-set-3 {
    .main-color-4-text {
      color: $main_color_4;
    }

    .line_text {
      &::before {
        background: $color_set_3_additional_color_1;
      }
    }

    .additional-color-1-text {
      color: $color_set_3_additional_color_1;
    }

    .additional-color-1-border {
      border-color: $color_set_3_additional_color_1;
    }

    .additional-color-1-background {
      background-color: $color_set_3_additional_color_1;
    }

    .additional-color-1-svg-path {
      path {
        stroke: $color_set_3_additional_color_1;
        fill: transparent;
      }
    }

    .additional-color-1-svg {
      path {
        fill: $color_set_3_additional_color_1;
      }
    }

    .additional-color-2-text {
      color: $color_set_3_additional_color_2;
    }

    .additional-color-2-border {
      border-color: $color_set_3_additional_color_2;
    }

    .additional-color-2-background {
      background-color: $color_set_3_additional_color_2;
    }

    .additional-color-2-svg-path {
      path {
        stroke: $color_set_3_additional_color_2;
        fill: transparent;
      }
    }

    .additional-color-2-svg {
      path {
        fill: $color_set_3_additional_color_2;
      }
    }

    .additional-color-3-background {
      background-color: $color_set_3_additional_color_3;
    }

    .additional-color-4-background {
      background-color: $color_set_3_additional_color_4;
    }

    .additional-color-5-background {
      background-color: $color_set_3_additional_color_5;
    }
  }

  .color-scheme-state-color-set-4 {
    .main-color-4-text {
      color: $main_color_4;
    }

    .line_text {
      &::before {
        background: $color_set_4_additional_color_1;
      }
    }

    .additional-color-1-text {
      color: $color_set_4_additional_color_1;
    }

    .additional-color-1-border {
      border-color: $color_set_4_additional_color_1;
    }

    .additional-color-1-background {
      background-color: $color_set_4_additional_color_1;
    }

    .additional-color-1-svg-path {
      path {
        stroke: $color_set_4_additional_color_1;
        fill: transparent;
      }
    }

    .additional-color-1-svg {
      path {
        fill: $color_set_4_additional_color_1;
      }
    }

    .additional-color-2-text {
      color: $color_set_4_additional_color_2;
    }

    .additional-color-2-border {
      border-color: $color_set_4_additional_color_2;
    }

    .additional-color-2-background {
      background-color: $color_set_4_additional_color_2;
    }

    .additional-color-2-svg-path {
      path {
        stroke: $color_set_4_additional_color_2;
        fill: transparent;
      }
    }

    .additional-color-2-svg {
      path {
        fill: $color_set_4_additional_color_2;
      }
    }

    .additional-color-3-background {
      background-color: $color_set_4_additional_color_3;
    }

    .additional-color-4-background {
      background-color: $color_set_4_additional_color_4;
    }

    .additional-color-5-background {
      background-color: $color_set_4_additional_color_5;
    }
  }
}