.item_section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FFFFFF;
    border-radius: 12px;
    padding: 20px;
    cursor: pointer;

    &.disabled {
        opacity: 0.6;
        pointer-events: none;
    }

    &__left {
        display: flex;
        align-items: center;
        padding-right: 10px;

        svg {
            min-width: 20px;
            max-width: 20px;
            width: 20px;
            margin-right: 18px;
            fill: #3679FD;
        }

        span {
            padding-top: 2px;
        }
    }

    &__right {
        position: relative;
    }
}