/* Font faces */
@font-face {
  font-family: 'Bentham';
  src: url('./fonts/Bentham/Bentham-Regular.ttf');
}

@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins/Poppins-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins/Poppins-Regular.ttf');
  font-weight: 400;
}


.sv_032 {
  font-family: 'Poppins', sans-serif;

  .font-size-scheme-state-small {
    .font-size-1 {
      font-size: 8px;
    }

    .font-size-2 {
      font-size: 9px;
    }

    .font-size-3 {
      font-size: 12px;
    }

    .font-size-4 {
      font-size: 18px;
    }

    .font-size-5 {
      font-size: 19.2px;
    }

    .font-size-6 {
      font-size: 50px;
    }
  }

  .font-size-scheme-state-medium {
    .font-size-1 {
      font-size: 10px;
    }

    .font-size-2 {
      font-size: 11px;
    }

    .font-size-3 {
      font-size: 14px;
    }

    .font-size-4 {
      font-size: 20px;
    }

    .font-size-5 {
      font-size: 21.2px;
    }

    .font-size-6 {
      font-size: 52px;
    }
  }

  .font-size-scheme-state-big {
    .font-size-1 {
      font-size: 12px;
    }

    .font-size-2 {
      font-size: 13px;
    }

    .font-size-3 {
      font-size: 16px;
    }

    .font-size-4 {
      font-size: 22px;
    }

    .font-size-5 {
      font-size: 23.2px;
    }

    .font-size-6 {
      font-size: 54px;
    }
  }

  /* Line height scheme */
  .line-height-scheme-state-small {
    .line-height-1 {
      line-height: 11.2px;
    }

    .line-height-2 {
      line-height: 12.6px;
    }

    .line-height-3 {
      line-height: 14.43px;
    }

    .line-height-4 {
      line-height: 18px;
    }

    .line-height-5 {
      line-height: 23.08px;
    }

    .line-height-6 {
      line-height: 45px;
    }
  }

  .line-height-scheme-state-medium {
    .line-height-1 {
      line-height: 13.2px;
    }

    .line-height-2 {
      line-height: 14.6px;
    }

    .line-height-3 {
      line-height: 16.43px;
    }

    .line-height-4 {
      line-height: 20px;
    }

    .line-height-5 {
      line-height: 25.08px;
    }

    .line-height-6 {
      line-height: 47px;
    }
  }

  .line-height-scheme-state-big {
    .line-height-1 {
      line-height: 15.2px;
    }

    .line-height-2 {
      line-height: 16.6px;
    }

    .line-height-3 {
      line-height: 18.43px;
    }

    .line-height-4 {
      line-height: 22px;
    }

    .line-height-5 {
      line-height: 27.08px;
    }

    .line-height-6 {
      line-height: 49px;
    }
  }


  /* Colors */
  $main_color_1: #F3EEEA;
  $main_color_2: #989898;
  $main_color_3: #000000;

  $color_set_1_additional_color_1: #7F6A55;
  $color_set_2_additional_color_1: #AA7777;
  $color_set_3_additional_color_1: #9A8E80;
  $color_set_4_additional_color_1: #737C6C;
  $color_set_5_additional_color_1: #548C8C;
  $color_set_6_additional_color_1: #64668A;
  $color_set_7_additional_color_1: #87608D;

  .line_text {
    &::before {
      background: $main_color_3;
    }
  }

  /* Color scheme */
  .color-scheme-state-color-set-1 {
    .main-color-1-background {
      background-color: $main_color_1;
    }

    .main-color-2-text {
      color: $main_color_2;
    }

    .main-color-3-text {
      color: $main_color_3;
    }

    .additional-color-1-text {
      color: $color_set_1_additional_color_1;
    }

    .additional-color-1-border {
      border-color: $color_set_1_additional_color_1;
    }

    .additional-color-1-svg-path {
      path {
        stroke: $color_set_1_additional_color_1;
        fill: $main_color_1;
      }
    }

    .additional-color-1-svg {
      path {
        stroke: $color_set_1_additional_color_1;
        fill: $color_set_1_additional_color_1;
      }
    }
  }

  .color-scheme-state-color-set-2 {
    .main-color-1-background {
      background-color: $main_color_1;
    }

    .main-color-2-text {
      color: $main_color_2;
    }

    .main-color-3-text {
      color: $main_color_3;
    }

    .additional-color-1-text {
      color: $color_set_2_additional_color_1;
    }

    .additional-color-1-border {
      border-color: $color_set_2_additional_color_1;
    }

    .additional-color-1-svg-path {
      path {
        stroke: $color_set_2_additional_color_1;
        fill: $main_color_1;
      }
    }

    .additional-color-1-svg {
      path {
        stroke: $color_set_2_additional_color_1;
        fill: $color_set_2_additional_color_1;
      }
    }
  }

  .color-scheme-state-color-set-3 {
    .main-color-1-background {
      background-color: $main_color_1;
    }

    .main-color-2-text {
      color: $main_color_2;
    }

    .main-color-3-text {
      color: $main_color_3;
    }

    .additional-color-1-text {
      color: $color_set_3_additional_color_1;
    }

    .additional-color-1-border {
      border-color: $color_set_3_additional_color_1;
    }

    .additional-color-1-svg-path {
      path {
        stroke: $color_set_3_additional_color_1;
        fill: $main_color_1;
      }
    }

    .additional-color-1-svg {
      path {
        stroke: $color_set_3_additional_color_1;
        fill: $color_set_3_additional_color_1;
      }
    }
  }

  .color-scheme-state-color-set-4 {
    .main-color-1-background {
      background-color: $main_color_1;
    }

    .main-color-2-text {
      color: $main_color_2;
    }

    .main-color-3-text {
      color: $main_color_3;
    }

    .additional-color-1-text {
      color: $color_set_4_additional_color_1;
    }

    .additional-color-1-border {
      border-color: $color_set_4_additional_color_1;
    }

    .additional-color-1-svg-path {
      path {
        stroke: $color_set_4_additional_color_1;
        fill: $main_color_1;
      }
    }

    .additional-color-1-svg {
      path {
        stroke: $color_set_4_additional_color_1;
        fill: $color_set_4_additional_color_1;
      }
    }
  }

  .color-scheme-state-color-set-5 {
    .main-color-1-background {
      background-color: $main_color_1;
    }

    .main-color-2-text {
      color: $main_color_2;
    }

    .main-color-3-text {
      color: $main_color_3;
    }

    .additional-color-1-text {
      color: $color_set_5_additional_color_1;
    }

    .additional-color-1-border {
      border-color: $color_set_5_additional_color_1;
    }

    .additional-color-1-svg-path {
      path {
        stroke: $color_set_5_additional_color_1;
        fill: $main_color_1;
      }
    }

    .additional-color-1-svg {
      path {
        stroke: $color_set_5_additional_color_1;
        fill: $color_set_5_additional_color_1;
      }
    }
  }

  .color-scheme-state-color-set-6 {
    .main-color-1-background {
      background-color: $main_color_1;
    }

    .main-color-2-text {
      color: $main_color_2;
    }

    .main-color-3-text {
      color: $main_color_3;
    }

    .additional-color-1-text {
      color: $color_set_6_additional_color_1;
    }

    .additional-color-1-border {
      border-color: $color_set_6_additional_color_1;
    }

    .additional-color-1-svg-path {
      path {
        stroke: $color_set_6_additional_color_1;
        fill: $main_color_1;
      }
    }

    .additional-color-1-svg {
      path {
        stroke: $color_set_6_additional_color_1;
        fill: $color_set_6_additional_color_1;
      }
    }
  }

  .color-scheme-state-color-set-7 {
    .main-color-1-background {
      background-color: $main_color_1;
    }

    .main-color-2-text {
      color: $main_color_2;
    }

    .main-color-3-text {
      color: $main_color_3;
    }

    .additional-color-1-text {
      color: $color_set_7_additional_color_1;
    }

    .additional-color-1-border {
      border-color: $color_set_7_additional_color_1;
    }

    .additional-color-1-svg-path {
      path {
        stroke: $color_set_7_additional_color_1;
        fill: $main_color_1;
      }
    }

    .additional-color-1-svg {
      path {
        stroke: $color_set_7_additional_color_1;
        fill: $color_set_7_additional_color_1;
      }
    }
  }


  * {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    font-family: 'Poppins', sans-serif;
  }

  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }

  .font-weight-300 {
    font-weight: 300;
  }

  .font-weight-400 {
    font-weight: 400;
  }

  .font-weight-500 {
    font-weight: 500;
  }

  .font-weight-600 {
    font-weight: 600;
  }

  .font-weight-700 {
    font-weight: 700;
  }

  .font-weight-900 {
    font-weight: 900;
  }

  // .cv-chapter-section {
  //   margin: 20px;
  // }

  .cv-prophecy {
    text-align: center;
    font-family: 'Bentham', sans-serif;
  }

  .cv-name {
    text-align: center;
    font-family: 'Bentham', sans-serif;
  }

  ul {
    li {
      list-style-type: none;
    }
  }

  #cv-body-hidden-container,
  #cv-body-2 {
    height: auto;
    max-height: none;
    position: absolute;
    z-index: -1;
    opacity: 0;
    pointer-events: none;
  }

  .cv-body {
    min-width: 595px;
    min-height: 764px;
    max-height: 764px;
    background-color: #fff;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    padding: 15.6px 18.95px 19.2px 30px;

    .cv-body-content {
      flex: 1;
      display: flex;
      flex-direction: row;
      align-items: stretch;
      justify-content: stretch;
      position: relative;
      z-index: 10;

      .column-left {
        flex: 1;
        margin-right: 16.32px;

        .main-info-block {
          .cv-name {
            text-align: left;
          }

          .cv-prophecy {
            text-align: left;
          }
        }
      }

      .column-right {
        width: 198.74px;
        padding: 19.2px;
        box-sizing: border-box;
        border-radius: 99.37px 99.37px 0px 0px;
        border-width: 1px;
        border-style: solid;
        position: relative;
      }
    }

    &.cv-body-1 {
      position: relative;

      .star-1 {
        position: absolute;
        bottom: 3px;
        right: 4px;
        z-index: 100;
        width: 75px;
        height: 75px;
      }

      .cv-body-content {
        position: relative;

        .column-left {
          margin: 20px 16.32px 0px 0px;
        }
      }
    }

    &.cv-body-2 {
      padding: 76px 127px 62px 138px;

      .cv-body-content {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: stretch;

        .top-area {
          .cv-name {
            text-align: left;
          }
        }

        .middle-area {
          flex: 1;
          margin: 40.6px 0px 0px 0px;

          .letter-block {
            .letter-heading {
              margin: 0px 0px 12px 0px;
            }

            .letter-text {}
          }
        }

        .bottom-area {
          display: flex;
          align-items: stretch;
          position: relative;
          border-top-width: 1px;
          border-top-style: solid;

          .star-2 {
            position: absolute;
            right: -24px;
            top: -45px;
            z-index: 100;
            width: 90px;
            height: 90px;
          }

          .addresses-block {
            display: flex;
            flex-direction: row;
            align-items: stretch;
            justify-content: stretch;

            .block-to {
              width: 95px;
              margin: 30px 50px 0px 0px;
            }

            .block-from {
              width: 108px;
              margin: 30px 0px 0px 0px;
            }

            p {
              margin: 5px 0px 0px 0px;
            }
          }
        }
      }
    }
  }

  .estimated-items-list {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;

    .estimated-item {
      display: flex;
      align-items: center;

      .item-name {
        width: 80px;
        margin: 0px 6px 0px 0px;
      }

      .estimation-wrapper {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .star {
          opacity: 0.5;
          margin: 0px 2px 0px 0px;
          width: 10px;
          height: 11px;

          &:last-child {
            margin: 0px 2px 0px 0px;
          }

          &.star-filled {
            opacity: 1;
          }
        }
      }
    }
  }

  /* Block stylization */
  .block-block {
    .block-heading {
      font-family: 'Bentham', sans-serif;
    }
  }

  .block-block-2 {
    .block-heading {
      font-family: 'Bentham', sans-serif;
    }
  }

  .photo-block {
    img {
      width: 160.43px;
      height: 160.43px;
      display: block;
      border-radius: 50%;
    }
  }

  .main-info-block {
    .cv-name {}

    .cv-prophecy {
      font-family: 'Bentham', sans-serif;
      margin: 8px 0px 0px 0px;
    }
  }

  .profile-block {
    margin: 23px 0px 0px 0px;

    p {
      margin: 6px 0px 0px 0px;
    }
  }

  .employment-history-block {
    margin: 10px 0px 0px 0px;

    .block-subheading {
      margin: 6px 0px 0px 0px;
    }

    .date-range {
      margin: 5px 0px 0px 0px;
    }

    ul li {
      margin: 2px 0px 0px 0px;

      &:first-child {
        margin: 5px 0px 0px 0px;
      }
    }
  }

  .education-block {
    margin: 10px 0px 0px 0px;

    .subheading-line {
      display: flex;
      align-items: center;
      margin: 6px 0px 0px 0px;
    }

    p {
      margin: 2px 0px 0px 0px;
    }

    .date-range {
      margin: 5px 0px 0px 0px;
    }
  }

  .courses-block {
    margin: 10px 0px 0px 0px;

    p {
      margin: 2px 0px 0px 0px;
    }

    .date-range {
      margin: 5px 0px 0px 0px;
    }
  }

  .extra-curricular-activities-block {
    margin: 10px 0px 0px 0px;

    p {
      margin: 2px 0px 0px 0px;
    }

    .date-range {
      margin: 5px 0px 0px 0px;
    }
  }

  .internships-block {
    margin: 10px 0px 0px 0px;

    ul li {
      margin: 2px 0px 0px 0px;
    }

    .date-range {
      margin: 5px 0px 0px 0px;
    }
  }

  .details-block {
    margin: 16.1px 0px 0px 0px;

    .contacts-block {
      margin: 6px 0px 0px 0px;
    }

    .personal-info-block {
      margin: 9px 0px 0px 0px;

      .personal-info-list {
        .info-list-item {
          margin: 5px 0px 0px 0px;

          &:first-child {
            margin: 0px 0px 0px 0px;
          }
        }
      }
    }
  }

  .links-block {
    margin: 15px 0px 0px 0px;

    .links-wrapper {
      a {
        display: block;
        margin: 6px 0px 0px 0px;
      }
    }
  }

  .skills-block {
    margin: 15px 0px 0px 0px;

    .skill-items-list {
      margin: 6px 0px 0px 0px;

      .skill-list-item {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        margin: 5px 0px 0px 0px;

        .item-name {
          width: 80px;
          margin: 0px 6px 0px 0px;
        }
      }
    }
  }

  .languages-block {
    margin: 15px 0px 0px 0px;

    .language-items-list {
      margin: 6px 0px 0px 0px;

      .language-list-item {
        margin: 5px 0px 0px 0px;

        &:first-child {
          margin: 0px 0px 0px 0px;
        }
      }
    }
  }

  .hobbies-block {
    margin: 15px 0px 0px 0px;

    p {
      margin: 5px 0px 0px 0px;

      &:first-child {
        margin: 6px 0px 0px 0px;
      }
    }
  }

  .references-block {
    margin: 15px 0px 0px 0px;

    p {
      margin: 3px 0px 0px 0px;

      &:first-child {
        margin: 6px 0px 0px 0px;
      }
    }
  }



  /* Control panel */
  #control-panel {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 10000;

    .control-panel-item-block {
      border: 1px solid #ccc;
      background-color: #fff;
      border-radius: 5px;
      padding: 5px 10px;

      .control-panel-heading {
        font-size: 11px;
        margin: 0px 0px 0px 0px;
      }

      .control-panel-item-input-list {
        &.radio-input-list {
          .input-list-item {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            cursor: pointer;
            margin: 3px 0px;

            .radio-input {
              display: block;
              border-radius: 50%;
              border: 2px solid #d6d0d0;
              width: 7px;
              height: 7px;
              background-color: transparent;
              margin-right: 5px;
              pointer-events: none;
            }

            .radio-input-label {
              font-size: 10px;
              pointer-events: none;
            }

            &.active {
              .radio-input {
                background-color: #d6d0d0;
              }
            }
          }

          &.color-list {
            .input-list-item {
              .radio-input-label {
                flex: 1;
                height: 15px;
                border-radius: 3px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;

                .color-set-color {
                  display: block;
                  border-radius: 50%;
                  width: 15px;
                  height: 15px;
                  border: 0.5px solid #d4d4d4;
                }
              }
            }
          }
        }
      }
    }
  }



  /* Stylization */
  #cv-chapter-section-cv {
    .photo-block {
      display: none;
    }

    &.has-photo {
      .photo-block {
        display: flex;
      }
    }
  }


  /* Custom class for custom color and font-size or line-height */
  /* ReactJS scripts shoud change CUSTOM_FONT_SIZE, CUSTOM_LINE_HEIGHT and CUSTOM_COLOR to any values
AND change appropriate container classes to font-size-scheme-state-custom, line-height-scheme-state-custom, color-scheme-state-color-set-custom */
  .font-size-scheme-state-custom {
    .font-size-1 {
      /* font-size: CUSTOM_FONT_SIZE; */
    }

    .font-size-2 {
      /* font-size: CUSTOM_FONT_SIZE; */
    }

    .font-size-3 {
      /* font-size: CUSTOM_FONT_SIZE; */
    }

    .font-size-4 {
      /* font-size: CUSTOM_FONT_SIZE; */
    }

    .font-size-5 {
      /* font-size: CUSTOM_FONT_SIZE; */
    }
  }

  /* Line height scheme */
  .line-height-scheme-state-custom {
    .line-height-1 {
      /* line-height: CUSTOM_LINE_HEIGHT; */
    }

    .line-height-2 {
      /* line-height: CUSTOM_LINE_HEIGHT; */
    }

    .line-height-3 {
      /* line-height: CUSTOM_LINE_HEIGHT; */
    }

    .line-height-4 {
      /* line-height: CUSTOM_LINE_HEIGHT; */
    }

    .line-height-5 {
      /* line-height: CUSTOM_LINE_HEIGHT; */
    }

    .line-height-6 {
      /* line-height: CUSTOM_LINE_HEIGHT; */
    }
  }


  .color-scheme-state-color-set-custom {
    .main-color-1-text {
      color: $main_color_1;
    }

    .main-color-1-background {
      background-color: $main_color_1;
    }

    .main-color-2-text {
      color: $main_color_2;
    }

    .main-color-2-border {
      border-color: $main_color_2;
    }

    .additional-color-1-text {
      /* color: CUSTOM_COLOR; */
    }

    .additional-color-1-border {
      /* border-color: CUSTOM_COLOR; */
    }

    .additional-color-1-background {
      /* background-color: CUSTOM_COLOR; */
    }

    .additional-color-1-svg-path {
      path {
        /* stroke: CUSTOM_COLOR; */
        fill: transparent;
      }
    }

    .additional-color-1-svg {
      path {
        /* fill: CUSTOM_COLOR; */
      }
    }

    .additional-color-2-text {
      /* color: CUSTOM_COLOR; */
    }

    .additional-color-2-border {
      /* border-color: CUSTOM_COLOR; */
    }

    .additional-color-2-background {
      /* background-color: CUSTOM_COLOR; */
    }

    .additional-color-2-svg-path {
      path {
        /* stroke: CUSTOM_COLOR; */
        fill: transparent;
      }
    }

    .additional-color-2-svg {
      path {
        /* fill: CUSTOM_COLOR; */
      }
    }
  }
}