/* Font faces */
@font-face {
  font-family: 'Bentham';
  src: url('./fonts/Bentham/Bentham-Regular.ttf');
}

@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins/Poppins-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins/Poppins-Regular.ttf');
  font-weight: 400;
}

  /* Colors */
  $main_color_1: #F3EEEA;
  $main_color_2: #989898;
  $main_color_3: #000000;

  $color_set_1_additional_color_1: #7F6A55;
  $color_set_2_additional_color_1: #AA7777;
  $color_set_3_additional_color_1: #9A8E80;
  $color_set_4_additional_color_1: #737C6C;
  $color_set_5_additional_color_1: #548C8C;
  $color_set_6_additional_color_1: #64668A;
  $color_set_7_additional_color_1: #87608D;

.sv_032 {
  font-family: 'Poppins', sans-serif;

  * {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
  }

  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }

  .cv-name {
    font-family: 'Bentham', sans-serif;
    font-weight: 400;
    line-height: 90%;
  }

  .cv-prophecy {
    font-family: 'Bentham', sans-serif;
    margin-top: 8px;
    font-weight: 400;
    text-transform: lowercase;
  }

  ul {
    li {
      list-style-type: none;
    }
  }

  #cv-body-hidden-container,
  #cv-body-2 {
    height: auto;
    max-height: none;
    position: absolute;
    z-index: -1;
    opacity: 0;
    pointer-events: none;
  }

  .cv-body {
    min-width: 595px;
    min-height: 764px;
    max-height: 764px;
    background-color: #fff;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;

    .cv-body-content {
      flex: 1;
      display: flex;
      position: relative;
      padding: 15px 20px;
      column-gap: 15px;

      .column-left {
        flex: 1;
      }

      .column-right {
        width: 200px;
        padding: 20px;
        box-sizing: border-box;
        border-radius: 100px 100px 0px 0px;
        border-width: 1px;
        border-style: solid;
        position: relative;

        .block-block {
          &:not(:first-of-type) {
            margin-top: 15px;
          }
        }
      }
    }

    &.cv-body-2 {
      .cv-body-content {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: stretch;
        padding: 75px 135px 60px;

        .top-area {
          .cv-name {
            text-align: left;
          }
        }

        .middle-area {
          flex: 1;
          margin: 40px 0;
        }

        .bottom-area {
          display: flex;
          position: relative;
          border-top-width: 1px;
          border-top-style: solid;

          .star-2 {
            position: absolute;
            right: -24px;
            top: -45px;
            z-index: 100;
            width: 90px;
            height: 90px;
          }

          .addresses-block {
            display: flex;
            column-gap: 50px;
            margin-top: 30px;

            .block-to {
              width: 130px;
            }
          }
        }
      }
    }

    &.page-2,
    &.page-3,
    &.page-4 {
      .cv-body-content {
        .column-right {
          border-radius: 0;
          padding-top: 10px;
        }
      }
    }
  }

  .estimated-items-list {
    display: flex;
    flex-direction: column;
    row-gap: 5px;

    .estimated-item {
      display: flex;
      align-items: center;
      column-gap: 6px;
      justify-content: space-between;

      .item-name {
        width: 80px;
      }

      .estimation-wrapper {
        display: flex;
        column-gap: 2px;
        .star {
          opacity: 0.5;
          width: 10px;
          height: 11px;
          &.star-filled {
            opacity: 1;
          }
        }
      }
    }
  }

  /* Block stylization */
  .block-block {
    .cv-heading {
      font-family: 'Bentham', sans-serif;
      font-weight: 400;
      margin-bottom: 6px;
    }

    .cv-subheading {
      font-weight: 400;
      margin-bottom: 5px;
    }

    .block-info {
      &:not(:first-of-type) {
        margin-top: 10px;
      }
    }

    .date-range {
      color: $main_color_2;
      letter-spacing: 0.8px;
      margin-bottom: 5px;
      text-transform: uppercase;
    }

    &:not(:first-of-type) {
      margin-top: 10px;
    }
    
    &:nth-child(2) {
      margin-top: 25px;
    } 
  }

  .photo-block {
    width: 160px;
    height: 160px;
    .photo {
      display: block;
      border-radius: 100%;
      width: 160px;
      height: 160px;
      overflow: hidden;
      border-radius: 100%;
      background-size: cover;
      background-position: center center;
    }
  }

  .main-info-block {
    margin-top: 20px;
  }

  .employment-history-block {
    ul {
      li {
        &:not(:first-of-type) {
          margin-top: 2px;
        }
      }
    }
  }

  .details-block {
    .contacts-block {
      p {
        &:not(:first-of-type) {
          margin-top: 2px;
        }
      }
    }
    .personal-info-block {
      margin-top: 10px;

      .personal-info-list {
        .info-list-item {
          .item-name {
            text-transform: uppercase;
            color: $main_color_2;
            margin-bottom: 2px;
          }
          &:not(:first-of-type) {
            margin-top: 5px;
          }
        }
      }
    }
  }

  .links-block {
    .links-wrapper {
      display: flex;
      flex-direction: column;
      row-gap: 6px;
      a {
        text-decoration: underline;
      }
    }
  }

  .references-block {
    p {
      &:not(:first-of-type) {
        margin-top: 3px;
      }
    }
  }

  /* Stylization */
  #cv-chapter-section-cv {
    .photo-block {
      display: none;
    }

    &.has-photo {
      .photo-block {
        display: flex;
      }
    }
  }

  .font-size-scheme-state-small {
    .font-size-1 {
      font-size: 8px;
    }

    .font-size-2 {
      font-size: 9px;
    }

    .font-size-3 {
      font-size: 12px;
    }

    .font-size-4 {
      font-size: 18px;
    }

    .font-size-5 {
      font-size: 19px;
    }

    .font-size-6 {
      font-size: 50px;
    }
  }

  .font-size-scheme-state-medium {
    .font-size-1 {
      font-size: 10px;
    }

    .font-size-2 {
      font-size: 11px;
    }

    .font-size-3 {
      font-size: 14px;
    }

    .font-size-4 {
      font-size: 20px;
    }

    .font-size-5 {
      font-size: 21px;
    }

    .font-size-6 {
      font-size: 52px;
    }
  }

  .font-size-scheme-state-big {
    .font-size-1 {
      font-size: 12px;
    }

    .font-size-2 {
      font-size: 13px;
    }

    .font-size-3 {
      font-size: 16px;
    }

    .font-size-4 {
      font-size: 22px;
    }

    .font-size-5 {
      font-size: 23px;
    }

    .font-size-6 {
      font-size: 54px;
    }
  }

  /* Line height scheme */
  .line-height-scheme-state-small {
    .cv-body-content {
      line-height: 1.2;
    }
  }

  .line-height-scheme-state-medium {
    .cv-body-content {
      line-height: 1.4;
    }
  }

  .line-height-scheme-state-big {
    .cv-body-content {
      line-height: 1.6;
    }
  }

  .line_text {
    &::before {
      background: $main_color_3;
    }
  }

  /* Color scheme */
  .color-scheme-state-color-set-1 {
    .main-color-1-background {
      background-color: $main_color_1;
    }

    .main-color-2-text {
      color: $main_color_2;
    }

    .main-color-3-text {
      color: $main_color_3;
    }

    .additional-color-1-text {
      color: $color_set_1_additional_color_1;
    }

    .additional-color-1-border {
      border-color: $color_set_1_additional_color_1;
    }

    .additional-color-1-svg-path {
      path {
        stroke: $color_set_1_additional_color_1;
        fill: $main_color_1;
      }
    }

    .additional-color-1-svg {
      path {
        stroke: $color_set_1_additional_color_1;
        fill: $color_set_1_additional_color_1;
      }
    }
  }

  .color-scheme-state-color-set-2 {
    .main-color-1-background {
      background-color: $main_color_1;
    }

    .main-color-2-text {
      color: $main_color_2;
    }

    .main-color-3-text {
      color: $main_color_3;
    }

    .additional-color-1-text {
      color: $color_set_2_additional_color_1;
    }

    .additional-color-1-border {
      border-color: $color_set_2_additional_color_1;
    }

    .additional-color-1-svg-path {
      path {
        stroke: $color_set_2_additional_color_1;
        fill: $main_color_1;
      }
    }

    .additional-color-1-svg {
      path {
        stroke: $color_set_2_additional_color_1;
        fill: $color_set_2_additional_color_1;
      }
    }
  }

  .color-scheme-state-color-set-3 {
    .main-color-1-background {
      background-color: $main_color_1;
    }

    .main-color-2-text {
      color: $main_color_2;
    }

    .main-color-3-text {
      color: $main_color_3;
    }

    .additional-color-1-text {
      color: $color_set_3_additional_color_1;
    }

    .additional-color-1-border {
      border-color: $color_set_3_additional_color_1;
    }

    .additional-color-1-svg-path {
      path {
        stroke: $color_set_3_additional_color_1;
        fill: $main_color_1;
      }
    }

    .additional-color-1-svg {
      path {
        stroke: $color_set_3_additional_color_1;
        fill: $color_set_3_additional_color_1;
      }
    }
  }

  .color-scheme-state-color-set-4 {
    .main-color-1-background {
      background-color: $main_color_1;
    }

    .main-color-2-text {
      color: $main_color_2;
    }

    .main-color-3-text {
      color: $main_color_3;
    }

    .additional-color-1-text {
      color: $color_set_4_additional_color_1;
    }

    .additional-color-1-border {
      border-color: $color_set_4_additional_color_1;
    }

    .additional-color-1-svg-path {
      path {
        stroke: $color_set_4_additional_color_1;
        fill: $main_color_1;
      }
    }

    .additional-color-1-svg {
      path {
        stroke: $color_set_4_additional_color_1;
        fill: $color_set_4_additional_color_1;
      }
    }
  }

  .color-scheme-state-color-set-5 {
    .main-color-1-background {
      background-color: $main_color_1;
    }

    .main-color-2-text {
      color: $main_color_2;
    }

    .main-color-3-text {
      color: $main_color_3;
    }

    .additional-color-1-text {
      color: $color_set_5_additional_color_1;
    }

    .additional-color-1-border {
      border-color: $color_set_5_additional_color_1;
    }

    .additional-color-1-svg-path {
      path {
        stroke: $color_set_5_additional_color_1;
        fill: $main_color_1;
      }
    }

    .additional-color-1-svg {
      path {
        stroke: $color_set_5_additional_color_1;
        fill: $color_set_5_additional_color_1;
      }
    }
  }

  .color-scheme-state-color-set-6 {
    .main-color-1-background {
      background-color: $main_color_1;
    }

    .main-color-2-text {
      color: $main_color_2;
    }

    .main-color-3-text {
      color: $main_color_3;
    }

    .additional-color-1-text {
      color: $color_set_6_additional_color_1;
    }

    .additional-color-1-border {
      border-color: $color_set_6_additional_color_1;
    }

    .additional-color-1-svg-path {
      path {
        stroke: $color_set_6_additional_color_1;
        fill: $main_color_1;
      }
    }

    .additional-color-1-svg {
      path {
        stroke: $color_set_6_additional_color_1;
        fill: $color_set_6_additional_color_1;
      }
    }
  }

  .color-scheme-state-color-set-7 {
    .main-color-1-background {
      background-color: $main_color_1;
    }

    .main-color-2-text {
      color: $main_color_2;
    }

    .main-color-3-text {
      color: $main_color_3;
    }

    .additional-color-1-text {
      color: $color_set_7_additional_color_1;
    }

    .additional-color-1-border {
      border-color: $color_set_7_additional_color_1;
    }

    .additional-color-1-svg-path {
      path {
        stroke: $color_set_7_additional_color_1;
        fill: $main_color_1;
      }
    }

    .additional-color-1-svg {
      path {
        stroke: $color_set_7_additional_color_1;
        fill: $color_set_7_additional_color_1;
      }
    }
  }
}