.partners {
  background: var(--light-grey);
  padding: 59px 0 53px 0;
  height: 140px;
  position: relative;

  @media screen and (max-width: 768px) {
    height: 80px;
  }
}

.partnersWrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: absolute;
  left: 0;
  width: 2000px;
  justify-content: flex-start;

  &.greyFilter {
    filter: grayscale(1);
  }

  span {
    margin-left: 65px;

    &:first-child {
      margin-left: 0;
    }
  }

  img {
      max-width: 100%;
      max-height: 100%;
      object-fit: cover;
      opacity: 0.4;
      margin: 4px 2%;
  }

  @media screen and (max-width: 768px) {
    transform: scale(0.5) translate(-1000px, -40px);
    position: absolute;
    width: 2000px;
    left: -25px;
    top: 50%;
  }
}

@media (max-width: 1199px) {
  .partners {
      padding: 60px 30px;
  }
  .partnersWrapper {
      img {
          margin-top: 15px;
          margin-bottom: 15px;
      }
  }
}

@media (max-width: 992px) {

  .partners {
      .h2 {
          text-align: center;
      }
  }

  .partners {
      padding: 40px;
  }
}

@media (max-width: 767px) {
  section.partners.mt-130 {
      margin-top: 0 !important;
  }
}