.page-now *,
.page-now {
    font-family: "NotoSans", sans-serif;
}

.wr {
    margin-top: 40px;
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

.title {
    font-weight: 400;
    font-size: 30px;
    color: #01153A;
    text-align: center;
    font-weight: 600;
    margin: 0 auto;
    max-width: 480px;
    font-family: "NotoSans", sans-serif;
}

.sub_title {
    color: #838799;
    margin: 24px auto 0 auto;
    max-width: 660px;
    text-align: center;
    line-height: 1.4;
    font-family: "NotoSans", sans-serif;
    font-weight: 400;

    a {
        color: #3679FD;
    }
}

.items_grid {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 40px;
}

.info_page {
    padding-bottom: 20px;
}

.bnt_now {
    background: #01153A;
    color: #fff;
    font-family: "NotoSans", sans-serif;

    span {
        font-family: "NotoSans", sans-serif;
    }
}

.card {
    padding: 32px;
    background: #F8F8F8;
    border: 1px solid #F8F8F8;
    color: #01153A;
    border-radius: 20px;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "NotoSans", sans-serif;

    &* {
        font-family: "NotoSans", sans-serif;
    }

    &.active {
        background: #01153A;
        border-color: #01153A;
        color: #fff;

        .head,
        .car_price,
        .car_days {
            color: #fff;
        }

        .car_days {
            border-bottom: 1px solid #546C97;
        }

        .bnt_now {
            color: #01153A !important;
            background: #fff;

            &:hover {
                background: #1f62e5;
                color: #fff !important;
            }
        }
    }
}

.head {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    color: #01153A;
    font-family: "NotoSans", sans-serif;

    &_g {
        color: #6DC26C;
    }
}

.car_center {
    margin-top: 10px;
}

.car_price {
    display: flex;
    align-items: center;
    color: #01153A;
    font-size: 36px;
    font-weight: 500;
    font-family: "NotoSans", sans-serif;

    span {
        font-size: 20px;
        margin-top: -10px;
        padding-right: 4px;
        font-weight: 400;
        font-family: "NotoSans", sans-serif;
    }
}

.car_days {
    margin-top: 10px;
    color: #01153A;
    font-family: "NotoSans", sans-serif;
    font-weight: 400;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(84, 108, 151, 0.1);
}

.car_wr_list {
    margin-top: 24px;

    ul,
    li {
        font-family: "NotoSans", sans-serif;
        font-weight: 400;
    }
}

.car_bot {
    margin-top: 20px;
    display: flex;

    &>div {
        border-radius: 35px;
    }
}

.cont {
    margin-top: 100px;
}

.items_payment {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #838799;
    font-family: "NotoSans", sans-serif;

    span {
        margin: 0 6px;
    }

    div {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    img {
        margin: 0 6px;
    }
}

.t_w {
    margin-top: 20px;
    max-width: 780px;
}

.m_t_f {
    margin-top: 120px;
}

.wr_accar {
    margin: 60px auto 0 auto;
    max-width: 830px;
}

@media (max-width: 1023px) {
    .items_grid {
        grid-gap: 20px;
        margin-top: 40px;
    }
}

@media(max-width: 992px) {
    .items_grid {
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
    }

    .cont {
        margin-top: 50px;
    }
}

@media (max-width: 767px) {
    .card {
        padding: 22px 20px;
    }

    .title {
        font-size: 24px;
    }

    .sub_title {
        font-size: 14px;
        margin-top: 24px;
    }

    .head {
        font-size: 14px;
    }

    .wr {
        margin-top: 20px;
    }

    .items_grid {
        margin-top: 20px;
    }

    .car_wr_list {
        font-size: 14px;
    }

    .cont {
        margin-top: 36px;
    }

    .items_payment {
        flex-direction: column;
        justify-content: center;

        div {
            margin-top: 12px;
        }
    }

    .m_t_f {
        margin-top: 80px;
    }

    .wr_accar {
        margin-top: 40px;
    }
}

@media (max-width: 599px) {
    .items_grid {
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
    }
}

@media (max-width: 575px) {
    .card {
        padding: 20px;
    }

    .title {
        font-size: 24px;
    }

    .head {
        font-size: 14px;
    }

    .wr {
        margin-top: 24px;
    }

    .cont {
        margin-top: 80px;
    }
}