.add_photo {
   width: 138px;
   position: relative;
   border: 1px dashed #dadce3;
   border-radius: 12px;
   overflow: hidden;
   height: 100%;
   transition: all 0.3s cubic-bezier(0.5, 0.02, 0.13, 0.5);

   @media (any-hover: hover) {
      &:hover {
         border: 1px dashed #3679fd;
      }
   }

   @media screen and (max-width: 768px) {
      height: 138px;
   }

   &__image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      img {
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }

   &__input {
      position: absolute;
   }

   &__label {
      display: flex;
      flex-direction: column;
      gap: 8px;
      font-weight: 400;
      font-size: 18px;
      cursor: pointer;
      line-height: 21px;
      color: #3679fd;
      text-align: center;
      align-items: center;
      justify-content: center;
      height: 100%;
      position: relative;
   }
}


.icon_add {
   width: 24px;
   height: 24px;
}

.edit_photo {
   &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 12px;
      background: #01153A;
      opacity: 0.4;
      z-index: 4;
   }
   .add_photo__label {
      color: #fff;
   }
}