@font-face {
  font-family: 'Oswald';
  src: url('./fonts/Oswald/Oswald-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto/Roboto-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat/Montserrat-VariableFont_wght.ttf');
}

  /* Colors */
  $main_color_1: #2F2F2F;
  $main_color_2: #FFFFFF;

  $color_set_0_additional_color_1: #2F2F2F;
  $color_set_0_additional_color_2: #2F2F2F;
  $color_set_0_additional_color_3: #9A9A9A;

  $color_set_1_additional_color_1: #393505;
  $color_set_1_additional_color_2: #605C2C;
  $color_set_1_additional_color_3: #8A8002;

  $color_set_2_additional_color_1: #390505;
  $color_set_2_additional_color_2: #602C2C;
  $color_set_2_additional_color_3: #8A0202;

  $color_set_3_additional_color_1: #320539;
  $color_set_3_additional_color_2: #432C60;
  $color_set_3_additional_color_3: #88009E;

  $color_set_4_additional_color_1: #052D39;
  $color_set_4_additional_color_2: #4E6B75;
  $color_set_4_additional_color_3: #3391A6;

  $color_set_5_additional_color_1: #053923;
  $color_set_5_additional_color_2: #2C6056;
  $color_set_5_additional_color_3: #028A61;

  $color_set_6_additional_color_1: #053907;
  $color_set_6_additional_color_2: #487940;
  $color_set_6_additional_color_3: #4AA633;

.sv_011 {
  font-family: 'Roboto', sans-serif;

  * {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
  }

  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }

  ul {
    li {
      position: relative;
      &:not(:first-child) {
        margin-top: 4px;
      }
      &::before {
        content: " ";
        display: block;
        position: absolute;
        width: 5px;
        height: 5px;
        top: 3px;
        left: -18px;
        border-radius: 100%;
      }
    }
  }

  .cv-name {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
  }

  .cv-prophecy {
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 2px;
    font-weight: 400;
  }

  .date-range {
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 5px;
  }

  .item-value-container {
    height: 3px;
    width: 155px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: stretch;
    background: linear-gradient(270deg, #60A9CC 0%, #D13B83 100%);

    .item-value {
      width: 50%;
      background-color: transparent;
      position: relative;
      height: 100%;
    }

    .item-value-point {
      position: absolute;
      transform: translate(10px, -50%);
      right: 0px;
      top: 50%;
    }

    .empty-gap {
      flex: 1;
      height: 100%;
    }
  }

  #cv-body-hidden-container,
  #cv-body-2 {
    height: auto;
    max-height: none;
    position: absolute;
    z-index: -1;
    opacity: 0;
    pointer-events: none;
  }

  .cv-body {
    min-width: 595px;
    min-height: 764px;
    height: 764px;
    max-height: 764px;
    background-color: #fff;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    .cv-body-content {
      flex: 1;
      display: flex;
      flex-direction: row;
      align-items: stretch;
      justify-content: stretch;
      position: relative;
      z-index: 10;
      .column-right {
        width: 180px;
        min-width: 180px;
        padding-right: 20px;
        margin-left: 45px;
        .block-block {
          .block-heading {
            font-family: 'Oswald', sans-serif;
            font-weight: 400;
            margin-bottom: 5px !important;
          }
          .block-info {
            &:not(:first-of-type) {
              margin-top: 10px;
            }
          }
          &:not(:first-of-type) {
            margin-top: 20px;
          }
        }
      }
      .column-left {
        flex: 1;
        .block-block {
          margin-top: 10px;
          margin-left: 20px;
          .block-heading {
            font-family: 'Oswald', sans-serif;
            font-weight: 400;
            margin-bottom: 4px !important;
          }
          .block-subheading {
            margin-bottom: 4px;
          }
          .block-info {
            &:not(:first-of-type) {
              margin-top: 10px;
            }
          }
        }
      }
    }

    &.cv-body-1 {
      .cv-body-content {
        .column-left {
          .personal-info-block {
            display: flex;
            height: 200px;
            margin-bottom: 20px;
            margin-left: 20px;
            .photo-block {
              width: 159px;
              height: 159px;
              position: relative;
              .photo {
                width: 159px;
                height: 159px;
                background-size: cover;
                background-position: 50% 50%;
                overflow: hidden;
              }
            }
            .personal-info {
              margin-right: -45px;
              padding-top: 30px;
              flex: 1;
              .personal-additional-info {
                margin-top: 20px;
                .info-item {
                  &:not(:first-child) {
                    margin-top: 8px;
                  }
                }
                .info-item-name {
                  text-transform: uppercase;
                }
                .info-item-value {
                  font-family: 'Montserrat', sans-serif;
                }
              }
            }
          }
        }
      }
    }

    &.cv-body-1 {
      &.page-2,
      &.page-3,
      &.page-4 {
        .cv-body-content {
          .column-right {
            margin-top: 10px;
          }
        }
      }
    }

    &.cv-body-2 {
      .cv-body-content {
        .column-left {
          padding: 30px 0 30px 50px;
          .cv-name {
            text-align: left;
          }
          .letter-block {
            margin-top: 55px;
          }
        }
        .column-right {
          margin-left: 60px;
        }
      }
    }

  }

  .text-block-wrapper {
    .text-block {
      display: flex;
      align-items: stretch;
      margin-left: 6px;

      .left-side {
        .vertical-line {
          width: 1px;
          height: calc(100% - 5px);
          margin-top: 4px;
        }
      }
      .right-side {
        margin-left: 15px;
      }
    }
  }

  .estimation-wrapper {
    position: relative;
    width: 100%;
    height: 6px;

    .estimation-background {
      opacity: 0.4;
      z-index: 0;
      position: absolute;
      top: 0px;
      left: 0px;
      right: 0px;
      bottom: 0px;
    }

    .estimation-value {
      z-index: 10;
      position: absolute;
      top: 0px;
      bottom: 0px;
      left: 0px;
    }
  }

  /* Blocks styles */
  .certificates-block {
    .certificates-block-info {
      span {
        display: block;
        &:not(:first-of-type) {
          margin-top: 6px;
        }
      }
    }
  }

  .references-block {
    .block-info {
      p:not(:first-of-type) {
        margin-top: 3px;
      }
    }
  }

  .skills-block {
    .skills-list {
      .list-item {
        .item-name {
          margin-bottom: 2px;
        }
        &:not(:first-of-type) {
          margin-top: 5px;
        }
      }
    }
  }

  .languages-block {
    .skills-list {
      .list-item {
        .item-name {
          margin-bottom: 2px;
        }
        &:not(:first-of-type) {
          margin-top: 5px;
        }
      }
    }
  }

  /* --- */
  .contacts-information-block {
    position: relative;
    .left-block {
      position: absolute;
      top: 0px;
      left: 0px;
      bottom: 0px;
      width: 23px;
      z-index: -1;
    }

    .right-block {
      padding: 36px 0 75px;
      .contacts-block {
        display: flex;
        flex-direction: column;
        .block-item {
          display: flex;
          align-items: center;
          .left-side {
            width: 23px;
            display: flex;
            flex-shrink: 0;
            align-items: flex-start;
            justify-content: center;
          }
          .right-side {
            flex: 1;
            padding-left: 5px;
          }
          &:not(:first-of-type) {
            margin-top: 6px;
          }
        }
        svg {
          width: 13px;
          height: 13px;
        }
        img {
          width: 13px;
          height: 13px;
        }
      }
    }
  }

  .destination-block {
    position: relative;
    .left-block {
      position: absolute;
      top: 0px;
      left: 0px;
      bottom: 0px;
      width: 23px;
      z-index: -1;
    }
    .right-block {
      padding: 50px 0 10px;
      .destination-contacts-block {
        display: flex;
        flex-direction: column;
        .block-item {
          display: flex;
          .left-side {
            width: 23px;
            display: flex;
            flex-shrink: 0;
            align-items: flex-start;
            justify-content: center;
          }
          .right-side {
            flex: 1;
            padding-left: 5px;
          }
          &:not(:first-of-type) {
            margin-top: 6px;
          }
          &.block-from {
            margin-top: 20px;
          }
        }
        svg {
          width: 13px;
          height: 13px;
        }
        img {
          width: 13px;
          height: 13px;
        }
      }
    }
  }

  /* Stylization */
  #cv-chapter-section-cv {
    .photo-block {
      display: none;
    }

    &.has-photo {
      .photo-block {
        display: flex;
      }
      .cv-name {
        text-align: center;
      }
      .cv-prophecy {
        text-align: center;
      }
      .cv-body {
        &.cv-body-1 {
          .cv-body-content {
            .column-left {
              .personal-info-block {
                margin-left: 0;
                .personal-info {
                  .personal-additional-info {
                    margin-left: 46px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  /* Font size scheme */
  .font-size-scheme-state-small {
    .font-size-1 {
      font-size: 6px;
    }

    .font-size-2 {
      font-size: 8px;
    }

    .font-size-3 {
      font-size: 12px;
    }

    .font-size-4 {
      font-size: 14px;
    }

    .font-size-5 {
      font-size: 18px;
    }

    .font-size-6 {
      font-size: 24px;
    }
  }

  .font-size-scheme-state-medium {
    .font-size-1 {
      font-size: 8px;
    }

    .font-size-2 {
      font-size: 10px;
    }

    .font-size-3 {
      font-size: 14px;
    }

    .font-size-4 {
      font-size: 16px;
    }

    .font-size-5 {
      font-size: 20px;
    }

    .font-size-6 {
      font-size: 26px;
    }
  }

  .font-size-scheme-state-big {
    .font-size-1 {
      font-size: 10px;
    }

    .font-size-2 {
      font-size: 12px;
    }

    .font-size-3 {
      font-size: 16px;
    }

    .font-size-4 {
      font-size: 18px;
    }

    .font-size-5 {
      font-size: 22px;
    }

    .font-size-6 {
      font-size: 28px;
    }

    ul {
      li {
        &::before {
          top: 4px;
        }
      }
    }
  }

  /* Line height scheme */
  .line-height-scheme-state-small {
    .cv-body-content {
      line-height: 1.2;
    }
  }

  .line-height-scheme-state-medium {
    .cv-body-content {
      line-height: 1.4;
    }
  }

  .line-height-scheme-state-big {
    .cv-body-content {
      line-height: 1.6;
    }
  }

  /* Color scheme */
  .color-scheme-state-color-set-0 {
    .main-color-1-text {
      color: $main_color_1;
    }

    .line_text {
      &::before {
        background: $color_set_0_additional_color_1;
      }
    }

    .main-color-1-background {
      background-color: $main_color_1;
    }

    .main-color-2-svg {
      path {
        fill: $main_color_2;
      }

      circle {
        fill: $color_set_0_additional_color_2;
      }
    }

    .additional-color-1-text {
      color: $color_set_0_additional_color_1;
    }

    .additional-color-2-text {
      color: $color_set_0_additional_color_2;
    }

    .additional-color-2-background {
      background-color: $color_set_0_additional_color_2;
    }

    .additional-color-3-text {
      color: $color_set_0_additional_color_3;
    }

    .additional-color-3-background {
      background-color: $color_set_0_additional_color_3;
    }

    ul {
      li {
        &::before {
          background: $color_set_0_additional_color_3;
        }
      }
    }
  }

  .color-scheme-state-color-set-1 {
    .main-color-1-text {
      color: $main_color_1;
    }

    .line_text {
      &::before {
        background: $color_set_1_additional_color_1;
      }
    }

    .main-color-1-background {
      background-color: $main_color_1;
    }

    .main-color-2-svg {
      path {
        fill: $main_color_2;
      }

      circle {
        fill: $color_set_1_additional_color_2;
      }
    }

    .additional-color-1-text {
      color: $color_set_1_additional_color_1;
    }

    .additional-color-2-text {
      color: $color_set_1_additional_color_2;
    }

    .additional-color-2-background {
      background-color: $color_set_1_additional_color_2;
    }

    .additional-color-3-text {
      color: $color_set_1_additional_color_3;
    }

    .additional-color-3-background {
      background-color: $color_set_1_additional_color_3;
    }

    ul {
      li {
        &::before {
          background: $color_set_1_additional_color_3;
        }
      }
    }
  }

  .color-scheme-state-color-set-2 {
    .main-color-1-text {
      color: $main_color_1;
    }

    .line_text {
      &::before {
        background: $color_set_2_additional_color_1;
      }
    }

    .main-color-1-background {
      background-color: $main_color_1;
    }

    .main-color-2-svg {
      path {
        fill: $main_color_2;
      }

      circle {
        fill: $color_set_2_additional_color_2;
      }
    }

    .additional-color-1-text {
      color: $color_set_2_additional_color_1;
    }

    .additional-color-2-text {
      color: $color_set_2_additional_color_2;
    }

    .additional-color-2-background {
      background-color: $color_set_2_additional_color_2;
    }

    .additional-color-3-text {
      color: $color_set_2_additional_color_3;
    }

    .additional-color-3-background {
      background-color: $color_set_2_additional_color_3;
    }

    ul {
      li {
        &::before {
          background: $color_set_2_additional_color_3;
        }
      }
    }
  }

  .color-scheme-state-color-set-3 {
    .main-color-1-text {
      color: $main_color_1;
    }

    .line_text {
      &::before {
        background: $color_set_3_additional_color_1;
      }
    }

    .main-color-1-background {
      background-color: $main_color_1;
    }

    .main-color-2-svg {
      path {
        fill: $main_color_2;
      }

      circle {
        fill: $color_set_3_additional_color_2;
      }
    }

    .additional-color-1-text {
      color: $color_set_3_additional_color_1;
    }

    .additional-color-2-text {
      color: $color_set_3_additional_color_2;
    }

    .additional-color-2-background {
      background-color: $color_set_3_additional_color_2;
    }

    .additional-color-3-text {
      color: $color_set_3_additional_color_3;
    }

    .additional-color-3-background {
      background-color: $color_set_3_additional_color_3;
    }

    ul {
      li {
        &::before {
          background: $color_set_3_additional_color_3;
        }
      }
    }
  }

  .color-scheme-state-color-set-4 {
    .main-color-1-text {
      color: $main_color_1;
    }

    .line_text {
      &::before {
        background: $color_set_4_additional_color_1;
      }
    }

    .main-color-1-background {
      background-color: $main_color_1;
    }

    .main-color-2-svg {
      path {
        fill: $main_color_2;
      }

      circle {
        fill: $color_set_4_additional_color_2;
      }
    }

    .additional-color-1-text {
      color: $color_set_4_additional_color_1;
    }

    .additional-color-2-text {
      color: $color_set_4_additional_color_2;
    }

    .additional-color-2-background {
      background-color: $color_set_4_additional_color_2;
    }

    .additional-color-3-text {
      color: $color_set_4_additional_color_3;
    }

    .additional-color-3-background {
      background-color: $color_set_4_additional_color_3;
    }

    ul {
      li {
        &::before {
          background: $color_set_4_additional_color_3;
        }
      }
    }
  }

  .color-scheme-state-color-set-5 {
    .main-color-1-text {
      color: $main_color_1;
    }

    .line_text {
      &::before {
        background: $color_set_5_additional_color_1;
      }
    }

    .main-color-1-background {
      background-color: $main_color_1;
    }

    .main-color-2-svg {
      path {
        fill: $main_color_2;
      }

      circle {
        fill: $color_set_5_additional_color_2;
      }
    }

    .additional-color-1-text {
      color: $color_set_5_additional_color_1;
    }

    .additional-color-2-text {
      color: $color_set_5_additional_color_2;
    }

    .additional-color-2-background {
      background-color: $color_set_5_additional_color_2;
    }

    .additional-color-3-text {
      color: $color_set_5_additional_color_3;
    }

    .additional-color-3-background {
      background-color: $color_set_5_additional_color_3;
    }

    ul {
      li {
        &::before {
          background: $color_set_5_additional_color_3;
        }
      }
    }
  }

  .color-scheme-state-color-set-6 {
    .main-color-1-text {
      color: $main_color_1;
    }

    .line_text {
      &::before {
        background: $color_set_6_additional_color_1;
      }
    }

    .main-color-1-background {
      background-color: $main_color_1;
    }

    .main-color-2-svg {
      path {
        fill: $main_color_2;
      }

      circle {
        fill: $color_set_6_additional_color_2;
      }
    }

    .additional-color-1-text {
      color: $color_set_6_additional_color_1;
    }

    .additional-color-2-text {
      color: $color_set_6_additional_color_2;
    }

    .additional-color-2-background {
      background-color: $color_set_6_additional_color_2;
    }

    .additional-color-3-text {
      color: $color_set_6_additional_color_3;
    }

    .additional-color-3-background {
      background-color: $color_set_6_additional_color_3;
    }

    ul {
      li {
        &::before {
          background: $color_set_6_additional_color_3;
        }
      }
    }
  }
}