.r-gap-30 {
    row-gap: 30px;
}

.r-gap-24 {
    row-gap: 24px;
}

.btn-blue {
    display: inline-flex;
    background: #3679fd!important;
    border-radius: 12px;
    height: 56px;
    width: 100%;
    align-items: center;
    justify-content: center;
    color: #fff!important;;

    @media (any-hover: hover) {
        &:hover {
            background: #1856d3!important;;
            color: #fff!important;;
        }
    }
}

.form-floating .form-control {
    border: 1px solid #dadce3;
    border-radius: 10px;
    height: 54px;
    font-weight: 350;
    padding: 0.375rem 0.75rem;
}

.form-floating .form-label {
    color: #838799;
    display: flex;
    align-items: center;
}

.custom-select {
    height: 54px !important;
    border: 1px solid #dadce3;
    border-radius: 10px;
    font-weight: 350;
    color: #838799;
}

input.form-control {
    border: 1px solid #dadce3;
    border-radius: 10px;
    height: 54px;
    font-weight: 350;
}

.form-check-label {
    color: #838799;
    top: 4px;
    position: relative;
}

.btn-outline-secondary {
    border: 1px solid #dadce3;
    border-radius: 12px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #838799;
}

.btn-skip {
    width: 220px;
}


.form-control,
.form-select {
    &.is-valid {
        &+label {
            color: #6DC26C;
            width: auto;
            height: auto;
            overflow: visible;
            transform: scale(0.75) translateY(-0.2rem) translateX(0.3rem) !important;
            opacity: 1 !important;

            &:before {
                content: '';
                position: absolute;
                right: -3px;
                top: 50%;
                transform: translateY(-50%);
                background: url('/../images/icons/check-circle.svg') no-repeat center/cover;
                z-index: 1;
                width: 12px;
                height: 12px;

            }
        }
    }

    &.is-invalid {
        &+label {
            color: #F73B3B;
            width: auto;
            height: auto;
            overflow: visible;
            transform: scale(0.75) translateY(-0.2rem) translateX(0.3rem) !important;
            opacity: 1 !important;

            &:before {
                content: '';
                position: absolute;
                right: -3px;
                top: 50%;
                transform: translateY(-50%);
                background: url('/../images/icons/error-circle.svg') no-repeat center/cover;
                z-index: 1;
                width: 12px;
                height: 12px;

            }
        }
    }
}

.form-control.is-valid,
.was-validated .form-control:valid,
.form-control.is-invalid,
.was-validated .form-control:invalid,
.form-select.is-valid,
.was-validated .form-select:valid,
.form-select.is-invalid,
.was-validated .form-select:invalid {
    background-image: none !important;
    border: 1px solid #dadce3;
}

.sidebar-nav .nav-icon:first-child {
    margin-left: 0 !important;
}

.nav-link.active::after {
    content: "";
    left: 0;
    top: 0;
    width: 4px;
    background: #3679fd;
    position: absolute;
    height: 100%;
}

.btn-blue {
    max-width: 220px;
}

@import "react-datepicker/dist/react-datepicker.css";

.custom-datepicker {
    width: 230px;
    height: 230px;
    border: none;
    background: #FFFFFF;
    border-radius: 12px;

    .react-datepicker__month-wrapper {
        display: flex;
        align-self: center;
        justify-content: center;
    }

    .react-datepicker__month-text {
        font-family: "gt_font";
        width: 71px;
        height: 42px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #F6F8FA;
        border-radius: 6px;
        color: #838799;
        font-size: 1rem;
        line-height: (19/16);
        font-style: normal;
        font-weight: 350;

        &.react-datepicker__month--selected {
            background: #3679FD;
            color: #F6F8FA;
        }
    }

    .react-datepicker__month {
        margin: 0 2px;
    }

    .react-datepicker__header {
        border: none;
        background: #FFFFFF;
        font-family: "gt_font";
        font-size: 1rem;
        line-height: (19/16);
        font-style: normal;
        font-weight: 350;
        color: #838799;
        padding: 11px 0;
    }
}

.custom-datepicker-wrapper,
.custom-datepicker-wrapper-2 {
    .react-datepicker__input-container {
        &:before {
            content: '';
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 19.5px;
            background: url('/../images/icons/calendar.svg') no-repeat center/cover;
            width: 16px;
            height: 16px;
            pointer-events: none;
        }
    }

    input {
        border: 1px solid #dadce3;
        border-radius: 10px;
        height: 54px;
        font-weight: 350;
        padding: 0.375rem 0.75rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        max-width: 185px;
        width: 100%;

        &:focus {
            color: var(--cui-input-focus-color, rgba(44, 56, 74, 0.95));
            background-color: var(--cui-input-focus-bg, #fff);
            // border-color: var(--cui-input-focus-border-color, #998fed);
            outline: 0;
            box-shadow: 0 0 0 0.25rem rgb(50 31 219 / 25%);
        }

    }
}

.custom-datepicker-wrapper-2 {
    input {
        max-width: unset;
    }
}

.react-datepicker-popper {
    z-index: 5;
}

.icon-20 {
    width: 20px;
    height: 20px;
}

.icon-28 {
    width: 28px;
    height: 28px;
}

.form-check-label {
    padding-top: 5px;
    padding-left: 8px;
}

.form-check-input {
    width: 24px;
    min-width: 24px;
    height: 24px;
}

.form-check-input:checked {
    background: #3679fd;
    border-color: #3679fd;
}

.icon-hover {
    svg {
        fill: #DADCE3;
        transition: 0.3s;
    }

    &:hover {
        svg {
            fill: #3679FD;
        }
    }
}

.scroll-style {
    scrollbar-color: #3679FD #EEF0F2;
    scrollbar-width: 6px;

    &::-webkit-scrollbar {
        width: 6px;
        height: 6px;
        background-color: #EEF0F2;
        border-radius: 4px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #3679FD;
        border-radius: 4px;
        width: 6px;
    }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none; // Yeah, yeah everybody write about it
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
}

.btn_form {
    &:disabled {
        opacity: 0.6!important;
    }
}