.r-gap-30 {
    row-gap: 30px;
}

.r-gap-24 {
    row-gap: 24px;
}

.btn-blue {
    display: inline-flex;
    background: #3679fd !important;
    border-radius: 12px;
    height: 56px;
    width: 100%;
    align-items: center;
    justify-content: center;
    color: #fff !important;
    ;

    @media (any-hover: hover) {
        &:hover {
            background: #1856d3 !important;
            ;
            color: #fff !important;
            ;
        }
    }
}

.form-floating .form-control {
    border: 1px solid #dadce3;
    border-radius: 10px;
    height: 54px;
    font-weight: 350;
    padding: 0.375rem 0.75rem;
    transition: 0.2s;

    padding-top: 0.625rem !important;

    &+label {
        opacity: 1 !important;
        transform: scale(1) translate(0) !important;
        transition: 0.2s;
    }

    &.text,
    &:focus {
        padding-top: 1.625rem !important;

        &+label {
            opacity: 0.65 !important;
            transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem) !important;
        }
    }

}

.form-floating .form-label {
    color: #838799;
    display: flex;
    align-items: center;
}

.custom-select {
    height: 54px !important;
    border: 1px solid #dadce3;
    border-radius: 10px;
    font-weight: 350;
    color: #838799;
}

input.form-control {
    border: 1px solid #dadce3;
    border-radius: 10px;
    height: 54px;
    font-weight: 350;
}

.btn_delete {
    position: relative;

    input.form-control {
        padding-right: 40px;
    }

    .bnt-delet-ite {
        position: absolute;
        right: 16px;
        top: 50%;
        margin-top: -10px;
    }
}

.btn-outline-secondary {
    border: 1px solid #dadce3;
    border-radius: 12px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #838799;

    svg {
        fill: #838799;
        stroke: #838799;
    }

    &:hover {
        background: transparent !important;
        border-color: #3679FD;
        color: #3679FD;

        svg {
            fill: #3679FD;
            stroke: #3679FD;
        }
    }
}

.btn-skip {
    width: 220px;
}

.DraftEditor-root {
    border: 1px solid #dadce3;
    border-radius: 10px;
    min-height: 150px;
    font-weight: 350;
    padding: 0.375rem 0.75rem;
    background: #fff;

    &:focus {
        color: var(--cui-input-focus-color, rgba(44, 56, 74, 0.95));
        background-color: var(--cui-input-focus-bg, #fff);
        // border-color: var(--cui-input-focus-border-color, #998fed);
        outline: 0;
        box-shadow: 0 0 0 0.25rem rgb(50 31 219 / 25%);
    }

}

.wr-text-edit .DraftEditor-root {
    @media(max-width: 768px) {
        padding-top: 0;
        padding-bottom: 40px;
    }
}



.form-control,
.form-select {
    &.is-valid {
        &+label {
            color: #6DC26C;
            width: auto;
            height: auto;
            overflow: visible;
            transform: scale(0.75) translateY(-0.2rem) translateX(0.3rem) !important;
            opacity: 1 !important;

            &:before {
                content: '';
                position: absolute;
                right: -3px;
                top: 50%;
                transform: translateY(-50%);
                background: url('/../images/icons/check-circle.svg') no-repeat center/cover;
                z-index: 1;
                width: 12px;
                height: 12px;

            }
        }
    }

    &.is-invalid {
        &+label {
            color: #F73B3B;
            width: auto;
            height: auto;
            overflow: visible;
            transform: scale(0.75) translateY(-0.2rem) translateX(0.3rem) !important;
            opacity: 1 !important;

            &:before {
                content: '';
                position: absolute;
                right: -3px;
                top: 50%;
                transform: translateY(-50%);
                background: url('/../images/icons/error-circle.svg') no-repeat center/cover;
                z-index: 1;
                width: 12px;
                height: 12px;

            }
        }
    }
}

.form-control.is-valid,
.was-validated .form-control:valid,
.form-control.is-invalid,
.was-validated .form-control:invalid,
.form-select.is-valid,
.was-validated .form-select:valid,
.form-select.is-invalid,
.was-validated .form-select:invalid {
    background-image: none !important;
    border: 1px solid #dadce3;
}

.sidebar-nav .nav-icon:first-child {
    margin-left: 0 !important;
}

.nav-link.active::after {
    content: "";
    left: 0;
    top: 0;
    width: 4px;
    background: #3679fd;
    position: absolute;
    height: 100%;
}

.btn-blue {
    max-width: 220px;
}


.DraftEditor-root {
    border: 1px solid #dadce3;
    border-radius: 10px;
    min-height: 150px;
    font-weight: 350;
    padding: 0.675rem 0.75rem;
    background: #fff;
    line-height: 2em;

    &:focus {
        color: var(--cui-input-focus-color, rgba(44, 56, 74, 0.95));
        background-color: var(--cui-input-focus-bg, #fff);
        // border-color: var(--cui-input-focus-border-color, #998fed);
        outline: 0;
        box-shadow: 0 0 0 0.25rem rgb(50 31 219 / 25%);
    }

    ul,
    ol {
        margin: 0;
        padding-left: 24px;

        li {
            position: relative;
        }
    }

    ul {
        li {
            list-style: disc;
        }
    }

}

.wr-edit-text {
    .DraftEditor-root {
        min-height: 400px;
        max-height: 400px;
        overflow: auto;
        scrollbar-color: #3679FD #EEF0F2;
        scrollbar-width: 6px;

        &::-webkit-scrollbar {
            width: 6px;
            height: 6px;
            background-color: #EEF0F2;
            border-radius: 4px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #3679FD;
            border-radius: 4px;
            width: 6px;
        }
    }
}

.wr-col-text-r {
    min-height: 400px;
}

.react-datepicker-popper {
    z-index: 5;
}

.icon-20 {
    width: 20px;
    height: 20px;
}

.icon-28 {
    width: 28px;
    height: 28px;
}

.icon-hover {
    svg {
        fill: #DADCE3;
        transition: 0.3s;
    }

    &:hover {
        svg {
            fill: #3679FD;
        }
    }
}

.scroll-style,
textarea.form-control {
    scrollbar-color: #3679FD #EEF0F2;
    scrollbar-width: 6px;

    &::-webkit-scrollbar {
        width: 6px;
        height: 6px;
        background-color: #EEF0F2;
        border-radius: 4px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #3679FD;
        border-radius: 4px;
        width: 6px;
    }
}

.carousel-title {
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--grey-2);
}

.carousel-item-block {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: var(--black);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none; // Yeah, yeah everybody write about it
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
}

.btn_form {
    &:disabled {
        opacity: 0.6 !important;
    }
}

.wr-text-edit {
    position: relative;

    .modal-text__main {
        overflow: hidden;
    }

    // @media(max-width: 767px) {
    //     .modal-text {
    //         position: relative;
    //     }
    // }
}

.t-wr-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 4;
    display: flex;
    align-items: center;
    color: #838799;
    background: #fff;
    padding: 5px;
    outline: none;
    border: none;
    font-weight: 350;

    span {
        padding-right: 10px;
    }

    svg {
        width: 18px;
        height: 19px;
        fill: #1856d3;
    }
}

.modal-text__main {
    background: #FFFFFF;
    border-radius: 12px;
    width: 380px;
    box-shadow: -2px 3px 9px 7px rgb(0 0 0 / 5%);
    border: 1px solid #DADCE3;

    @media screen and (max-width: 768px) {
        width: 100%;
    }
}

.modal-text {
    position: absolute;
    left: calc(100% + 6px);
    top: 0;
    z-index: 20;
    opacity: 0;
    visibility: hidden;

    .modal-text__head {
        position: relative;

        input.form-control {
            box-shadow: none !important;
            padding-right: 40px;
            border-bottom: 1px solid #DADCE3 !important;
            border-radius: 12px 12px 0 0;
            margin: -1px -1px 0 -1px;
            width: calc(100% + 2px);

            &:focus {
                border-color: #DADCE3 !important;
            }
        }

        svg {
            position: absolute;
            top: 50%;
            right: 16px;
            width: 20px;
            height: 20px;
            margin-top: -10px;
        }
    }

    &.open {
        top: 0;
        opacity: 1;
        visibility: visible;
    }

    &.pos_bot {
        top: auto;
        bottom: 0;

        &.open {
            bottom: 0;
        }
    }

    @media screen and (max-width: 768px) {
        left: 0;
        width: 100%;
    }
}

.modal-text__content {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;

    ul {
        max-height: 290px;
        overflow-y: auto;
        margin-bottom: 0;

        li {
            margin-top: 10px;
            display: flex;
            // align-items: center;
            transition: 0.1s;
            padding: 3px 16px;
            cursor: pointer;
            font-size: 14px;
            line-height: 1.8em;

            &:hover {
                background: #F6F8FA;

                .text-icon-in {
                    svg {
                        transform: scale(1.05);
                    }
                }
            }
        }
    }

    .text-icon-in {
        width: 36px;
        height: 36px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #F6F8FA;
        border-radius: 8px;

        svg {
            width: 18px;
            height: 18px;
            transition: 0.1s;
        }
    }

    .text-div-in {
        width: calc(100% - 36px);
        padding-left: 16px;

        b,
        i {
            color: #3679FD;
            font-style: normal;
            font-weight: 400;
        }
    }
}

.empty-text,
.li-load {
    padding: 20px 16px 30px 16px !important;
    text-align: center;
    justify-content: center;
    color: #838799;
    background: #fff !important;
    cursor: auto !important;
}

.modal-text__content_mod {
    position: relative;

    .empty-text__mod {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        svg {
            width: 36px;
            height: 30px;
            margin-bottom: 10px;
        }
    }
}

.li-load {
    svg {
        width: 20px;
        height: 20px;
    }
}

.wr-check {
    display: flex;
    align-items: center;
}

.label-switch {
    span {
        display: block;
        min-width: 40px;
        width: 40px;
        height: 22px;
        background: #DADCE3;
        border-radius: 20px;
        position: relative;
        cursor: pointer;
        transition: 0.3s;

        &::after {
            content: '';
            position: absolute;
            left: 2px;
            top: 2px;
            bottom: 2px;
            width: 18px;
            height: 18px;
            border-radius: 50%;
            background: #fff;
            transition: 0.3s;
        }
    }

    input:checked+span {
        background: #3679FD;

        &::after {
            left: calc(100% - 20px);
        }
    }
}

.wr-check_label {
    padding-left: 10px;
    font-weight: 350;
    font-size: 16px;
    color: #838799;
}

.items-level {
    display: flex;
    align-items: center;
    margin: 0 -7px;

    .btn-secondary {
        width: 54px;
        height: 54px;
        background: #FFFFFF;
        border-radius: 12px;
        font-weight: 350;
        font-size: 16px;
        color: #838799;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        transition: 0.3s;
        margin: 0 7px;

        &:hover {
            transform: scale(1.1);
            background: #fff;
        }
    }

    .btn-check:checked+.btn {
        background: #6DC26C;
        color: #fff;
    }

    @media screen and (max-width: 768px) {
        margin-left: -6px;

        .btn-secondary {
            width: 42px;
            height: 42px;
            margin: 0 0 0 6px;
        }
    }
}

.rows-lan {
    display: flex;
    align-items: center;
}

.btn-wr-ite {
    margin: 0 0 0 36px;
}

.flex-auto {
    flex: 1 1 auto;
}

.btn-download {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #3679FD;
    border-radius: 8px;
    transition: 0.3s;
    cursor: pointer;

    svg {
        width: 20px;
        height: 20px;
    }

    &:hover {
        background: #3f7ffd;
    }
}

button {
    font-weight: 350;
}

.menus-card {
    position: relative;

    &.disabled {
        pointer-events: none;
    }
}

.bnt-menus {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 9px -4px rgba(0,0,0, 0.4);

    svg {
        width: 20px;
        height: 20px;
    }
}

.menus-card_wr {
    position: absolute;
    left: 0;
    top: 80%;
    padding-top: 4px;
    width: 178px;
    opacity: 0;
    visibility: hidden;
    transition: 0.2s;

}

.menus-card_cont {
    background: #FFFFFF;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
    overflow: hidden;
}

.menus-card_ul {
    margin: 0;
    padding: 0;
}

.item-btn-m {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 15px;
    background: #fff;
    transition: 0.2s;
    cursor: pointer;

    &.red {
        color: #F63B3B;
    }

    svg {
        width: 20px;
        height: 20px;
        margin-right: 12px;
    }

    &:hover {
        background: #ffebeb !important;
    }

}

.menus-card {
    &_li {
        &:not(:first-child) {
            border-top: 1px solid #F6F8FA;
        }
    }

    &:hover {
        .menus-card_wr {
            top: 100%;
            opacity: 1;
            visibility: visible;
        }
    }
}

.disableds {
    pointer-events: none !important;
    opacity: 0.8 !important;
}

.bt-1 {
    padding-top: 30px;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: -18px;
        right: -18px;
        height: 1px;
        background: #dadce3;
    }
}

.form-check {
    .form-check-label {
        color: #838799;
        padding-top: 2px;
    }
}

.form-check-input:checked {
    background-color: #3679fd;
    border-color: #3679fd;
}

.row-main {
    flex-wrap: nowrap;
}

.bt {
    border-top: 1px solid #F6F8FA;
}

.bb {
    border-bottom: 1px solid #F6F8FA;
}

.btn-red {
    border-radius: 12px;
    text-align: center;
    padding: 15px;
    transition: 0.4s !important;
    background: transparent;
    border: 1px solid #F63B3B !important;
    color: #F63B3B;
    font-size: 18px;

    &:hover {
        color: #fff;
        background: #F63B3B;
    }

    &.min-220 {
        min-width: 220px;
    }
}

.btn-text-b {
    color: #3679FD;
    font-weight: 400;
    transition: 0.3s;
}

.btn-pl {
    width: 20px;
    height: 20px;
    background: transparent;
    transition: 0.4s;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
        width: inherit;
        height: inherit;
        transition: inherit;
    }

    &:hover {
        background: #3679FD;
    }
}

.itm-s:hover {
    .btn-pl {
        background: #3679FD;
    }
}

.form-control:disabled {
    background: #fff;
}

.btn-close-black {
    padding: 5px;

    svg {
        width: 24px;
        height: 24px;
        transition: 0.3s;
    }

    &:hover {
        svg {
            transform: scale(1.1);
        }
    }
}

.bnt-now {
    border: 1px solid #DADCE3;
    border-radius: 12px;
    background: #fff;
    text-align: center;
    padding: 16px;
    display: flex;
    justify-content: center;
    width: 100%;
    transition: 0.4s;
    color: #01153A;
    font-size: 18px;
    font-weight: 400;

    &:hover {
        background: #3679FD;
        color: #fff;

    }

    &:disabled {
        pointer-events: none;
    }
}

.list-check {
    line-height: 1.4;
    padding-left: 26px;

    li {
        list-style-image: url("/images/icons/check.svg");

        &:not(:first-child) {
            margin-top: 16px;
        }
    }
}

.MuiAccordionSummary-content {
    margin: 20px 0 !important;
}

.MuiAccordionDetails-root {
    padding-top: 0 !important;
}

.MuiAccordion-root {
    border: none !important;

    &:not(:first-child) {
        margin-top: 16px;
    }
}

.MuiAccordion-root:before {
    display: none !important;
}

.MuiIconButton-label {
    svg {
        fill: #838799;
    }
}

.Mui-expanded {
    .MuiIconButton-label {
        svg {
            fill: #3679FD;
        }
    }
}

.error-text-in {
    margin-top: 9px;
    color: #F63B3B;
    font-size: 13px;
    padding-left: 14px;
}

.items-payload {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #838799;

    img {
        margin: 0 6px;
    }
}

.payload_mt {
    margin-top: 48px;
}

.modal-text__main {
    display: flex;
    flex-direction: column;
}

.search-text-content {
    position: relative;
    top: auto;
    left: 0;
    width: 100%;
    opacity: 1;
    visibility: visible;

    .modal-text__main {
        width: 100%;
        box-shadow: none;
        height: 400px;
    }
}

.modal-text__show {
    color: #838799;
    margin: 20px 0 0 0;
    padding: 0 17px 10px 17px;

    span {
        color: #01153A;
        font-weight: 400;
    }
}

// ----data


@import "react-datepicker/dist/react-datepicker.css";

.custom-datepicker {
    width: 230px;
    height: 230px;
    border: none;
    background: #FFFFFF;
    border-radius: 12px;

    .react-datepicker__month-wrapper {
        display: flex;
        align-self: center;
        justify-content: center;
    }

    .react-datepicker__month-text {
        font-family: "gt_font";
        width: 71px;
        height: 42px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #F6F8FA;
        border-radius: 6px;
        color: #838799;
        font-size: 1rem;
        line-height: (19/16);
        font-style: normal;
        font-weight: 350;

        &.react-datepicker__month--selected {
            background: #3679FD;
            color: #F6F8FA;
        }
    }

    .react-datepicker__month {
        margin: 0 2px;
    }

    .react-datepicker__header {
        border: none;
        background: #FFFFFF;
        font-family: "gt_font";
        font-size: 1rem;
        line-height: (19/16);
        font-style: normal;
        font-weight: 350;
        color: #838799;
        padding: 11px 0;
    }
}

.custom-datepicker-wrapper,
.custom-datepicker-wrapper-2 {
    .react-datepicker__input-container {
        &:before {
            content: '';
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 19.5px;
            background: url('/../images/icons/calendar.svg') no-repeat center/cover;
            width: 16px;
            height: 16px;
            pointer-events: none;
        }
    }

    input {
        border: 1px solid #dadce3;
        border-radius: 10px;
        height: 54px;
        font-weight: 350;
        padding: 0.375rem 0.75rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        width: 100%;

        &:focus {
            color: var(--cui-input-focus-color, rgba(44, 56, 74, 0.95));
            background-color: var(--cui-input-focus-bg, #fff);
            // border-color: var(--cui-input-focus-border-color, #998fed);
            outline: 0;
            box-shadow: 0 0 0 0.25rem rgb(50 31 219 / 25%);
        }

    }
}

.custom-datepicker-wrapper-2 {
    input {
        max-width: unset;
    }
}

.react-datepicker__month-container {
    background: #fff;
    border-radius: 12px;
    z-index: 100;
    box-shadow: 0px 2px 5px 0px rgb(0 0 0 / 40%);
    padding: 10px;
}

.react-datepicker {
    .react-datepicker__header__dropdown {
        display: flex;
        justify-content: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .react-datepicker__year-read-view,
    .react-datepicker__month-read-view {
        padding-right: 18px;
        margin: 0 10px;
    }
}

.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range,
.react-datepicker__month-text--selected,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--selected,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__quarter-text--in-range,
.react-datepicker__year-text--selected,
.react-datepicker__year-text--in-selecting-range,
.react-datepicker__year-text--in-range {
    background-color: #3679FD;
}

.react-datepicker__year-read-view--down-arrow,
.react-datepicker__month-read-view--down-arrow,
.react-datepicker__month-year-read-view--down-arrow {
    top: 2px;
    right: 0;
}

.react-datepicker__year-dropdown--scrollable,
.react-datepicker__month-dropdown--scrollable,
.react-datepicker__month-year-dropdown--scrollable {
    scrollbar-color: #3679FD #EEF0F2;
    scrollbar-width: 6px;

    &::-webkit-scrollbar {
        width: 6px;
        height: 6px;
        background-color: #EEF0F2;
        border-radius: 4px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #3679FD;
        border-radius: 4px;
        width: 6px;
    }
}


.react-datepicker__year-read-view--down-arrow,
.react-datepicker__month-read-view--down-arrow,
.react-datepicker__month-year-read-view--down-arrow,
.react-datepicker__navigation-icon::before {
    border-width: 1px 1px 0 0;
}

.react-datepicker__navigation {
    top: 14px
}

.react-datepicker__year-dropdown,
.react-datepicker__month-dropdown,
.react-datepicker__month-year-dropdown {
    background-color: #fff;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    text-align: center;
    border-radius: 0.3rem;
    border: none;
    display: flex;
    flex-wrap: wrap;
    border-radius: 12px;
    height: 100%;
    padding: 4px 2px 0 2px;
}

.react-datepicker__header {
    position: inherit;
}

.react-datepicker-popper[data-placement^=bottom] {
    width: 251px;
}

.custom-datepicker {
    width: auto;
    height: auto;
}

.react-datepicker__year-option,
.react-datepicker__month-option,
.react-datepicker__month-year-option {
    margin: 0 2px 4px 2px;
    width: calc(30.033% + 4px);
    padding: 10px 4px;
    background: #F6F8FA;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.react-datepicker__year-option {
    width: calc(29.933% + 4px);
}

.react-datepicker__month-option--selected_month,
.react-datepicker__year-option--selected_year {
    background: #3679FD;
    color: #fff;
}

.wt-cal {
    position: relative;
}

.Zebra_DatePicker {
    background: #FFFFFF;
    border-radius: 12px;
    padding: 12px 5px 5px 5px;
    width: 240px !important;
    // box-shadow: -2px 3px 9px 7px rgb(0 0 0 / 5%);

    table {
        width: 100%;
    }

    .dp_header {
        margin: 0 auto 6px auto;
        width: calc(100% - 10px);

        tr {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .dp_next,
        .dp_previous {
            width: 20px;
            height: 20px;
            font-size: 0;
            cursor: pointer;

            &::before {
                content: '';
                width: inherit;
                height: inherit;
                display: flex;
                transition: 0.2s;
            }

            &:hover {
                &::before {
                    transform: scale(1.1);
                }
            }
        }

        .dp_previous {
            &::before {
                content: '';
                background: url("/images/icons/arrow-left.svg") center/contain no-repeat;
            }
        }

        .dp_next {
            &::before {
                content: '';
                background: url("/images/icons/arrow-right.svg") center/contain no-repeat;
            }
        }

        .dp_caption {
            color: #C4C7D0;
            font-size: 16px;
        }
    }

    .dp_yearpicker,
    .dp_monthpicker {
        tr {
            display: grid;
            gap: 5px;
            grid-template-columns: 1fr 1fr 1fr;
            margin: 5px 0;
        }

        td {
            text-align: center;
            color: #838799;
            background: #F6F8FA;
            border-radius: 6px;
            padding: 10px 4px;
            transition: 0.3s;
            cursor: pointer;

            &:hover {
                background: #3679FD;
                color: #fff;
            }
        }
    }

    .dp_daypicker {
        tr {
            &:nth-child(1) {
                display: none !important;
            }

            display: grid;
            gap: 2px;
            grid-template-columns: repeat(7, 1fr);
            margin: 2px 0;
        }

        td {
            display: flex;
            align-items: center;
            justify-content: center;
            background: #F6F8FA;
            border-radius: 6px;
            cursor: pointer;
            padding: 4px 2px;

            &:not(.dp_disabled) {
                &:hover {
                    background: #3679FD;
                    color: #fff;
                }
            }

            // &.dp_selected {
            //     background: #3679FD;
            //     color: #fff;
            // }
        }

        .dp_disabled {
            background: #FFFFFF;
            border-radius: 6px;
            color: #DADCE3;
            cursor: none;
        }
    }

    .dp_weekend {
        color: #F73B3B;
    }

    .dp_footer {
        display: none !important;
    }

    .dp_disabled {
        opacity: 0.4 !important;
        pointer-events: none !important;
    }
}

.selected_data {
    .Zebra_DatePicker {

        .dp_yearpicker,
        .dp_monthpicker {
            td {
                &.dp_selected {
                    background: #3679FD;
                    color: #fff;
                }
            }
        }

        .dp_daypicker {
            td {
                &.dp_selected {
                    background: #3679FD;
                    color: #fff;
                }
            }
        }
    }
}



.form_wrap {
    .r-gap-30 {
        display: flex;
        flex-direction: column;
        row-gap: 30px;
    }
}

.mb-30px {
    margin-bottom: 30px;
}

.rowse.r-gap-30 {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.block-rotate {
    transform: rotate(180deg);

    &.arrow-left {
        position: absolute;
        transform: translateY(3px) rotate(180deg);
        left: 0;
        top: 0;
        width: 20px;
        height: 20px;

        svg {
            left: 0;
            top: 0;
            position: absolute;
            transform: none;
        }
    }
}

.color-select {
    position: relative;

    &__btn {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border-radius: 50%;
    }
}

.sketch-picker__wrapper {
    width: 248px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: calc(100% + 12px);

    .sketch-picker {
        width: 228px !important;
        box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.12) !important;
        border-radius: 12px !important;
        padding-bottom: 10px !important;

        .saturation-white {
            border-radius: 12px 12px 0 0 !important;
        }

        &>div {
            &:nth-child(1) {
                height: 200px;
                margin-left: -10px;
                margin-right: -10px;
                margin-top: -10px;
                width: calc(100% + 20px) !important;
                border-radius: 12px 12px 0 0 !important;
            }
        }

        .flexbox-fix {
            &:last-child {
                display: none !important;
            }

            &:nth-child(2) {
                &>div {
                    &:first-child {

                        &>div {
                            &:nth-child(2) {
                                border-radius: 500px;

                                &>div>div {
                                    &:nth-child(3) {
                                        &>div {
                                            &>div {
                                                width: 12px !important;
                                                height: 12px !important;
                                                border-radius: 50% !important;
                                                background: transparent !important;
                                                border: 1px solid #FFFFFF !important;
                                                box-shadow: 0px 0px 5px rgba(54, 121, 253, 0.6) !important;
                                                transform: translateX(-6px) !important;
                                                margin-top: -1px !important;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            &:nth-child(3) {
                &>div {
                    &>div {
                        display: flex !important;
                        flex-direction: column-reverse !important;

                        label {
                            text-align: left !important;
                            color: #838799 !important;
                            text-transform: uppercase !important;
                            font-size: 9px !important;
                        }

                        input {
                            box-shadow: none !important;
                            color: #01153A !important;
                            font-size: 10px !important;
                            height: 28px !important;
                            padding: 4px 8px !important;
                        }
                    }

                    &:nth-child(1) {
                        &>div {
                            input {
                                border: 1px solid #F6F8FA !important;
                                border-radius: 12px !important;
                            }
                        }
                    }

                    &:nth-child(2) {
                        padding-left: 0 !important;

                        &>div {
                            input {
                                border: 1px solid #F6F8FA !important;
                                border-radius: 12px 0 0 12px !important;
                                width: 35px !important;
                            }
                        }
                    }

                    &:nth-child(3) {
                        padding-left: 0 !important;
                        margin-left: -5px !important;

                        &>div {
                            input {
                                border: 1px solid #F6F8FA !important;
                                border-radius: 0 !important;
                                width: 35px !important;
                            }
                        }
                    }

                    &:nth-child(4) {
                        padding-left: 0 !important;
                        margin-left: -10px !important;

                        &>div {
                            input {
                                border: 1px solid #F6F8FA !important;
                                border-radius: 0 0 !important;
                                width: 35px !important;
                            }
                        }
                    }

                    &:nth-child(5) {
                        padding-left: 0 !important;
                        margin-left: -20px !important;

                        &>div {
                            input {
                                border: 1px solid #F6F8FA !important;
                                border-radius: 0 0 12px 12px !important;
                                width: 35px !important;
                            }
                        }
                    }
                }
            }
        }

        .saturation-white {
            &>div {
                &:nth-child(2) {
                    &>div {
                        width: 10px !important;
                        height: 10px !important;
                        ;
                    }
                }
            }
        }
    }
}

.hue-horizontal {
    border-radius: 500px;

    &>div>div {
        width: 12px !important;
        height: 12px !important;
        border-radius: 50% !important;
        background: transparent !important;
        border: 1px solid #FFFFFF !important;
        box-shadow: 0px 0px 5px rgba(54, 121, 253, 0.6) !important;
        transform: translateX(-6px) !important;
        margin-top: -1px !important;
    }
}

.ab-menu {
    button.btn-outline-secondary {
        cursor: auto;
    }

    .menus-card_wr {
        left: auto;
        right: 0;
        top: auto;
        bottom: 80%;
        padding-bottom: 4px;
        opacity: 0;
        transition: 0.2s;
        pointer-events: none;
    }

    &:hover {
        .menus-card_wr {
            opacity: 1;
            visibility: visible;
            bottom: 100%;
            top: auto;
            pointer-events: all;
        }

        // button {
        //     color: var(--cui-btn-hover-color);
        //     background-color: var(--cui-btn-hover-bg);
        // }
    }

    &.pt_h-menu {
        z-index: 10;

        .menus-card_wr {
            bottom: auto;
            top: 80%;
        }

        &:hover {
            .menus-card_wr {
                top: 100%;
                bottom: auto;
            }
        }
    }
}

.form-control {
    box-shadow: none !important;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
    opacity: 0 !important;
}

@media (max-width: 1559px) {
    .r-gap-30 {
        row-gap: 20px;
    }

    .main-content {
        .row {
            margin-left: -10px;
            margin-right: -10px;
        }

        .row>* {
            padding-left: 10px;
            padding-right: 10px;
        }
    }
}

@media(max-width: 767px) {

    .form-check-label,
    .link-form-auth,
    .auth-bot-text {
        font-size: 14px;
    }

    .form_wrap {
        .r-gap-30 {
            row-gap: 12px;
        }
    }

    .btn-text-b {
        font-size: 14px;
    }

    .menus-card_wr {
        left: auto;
        right: 0;
        padding-bottom: 4px;
    }

    .mb-30px {
        margin-bottom: 20px;
    }

    .menus-card:hover .menus-card_wr {
        top: auto;
        bottom: 100%;
    }

    .t-wr-btn {
        top: auto;
        right: auto;
        left: 20px;
        bottom: 10px;
        opacity: 0.5;
        pointer-events: none;

        .wr-btn {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;

            span {
                padding-left: 12px;
            }
        }

        svg {
            width: 16px;
            height: 16px;
        }
    }

    .items-step-skill {
        margin-top: 30px;
    }

    .wr-form-cover,
    .step-wr>div {
        width: 100%;
    }

    .pt_h-l {
        height: 50px;
        padding: 10px 16px;

        .pt_h-btn-back {
            button {
                font-size: 0;
            }
        }
    }

    .rowse.r-gap-30 {
        gap: 20px;
    }

    div.for-regist {
        position: relative;
        top: auto;
        left: auto;
        margin-top: 10px;
    }
}

.focus-from {

    .form-control,
    .DraftEditor-root {
        border-color: #1856d3 !important;
    }
}

.btn-grend {
    &.btn {
        display: inline-flex;
        align-items: center;
        gap: 12px;
        height: 48px;
        border: 1px solid #dadce3;
        border-radius: 12px;
    }
}

.btn-grend-type-two {
    border-radius: 12px;
    text-align: center;
    padding: 15px;
    transition: 0.4s !important;
    font-size: 16px;

    background: #fff !important;
    border: 1px solid #DADCE3 !important;
    color: #838799 !important;

    &:hover {
        color: #3679FD !important;
        border-color: #3679FD !important;
    }

    &.btn-min-grey {
        padding: 13px 18px 14px 13px;
    }

    &.btn-sta-w {
        min-width: 128px;
    }

    &:disabled {
        background: #F6F8FA !important;
        color: #C4C7D0;
        border-color: #F6F8FA !important;
        opacity: 1 !important;
        border: 1px solid #DADCE3 !important;
    }
}

.bts-flex {
    display: flex;
    gap: 30px;
    margin-top: 36px;

    .wr-btn-cover {
        margin-top: 0;
    }

    @media (max-width: 520px) {
        & > div,
        & > button {
            width: 50%;
        }

        & > div {
            button {
                width: 100%;
                justify-content: center;
            }
        }
    }
}

.style-modal-payment {
    margin-top: 20px;
}

.wr-bot-payme {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}


.error-div-payme {
    margin-top: 14px;
    color: #F63B3B;
}

.wr-form-payments {
    position: relative;

    background: transparent;
    padding: 10px;
    border: 1px solid #dadce3;
    border-radius: 12px;

    &.load {
        pointer-events: none;

        &::before,
        &::after {
            content: '';
            position: absolute;
        }

        &::before {
            width: 100%;
            height: 100%;
            background: rgba(255, 255, 255, 0.4);
            z-index: 100;
        }

        // &::after {
        //     position: absolute;
        //     top: 50%;
        //     left: 50%;
        //     transform: translate(-50%, -50%);
        //     width: 24px;
        //     height: 24px;
        //     z-index: 2000;
        //     background: url('/images/icons/preloader-blue.svg') center/contain no-repeat;
        // }
    }
}

.rel {
    position: relative;
}

.for-regist {
    position: absolute;
    left: 0;
    top: calc(100% + 4px);
    font-size: 14px;
    color: #546C97;
    display: flex;
    justify-content: space-between;
    width: 100%;

    &__t {
        color: #01153A;
        display: block;
        max-width: 165px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-left: 8px;
    }

    &__l {
        display: flex;
    }

    .errore-red {
        color: #FF3030;
    }

    &__r {
        padding-left: 10px;
    }

    &__btn {
        color: #01153A;
        font-size: 14px;
        font-style: normal;
        font-weight: 350;
        font-size: 14px;
        position: relative;
        transition: 0.2s;

        &::before {
            content: '';
            position: absolute;
            left: 0;
            width: 100%;
            height: 1px;
            background: #01153A;
            bottom: 2px;
            transition: 0.2s;
        }

        &:hover {
            color: #3679FD;

            &::before {
                background: #3679FD;
            }
        }

        &.dele {
            color: #FF3030;

            &::before {
                background: #FF3030;
            }

            &:hover {
                color: #01153A;

                &::before {
                    background: #01153A;
                }
            }
        }
    }
}