@use "sass:math";

.title {
    font-weight: 400;
    font-size: 30px;
    line-height: math.div(35, 30);
}

@media (max-width: 767px) {
    .title {
        font-size: 24px;
    }
}

@media (max-width: 586px) {
    .title {
        font-size: 20px;
    }
}