.advantagesBlock {
  width: 300px;
  text-align: center;

  &:first-child {
    width: 300px;
  }

  .imageBlock {
    margin-bottom: 30px;
  }

  strong {
    font-weight: 400;
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
  }

  p {
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    color: var(--grey);
  }
}

@media(max-width: 992px) {
  .advantagesBlock {
    width: 220px;
    &:first-child {
      width: 220px;
    }
  }
}

@media(max-width: 767px) {
  .advantagesBlock {
    width: 100%;
    display: flex;
    flex-direction: row;
    &:first-child {
      width: 100%;
    }
    .imageBlock {
      width: 40px;
      min-width: 40px;
      margin-right: 20px;
    }
    strong {
      text-align: left;
      font-size: 16px;
    }
    p {
      text-align: left;
    }
  }
  .advantage-list {
    margin-bottom: 0;
  }
}