@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url('./fonts/museosanscyrl/MuseoSansCyrl.otf');
}

.sv_002 {
  font-family: 'Museo Sans Cyrl', sans-serif;


  * {
    padding: 0px;
    margin: 0px;
  }

  *,
  *:before,
  *:after {
    box-sizing: border-box;
    font-family: 'Museo Sans Cyrl', sans-serif;
  }

  ul {
    li {
      list-style-type: disc;

      &:not(:first-child) {
        margin-top: 4px;
      }
    }
  }

  p {
    padding: 0px;
    margin: 0px;
  }

  .cv-heading {
    padding: 0px;
    margin: 0px;
  }

  .date-range {
    margin: 4px 0px;
  }

  .skills-estimation-block {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    .skill-item {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      column-gap: 10px;
      max-width: 100%;

      .skill-name {
        display: inline-block;
        width: 100px;
      }

      .skill-estimation {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        margin-top: 3px;

        .estimation-point {
          display: block;
          border-radius: 50%;
          width: 5px;
          height: 5px;
          min-width: 5px;
          min-height: 5px;
          max-width: 5px;
          max-height: 5px;
          border-width: 1px;
          border-style: solid;
          margin-right: 2px;
          box-sizing: border-box;

          &.filled {
            background-color: rgba(214, 208, 208, 1);
          }
        }
      }

      &:not(:first-child) {
        margin-top: 4px;
      }

    }
  }

  #cv-body-hidden-container,
  #cv-body-2 {
    height: 0;
    max-height: 0;
    min-height: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    opacity: 0;
    pointer-events: none;
    left: -10000px;
    // display: none;
  }

  .cv-body {
    min-width: 595px;
    min-height: 764px;
    height: 764px;
    max-height: 764px;
    overflow: hidden;
    background-color: #fff;
    padding: 20px;
    box-sizing: border-box;

    .cv-name {
      text-transform: uppercase;
      font-weight: 600;
      letter-spacing: 2px;
    }

    .cv-prophecy {
      text-transform: uppercase;
      margin-top: 5px;
      font-weight: 300;
      letter-spacing: 2px;
    }

    .cv-body-content {
      border-width: 1px;
      border-style: solid;
      flex-basis: 100%;
      display: flex;
      flex-direction: column;

      .cv-body-area {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: stretch;
        padding: 20px;

        .column-left {
          flex: 1 1;
          display: flex;
          flex-direction: column;
          align-items: stretch;
          justify-content: stretch;
          ul {
            padding: 0px 0px 0px 15px;
            margin: 4px 0px 0px;

            li {
              span {
                display: block;
              }
            }
          }
        }

        .column-right {
          width: 180px;
          min-width: 180px;
          padding-left: 17px;
        }

        &.area-1 {
          flex-direction: column;
          padding-bottom: 0;
        }

        &.area-2 {
          background-color: #fff;

          .separator {
            border-left: 1px solid rgba(214, 208, 208, 1);
            margin-left: 28px;
          }
        }

        &.area-3 {
          padding: 0;
          margin: 0 20px;
          flex: 1;
          .bottom-block {
            padding: 10px 0;
            border-top-style: solid;
            border-top-width: 1px;
            display: flex;
            width: 100%;
            align-self: flex-end;
          }
          .column-left {
            flex: 1;
          }
        }
      }
    }

    &.page-1 {
      .cv-body-area {
        &.area-2 {
          flex: 1;
        }
      }
    }
  }

  .cv-body-2 {
    .cv-body-content {
      .cv-body-area {
        &.area-1 {
          padding: 30px 30px 20px;

          .column-left {
            .cv-heading {
              text-align: left;
            }
          }
        }

        &.area-2 {
          padding: 20px 30px 20px;
          flex: 1;

          .column-right {
            width: 160px;
            min-width: 160px;
            padding-left: 22px;
          }
        }
      }
    }
  }


  /* Blocks */
  .block-block {
    .cv-heading {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: stretch;
      margin-bottom: 10px !important;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 600;
      .line-after-block-heading {
        flex: 1;
        border-top-style: solid;
        border-top-width: 1px;
        margin-left: 5px;
      }
    }
    .block-info {
      .cv-heading {
        text-transform: none;
        margin-bottom: 0 !important;
        font-weight: 700;
        letter-spacing: 0;
      }
      .cv-subheading {
        font-weight: 400;
      }

      &:not(:first-of-type) {
        margin-top: 10px;
      }
    }

    &:not(:first-child) {
      margin-top: 12px;
    }
  }

  .personal-info-block {
    display: flex;
    column-gap: 15px;
    margin: 0 auto;

    .photo-block {
      width: 55px;
      height: 55px;
      border-radius: 100%;
      overflow: hidden;
      .photo {
        width: 55px;
        height: 55px;
        border-radius: 100%;
        background-size: cover;
        background-position: 50% 50%;
        overflow: hidden;
      }
    }

    .cv-headings-wrap {
      display: flex;
      flex-direction: column;
      justify-content: center;

      &.no-photo-state {
        align-items: center;
      }

    }
  }

  .profile-secondary-info {
    display: flex;
    justify-content: center;
    column-gap: 10px;
    margin-top: 20px;
    padding: 12px 0;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    .profile-secondary-info-item {
      display: flex;
      column-gap: 4px;
    }
  }

  .cv-destination-block {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    width: 143px;
    box-sizing: border-box;
    max-width: 100%;

    .cv-sender {
      margin-bottom: 10px;
    }
  }

  .certificates-block {
    .block-info {
      .cv-heading {
        font-weight: 400;
      }
    }
  }

  .references-block {
    .block-info {
      p {
        margin-top: 4px;
      }
    }
  }

  .career-details-block {
    .cv-heading {
      text-transform: none;
      font-weight: 700;
    }

    &-item {
      display: flex;
      column-gap: 4px;
      &:not(:first-of-type) {
        margin-top: 4px;
      }
    }
  }

  .cv-career-block {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    padding: 15px 20px;
    margin-top: 26px;
  }

  .career-links {
    display: flex;
    flex-wrap: wrap;
    column-gap: 8px;

    .cv-heading {
      font-weight: 700;
      text-transform: none;
      flex-basis: 100%;
    }

    .career-links-link {
      text-decoration: none;

      img {
        width: 16px;
        height: 16px;
      }
    }
  }

  .letter-heading {
    margin-bottom: 21px;
  }

  /* Control panel */
  #control-panel {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 100px;

    .control-panel-item-block {
      border: 1px solid #ccc;
      background-color: #fff;
      border-radius: 5px;
      padding: 5px 10px;

      &.toggle-photo-block {
        opacity: 0.25;

        a {
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;

          img {
            display: block;
            width: 50px;
            height: 50px;
          }
        }

        &.active {
          opacity: 1;
        }
      }

      .control-panel-heading {
        font-size: 11px;
        margin: 0px 0px 0px 0px;
      }

      .control-panel-item-input-list {
        &.radio-input-list {
          .input-list-item {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            cursor: pointer;
            margin: 3px 0px;

            .radio-input {
              display: block;
              border-radius: 50%;
              border: 2px solid #d6d0d0;
              width: 7px;
              height: 7px;
              background-color: transparent;
              margin-right: 5px;
              pointer-events: none;
            }

            .radio-input-label {
              font-size: 10px;
              pointer-events: none;
            }

            &.active {
              .radio-input {
                background-color: #d6d0d0;
              }
            }
          }

          &.color-list {
            .input-list-item {
              .radio-input-label {
                flex: 1;
                height: 15px;
                border-radius: 3px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;

                .color-set-color {
                  display: none;
                  border-radius: 50%;
                  width: 15px;
                  height: 15px;

                  &:nth-child(n + 4) {
                    display: block;
                  }
                }
              }

              &.color-scheme-1 {
                .color-set-table {
                  .color-set-color-1 {
                    background-color: rgba(96, 92, 100, 1);
                  }

                  .color-set-color-2 {
                    background-color: rgba(162, 154, 157, 1);
                  }

                  .color-set-color-3 {
                    background-color: rgba(214, 208, 208, 1);
                  }
                }
              }

              &.color-scheme-2 {
                .color-set-table {
                  .color-set-color-1 {
                    background-color: rgba(116, 8, 66, 1);
                  }

                  .color-set-color-2 {
                    background-color: rgba(184, 162, 178, 1);
                  }

                  .color-set-color-3 {
                    background-color: rgba(221, 203, 222, 1);
                  }
                }
              }

              &.color-scheme-3 {
                .color-set-table {
                  .color-set-color-1 {
                    background-color: rgba(85, 72, 83, 1);
                  }

                  .color-set-color-2 {
                    background-color: rgba(173, 134, 149, 1);
                  }

                  .color-set-color-3 {
                    background-color: rgba(237, 215, 223, 1);
                  }
                }
              }

              &.color-scheme-4 {
                .color-set-table {
                  .color-set-color-1 {
                    background-color: rgba(114, 76, 157, 1);
                  }

                  .color-set-color-2 {
                    background-color: rgba(180, 162, 201, 1);
                  }

                  .color-set-color-3 {
                    background-color: rgba(220, 202, 233, 1);
                  }
                }
              }

              &.color-scheme-5 {
                .color-set-table {
                  .color-set-color-1 {
                    background-color: rgba(14, 146, 146, 1);
                  }

                  .color-set-color-2 {
                    background-color: rgba(141, 187, 170, 1);
                  }

                  .color-set-color-3 {
                    background-color: rgba(215, 242, 232, 1);
                  }
                }
              }

              &.color-scheme-6 {
                .color-set-table {
                  .color-set-color-1 {
                    background-color: rgba(172, 19, 42, 1);
                  }

                  .color-set-color-2 {
                    background-color: rgba(182, 154, 158, 1);
                  }

                  .color-set-color-3 {
                    background-color: rgba(231, 216, 218, 1);
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  /* Stylization */
  #cv-chapter-section-cv {
    .personal-info-block {
      .photo-block {
        display: none;
      }
      .cv-heading {
        text-align: center;
      }
    }
    &.has-photo {
      .personal-info-block {
        .photo-block {
          display: block;
        }
      }
    }
  }

  /* Font size scheme */
  .font-size-scheme-state-small {
    .font-size-1 {
      font-size: 8px;
    }

    .font-size-2 {
      font-size: 10px;
    }

    .font-size-3 {
      font-size: 12px;
    }

    .font-size-4 {
      font-size: 24px;
    }

    .contact-item-name {
      width: 35px;
    }
  }

  .font-size-scheme-state-medium {
    .font-size-1 {
      font-size: 10px;
    }

    .font-size-2 {
      font-size: 12px;
    }

    .font-size-3 {
      font-size: 14px;
    }

    .font-size-4 {
      font-size: 26px;
    }

    .contact-item-name {
      width: 40px;
    }
  }

  .font-size-scheme-state-big {
    .font-size-1 {
      font-size: 12px;
    }

    .font-size-2 {
      font-size: 14px;
    }

    .font-size-3 {
      font-size: 16px;
    }

    .font-size-4 {
      font-size: 28px;
    }

    .contact-item-name {
      width: 50px;
    }
  }

  /* Line height scheme */
  .line-height-scheme-state-small {
    .cv-body {
      line-height: 1.2;
    }
  }

  .line-height-scheme-state-medium {
    .cv-body {
      line-height: 1.4;
    }
  }

  .line-height-scheme-state-big {
    .cv-body {
      line-height: 1.6;
    }
  }

  /* Colors */
  $main_color_1: #333333;
  $main_color_2: #FFFFFF ;
  $color_set_0_additional_color_1: #333333;
  $color_set_0_additional_color_2: #d0d0d0;

  $color_set_1_additional_color_1: #336485;
  $color_set_1_additional_color_2: #a0a8c5;

  $color_set_2_additional_color_1: #482283;
  $color_set_2_additional_color_2: #969bb6;

  $color_set_3_additional_color_1: #740819;
  $color_set_3_additional_color_2: #d3b2b7;

  $color_set_4_additional_color_1: #554853;
  $color_set_4_additional_color_2: #a29a9d;

  $color_set_5_additional_color_1: #81642c;
  $color_set_5_additional_color_2: #beb0a0;

  /* Color scheme */
  .image-color-set {
    display: none;
  }

  .line_text {
    &::before {
      background: $main_color_1;
    }
  }

  .color-scheme-state-color-set-0 {
    .image-color-set-0 {
      display: block;
    }

    .main-color-1-text {
      color: $main_color_1;
    }

    .main-color-2-text {
      color: $main_color_2;
    }

    .additional-color-1-text {
      color: $color_set_0_additional_color_1;
    }

    .additional-color-1-border {
      border-color: $color_set_0_additional_color_1;
    }

    .additional-color-1-background {
      background-color: $color_set_0_additional_color_1;
    }

    .additional-color-2-text {
      color: $color_set_0_additional_color_2;
    }

    .additional-color-2-border {
      border-color: $color_set_0_additional_color_1;
    } 


    .additional-color-1-svg {
      path {
        fill: $main_color_1;
      }
    }
  }

  .color-scheme-state-color-set-1 {
    .image-color-set-1 {
      display: block;
    }

    .main-color-1-text {
      color: $main_color_1;
    }

    .main-color-2-text {
      color: $main_color_2;
    }

    .additional-color-1-text {
      color: $color_set_1_additional_color_1;
    }

    .additional-color-1-border {
      border-color: $color_set_1_additional_color_1;
    }

    .additional-color-1-background {
      background-color: $color_set_1_additional_color_1;
    }

    .additional-color-2-text {
      color: $color_set_1_additional_color_2;
    }

    .additional-color-1-svg {
      path {
        fill: $color_set_1_additional_color_1;
      }
    }

    .additional-color-2-border {
      border-color: $color_set_1_additional_color_2;
    }
  }

  .color-scheme-state-color-set-2 {
    .image-color-set-2 {
      display: block;
    }

    .main-color-1-text {
      color: $main_color_1;
    }

    .main-color-2-text {
      color: $main_color_2;
    }

    .additional-color-1-text {
      color: $color_set_2_additional_color_1;
    }

    .additional-color-1-border {
      border-color: $color_set_2_additional_color_1;
    }

    .additional-color-1-background {
      background-color: $color_set_2_additional_color_1;
    }

    .additional-color-2-text {
      color: $color_set_2_additional_color_2;
    }

    .additional-color-2-border {
      border-color: $color_set_2_additional_color_2;
    }

    .additional-color-1-svg {
      path {
        fill: $color_set_2_additional_color_1;
      }
    }
  }

  .color-scheme-state-color-set-3 {
    .image-color-set-3 {
      display: block;
    }

    .main-color-1-text {
      color: $main_color_1;
    }

    .main-color-2-text {
      color: $main_color_2;
    }

    .additional-color-1-text {
      color: $color_set_3_additional_color_1;
    }

    .additional-color-1-border {
      border-color: $color_set_3_additional_color_1;
    }

    .additional-color-1-background {
      background-color: $color_set_3_additional_color_1;
    }

    .additional-color-2-text {
      color: $color_set_3_additional_color_2;
    }

    .additional-color-2-border {
      border-color: $color_set_3_additional_color_2;
    }

    .additional-color-1-svg {
      path {
        fill: $color_set_3_additional_color_1;
      }
    }
  }

  .color-scheme-state-color-set-4 {
    .image-color-set-4 {
      display: block;
    }

    .main-color-1-text {
      color: $main_color_1;
    }

    .main-color-2-text {
      color: $main_color_2;
    }

    .additional-color-1-text {
      color: $color_set_4_additional_color_1;
    }

    .additional-color-1-border {
      border-color: $color_set_4_additional_color_1;
    }

    .additional-color-1-background {
      background-color: $color_set_4_additional_color_1;
    }

    .additional-color-2-text {
      color: $color_set_4_additional_color_2;
    }

    .additional-color-2-border {
      border-color: $color_set_4_additional_color_2;
    }

    .additional-color-1-svg {
      path {
        fill: $color_set_4_additional_color_1;
      }
    }
  }

  .color-scheme-state-color-set-5 {
    .image-color-set-5 {
      display: block;
    }

    .main-color-1-text {
      color: $main_color_1;
    }

    .main-color-2-text {
      color: $main_color_2;
    }

    .additional-color-1-text {
      color: $color_set_5_additional_color_1;
    }

    .additional-color-1-border {
      border-color: $color_set_5_additional_color_1;
    }

    .additional-color-1-background {
      background-color: $color_set_5_additional_color_1;
    }

    .additional-color-2-text {
      color: $color_set_5_additional_color_2;
    }

    .additional-color-2-border {
      border-color: $color_set_5_additional_color_2;
    }

    .additional-color-1-svg {
      path {
        fill: $color_set_5_additional_color_1;
      }
    }
  }
}