@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url('./fonts/museosanscyrl/MuseoSansCyrl.otf');
}

.sv_002 {
  p {
    padding: 0px;
    margin: 0px;
  }

  .cv-heading {
    padding: 0px;
    margin: 0px;

    &.heading-type-1 {}

    &.heading-type-2 {}

    &.heading-type-3 {
      text-transform: uppercase;
    }
  }

  .font-weight-200 {
    font-weight: 200;
  }

  .font-weight-300 {
    font-weight: 300;
  }

  .font-weight-400 {
    font-weight: 400;
  }

  .font-weight-500 {
    font-weight: 500;
  }

  .font-weight-600 {
    font-weight: 600;
  }

  .font-weight-700 {
    font-weight: 700;
  }

  .font-weight-800 {
    font-weight: 800;
  }


  .date-range {
    font-size: 8px;
    line-height: 11.2px;
    font-weight: 400;
    color: rgba(164, 164, 164, 1);
    margin: 5px 0px 4px;
  }

  .skills-estimation-block {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 10px;

    .skill-item {
      display: flex;
      align-items: flex-start;
      margin-bottom: 6px;

      .skill-name {
        display: inline-block;
        width: 82px;
        font-weight: 700;
      }

      .skill-estimation {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        margin-top: 3px;

        .estimation-point {
          display: block;
          border-radius: 50%;
          width: 5px;
          height: 5px;
          min-width: 5px;
          min-height: 5px;
          max-width: 5px;
          max-height: 5px;
          border: 1px solid rgba(214, 208, 208, 1);
          background-color: transparent;
          margin-right: 2px;
          box-sizing: border-box;

          &.additional-color-1-background {
            border-color: rgb(51, 51, 51);
            background-color: rgb(51, 51, 51);
          }

          &.filled {
            background-color: rgba(214, 208, 208, 1);
          }
        }
      }

    }
  }



  // #cv-body-hidden-container {
  //   height: auto;
  //   max-height: none;
  //   position: absolute;
  //   z-index: -1;
  //   opacity: 0;
  //   pointer-events: none;
  // }

  .cv-body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    // max-width: 595px;
    // min-width: 595px;
    // height: 842px;
    // max-height: 842px;
    // overflow-y: hidden;
    background-color: #fff;
    // margin: 0px 25px 25px;
    padding: 20px;
    box-sizing: border-box;

    .cv-name {
      text-transform: uppercase;
    }

    .cv-prophecy {
      text-transform: uppercase;
    }

    .cv-body-content {
      .cv-body-area {
        &.area-1 {
          .column-left {
            .cv-heading {
              text-align: center;
            }
          }
        }
      }
    }

    .cv-body---resume {}

    .cv-body-content {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: stretch;
      border-width: 1px;
      border-style: solid;

      .cv-body-area {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: stretch;
        padding: 20px 20px;

        .column-left {
          flex: 1;

          ul {
            padding: 0px 0px 0px 15px;
            margin: 4px 0px 0px;

            li {
              list-style-type: disc;

              span {
                display: block;
              }
            }
          }
        }

        .column-right {
          width: calc(144px + 27px);
          min-width: calc(144px + 27px);
          padding-left: 27px;
        }

        &.area-1 {
          flex-direction: column;

          .column-right {}
        }

        &.area-2 {
          background-color: #fff;
          padding: 0px 20px;

          .column-left {}

          .separator {
            border-left: 1px solid rgba(214, 208, 208, 1);
            margin-left: 28px;
          }

          .column-right {}
        }

        &.area-3 {
          padding: 10px 0px;
          margin: 10px 20px 0px;
          border-top-style: solid;
          border-top-width: 1px;

          .column-left {
            flex: 1;
          }

          .column-right {}
        }
      }
    }

    &.page-1 {
      .cv-body-area {
        &.area-2 {
          flex: 1;
        }
      }
    }
  }

  .cv-body-2 {
    .cv-body-area {
      &.area-2 {
        margin-top: 22px;
        padding: 20px 50px;

        .column-right {}
      }
    }
  }


  /* Blocks */
  .block-block {
    .cv-heading {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: stretch;
      margin: 0px 0px 10px 0px;

      .line-after-block-heading {
        flex: 1;
        border-top-style: solid;
        border-top-width: 1px;
        margin-left: 5px;
      }
    }

    .heading-type-3 {}
  }

  .personal-info-block {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    margin: 0px auto;

    .cv-photo {
      width: 55px;
      height: 55px;
      margin-right: 23px;
      border-radius: 50%;
    }

    .cv-headings-wrap {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;

    }
  }

  .profile-secondary-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    border: none;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    height: 34px;

    .name {
      font-weight: 300;
      color: rgba(96, 92, 100, 1);
      margin-right: 4px;
    }

    .value {
      font-weight: 400;
      margin-right: 10px;
    }

    span {
      font-size: 8px;
      line-height: 11.2px;
    }
  }

  .cv-destination-block {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    width: 143px;
    box-sizing: border-box;

    .cv-sender {
      margin-bottom: 10px;
    }
  }

  .skills-block {
    .skills-estimation-block {
      margin-top: 10px;
    }
  }

  .languages-block {
    margin-top: 12px;

    .skills-estimation-block {
      margin-top: 10px;

      .skill-item {}
    }
  }

  .courses-block {
    margin-top: 12px;
  }

  .certificates-block {
    margin-top: 12px;
  }

  .hobbies-block {
    margin-top: 12px;
  }

  .extra-curricular-activities-block {
    margin-top: 12px;
  }

  .education-block {
    margin-top: 12px;
  }

  .internships-block {
    margin-top: 12px;
  }

  .references-block {
    margin-top: 12px;
  }

  .skills-block {
    margin-top: 12px;
  }

  .career-details-block {
    margin-left: 17px;
  }

  .cv-career-block {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    padding: 15px 20px;
    margin-top: 26px;

    .career-details {
      font-size: 8px;
      line-height: 11.2px;

      .career-address {}

      .career-phone {}

      .career-email {}
    }
  }

  .career-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    .career-links-head {
      font-size: 10px;
      line-height: 14px;
      font-weight: 600;
      margin: 0px 8px 0px 0px;
      color: rgba(96, 92, 100, 1);
    }

    .career-links-link {
      text-decoration: none;
      margin-right: 5px;
      line-height: 0;

      svg,
      img {
        width: 16px;
        height: 16px;
      }
    }
  }

  .letter-heading {
    margin-bottom: 21px;
  }

  /* Control panel */
  #control-panel {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 100px;

    .control-panel-item-block {
      border: 1px solid #ccc;
      background-color: #fff;
      border-radius: 5px;
      padding: 5px 10px;

      .control-panel-heading {
        font-size: 11px;
        margin: 0px 0px 0px 0px;
      }

      .control-panel-item-input-list {
        &.radio-input-list {
          .input-list-item {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            cursor: pointer;
            margin: 3px 0px;

            .radio-input {
              display: block;
              border-radius: 50%;
              border: 2px solid #d6d0d0;
              width: 7px;
              height: 7px;
              background-color: transparent;
              margin-right: 5px;
              pointer-events: none;
            }

            .radio-input-label {
              font-size: 10px;
              pointer-events: none;
            }

            &.active {
              .radio-input {
                background-color: #d6d0d0;
              }
            }
          }

          &.color-list {
            .input-list-item {
              .radio-input-label {
                flex: 1;
                height: 15px;
                border-radius: 3px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;

                .color-set-color {
                  display: none;
                  border-radius: 50%;
                  width: 15px;
                  height: 15px;

                  &:nth-child(n + 4) {
                    display: block;
                  }
                }
              }

              &.color-scheme-1 {
                .color-set-table {
                  .color-set-color-1 {
                    background-color: rgba(96, 92, 100, 1);
                  }

                  .color-set-color-2 {
                    background-color: rgba(162, 154, 157, 1);
                  }

                  .color-set-color-3 {
                    background-color: rgba(214, 208, 208, 1);
                  }
                }
              }

              &.color-scheme-2 {
                .color-set-table {
                  .color-set-color-1 {
                    background-color: rgba(116, 8, 66, 1);
                  }

                  .color-set-color-2 {
                    background-color: rgba(184, 162, 178, 1);
                  }

                  .color-set-color-3 {
                    background-color: rgba(221, 203, 222, 1);
                  }
                }
              }

              &.color-scheme-3 {
                .color-set-table {
                  .color-set-color-1 {
                    background-color: rgba(85, 72, 83, 1);
                  }

                  .color-set-color-2 {
                    background-color: rgba(173, 134, 149, 1);
                  }

                  .color-set-color-3 {
                    background-color: rgba(237, 215, 223, 1);
                  }
                }
              }

              &.color-scheme-4 {
                .color-set-table {
                  .color-set-color-1 {
                    background-color: rgba(114, 76, 157, 1);
                  }

                  .color-set-color-2 {
                    background-color: rgba(180, 162, 201, 1);
                  }

                  .color-set-color-3 {
                    background-color: rgba(220, 202, 233, 1);
                  }
                }
              }

              &.color-scheme-5 {
                .color-set-table {
                  .color-set-color-1 {
                    background-color: rgba(14, 146, 146, 1);
                  }

                  .color-set-color-2 {
                    background-color: rgba(141, 187, 170, 1);
                  }

                  .color-set-color-3 {
                    background-color: rgba(215, 242, 232, 1);
                  }
                }
              }

              &.color-scheme-6 {
                .color-set-table {
                  .color-set-color-1 {
                    background-color: rgba(172, 19, 42, 1);
                  }

                  .color-set-color-2 {
                    background-color: rgba(182, 154, 158, 1);
                  }

                  .color-set-color-3 {
                    background-color: rgba(231, 216, 218, 1);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}