@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url('./fonts/museosanscyrl/MuseoSansCyrl.otf');
}

  /* Colors */
  $main_color_1: #333333;
  $main_color_2: #FFFFFF ;

  $color_set_0_additional_color_1: #333333;
  $color_set_0_additional_color_2: #d0d0d0;

  $color_set_1_additional_color_1: #336485;
  $color_set_1_additional_color_2: #a0a8c5;

  $color_set_2_additional_color_1: #482283;
  $color_set_2_additional_color_2: #969bb6;

  $color_set_3_additional_color_1: #740819;
  $color_set_3_additional_color_2: #d3b2b7;

  $color_set_4_additional_color_1: #554853;
  $color_set_4_additional_color_2: #a29a9d;

  $color_set_5_additional_color_1: #81642c;
  $color_set_5_additional_color_2: #beb0a0;

.sv_002 {
  font-weight: 400;

  /* Global */
  * {
    padding: 0;
    margin: 0;
  }

  *, *:before, *:after {
    box-sizing: border-box;
    font-family: 'Museo Sans Cyrl', sans-serif;
  }

  ul {
    padding-left: 15px;
    li {
      list-style-type: disc;

      &:not(:first-child) {
        margin-top: 4px;
      }
    }
  }

  .empty-field {
    opacity: 0.3;
  }

  .hide {
    display: none !important;
  }

  // Blocks
  .cv-name {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
  }

  .cv-profession {
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 2px;
  }

  .cv-body {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: $main_color_2;
  }

  .cv-body-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 0 20px;
    border-width: 1px;
    border-style: solid;
  }

  .area-1 {
    .top-block {
      display: flex;
      flex-direction: column;
      flex: 1;
    }
    .personal-info-block {
      display: flex;
      column-gap: 15px;
      margin: 20px 0;
      justify-content: center;
      .photo-block {
        width: 55px;
        height: 55px;
        flex-shrink: 0;
      }
      .photo {
        width: 100%;
        height: 100%;
        border-radius: 100%;
        background-size: cover;
        background-position: 50% 50%;
        overflow: hidden;
      }
      .cv-heading-wrap {
        display: flex;
        flex-direction: column;
        row-gap: 5px;
        align-items: center;
        justify-content: center;
      }
    }
    .profile-secondary-info {
      display: flex;
      justify-content: center;
      column-gap: 10px;
      padding: 12px 0;
      border-top-width: 1px;
      border-bottom-width: 1px;
      border-top-style: solid;
      border-bottom-style: solid;
      .item-block {
        display: flex;
        column-gap: 4px;
      }
      &.m-transfer {
        .item-block {
          flex-direction: column;
        }
      }
    }
  }

  .area-2 {
    display: flex;
    margin: 20px 0;
    flex: 1;
    .column-left {
      flex: 1;
      border-right-width: 1px;
      border-right-style: solid;
      padding-right: 25px;
    }
    .column-right {
      width: 180px;
      padding-left: 16px;
      flex-shrink: 0;
    }
    .references-block {
      .block-info {
        p {
          margin-top: 4px;
        }
      }
    }
  }

  .area-3 {
    .bottom-block {
      padding: 10px 0 20px;
      border-top-style: solid;
      border-top-width: 1px;
      display: flex;
      width: 100%;
      align-self: flex-end;
    }
    .column-left {
      flex: 1;
    }
    .column-right {
      width: 180px;
      padding-left: 16px;
    }
    .details-block {
      .cv-heading {
        text-transform: none;
        font-weight: 700;
      }
      .details-info {
        display: flex;
        flex-direction: column;
        row-gap: 4px;
      }
      .block-item {
        display: flex;
        column-gap: 4px;
      }
    }
    .links-block {
      display: flex;
      flex-wrap: wrap;
      column-gap: 8px;
  
      .cv-heading {
        font-weight: 700;
        text-transform: none;
        flex-basis: 100%;
      }
    }
  }

  /* Blocks */
  .block-block {
    .cv-heading {
      position: relative;
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 600;
      column-gap: 5px;
    }
    .line-after-block-heading {
      flex: 1;
      border-top-style: solid;
      border-top-width: 1px;
    }
    .cv-subheading {
      text-transform: none;
      font-weight: 700;
    }
    .date-range {
      margin-top: 4px;
    }
    .text-block {
      margin-top: 4px;
    }
    .block-info {
      margin-top: 10px;
    }
    .block-info:nth-child(2) {
      margin-top: 0;
    }
    &:not(:first-child) {
      margin-top: 12px;
    }
  }

  .skills-estimation-block {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 4px;
    .skill-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      column-gap: 10px;
      .skill-name {
        width: 100px;
      }
      .skill-estimation {
        display: flex;
        column-gap: 2px;
        width: 54px;
        flex-shrink: 0;
        .estimation-point {
          display: block;
          border-radius: 100%;
          width: 5px;
          height: 5px;
          border-width: 1px;
          border-style: solid;
          box-sizing: border-box;
        }
      }
    }
  }

  .cv-body-2 {
    .cv-body-content {
      padding: 0 30px;
    }
    .area-1 {
      padding: 30px 0 0;
    }
    .area-2 {
      padding: 40px 0 30px;
      column-gap: 25px;
      margin: 0;
      flex: 1;
      .column-left {
        flex-basis: 200%;
        border-right: 0;
        padding-right: 0;
      }
      .column-right {
        width: auto;
        padding-left: 0;
        flex-shrink: 1;
      }
      .cv-letter-text {
        & > br:first-child {
          display: none;
        }
      }
      .cv-destination {
        border-left-width: 1px;
        border-left-style: solid;
      }
      .cv-destination-block {
        display: flex;
        flex-direction: column;
        padding-left: 22px;
        min-width: 140px;
      }
      .cv-sender {
        margin-bottom: 20px;
      }
    }
  }

  /* Photo styles */
  #cv-chapter-section-cv {
    .personal-info-block {
      .photo-block {
        display: none;
      }
      .cv-heading {
        text-align: center;
      }
    }
    &.has-photo {
      .personal-info-block {
        .photo-block {
          display: block;
        }
      }
      .area-1 {
        .cv-heading-wrap {
          align-items: flex-start;
        }
      }
    }
  }

  /* Font size scheme */
  .font-size-scheme-state-small {
    .font-size-1 {
      font-size: 8px;
    }

    .font-size-2 {
      font-size: 10px;
    }

    .font-size-3 {
      font-size: 12px;
    }

    .font-size-4 {
      font-size: 24px;
    }

    .contact-item-name {
      width: 35px;
    }
  }

  .font-size-scheme-state-medium {
    .font-size-1 {
      font-size: 10px;
    }

    .font-size-2 {
      font-size: 12px;
    }

    .font-size-3 {
      font-size: 14px;
    }

    .font-size-4 {
      font-size: 26px;
    }

    .contact-item-name {
      width: 40px;
    }
  }

  .font-size-scheme-state-big {
    .font-size-1 {
      font-size: 12px;
    }

    .font-size-2 {
      font-size: 14px;
    }

    .font-size-3 {
      font-size: 16px;
    }

    .font-size-4 {
      font-size: 28px;
    }

    .contact-item-name {
      width: 50px;
    }
  }

  /* Line height scheme */
  .line-height-scheme-state-small {
    .cv-body {
      line-height: 1.2;
    }
  }

  .line-height-scheme-state-medium {
    .cv-body {
      line-height: 1.4;
    }
  }

  .line-height-scheme-state-big {
    .cv-body {
      line-height: 1.6;
    }
  }

  /* Color scheme */
  .color-scheme-state-color-set-0 {
    .main-color-1-text {
      color: $main_color_1;
    }
    .main-color-2-text {
      color: $main_color_2;
    }
    .additional-color-1-text {
      color: $color_set_0_additional_color_1;
    }
    .additional-color-1-border {
      border-color: $color_set_0_additional_color_1;
    }
    .additional-color-1-background {
      background-color: $color_set_0_additional_color_1;
    }
    .additional-color-2-text {
      color: $color_set_0_additional_color_2;
    }
    .additional-color-2-border {
      border-color: $color_set_0_additional_color_2;
    }
    .additional-color-2-border.m-default {
      border-color: $color_set_0_additional_color_1;
    } 
    .additional-color-1-svg {
      path {
        fill: $main_color_1;
      }
    }
  }

  .color-scheme-state-color-set-1 {
    .main-color-1-text {
      color: $main_color_1;
    }
    .main-color-2-text {
      color: $main_color_2;
    }
    .additional-color-1-text {
      color: $color_set_1_additional_color_1;
    }
    .additional-color-1-border {
      border-color: $color_set_1_additional_color_1;
    }
    .additional-color-1-background {
      background-color: $color_set_1_additional_color_1;
    }
    .additional-color-2-text {
      color: $color_set_1_additional_color_2;
    }
    .additional-color-2-border {
      border-color: $color_set_1_additional_color_2;
    }
    .additional-color-1-svg {
      path {
        fill: $color_set_1_additional_color_1;
      }
    }
  }

  .color-scheme-state-color-set-2 {
    .main-color-1-text {
      color: $main_color_1;
    }
    .main-color-2-text {
      color: $main_color_2;
    }
    .additional-color-1-text {
      color: $color_set_2_additional_color_1;
    }
    .additional-color-1-border {
      border-color: $color_set_2_additional_color_1;
    }
    .additional-color-1-background {
      background-color: $color_set_2_additional_color_1;
    }
    .additional-color-2-text {
      color: $color_set_2_additional_color_2;
    }
    .additional-color-2-border {
      border-color: $color_set_2_additional_color_2;
    }
    .additional-color-1-svg {
      path {
        fill: $color_set_2_additional_color_1;
      }
    }
  }

  .color-scheme-state-color-set-3 {
    .main-color-1-text {
      color: $main_color_1;
    }
    .main-color-2-text {
      color: $main_color_2;
    }
    .additional-color-1-text {
      color: $color_set_3_additional_color_1;
    }
    .additional-color-1-border {
      border-color: $color_set_3_additional_color_1;
    }
    .additional-color-1-background {
      background-color: $color_set_3_additional_color_1;
    }
    .additional-color-2-text {
      color: $color_set_3_additional_color_2;
    }
    .additional-color-2-border {
      border-color: $color_set_3_additional_color_2;
    }
    .additional-color-1-svg {
      path {
        fill: $color_set_3_additional_color_1;
      }
    }
  }

  .color-scheme-state-color-set-4 {
    .main-color-1-text {
      color: $main_color_1;
    }
    .main-color-2-text {
      color: $main_color_2;
    }
    .additional-color-1-text {
      color: $color_set_4_additional_color_1;
    }
    .additional-color-1-border {
      border-color: $color_set_4_additional_color_1;
    }
    .additional-color-1-background {
      background-color: $color_set_4_additional_color_1;
    }
    .additional-color-2-text {
      color: $color_set_4_additional_color_2;
    }
    .additional-color-2-border {
      border-color: $color_set_4_additional_color_2;
    }
    .additional-color-1-svg {
      path {
        fill: $color_set_4_additional_color_1;
      }
    }
  }

  .color-scheme-state-color-set-5 {
    .main-color-1-text {
      color: $main_color_1;
    }
    .main-color-2-text {
      color: $main_color_2;
    }
    .additional-color-1-text {
      color: $color_set_5_additional_color_1;
    }
    .additional-color-1-border {
      border-color: $color_set_5_additional_color_1;
    }
    .additional-color-1-background {
      background-color: $color_set_5_additional_color_1;
    }
    .additional-color-2-text {
      color: $color_set_5_additional_color_2;
    }
    .additional-color-2-border {
      border-color: $color_set_5_additional_color_2;
    }
    .additional-color-1-svg {
      path {
        fill: $color_set_5_additional_color_1;
      }
    }
  }
}