@font-face {
  font-family: 'Noto Sans';
  src: url('./fonts/Noto_Sans/NotoSans-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('./fonts/Noto_Sans/NotoSans-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('./fonts/Noto_Sans/NotoSans-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins/Poppins-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: ''Poppins'';
  src: url('./fonts/Poppins/Poppins-ExtraBold.ttf');
  font-weight: 800;
}

/* Colors */
$main_color_1: #FFFFFF;
$main_color_2: #131313 ;

$color_set_0_additional_color_1: #195B80;

$color_set_1_additional_color_1: #115FA8;

$color_set_2_additional_color_1: #50369A;

$color_set_3_additional_color_1: #7D0078;

$color_set_4_additional_color_1: #6C0349;

$color_set_5_additional_color_1: #A82614;

$color_set_6_additional_color_1: #0F7355;

.sv_015 {
  font-weight: 400;

  /* Global */
  * {
    padding: 0;
    margin: 0;
  }

  *, *:before, *:after {
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
  }

  a {
    color: $main_color_1;
    text-decoration: none;
  }

  ul {
    padding-left: 15px;
    li {
      list-style-type: disc;
    }
  }

  .empty-field {
    opacity: 0.3;
  }

  .hide {
    display: none !important;
  }

  //Blocks
  .cv-name {
    font-weight: 800;
    margin-bottom: 2px;
    span {
      font-family: 'Poppins', sans-serif;
    }
  }

  .cv-profession {
    font-weight: 300;
  }

  .cv-body {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background: linear-gradient(175.84deg, #E1F1FF 0.31%, #E9E5F4 32.5%, #FFEDD4 62.87%, #FFE5E8 95.97%);
  }

  .cv-body-content {
    flex: 1;
    display: flex;
  }

  .column-left {
    padding: 0 30px;
    flex: 1;
    flex-basis: 200%;
    .profile-block {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      column-gap: 12px;
      row-gap: 20px;
      .photo-block {
        width: 67px;
        height: 67px;
        position: relative;
        .photo {
          width: 100%;
          height: 100%;
          border-radius: 100%;
          background-size: cover;
          background-position: 50% 50%;
          overflow: hidden;
        }
      }
      .name-block {
        flex: 1;
      }
      .profile-info {
        flex-basis: 100%;
      }
    }
    .certificates-block {
      .certificates-list {
        display: flex;
        flex-direction: column;
        row-gap: 6px;
        span {
          font-family: "Poppins", sans-serif;
          font-weight: 800;
        }
      }
    }
  }

  .column-right {
    padding: 0 30px;
    color: $main_color_1;
    flex: 0;
    .block-block {
      min-width: 145px;
    }
    .contacts-information-block {
      .contacts-block {
        display: flex;
        flex-direction: column;
        row-gap: 2px;
      }
    }
    .personal-info-block {
      .personal-info {
        display: flex;
        flex-direction: column;
        row-gap: 12px;
      }
      .item-block {
        display: flex;
        flex-direction: column;
        row-gap: 4px;
      }
      .name {
        font-family: 'Poppins', sans-serif;
        font-weight: 800;
      }
    }
    .links-block {
      .links-block-content {
        display: flex;
        flex-direction: column;
        row-gap: 4px;
      }
    }
    .skills-list {
      display: flex;
      flex-direction: column;
      row-gap: 4px;
    }
    .references-block {
      .block-info {
        display: flex;
        flex-direction: column;
        row-gap: 4px;
      }
    }
    &.m-empty {
      min-width: 205px;
    }
  }

  .block-block {
    .block-heading {
      margin-bottom: 4px;
      font-family: 'Poppins', sans-serif;
      font-weight: 800;
    }
    .block-subheading {
      margin-bottom: 4px;
      font-family: 'Poppins', sans-serif;
      font-weight: 700;
    }
    .date-range {
      font-family: 'Noto Sans', sans-serif;
      font-weight: 500;
      margin-bottom: 4px;
    }
    .degree-block {
      font-family: 'Poppins', sans-serif;
      font-weight: 700;
      margin-bottom: 2px;
    }
    .block-info {
      margin-top: 10px;
      &:nth-child(2) {
        margin-top: 0;
      }
    }
    .text-block:not(:last-child) {
      margin-bottom: 2px;;
    }
    &:not(:first-child) {
      margin-top: 20px;
    }
    &:first-child {
      margin-top: 30px;
    }
  }
  
  /* Stylization */
  #cv-chapter-section-cv {
    .photo-block {
      display: none;
    }
    &.has-photo {
      .photo-block {
        display: block;
      }
    }
  }

  .cv-body-2 {
    .cv-body-content {
      .column-right {
        padding: 140px 30px 0 0;
        width: 202px;
        min-width: 202px;
      }
      .column-left {
        padding: 45px 40px 0 30px;
      }
      .cv-name {
        font-family: 'Poppins', sans-serif;
        font-weight: 800;
        margin-bottom: 70px !important;
      }
      .letter-text {
        p:not(:first-child) {
          margin-top: 10px;
        }
        p:last-child {
          margin-top: 30px;
        }
      }
    }
  }

  .letter-block {
    .block-heading {
      font-family: 'Poppins', sans-serif;
      font-weight: 800;
      margin-bottom: 4px !important;
    }
  }
  
  .destination-block {
    position: relative;
    padding: 40px 20px;
    background: $main_color_2;
    color: $main_color_1;
  
    .block-item {
      p:not(:first-child) {
        margin-top: 2px;
      }
    }
  
    .block-heading:not(:first-child) {
      margin-top: 20px;
    }
  
    &.block-block:first-child {
      margin: 0;
    }
  }
  
  /* Font size scheme */
  .font-size-scheme-state-small {
    .font-size-1 {
      font-size: 8px;
    }
    .font-size-2 {
      font-size: 10px;
    }
    .font-size-3 {
      font-size: 14px;
    }
    .font-size-4 {
      font-size: 20px;
    }
  }
  
  .font-size-scheme-state-medium {
    .font-size-1 {
      font-size: 10px;
    }
    .font-size-2 {
      font-size: 12px;
    }
    .font-size-3 {
      font-size: 16px;
    }
    .font-size-4 {
      font-size: 22px;
    }
  }
  
  .font-size-scheme-state-big {
    .font-size-1 {
      font-size: 12px;
    }
    .font-size-2 {
      font-size: 14px;
    }
    .font-size-3 {
      font-size: 18px;
    }
    .font-size-4 {
      font-size: 24px;
    }
  }
  
  /* Line height scheme */
  .line-height-scheme-state-small {
    .cv-body {
      line-height: 1.2;
    }
  }
  
  .line-height-scheme-state-medium {
    .cv-body {
      line-height: 1.4;
    }
  }
  
  .line-height-scheme-state-big {
    .cv-body {
      line-height: 1.6;
    }
  }
  
  /* Color scheme */
  .color-scheme-state-color-set-0 {
    .main-color-1-text {
      color: $main_color_2;
    }
  
    .additional-color-1-text {
      color: $color_set_0_additional_color_1;
    }
  
    .additional-color-1-background {
      background-color: $color_set_0_additional_color_1;
    }
  
    .text-block-wrapper ul li::before {
      background: $color_set_0_additional_color_1;
    }
  }
  
  .color-scheme-state-color-set-1 {
    .main-color-1-text {
      color: $main_color_2;
    }
  
    .additional-color-1-text {
      color: $color_set_1_additional_color_1;
    }
  
    .additional-color-1-background {
      background-color: $color_set_1_additional_color_1;
    }
  
    .text-block-wrapper ul li::before {
      background: $color_set_1_additional_color_1;
    }
  }
  
  .color-scheme-state-color-set-2 {
    .main-color-1-text {
      color: $main_color_2;
    }
  
    .additional-color-1-text {
      color: $color_set_2_additional_color_1;
    }
  
    .additional-color-1-background {
      background-color: $color_set_2_additional_color_1;
    }
  
    .text-block-wrapper ul li::before {
      background: $color_set_2_additional_color_1;
    }
  }
  
  .color-scheme-state-color-set-3 {
    .main-color-1-text {
      color: $main_color_2;
    }
  
    .additional-color-1-text {
      color: $color_set_3_additional_color_1;
    }
  
    .additional-color-1-background {
      background-color: $color_set_3_additional_color_1;
    }
  
    .text-block-wrapper ul li::before {
      background: $color_set_3_additional_color_1;
    }
  }
  
  .color-scheme-state-color-set-4 {
    .main-color-1-text {
      color: $main_color_2;
    }
    .additional-color-1-text {
      color: $color_set_4_additional_color_1;
    }
  
    .additional-color-1-background {
      background-color: $color_set_4_additional_color_1;
    }
  
    .text-block-wrapper ul li::before {
      background: $color_set_4_additional_color_1;
    }
  }
  
  .color-scheme-state-color-set-5 {
    .main-color-1-text {
      color: $main_color_2;
    }
  
    .additional-color-1-text {
      color: $color_set_5_additional_color_1;
    }
  
    .additional-color-1-background {
      background-color: $color_set_5_additional_color_1;
    }
  
    .text-block-wrapper ul li::before {
      background: $color_set_5_additional_color_1;
    }
  }
  
  .color-scheme-state-color-set-6 {
    .main-color-1-text {
      color: $main_color_2;
    }
  
    .additional-color-1-text {
      color: $color_set_6_additional_color_1;
    }
  
    .additional-color-1-background {
      background-color: $color_set_6_additional_color_1;
    }
  
    .text-block-wrapper ul li::before {
      background: $color_set_6_additional_color_1;
    }
  }
  
  .color-scheme-state-color-set-default {
    .main-color-1-text {
      color: $main_color_2;
    }
  
    .additional-color-1-background {
      background-color: $main_color_2;
    }
  
    .cv-body {
      background: $main_color_1;
    }
  }
}