.wt_tabs {
    margin-top: 45px;
}

.wr_cards {
    margin-top: 44px;
}

.row_card {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 45px;
}

.wr_settings {
    max-width: 830px;
}

.text_info {
    font-size: 14px;
    color: #838799;
    line-height: 1.5;
    max-width: 280px;
}

.item_par {
    &>div {
        color: #01153A;
    }

    &>p {
        margin: 4px 0 0 0;
        color: #838799;
        font-size: 14px;
    }
}

.info_text {
    color: #838799;
}

.item_s {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #F6F8FA;
    border-radius: 12px;
    padding: 20px;

    &_left {
        padding-right: 10px;
        display: flex;
        align-items: center;
        color: #01153A;

        img {
            max-width: 20px;
            min-width: 20px;
            margin-right: 18px;
        }
    }

    &_right {}
}

@media(max-width: 992px) {
    .wr_pa {
        margin-top: 24px;
    }

    .wt_tabs {
        margin-top: 9px;
    }

    .wr_title {
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .wr_tabs {
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 586px) {
    .row_card {
        justify-content: center;
    }
}