.wt_tabs {
    margin-top: 45px;
}

.wr_cards {
    margin-top: 44px;
}

.row_card {
    display: grid;
    grid-gap: 45px;
    grid-template-columns:
        minmax(230px, 230px) repeat(auto-fill, 230px) 20%;
}

.wr_settings {
    max-width: 830px;
}

.text_info {
    font-size: 14px;
    color: #838799;
    line-height: 1.5;
    max-width: 280px;
}

.item_par {
    &>div {
        color: #01153A;
    }

    &>p {
        margin: 4px 0 0 0;
        color: #838799;
        font-size: 14px;
    }
}

.info_text {
    color: #838799;
}

.item_s {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #F6F8FA;
    border-radius: 12px;
    padding: 20px;

    &_left {
        padding-right: 10px;
        display: flex;
        align-items: center;
        color: #01153A;

        img {
            max-width: 20px;
            min-width: 20px;
            margin-right: 18px;
        }
    }

    &_right {}
}