 /* Font faces */
 @font-face {
   font-family: 'Montserrat';
   src: url('./fonts/Montserrat/Montserrat-VariableFont_wght.ttf');
 }

  /* Colors */
  $main_color_1: #FFFFFF;
  $main_color_2: #CDCDCD;
  $main_color_3: #989898;
  $main_color_4: #1C1C1C;

  $color_set_1_additional_color_1: #DD9912;
  $color_set_2_additional_color_1: #F87843;
  $color_set_3_additional_color_1: #7ECC00;
  $color_set_4_additional_color_1: #00CCB4;
  $color_set_5_additional_color_1: #3BA8F6;
  $color_set_6_additional_color_1: #B084F8;

 .sv_040 {
  font-weight: 400;

   /* Global */
  * {
    padding: 0;
    margin: 0;
  }

  *, *:before, *:after {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
  }

  ul {
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    row-gap: 2px;
    li {
      list-style: disc;
    }
  }

  .empty-field {
    opacity: 0.3;
  }

  .hide {
    display: none !important;
  }

  //Blocks
  .cv-name {
    text-align: right;
    font-weight: 300;
  }

   .cv-profession {
     text-align: right;
     margin-top: 8px;
     font-weight: 600;
     text-transform: uppercase;
   }

   .cv-body {
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  .cv-body-content {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
  }

  .top-area {
    position: relative;
    display: flex;
    .column-left {
      width: 50%;
      display: flex;
      flex-direction: column;
      .main-info-block {
        flex: 1;
        padding: 30px 74px 60px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }
    .column-right {
      width: 50%;
      display: flex;
      flex-direction: column;
      border-left-width: 2px;
      border-left-style: solid;
      .personal-info-block {
        flex: 1;
        padding: 30px 0 60px 74px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .contacts-block {
          display: flex;
          flex-direction: column;
          row-gap: 2px;
        }
        .personal-info-list {
          display: flex;
          gap: 8px;
          flex-wrap: wrap;
          margin-top: 10px;
          .item-block{
          flex-shrink: 0;
          }
          .name {
            color: $main_color_3;
          }
        }
      }
    }
    .center-block {
      position: absolute;
      width: 128px;
      height: 128px;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
      border-radius: 100%;
      border-width: 2px;
      border-style: solid;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #fff;
      overflow: hidden;
      .photo-wrapper {
        width: 120px;
        height: 120px;
        .photo {
         width: 100%;
         height: 100%;
         overflow: hidden;
         border-radius: 100%;
         background-size: cover;
         background-position: center center;
       }
      }
    }
  }

  .middle-area {
    position: relative;
    display: flex;
    flex: 1;
    .column-left {
      width: 50%;
      display: flex;
      flex-direction: column;
      .block-block {
        border-top-width: 2px;
        border-top-style: solid;
        padding: 5px 20px 25px 0px;
        .cv-heading {
          text-align: right;
        }
        .cv-subheading {
          text-align: right;
        }
        .date-range {
          text-align: right;
        }
      }
      .estimated-items-list {
        display: flex;
        flex-direction: column;
        row-gap: 5px;
        .estimated-items-list-item {
          display: flex;
          flex-direction: column;
          row-gap: 2px;
        }
        .estimated-item-value-wrapper {
          background-color: $main_color_2;
          width: 100%;
          height: 1px;
        }
        .estimated-item-value {
          background-color: $main_color_4;
          height: 100%;
        }
      }
      .languages-and-skills-block {
        display: flex;
        justify-content: space-between;
        .languages-block {
          width: 110px;
        }
        .skills-block {
          width: 110px;
        }
      }
      .hobbies-block {
        text-align: right;
      }
    }
    .column-right {
      width: 50%;
      display: flex;
      flex-direction: column;
      border-left-width: 2px;
      border-left-style: solid;
      .block-block {
        border-top-width: 2px;
        border-top-style: solid;
        padding: 5px 0px 25px 20px;
        .cv-heading {
          text-align: left;
        }
        .cv-subheading {
          text-align: left;
        }
        .date-range {
          text-align: left;
        }
      }
      .certificates-and-references-block {
        display: flex;
        column-gap: 15px;
        .certificates-block {
          width: 115px;
          .certificates-info {
            display: flex;
            flex-direction: column;
            row-gap: 8px;
          }
        }
        .references-block {
          .block-info {
            display: flex;
            flex-direction: column;
            row-gap: 2px;
          }
        }
      }
      .links-block {
        .links-list {
          display: flex;
          column-gap: 15px;
        }
      }
    }
  }

  .block-block {
    .cv-heading {
      margin-bottom: 5px;
    }
    .cv-subheading {
    margin-bottom: 2px;
    }
    .date-range {
      color: $main_color_3;
      letter-spacing: 0.8px;
      text-transform: uppercase;
      margin-bottom: 5px;
    }
    .block-info {
      margin-top: 10px;
    &:nth-child(2) {
      margin-top: 0;
    }
    }
    .text-block {
      text-align: justify;
    }
  }

   #cv-chapter-section-cv {
    .top-area {
      .center-block {
        width: 64px;
        height: 64px;

        .photo-wrapper {
          display: none;
        }
      }
    }

    &.has-photo {
      .top-area {
        .center-block {
          width: 128px;
          height: 128px;

          .photo-wrapper {
            display: flex;
          }
        }
      }
    }
  }

  .cv-body-2 {
    padding: 20px 20px 62px 19px;
    .cv-body-content {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: stretch;
    }
    .top-area {
      display: flex;
      align-items: stretch;
      justify-content: stretch;
      .column-left {
        border-right-width: 1px;
        border-right-style: solid;
        padding: 41px 52px 41px 0px;
        justify-content: center;
      }
      .column-right {
        border-left-width: 1px;
        border-left-style: solid;
        padding: 41px 0px 41px 52px;
        justify-content: center;
        .cv-heading {
         margin-bottom: 5px;
         color: $main_color_3;
        }
      }
      .center-block {
        width: 64px;
        height: 64px;
      }
    }
    .middle-area {
      border-top-width: 2px;
      border-top-style: solid;
      padding: 54px 75px 54px 75px;

      .letter-block {
        .letter-heading {
          margin-bottom: 6px;
        }
      }
    }
    .block-from {
      margin-top: 10px;
    }
  }

   /* Font size scheme */
   .font-size-scheme-state-small {
    .font-size-1 {
      font-size: 6px;
    }

    .font-size-2 {
      font-size: 8px;
    }

    .font-size-3 {
      font-size: 10px;
    }

    .font-size-4 {
      font-size: 13px;
    }

    .font-size-5 {
      font-size: 16px;
    }

    .font-size-6 {
      font-size: 24px;
    }
  }

  .font-size-scheme-state-medium {
    .font-size-1 {
      font-size: 8px;
    }

    .font-size-2 {
      font-size: 10px;
    }

    .font-size-3 {
      font-size: 12px;
    }

    .font-size-4 {
      font-size: 15px;
    }

    .font-size-5 {
      font-size: 18px;
    }

    .font-size-6 {
      font-size: 26px;
    }
  }

  .font-size-scheme-state-big {
    .font-size-1 {
      font-size: 10px;
    }

    .font-size-2 {
      font-size: 12px;
    }

    .font-size-3 {
      font-size: 14px;
    }

    .font-size-4 {
      font-size: 17px;
    }

    .font-size-5 {
      font-size: 20px;
    }

    .font-size-6 {
      font-size: 28px;
    }
  }

  /* Line height scheme */
  .line-height-scheme-state-small {
    .cv-body-content {
      line-height: 1.2;
    }
    .cv-name {
      line-height: 1;
    }
  }

  .line-height-scheme-state-medium {
    .cv-body-content {
      line-height: 1.4;
    }
    .cv-name {
      line-height: 1.1;
    }
  }

  .line-height-scheme-state-big {
    .cv-body-content {
      line-height: 1.6;
    }
    .cv-name {
      line-height: 1.2;
    }
  }

  /* Color scheme */
  .color-scheme-state-color-set-1 {
    .main-color-1-background {
      background-color: $main_color_1;
    }

    .main-color-2-text {
      color: $main_color_2;
    }

    .main-color-3-text {
      color: $main_color_3;
    }

    .main-color-4-text {
      color: $main_color_4;
    }

    .additional-color-1-text {
      color: $color_set_1_additional_color_1;
    }

    .additional-color-1-border {
      border-color: $color_set_1_additional_color_1;
    }

    .additional-color-1-svg-path {
      path {
        stroke: $color_set_1_additional_color_1;
        fill: $main_color_1;
      }
    }

    .additional-color-1-svg {
      path {
        stroke: $color_set_1_additional_color_1;
        fill: $color_set_1_additional_color_1;
      }
    }
  }

  .color-scheme-state-color-set-2 {
    .main-color-1-background {
      background-color: $main_color_1;
    }

    .main-color-2-text {
      color: $main_color_2;
    }

    .main-color-3-text {
      color: $main_color_3;
    }

    .main-color-4-text {
      color: $main_color_4;
    }

    .additional-color-1-text {
      color: $color_set_2_additional_color_1;
    }

    .additional-color-1-border {
      border-color: $color_set_2_additional_color_1;
    }

    .additional-color-1-svg-path {
      path {
        stroke: $color_set_2_additional_color_1;
        fill: $main_color_1;
      }
    }

    .additional-color-1-svg {
      path {
        stroke: $color_set_2_additional_color_1;
        fill: $color_set_2_additional_color_1;
      }
    }
  }

  .color-scheme-state-color-set-3 {
    .main-color-1-background {
      background-color: $main_color_1;
    }

    .main-color-2-text {
      color: $main_color_2;
    }

    .main-color-3-text {
      color: $main_color_3;
    }

    .main-color-4-text {
      color: $main_color_4;
    }

    .additional-color-1-text {
      color: $color_set_3_additional_color_1;
    }

    .additional-color-1-border {
      border-color: $color_set_3_additional_color_1;
    }

    .additional-color-1-svg-path {
      path {
        stroke: $color_set_3_additional_color_1;
        fill: $main_color_1;
      }
    }

    .additional-color-1-svg {
      path {
        stroke: $color_set_3_additional_color_1;
        fill: $color_set_3_additional_color_1;
      }
    }
  }

  .color-scheme-state-color-set-4 {
    .main-color-1-background {
      background-color: $main_color_1;
    }

    .main-color-2-text {
      color: $main_color_2;
    }

    .main-color-3-text {
      color: $main_color_3;
    }

    .main-color-4-text {
      color: $main_color_4;
    }

    .additional-color-1-text {
      color: $color_set_4_additional_color_1;
    }

    .additional-color-1-border {
      border-color: $color_set_4_additional_color_1;
    }

    .additional-color-1-svg-path {
      path {
        stroke: $color_set_4_additional_color_1;
        fill: $main_color_1;
      }
    }

    .additional-color-1-svg {
      path {
        stroke: $color_set_4_additional_color_1;
        fill: $color_set_4_additional_color_1;
      }
    }
  }

  .color-scheme-state-color-set-5 {
    .main-color-1-background {
      background-color: $main_color_1;
    }

    .main-color-2-text {
      color: $main_color_2;
    }

    .main-color-3-text {
      color: $main_color_3;
    }

    .main-color-4-text {
      color: $main_color_4;
    }

    .additional-color-1-text {
      color: $color_set_5_additional_color_1;
    }

    .additional-color-1-border {
      border-color: $color_set_5_additional_color_1;
    }

    .additional-color-1-svg-path {
      path {
        stroke: $color_set_5_additional_color_1;
        fill: $main_color_1;
      }
    }

    .additional-color-1-svg {
      path {
        stroke: $color_set_5_additional_color_1;
        fill: $color_set_5_additional_color_1;
      }
    }
  }

  .color-scheme-state-color-set-6 {
    .main-color-1-background {
      background-color: $main_color_1;
    }

    .main-color-2-text {
      color: $main_color_2;
    }

    .main-color-3-text {
      color: $main_color_3;
    }

    .main-color-4-text {
      color: $main_color_4;
    }

    .additional-color-1-text {
      color: $color_set_6_additional_color_1;
    }

    .additional-color-1-border {
      border-color: $color_set_6_additional_color_1;
    }

    .additional-color-1-svg-path {
      path {
        stroke: $color_set_6_additional_color_1;
        fill: $main_color_1;
      }
    }

    .additional-color-1-svg {
      path {
        stroke: $color_set_6_additional_color_1;
        fill: $color_set_6_additional_color_1;
      }
    }
  }
 }