.card_new {
    max-width: 230px;
    width: 20%;

    &__head {
        display: flex;
        min-height: 326px;
        border: 1px dashed #C4C7D0;
        border-radius: 12px;
        justify-content: center;
        align-items: center;
        padding: 1px;
        cursor: pointer;
        transition: 0.3s;
        position: relative;

        &>div {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            transition: 0.3s;

            svg {
                width: 20px;
                height: 20px;
            }

            span {
                margin-top: 10px;
                font-weight: 400;
                color: #3679FD;
            }
        }

        &:hover {
            border-color: #3679FD;
        }

        &.load {
            &::before {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                height: 100%;
                width: 100%;
                border-radius: inherit;
                filter: blur(10px);
                background: rgba(255, 255, 255, 0.5);
            }

            &::after {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 20px;
                height: 20px;
                background: url("/../images/icons/preloader-blue.svg?sprite") center/contain no-repeat;
            }

            & > div {
                opacity: 0;
            }
        }
    }

    &__bot {
        text-align: center;
        margin-top: 20px;
        font-size: 14px;
        color: #838799;
    }
}

@media (max-width: 767px) {
    .card_new {
        width: 46%;
        max-width: 230px;
        min-width: 230px;

        &__head {
            min-height: 170px;
            padding: 10px;
        }
    }
}