.card_new {
    max-width: 230px;
    width: 20%;

    &__head {
        display: flex;
        min-height: 326px;
        border: 1px dashed #C4C7D0;
        border-radius: 12px;
        justify-content: center;
        align-items: center;
        padding: 1px;
        cursor: pointer;
        transition: 0.3s;

        &>div {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            svg {
                width: 20px;
                height: 20px;
            }

            span {
                margin-top: 10px;
                font-weight: 400;
                color: #3679FD;
            }
        }

        &:hover {
            border-color: #3679FD;
        }
    }

    &__bot {
        text-align: center;
        margin-top: 20px;
        font-size: 14px;
        color: #838799;
    }
}

@media (max-width: 767px) {
    .card_new {
        width: 46%;
        max-width: auto;

        &__head {
            min-height: 170px;
            padding: 10px;
        }
    }
}