/* Fonts */
@font-face {
  font-family: 'Orbitron';
  src: url('./fonts/Orbitron/Orbitron-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins/Poppins-Regular.ttf');
  font-weight: 400;
}

.sv_031 {
  /* Colors */
  $main_color_1: #F0F0F0;
  $main_color_2: #989898;
  $main_color_3: #000000;

  $color_set_1_additional_color_1: #000000;
  $color_set_2_additional_color_1: #AA7777;
  $color_set_3_additional_color_1: #AA9377;
  $color_set_4_additional_color_1: #7E8D70;
  $color_set_5_additional_color_1: #548C8C;
  $color_set_6_additional_color_1: #64668A;
  $color_set_7_additional_color_1: #87608D;

  font-family: 'Poppins', sans-serif;

  * {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    font-family: 'Poppins', sans-serif;
  }

  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-weight: 700;
  }

  .font-weight-300 {
    font-weight: 300;
  }

  .font-weight-400 {
    font-weight: 400;
  }

  .font-weight-500 {
    font-weight: 500;
  }

  .font-weight-600 {
    font-weight: 600;
  }

  .font-weight-700 {
    font-weight: 700;
  }

  .font-weight-900 {
    font-weight: 900;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-weight: 700;
  }

  .cv-prophecy {
    text-align: center;
  }

  .cv-name {
    text-align: center;
    font-family: 'Orbitron', sans-serif;
  }

  .item-value-container {
    .item-value {}

    .item-value-point {}

    .empty-gap {}
  }

  .cv-body {
    min-width: 595px;
    min-height: 764px;
    max-height: 764px;
    background-color: #fff;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    padding: 19.2px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;

    .cv-body-content {
      flex: 1;
      display: flex;
      flex-direction: row;
      align-items: stretch;
      justify-content: stretch;
      height: 100%;
      position: relative;
      z-index: 10;
      border-width: 0.96px;
      border-style: solid;
      padding: 19.8px 28.8px;

      .column-left {
        width: 124px;
        min-width: 124px;
        margin-right: 5px;
      }

      .column-right {}
    }

    &.cv-body-1 {
      .cv-body-content {
        .column-left {
          width: 124px;
          margin: 0px 5px 0px 0px;
        }

        .column-right {
          .cv-name {
            text-align: left;
            margin: 0px 0px 0px 26px;
          }

          .cv-prophecy {
            text-align: left;
            margin: 5px 0px 18px 26px !important;
            text-transform: uppercase;
          }
        }
      }
    }

    &.cv-body-2 {
      .cv-body-content {
        flex-direction: column;

        .top-area {
          margin: 51px 81px 0px 81px;

          .cv-name {
            text-align: left;
          }
        }

        .middle-area {
          flex: 1;
          margin: 88px 65px 0px 65px;

          .letter-block {
            display: flex;
            align-items: stretch;
            justify-content: stretch;

            .left-side {
              width: 20px;
              margin-right: 5px;
            }

            .right-side {
              flex: 1;

              .letter-heading {
                margin-bottom: 15px !important;
              }
            }
          }
        }

        .bottom-area {
          margin: 20px 88px 44px 88px;

          .addresses-block {
            display: flex;
            align-items: stretch;
            justify-content: stretch;

            .to-block {
              margin: 0px 50px 0px 0px;

              p {
                margin-top: 5px;
              }
            }

            .from-block {
              p {
                margin-top: 5px;
              }
            }
          }
        }
      }
    }

  }

  svg {
    width: 16px;
    height: 16px;
  }

  .additional-color-1-svg {
    width: 10px;
    height: 10px;
  }

  .estimation-container {
    .item-estimation {
      display: block;
      height: 1px;
    }
  }

  /* Blocks styling */
  .block-block {
    .block-heading {
      font-family: 'Orbitron', sans-serif;
    }

    .block-subheading {
      margin: 0px 0px 5px 0px;
    }

    &.block-block-2 {
      display: flex;
      align-items: stretch;
      justify-content: stretch;

      .block-heading {
        margin: 0px 0px 6px 0px !important;
      }

      .left-side {
        width: 20px;
        margin: 0px 6px 0px 0px;

        svg {
          width: 20px;
          height: 20px;
        }
      }

      .date-range {
        margin-bottom: 5px;
      }
    }
  }

  .photo-block {
    img {
      display: block;
      width: 115px;
      height: 115px;
      border-radius: 50%;
    }
  }

  .details-block {
    margin-top: 10px;

    .contacts-block {
      margin-top: 6px;
    }

    .profile-info-list {
      margin-top: 13px;

      .info-list-item {
        margin-top: 5px;

        &:first-child {
          margin-top: 0px;
        }
      }
    }
  }

  .links-block {
    margin-top: 10px;

    .social {
      display: flex;
      align-items: stretch;
      margin-top: 6px;

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        border-width: 1px;
        border-style: solid;
        width: 33.04px;
        height: 27.36px;
        border-radius: 13.4413px;
        margin-left: 5px;
        text-decoration: none;

        &:first-child {
          margin-left: 0px;
        }
      }
    }
  }

  .skills-block {
    margin-top: 10px;

    .skills-list {
      .skills-list-item {
        margin-top: 5px;

        &:first-item {
          margin-top: 0px;
        }

        .skill-name {
          margin-bottom: 3px;
        }
      }
    }
  }

  .languages-block {
    margin-top: 10px;

    .estimated-items-list {
      .estimated-item {
        margin-top: 5px;

        .item-name {
          margin: 0px 0px 3px 0px;
        }

        .estimation-container {
          .item-estimation {}
        }

        &:first-child {
          margin-top: 6px;
        }
      }
    }
  }

  .hobbies-block {
    margin-top: 10px;

    p {
      margin-top: 5px;
    }
  }

  .references-block {
    margin-top: 10px;

    p {
      margin-top: 3px;

      &:first-child {
        margin-top: 6px;
      }
    }
  }

  .certificates-block {
    margin-top: 10px;

    p {
      margin-top: 3px;

      &:first-child {
        margin-top: 6px;
      }
    }
  }

  .profile-block {}

  .employment-history-block {
    margin-top: 10px;
  }

  .education-block {
    margin-top: 10px;

    .subheading-line {
      display: flex;
      align-items: center;

      .block-subheading {
        margin-bottom: 0px;
      }

      svg {
        margin: 0px 5px;
      }
    }
  }

  .courses-block {
    margin-top: 10px;
  }

  .extra-curricular-activities-block {
    margin-top: 10px;
  }

  .internships-block {
    margin-top: 10px;
  }

  .letter-block {
    display: flex;
    align-items: stretch;
    justify-content: stretch;
  }

  .middle-area {
    .additional-color-1-svg {
      width: 20px;
      height: 20px;
    }
  }

  /* Control panel */
  #control-panel {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 10000;

    .control-panel-item-block {
      border: 1px solid #ccc;
      background-color: #fff;
      border-radius: 5px;
      padding: 5px 10px;

      .control-panel-heading {
        font-size: 11px;
        margin: 0px 0px 0px 0px;
      }

      .control-panel-item-input-list {
        &.radio-input-list {
          .input-list-item {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            cursor: pointer;
            margin: 3px 0px;

            .radio-input {
              display: block;
              border-radius: 50%;
              border: 2px solid #d6d0d0;
              width: 7px;
              height: 7px;
              background-color: transparent;
              margin-right: 5px;
              pointer-events: none;
            }

            .radio-input-label {
              font-size: 10px;
              pointer-events: none;
            }

            &.active {
              .radio-input {
                background-color: #d6d0d0;
              }
            }
          }

          &.color-list {
            .input-list-item {
              .radio-input-label {
                flex: 1;
                height: 15px;
                border-radius: 3px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;

                .color-set-color {
                  display: block;
                  border-radius: 50%;
                  width: 15px;
                  height: 15px;
                  border: 0.5px solid #d4d4d4;
                }
              }
            }
          }
        }
      }
    }
  }



  /* Stylization */
  #cv-chapter-section-cv {
    .photo-block {
      display: none;
    }

    &.has-photo {
      .photo-block {
        display: flex;
      }
    }
  }

  /* Font size scheme */
  .font-size-scheme-state-small {
    .font-size-1 {
      font-size: 8px;
    }

    .font-size-2 {
      font-size: 10px;
    }

    .font-size-3 {
      font-size: 16px;
    }

    .font-size-4 {
      font-size: 26px;
    }
  }

  .font-size-scheme-state-medium {
    .font-size-1 {
      font-size: 10px;
    }

    .font-size-2 {
      font-size: 12px;
    }

    .font-size-3 {
      font-size: 18px;
    }

    .font-size-4 {
      font-size: 28px;
    }
  }

  .font-size-scheme-state-big {
    .font-size-1 {
      font-size: 12px;
    }

    .font-size-2 {
      font-size: 14px;
    }

    .font-size-3 {
      font-size: 20px;
    }

    .font-size-4 {
      font-size: 30px;
    }
  }

  /* Line height scheme */
  .line-height-scheme-state-small {
    .line-height-1 {
      line-height: 11.2px;
    }

    .line-height-2 {
      line-height: 12.8px;
    }

    .line-height-3 {
      line-height: 12.54px;
    }

    .line-height-4 {
      line-height: 14px;
    }

    .line-height-5 {
      line-height: 15px;
    }

    .line-height-6 {
      line-height: 20.06px;
    }

    .line-height-7 {
      line-height: 28.6px;
    }
  }

  .line-height-scheme-state-medium {
    .line-height-1 {
      line-height: 13.2px;
    }

    .line-height-2 {
      line-height: 14.8px;
    }

    .line-height-3 {
      line-height: 14.54px;
    }

    .line-height-4 {
      line-height: 16px;
    }

    .line-height-5 {
      line-height: 17px;
    }

    .line-height-6 {
      line-height: 22.06px;
    }

    .line-height-7 {
      line-height: 30.6px;
    }
  }

  .line-height-scheme-state-big {
    .line-height-1 {
      line-height: 15.2px;
    }

    .line-height-2 {
      line-height: 16.8px;
    }

    .line-height-3 {
      line-height: 16.54px;
    }

    .line-height-4 {
      line-height: 18px;
    }

    .line-height-5 {
      line-height: 19px;
    }

    .line-height-6 {
      line-height: 24.06px;
    }

    .line-height-7 {
      line-height: 32.6px;
    }
  }

  /* Color scheme */
  .color-scheme-state-color-set-1 {
    .main-color-1-background {
      background-color: $main_color_1;
    }

    .main-color-2-text {
      color: $main_color_2;
    }

    .main-color-3-text {
      color: $main_color_3;
    }

    .main-color-3-svg {
      path {
        stroke: $main_color_3;
        fill: $main_color_3;
      }
    }

    .additional-color-1-text {
      color: $color_set_1_additional_color_1;
    }

    .additional-color-1-border {
      border-color: $color_set_1_additional_color_1;
    }

    .additional-color-1-background {
      background-color: $color_set_1_additional_color_1;
    }

    .additional-color-1-svg {
      path {
        stroke: $color_set_1_additional_color_1;
      }
    }
  }

  .color-scheme-state-color-set-2 {
    .main-color-1-background {
      background-color: $main_color_1;
    }

    .main-color-2-text {
      color: $main_color_2;
    }

    .main-color-3-text {
      color: $main_color_3;
    }

    .main-color-3-svg {
      path {
        stroke: $main_color_3;
        fill: $main_color_3;
      }
    }

    .additional-color-1-text {
      color: $color_set_2_additional_color_1;
    }

    .additional-color-1-border {
      border-color: $color_set_2_additional_color_1;
    }

    .additional-color-1-background {
      background-color: $color_set_2_additional_color_1;
    }

    .additional-color-1-svg {
      path {
        stroke: $color_set_2_additional_color_1;
      }
    }
  }

  .color-scheme-state-color-set-3 {
    .main-color-1-background {
      background-color: $main_color_1;
    }

    .main-color-2-text {
      color: $main_color_2;
    }

    .main-color-3-text {
      color: $main_color_3;
    }

    .main-color-3-svg {
      path {
        stroke: $main_color_3;
        fill: $main_color_3;
      }
    }

    .additional-color-1-text {
      color: $color_set_3_additional_color_1;
    }

    .additional-color-1-border {
      border-color: $color_set_3_additional_color_1;
    }

    .additional-color-1-background {
      background-color: $color_set_3_additional_color_1;
    }

    .additional-color-1-svg {
      path {
        stroke: $color_set_3_additional_color_1;
      }
    }
  }

  .color-scheme-state-color-set-4 {
    .main-color-1-background {
      background-color: $main_color_1;
    }

    .main-color-2-text {
      color: $main_color_2;
    }

    .main-color-3-text {
      color: $main_color_3;
    }

    .main-color-3-svg {
      path {
        stroke: $main_color_3;
        fill: $main_color_3;
      }
    }

    .additional-color-1-text {
      color: $color_set_4_additional_color_1;
    }

    .additional-color-1-border {
      border-color: $color_set_4_additional_color_1;
    }

    .additional-color-1-background {
      background-color: $color_set_4_additional_color_1;
    }

    .additional-color-1-svg {
      path {
        stroke: $color_set_4_additional_color_1;
      }
    }
  }

  .color-scheme-state-color-set-5 {
    .main-color-1-background {
      background-color: $main_color_1;
    }

    .main-color-2-text {
      color: $main_color_2;
    }

    .main-color-3-text {
      color: $main_color_3;
    }

    .main-color-3-svg {
      path {
        stroke: $main_color_3;
        fill: $main_color_3;
      }
    }

    .additional-color-1-text {
      color: $color_set_5_additional_color_1;
    }

    .additional-color-1-border {
      border-color: $color_set_5_additional_color_1;
    }

    .additional-color-1-background {
      background-color: $color_set_5_additional_color_1;
    }

    .additional-color-1-svg {
      path {
        stroke: $color_set_5_additional_color_1;
      }
    }
  }

  .color-scheme-state-color-set-6 {
    .main-color-1-background {
      background-color: $main_color_1;
    }

    .main-color-2-text {
      color: $main_color_2;
    }

    .main-color-3-text {
      color: $main_color_3;
    }

    .main-color-3-svg {
      path {
        stroke: $main_color_3;
        fill: $main_color_3;
      }
    }

    .additional-color-1-text {
      color: $color_set_6_additional_color_1;
    }

    .additional-color-1-border {
      border-color: $color_set_6_additional_color_1;
    }

    .additional-color-1-background {
      background-color: $color_set_6_additional_color_1;
    }

    .additional-color-1-svg {
      path {
        stroke: $color_set_6_additional_color_1;
      }
    }
  }

  .color-scheme-state-color-set-7 {
    .main-color-1-background {
      background-color: $main_color_1;
    }

    .main-color-2-text {
      color: $main_color_2;
    }

    .main-color-3-text {
      color: $main_color_3;
    }

    .main-color-3-svg {
      path {
        stroke: $main_color_3;
        fill: $main_color_3;
      }
    }

    .additional-color-1-text {
      color: $color_set_7_additional_color_1;
    }

    .additional-color-1-border {
      border-color: $color_set_7_additional_color_1;
    }

    .additional-color-1-background {
      background-color: $color_set_7_additional_color_1;
    }

    .additional-color-1-svg {
      path {
        stroke: $color_set_7_additional_color_1;
      }
    }
  }

  /* Custom class for custom color and font-size or line-height */
  /* ReactJS scripts shoud change CUSTOM_FONT_SIZE, CUSTOM_LINE_HEIGHT and CUSTOM_COLOR to any values
AND change appropriate container classes to font-size-scheme-state-custom, line-height-scheme-state-custom, color-scheme-state-color-set-custom */
  .font-size-scheme-state-custom {
    .font-size-1 {
      /* font-size: CUSTOM_FONT_SIZE; */
    }

    .font-size-2 {
      /* font-size: CUSTOM_FONT_SIZE; */
    }

    .font-size-3 {
      /* font-size: CUSTOM_FONT_SIZE; */
    }

    .font-size-4 {
      /* font-size: CUSTOM_FONT_SIZE; */
    }

    .font-size-5 {
      /* font-size: CUSTOM_FONT_SIZE; */
    }
  }

  /* Line height scheme */
  .line-height-scheme-state-custom {
    .line-height-1 {
      /* line-height: CUSTOM_LINE_HEIGHT; */
    }

    .line-height-2 {
      /* line-height: CUSTOM_LINE_HEIGHT; */
    }

    .line-height-3 {
      /* line-height: CUSTOM_LINE_HEIGHT; */
    }

    .line-height-4 {
      /* line-height: CUSTOM_LINE_HEIGHT; */
    }

    .line-height-5 {
      /* line-height: CUSTOM_LINE_HEIGHT; */
    }

    .line-height-6 {
      /* line-height: CUSTOM_LINE_HEIGHT; */
    }
  }


  .color-scheme-state-color-set-custom {
    .main-color-1-text {
      color: $main_color_1;
    }

    .main-color-1-background {
      background-color: $main_color_1;
    }

    .main-color-2-text {
      color: $main_color_2;
    }

    .main-color-2-border {
      border-color: $main_color_2;
    }

    .additional-color-1-text {
      /* color: CUSTOM_COLOR; */
    }

    .additional-color-1-border {
      /* border-color: CUSTOM_COLOR; */
    }

    .additional-color-1-background {
      /* background-color: CUSTOM_COLOR; */
    }

    .additional-color-1-svg-path {
      path {
        /* stroke: CUSTOM_COLOR; */
        fill: transparent;
      }
    }

    .additional-color-1-svg {
      path {
        /* fill: CUSTOM_COLOR; */
      }
    }

    .additional-color-2-text {
      /* color: CUSTOM_COLOR; */
    }

    .additional-color-2-border {
      /* border-color: CUSTOM_COLOR; */
    }

    .additional-color-2-background {
      /* background-color: CUSTOM_COLOR; */
    }

    .additional-color-2-svg-path {
      path {
        /* stroke: CUSTOM_COLOR; */
        fill: transparent;
      }
    }

    .additional-color-2-svg {
      path {
        /* fill: CUSTOM_COLOR; */
      }
    }
  }
}