/* Fonts */
@font-face {
  font-family: 'Orbitron';
  src: url('./fonts/Orbitron/Orbitron-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins/Poppins-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins/Poppins-Light.ttf');
  font-weight: 300;
}

  /* Colors */
  $main_color_1: #F0F0F0;
  $main_color_2: #989898;
  $main_color_3: #000000;

  $color_set_1_additional_color_1: #000000;
  $color_set_2_additional_color_1: #AA7777;
  $color_set_3_additional_color_1: #AA9377;
  $color_set_4_additional_color_1: #7E8D70;
  $color_set_5_additional_color_1: #548C8C;
  $color_set_6_additional_color_1: #64668A;
  $color_set_7_additional_color_1: #87608D;

.sv_031 {
  font-weight: 400;

  /* Global */
  * {
    padding: 0;
    margin: 0;
  }

  *, *:before, *:after {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }

  ul {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
  }

  .empty-field {
    opacity: 0.3;
  }

  .hide {
    display: none !important;
  }

  //Blocks
  .cv-name {
    font-weight: 500;
    span {
      font-family: 'Orbitron', sans-serif;
    }
  }

  .cv-profession {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 5px;
  }

  .cv-body {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 20px;
  }

  .cv-body-content {
    position: relative;
    flex: 1;
    display: flex;
    border-width: 1px;
    border-style: solid;
    column-gap: 30px;
    padding: 20px;
  }

  .column-left {
    flex: 0;
    .block-block {
      min-width: 124px;
    }
    .photo-block {
      width: 115px;
      height: 115px;
      min-width: auto !important;
      .photo {
        display: block;
        width: 100%;
        height: 100%;
        overflow: hidden;
        border-radius: 100%;
        background-size: cover;
        background-position: center center;
      }
    }
    .details-block {
      .contacts-block {
        display: flex;
        flex-direction: column;
        row-gap: 5px;
      }
      .profile-info-list {
        margin-top: 12px;
        display: flex;
        flex-direction: column;
        row-gap: 5px;
        .item-block {
          display: flex;
          flex-direction: column;
          row-gap: 2px;
        }
        .name {
          font-weight: 300;
          color: $main_color_2;
          text-transform: uppercase;
          letter-spacing: 0.8px;
        }
      }
    }
    .links-block {
      .links-list {
        display: flex;
        gap: 5px;
        .links-item {
          min-width: 36px;
          text-align: center;
          text-decoration: none;
          padding: 8px 12px;
          border-radius: 14px;
          border-style: solid;
          border-width: 1px;
        }
      }
    }
    .skills-block {
      .skills-list {
        display: flex;
        flex-direction: column;
        row-gap: 5px;
      }
      .skills-list-item {
        display: flex;
        flex-direction: column;
        row-gap: 2px;
      }
      .value {
        height: 2px;
      }
    }
    .languages-block {
      margin-top: 10px;
      .languages-list {
        display: flex;
        flex-direction: column;
        row-gap: 5px;
      }
      .languages-item {
        display: flex;
        flex-direction: column;
        row-gap: 2px;
      }
      .value {
        height: 2px;
      }
    }
    .references-block {
      .block-info {
        display: flex;
        flex-direction: column;
        row-gap: 4px;
      }
    }
    .certificates-block {
      .certificates-info {
        display: flex;
        flex-direction: column;
        row-gap: 6px;
      }
    }
    &.m-empty {
      min-width: 124px;
    }
  }

  .column-right {
    flex: 1;
    flex-basis: 200%;
    .block-block {
      margin-left: -22px;
      display: flex;
      column-gap: 2px;
    }
  }

  .block-block {
    .cv-heading {
      font-family: 'Orbitron', sans-serif;
      margin-bottom: 6px;
      font-weight: 400;
    }
    .cv-subheading {
      margin-bottom: 5px;
    }
    .block-info {
      margin-top: 10px;
      &:nth-child(2) {
        margin-top: 0;
      }
    }
    .date-range {
      text-transform: uppercase;
      color: $main_color_2;
      letter-spacing: 0.8px;
      margin-bottom: 5px;
      font-weight: 300;
    }
    &:not(:first-of-type) {
      margin-top: 10px;
    }
    &.profile-block {
      margin-top: 20px;
    }
  }

  /* Stylization */
  #cv-chapter-section-cv {
    .photo-block {
      display: none;
    }

    &.has-photo {
      .photo-block {
        display: flex;
      }
    }
  }

  .cv-body-2 {
    .cv-body-content {
      padding: 0;
      flex-direction: column;
    }
    .top-area {
      padding: 70px 0 0;
      .cv-name {
        text-align: center;
      }
    }
    .middle-area {
      flex: 1;
      padding: 90px 120px 15px;
    }
    .bottom-area {
      padding: 0 120px 40px;
      .addresses-block {
        display: flex;
        column-gap: 50px;
        .to-block {
          flex-basis: 100px;
        }
      }
    }
  }

  /* Font size scheme */
  .font-size-scheme-state-small {
    .font-size-1 {
      font-size: 8px;
    }

    .font-size-2 {
      font-size: 10px;
    }

    .font-size-3 {
      font-size: 16px;
    }

    .font-size-4 {
      font-size: 26px;
    }
  }

  .font-size-scheme-state-medium {
    .font-size-1 {
      font-size: 10px;
    }

    .font-size-2 {
      font-size: 12px;
    }

    .font-size-3 {
      font-size: 18px;
    }

    .font-size-4 {
      font-size: 28px;
    }
  }

  .font-size-scheme-state-big {
    .font-size-1 {
      font-size: 12px;
    }

    .font-size-2 {
      font-size: 14px;
    }

    .font-size-3 {
      font-size: 20px;
    }

    .font-size-4 {
      font-size: 30px;
    }

    .block-block {
      .left-side {
        padding-top: 2px;
      }
    }
  }

  /* Line height scheme */
  .line-height-scheme-state-small {
    .cv-body-content {
      line-height: 1.2;
    }
  }

  .line-height-scheme-state-medium {
    .cv-body-content {
      line-height: 1.4;
    }
  }

  .line-height-scheme-state-big {
    .cv-body-content {
      line-height: 1.6;
    }
  } 

  /* Color scheme */
  .color-scheme-state-color-set-1 {
    .main-color-1-background {
      background-color: $main_color_1;
    }

    .main-color-3-text {
      color: $main_color_3;
    }

    .main-color-3-svg {
      path {
        stroke: $main_color_3;
        fill: $main_color_3;
      }
    }

    .additional-color-1-text {
      color: $color_set_1_additional_color_1;
    }

    .additional-color-1-border {
      border-color: $color_set_1_additional_color_1;
    }

    .additional-color-1-border.m-border {
      border-color: $main_color_2;
    }

    .additional-color-1-background {
      background-color: $main_color_2;
    }

    .additional-color-1-svg {
      path {
        stroke: $color_set_1_additional_color_1;
      }
    }
  }

  .color-scheme-state-color-set-2 {
    .main-color-1-background {
      background-color: $main_color_1;
    }

    .main-color-3-text {
      color: $main_color_3;
    }

    .main-color-3-svg {
      path {
        stroke: $main_color_3;
        fill: $main_color_3;
      }
    }

    .additional-color-1-text {
      color: $color_set_2_additional_color_1;
    }

    .additional-color-1-border {
      border-color: $color_set_2_additional_color_1;
    }

    .additional-color-1-background {
      background-color: $color_set_2_additional_color_1;
    }

    .additional-color-1-svg {
      path {
        stroke: $color_set_2_additional_color_1;
      }
    }
  }

  .color-scheme-state-color-set-3 {
    .main-color-1-background {
      background-color: $main_color_1;
    }

    .main-color-3-text {
      color: $main_color_3;
    }

    .main-color-3-svg {
      path {
        stroke: $main_color_3;
        fill: $main_color_3;
      }
    }

    .additional-color-1-text {
      color: $color_set_3_additional_color_1;
    }

    .additional-color-1-border {
      border-color: $color_set_3_additional_color_1;
    }

    .additional-color-1-background {
      background-color: $color_set_3_additional_color_1;
    }

    .additional-color-1-svg {
      path {
        stroke: $color_set_3_additional_color_1;
      }
    }
  }

  .color-scheme-state-color-set-4 {
    .main-color-1-background {
      background-color: $main_color_1;
    }

    .main-color-3-text {
      color: $main_color_3;
    }

    .main-color-3-svg {
      path {
        stroke: $main_color_3;
        fill: $main_color_3;
      }
    }

    .additional-color-1-text {
      color: $color_set_4_additional_color_1;
    }

    .additional-color-1-border {
      border-color: $color_set_4_additional_color_1;
    }

    .additional-color-1-background {
      background-color: $color_set_4_additional_color_1;
    }

    .additional-color-1-svg {
      path {
        stroke: $color_set_4_additional_color_1;
      }
    }
  }

  .color-scheme-state-color-set-5 {
    .main-color-1-background {
      background-color: $main_color_1;
    }

    .main-color-3-text {
      color: $main_color_3;
    }

    .main-color-3-svg {
      path {
        stroke: $main_color_3;
        fill: $main_color_3;
      }
    }

    .additional-color-1-text {
      color: $color_set_5_additional_color_1;
    }

    .additional-color-1-border {
      border-color: $color_set_5_additional_color_1;
    }

    .additional-color-1-background {
      background-color: $color_set_5_additional_color_1;
    }

    .additional-color-1-svg {
      path {
        stroke: $color_set_5_additional_color_1;
      }
    }
  }

  .color-scheme-state-color-set-6 {
    .main-color-1-background {
      background-color: $main_color_1;
    }

    .main-color-3-text {
      color: $main_color_3;
    }

    .main-color-3-svg {
      path {
        stroke: $main_color_3;
        fill: $main_color_3;
      }
    }

    .additional-color-1-text {
      color: $color_set_6_additional_color_1;
    }

    .additional-color-1-border {
      border-color: $color_set_6_additional_color_1;
    }

    .additional-color-1-background {
      background-color: $color_set_6_additional_color_1;
    }

    .additional-color-1-svg {
      path {
        stroke: $color_set_6_additional_color_1;
      }
    }
  }

  .color-scheme-state-color-set-7 {
    .main-color-1-background {
      background-color: $main_color_1;
    }

    .main-color-3-text {
      color: $main_color_3;
    }

    .main-color-3-svg {
      path {
        stroke: $main_color_3;
        fill: $main_color_3;
      }
    }

    .additional-color-1-text {
      color: $color_set_7_additional_color_1;
    }

    .additional-color-1-border {
      border-color: $color_set_7_additional_color_1;
    }

    .additional-color-1-background {
      background-color: $color_set_7_additional_color_1;
    }

    .additional-color-1-svg {
      path {
        stroke: $color_set_7_additional_color_1;
      }
    }
  }
}