/* Fonts */
@font-face {
  font-family: 'Orbitron';
  src: url('./fonts/Orbitron/Orbitron-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins/Poppins-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins/Poppins-Light.ttf');
  font-weight: 300;
}

  /* Colors */
  $main_color_1: #F0F0F0;
  $main_color_2: #989898;
  $main_color_3: #000000;

  $color_set_1_additional_color_1: #000000;
  $color_set_2_additional_color_1: #AA7777;
  $color_set_3_additional_color_1: #AA9377;
  $color_set_4_additional_color_1: #7E8D70;
  $color_set_5_additional_color_1: #548C8C;
  $color_set_6_additional_color_1: #64668A;
  $color_set_7_additional_color_1: #87608D;

.sv_031 {

  font-family: 'Poppins', sans-serif;

  * {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
  }

  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }

  .cv-prophecy {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 5px;
  }

  .cv-name {
    font-family: 'Orbitron', sans-serif;
    font-weight: 500;
  }

  #cv-body-hidden-container,
  #cv-body-2 {
    height: auto;
    max-height: none;
    position: absolute;
    z-index: -1;
    opacity: 0;
    pointer-events: none;
  }

  .cv-body {
    min-width: 595px;
    min-height: 764px;
    max-height: 764px;
    background-color: #fff;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    padding: 20px;
    display: flex;
    flex-direction: column;

    .cv-body-content {
      flex: 1;
      display: flex;
      position: relative;
      border-width: 1px;
      border-style: solid;
      padding: 20px;
      column-gap: 30px;

      .column-left {
        width: 124px;
        min-width: 124px;
      }
      .column-right {
        .block-block {
          margin-left: -22px;
          display: flex;
          column-gap: 2px;
        }
      }
    }

    &.cv-body-2 {
      .cv-body-content {
        flex-direction: column;

        .top-area {
          margin: 51px 81px 0px 81px;

          .cv-name {
            text-align: left;
          }
        }

        .middle-area {
          flex: 1;
          margin: 88px 65px 0px 65px;

          .letter-block {
            display: flex;
            align-items: stretch;
            justify-content: stretch;

            .left-side {
              width: 20px;
              margin-right: 5px;
            }

            .right-side {
              flex: 1;

              .letter-heading {
                margin-bottom: 15px !important;
              }
            }
          }
        }

        .bottom-area {
          margin: 20px 88px 44px 88px;

          .addresses-block {
            display: flex;
            column-gap: 50px;

            .cv-heading {
              font-family: 'Orbitron', sans-serif;
              margin-bottom: 6px !important;
              font-weight: 400;
            }

            .to-block {
              flex-basis: 100px;
            }
          }
        }
      }
    }

  }

  /* Blocks styling */
  .block-block {
    .cv-heading {
      font-family: 'Orbitron', sans-serif;
      margin-bottom: 6px !important;
      font-weight: 400;
    }

    .cv-subheading {
      margin-bottom: 5px;
    }

    .block-info {
      &:not(:first-of-type) {
        margin-top: 10px;
      }
    }

    .date-range {
      text-transform: uppercase;
      color: $main_color_2;
      letter-spacing: 0.8px;
      margin-bottom: 5px;
      font-weight: 300;
    }

    &:not(:first-of-type) {
      margin-top: 10px;
    }

    &.profile-block {
      margin-top: 20px;
    }
  }

  .photo-block {
    width: 115px;
    height: 115px;
    .photo {
      display: block;
      border-radius: 100%;
      width: 115px;
      height: 115px;
      overflow: hidden;
      border-radius: 100%;
      background-size: cover;
      background-position: center center;
    }
  }

  .details-block {
    .profile-info-list {
      margin-top: 12px;
      .info-list-item {
        .item-name {
          font-weight: 300;
          color: $main_color_2;
          text-transform: uppercase;
          letter-spacing: 0.8px;
        }
        .item-value {
          margin-top: 2px;
        }
        &:not(:first-of-type) {
          margin-top: 5px;
        }
      }
    }
  }

  .links-block {
    .social {
      display: flex;
      column-gap: 5px;
      a {
        min-width: 36px;
        text-align: center;
        text-decoration: none;
        padding: 8px 12px;
        border-radius: 14px;
        border-style: solid;
        border-width: 1px;

      }
    }
  }

  .skills-block {
    .skills-list {
      .skills-list-item {
        &:not(:first-of-type) {
          margin-top: 5px;
        }
      }
      .estimation-wrapper {
        margin-top: 2px;
        .estimation-value {
          height: 2px;
        }
      }
    }
  }

  .languages-block {
    margin-top: 10px;

    .languages-list {
      .languages-item {
        &:not(:first-of-type) {
          margin-top: 5px;
        }
      }
      .estimation-wrapper {
        margin-top: 2px;
        .estimation-value {
          height: 2px;
        }
      }
    }
  }

  .references-block {
    p {
      &:not(:first-of-type) {
        margin-top: 4px;
      }
    }
  }

  .certificates-block {
    .certificates-info {
      display: flex;
      flex-direction: column;
      row-gap: 6px;
    }
  }

  .employment-history-block {
    ul {
      li {
        &:not(:first-of-type) {
          margin-top: 4px;
        }
      }
    }
  }

  .letter-block {
    display: flex;
    align-items: stretch;
    justify-content: stretch;
  }

  .middle-area {
    .additional-color-1-svg {
      width: 20px;
      height: 20px;
    }
  }



  /* Stylization */
  #cv-chapter-section-cv {
    .photo-block {
      display: none;
    }

    &.has-photo {
      .photo-block {
        display: flex;
      }
    }
  }

  /* Font size scheme */
  .font-size-scheme-state-small {
    .font-size-1 {
      font-size: 8px;
    }

    .font-size-2 {
      font-size: 10px;
    }

    .font-size-3 {
      font-size: 16px;
    }

    .font-size-4 {
      font-size: 26px;
    }
  }

  .font-size-scheme-state-medium {
    .font-size-1 {
      font-size: 10px;
    }

    .font-size-2 {
      font-size: 12px;
    }

    .font-size-3 {
      font-size: 18px;
    }

    .font-size-4 {
      font-size: 28px;
    }
  }

  .font-size-scheme-state-big {
    .font-size-1 {
      font-size: 12px;
    }

    .font-size-2 {
      font-size: 14px;
    }

    .font-size-3 {
      font-size: 20px;
    }

    .font-size-4 {
      font-size: 30px;
    }

    .block-block {
      .left-side {
        padding-top: 2px;
      }
    }
  }

  /* Line height scheme */
  .line-height-scheme-state-small {
    .cv-body-content {
      line-height: 1.2;
    }
  }

  .line-height-scheme-state-medium {
    .cv-body-content {
      line-height: 1.4;
    }
  }

  .line-height-scheme-state-big {
    .cv-body-content {
      line-height: 1.6;
    }
  } 

  /* Color scheme */
  .color-scheme-state-color-set-1 {
    .main-color-1-background {
      background-color: $main_color_1;
    }

    .main-color-3-text {
      color: $main_color_3;
    }

    .main-color-3-svg {
      path {
        stroke: $main_color_3;
        fill: $main_color_3;
      }
    }

    .additional-color-1-text {
      color: $color_set_1_additional_color_1;
    }

    .additional-color-1-border {
      border-color: $color_set_1_additional_color_1;
    }

    .additional-color-1-border.m-border {
      border-color: $main_color_2;
    }

    .additional-color-1-background {
      background-color: $main_color_2;
    }

    .additional-color-1-svg {
      path {
        stroke: $color_set_1_additional_color_1;
      }
    }
  }

  .color-scheme-state-color-set-2 {
    .main-color-1-background {
      background-color: $main_color_1;
    }

    .main-color-3-text {
      color: $main_color_3;
    }

    .main-color-3-svg {
      path {
        stroke: $main_color_3;
        fill: $main_color_3;
      }
    }

    .additional-color-1-text {
      color: $color_set_2_additional_color_1;
    }

    .additional-color-1-border {
      border-color: $color_set_2_additional_color_1;
    }

    .additional-color-1-background {
      background-color: $color_set_2_additional_color_1;
    }

    .additional-color-1-svg {
      path {
        stroke: $color_set_2_additional_color_1;
      }
    }
  }

  .color-scheme-state-color-set-3 {
    .main-color-1-background {
      background-color: $main_color_1;
    }

    .main-color-3-text {
      color: $main_color_3;
    }

    .main-color-3-svg {
      path {
        stroke: $main_color_3;
        fill: $main_color_3;
      }
    }

    .additional-color-1-text {
      color: $color_set_3_additional_color_1;
    }

    .additional-color-1-border {
      border-color: $color_set_3_additional_color_1;
    }

    .additional-color-1-background {
      background-color: $color_set_3_additional_color_1;
    }

    .additional-color-1-svg {
      path {
        stroke: $color_set_3_additional_color_1;
      }
    }
  }

  .color-scheme-state-color-set-4 {
    .main-color-1-background {
      background-color: $main_color_1;
    }

    .main-color-3-text {
      color: $main_color_3;
    }

    .main-color-3-svg {
      path {
        stroke: $main_color_3;
        fill: $main_color_3;
      }
    }

    .additional-color-1-text {
      color: $color_set_4_additional_color_1;
    }

    .additional-color-1-border {
      border-color: $color_set_4_additional_color_1;
    }

    .additional-color-1-background {
      background-color: $color_set_4_additional_color_1;
    }

    .additional-color-1-svg {
      path {
        stroke: $color_set_4_additional_color_1;
      }
    }
  }

  .color-scheme-state-color-set-5 {
    .main-color-1-background {
      background-color: $main_color_1;
    }

    .main-color-3-text {
      color: $main_color_3;
    }

    .main-color-3-svg {
      path {
        stroke: $main_color_3;
        fill: $main_color_3;
      }
    }

    .additional-color-1-text {
      color: $color_set_5_additional_color_1;
    }

    .additional-color-1-border {
      border-color: $color_set_5_additional_color_1;
    }

    .additional-color-1-background {
      background-color: $color_set_5_additional_color_1;
    }

    .additional-color-1-svg {
      path {
        stroke: $color_set_5_additional_color_1;
      }
    }
  }

  .color-scheme-state-color-set-6 {
    .main-color-1-background {
      background-color: $main_color_1;
    }

    .main-color-3-text {
      color: $main_color_3;
    }

    .main-color-3-svg {
      path {
        stroke: $main_color_3;
        fill: $main_color_3;
      }
    }

    .additional-color-1-text {
      color: $color_set_6_additional_color_1;
    }

    .additional-color-1-border {
      border-color: $color_set_6_additional_color_1;
    }

    .additional-color-1-background {
      background-color: $color_set_6_additional_color_1;
    }

    .additional-color-1-svg {
      path {
        stroke: $color_set_6_additional_color_1;
      }
    }
  }

  .color-scheme-state-color-set-7 {
    .main-color-1-background {
      background-color: $main_color_1;
    }

    .main-color-3-text {
      color: $main_color_3;
    }

    .main-color-3-svg {
      path {
        stroke: $main_color_3;
        fill: $main_color_3;
      }
    }

    .additional-color-1-text {
      color: $color_set_7_additional_color_1;
    }

    .additional-color-1-border {
      border-color: $color_set_7_additional_color_1;
    }

    .additional-color-1-background {
      background-color: $color_set_7_additional_color_1;
    }

    .additional-color-1-svg {
      path {
        stroke: $color_set_7_additional_color_1;
      }
    }
  }
}