.wr_img {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: 100%;
        position: absolute;
        height: 100%;
        z-index: 20;
    }

    div {
        position: relative;
        width: 100%;
        padding-bottom: 92%;
    }

    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100vw;
        z-index: 4;
        background: url(/../images/other/bg_img_atoriazation2.png) center/cover no-repeat;
    }
}

@media (max-width: 767px) {
    .wr_img {
        padding: 20px 0;
        background: none;

        img {
            min-height: 50px;
        }
    }
}