@font-face {
  font-family: Rubik;
  src: url("./fonts/Rubik/Rubik-VariableFont_wght.ttf");
}

/* body {
  background-color: #494949;
  font-family: Rubik;
  display: flex;
  justify-content: center;cv-body-hidden-container
  align-items: flex-start; } */

.body-template-resume {
  font-family: Rubik;
  background: #fff;
  min-height: calc(100vh - 180px);
}

p {
  padding: 0px;
  margin: 0px;
}

.cv-heading {
  padding: 0px;
  margin: 0px;
}

.cv-heading.heading-type-1 {
  font-weight: 600;
  color: #333333;
}

.cv-heading.heading-type-2 {
  font-weight: 300;
  color: #333333;
}

.cv-heading.heading-type-3 {
  font-weight: 600;
  text-transform: uppercase;
  color: #605c64;
}

.cv-heading.heading-type-4 {
  font-weight: 700;
  color: #333333;
  margin-bottom: 4px;
}

.cv-heading.heading-type-5 {
  background-color: rgba(255, 255, 255, 0.75);
  text-transform: uppercase;
  color: #605c64;
  display: inline-block;
  padding: 0px 3px;
}

.cv-heading.heading-type-6 {
  font-weight: 600;
  color: #605c64;
  display: inline-block;
}

.font-weight-200 {
  font-weight: 200;
}

.font-weight-300 {
  font-weight: 300;
}

.font-weight-400 {
  font-weight: 400;
}

.font-weight-500 {
  font-weight: 500;
}

.font-weight-600 {
  font-weight: 600;
}

.font-weight-700 {
  font-weight: 700;
}

.font-weight-800 {
  font-weight: 800;
}

.font-size-scheme-1 .font-size-1 {
  font-size: 8px;
}

.font-size-scheme-1 .font-size-2 {
  font-size: 10px;
}

.font-size-scheme-1 .font-size-3 {
  font-size: 20px;
}

.line-height-scheme-1 .line-height-1 {
  line-height: 11.2px;
}

.line-height-scheme-1 .line-height-2 {
  line-height: 14px;
}

.line-height-scheme-1 .line-height-3 {
  line-height: 23.7px;
}

.font-size-scheme-2 .font-size-1 {
  font-size: 10px;
}

.font-size-scheme-2 .font-size-2 {
  font-size: 12px;
}

.font-size-scheme-2 .font-size-3 {
  font-size: 22px;
}

.line-height-scheme-2 .line-height-1 {
  line-height: 14px;
}

.line-height-scheme-2 .line-height-2 {
  line-height: 16.8px;
}

.line-height-scheme-2 .line-height-3 {
  line-height: 26.07px;
}

.font-size-scheme-3 .font-size-1 {
  font-size: 12px;
}

.font-size-scheme-3 .font-size-2 {
  font-size: 14px;
}

.font-size-scheme-3 .font-size-3 {
  font-size: 25px;
}

.line-height-scheme-3 .line-height-1 {
  line-height: 16.8px;
}

.line-height-scheme-3 .line-height-2 {
  line-height: 19.6px;
}

.line-height-scheme-3 .line-height-3 {
  line-height: 29.63px;
}

.color-scheme-1 .main-color-1-text {
  color: #333333;
}

.color-scheme-1 .main-color-2-text {
  color: white;
}

.color-scheme-1 .main-color-2-background {
  background-color: white;
}

.color-scheme-1 .additional-color-1-text {
  color: #605c64;
}

.color-scheme-1 .additional-color-1-background {
  background-color: #605c64;
}

.color-scheme-1 .additional-color-1-border {
  border-color: #605c64;
}

.color-scheme-1 .additional-color-2-text {
  color: #a29a9d;
}

.color-scheme-1 .additional-color-2-border {
  color: #a29a9d;
}

.color-scheme-1 .additional-color-1-svg path {
  fill: #605c64;
}

.color-scheme-1 .additional-color-3-background {
  background-color: #d6d0d0;
}

.color-scheme-2 .main-color-1-text {
  color: #333333;
}

.color-scheme-2 .main-color-2-text {
  color: white;
}

.color-scheme-2 .main-color-2-background {
  background-color: white;
}

.color-scheme-2 .additional-color-1-text {
  color: #740842;
}

.color-scheme-2 .additional-color-1-background {
  background-color: #740842;
}

.color-scheme-2 .additional-color-1-border {
  border-color: #740842;
}

.color-scheme-2 .additional-color-2-text {
  color: #b8a2b2;
}

.color-scheme-2 .additional-color-2-border {
  color: #b8a2b2;
}

.color-scheme-2 .additional-color-1-svg path {
  fill: #740842;
}

.color-scheme-2 .additional-color-3-background {
  background-color: #ddcbde;
}

.color-scheme-3 .main-color-1-text {
  color: #333333;
}

.color-scheme-3 .main-color-2-text {
  color: white;
}

.color-scheme-3 .main-color-2-background {
  background-color: white;
}

.color-scheme-3 .additional-color-1-text {
  color: #554853;
}

.color-scheme-3 .additional-color-1-background {
  background-color: #554853;
}

.color-scheme-3 .additional-color-1-border {
  border-color: #554853;
}

.color-scheme-3 .additional-color-2-text {
  color: #ad8695;
}

.color-scheme-3 .additional-color-2-border {
  color: #ad8695;
}

.color-scheme-3 .additional-color-1-svg path {
  fill: #554853;
}

.color-scheme-3 .additional-color-3-background {
  background-color: #edd7df;
}

.color-scheme-4 .main-color-1-text {
  color: #333333;
}

.color-scheme-4 .main-color-2-text {
  color: white;
}

.color-scheme-4 .main-color-2-background {
  background-color: white;
}

.color-scheme-4 .additional-color-1-text {
  color: #724c9d;
}

.color-scheme-4 .additional-color-1-background {
  background-color: #724c9d;
}

.color-scheme-4 .additional-color-1-border {
  border-color: #724c9d;
}

.color-scheme-4 .additional-color-2-text {
  color: #b4a2c9;
}

.color-scheme-4 .additional-color-2-border {
  color: #b4a2c9;
}

.color-scheme-4 .additional-color-1-svg path {
  fill: #724c9d;
}

.color-scheme-4 .additional-color-3-background {
  background-color: #dccae9;
}

.color-scheme-5 .main-color-1-text {
  color: #333333;
}

.color-scheme-5 .main-color-2-text {
  color: white;
}

.color-scheme-5 .main-color-2-background {
  background-color: white;
}

.color-scheme-5 .additional-color-1-text {
  color: #0e9292;
}

.color-scheme-5 .additional-color-1-background {
  background-color: #0e9292;
}

.color-scheme-5 .additional-color-1-border {
  border-color: #0e9292;
}

.color-scheme-5 .additional-color-2-text {
  color: #8dbbaa;
}

.color-scheme-5 .additional-color-2-border {
  color: #8dbbaa;
}

.color-scheme-5 .additional-color-1-svg path {
  fill: #0e9292;
}

.color-scheme-5 .additional-color-3-background {
  background-color: #d7f2e8;
}

.color-scheme-6 .main-color-1-text {
  color: #333333;
}

.color-scheme-6 .main-color-2-text {
  color: white;
}

.color-scheme-6 .main-color-2-background {
  background-color: white;
}

.color-scheme-6 .additional-color-1-text {
  color: #ac132a;
}

.color-scheme-6 .additional-color-1-background {
  background-color: #ac132a;
}

.color-scheme-6 .additional-color-1-border {
  border-color: #ac132a;
}

.color-scheme-6 .additional-color-2-text {
  color: #b69a9e;
}

.color-scheme-6 .additional-color-2-border {
  color: #b69a9e;
}

.color-scheme-6 .additional-color-1-svg path {
  fill: #ac132a;
}

.color-scheme-6 .additional-color-3-background {
  background-color: #e7d8da;
}

.date-range {
  font-size: 8px;
  line-height: 11.2px;
  font-weight: 400;
  color: #a4a4a4;
  margin: 5px 0px 4px;
}

.skills-estimation-block {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.skills-estimation-block .skill-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 6px;
}

.skills-estimation-block .skill-item .skill-name {
  display: inline-block;
  width: 72px;
  font-weight: 700;
  white-space: nowrap;
}

.skills-estimation-block .skill-item .skill-estimation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-top: 3px;
}

.skills-estimation-block .skill-item .skill-estimation .estimation-point {
  display: block;
  border-radius: 50%;
  width: 5px;
  height: 5px;
  max-width: 5px;
  max-height: 5px;
  min-width: 5px;
  min-height: 5px;
  border-width: 1px;
  border-style: solid;
  margin-right: 2px;
  box-sizing: border-box;
}

.skills-block {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}

.skills-block .skill-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 6px;
  width: 50%;
  box-sizing: border-box;
}

.skills-block .skill-item:nth-child(2n) {
  padding-left: 30px;
}

.languages-block .skills-estimation-block .skill-item {
  width: 100%;
  margin-right: 0px;
}

/* #cv-body-hidden-container {
  height: auto;
  max-height: none;
  position: absolute;
  z-index: -1;
  opacity: 0;
  pointer-events: none;
} */

.cv-body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
  max-width: 595px;
  /* min-width: 595px; */
  height: 842px;
  max-height: 842px;
  /* overflow-y: hidden; */
  background-color: #fff;
  margin: 0px 0px 25px;
  font-size: 8px;
  line-height: 11.2px;
  color: #333333;
}

.cv-body .cv-body-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
}

.cv-body .cv-body-content .cv-body-area {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: stretch;
  padding: 20px 30px;
}

.cv-body .cv-body-content .cv-body-area .column-left {
  flex: 1;
}

.cv-body .cv-body-content .cv-body-area .column-left ul {
  padding: 0px 0px 0px 15px;
  margin: 4px 0px 0px;
}

.cv-body .cv-body-content .cv-body-area .column-left ul li span {
  display: block;
}

.cv-body .cv-body-content .cv-body-area .column-right {
  margin-left: 30px;
}

.cv-body .cv-body-content .cv-body-area.area-1 {
  flex-direction: column;
}

.cv-body .cv-body-content .cv-body-area.area-1 .top-block {
  flex: 1;
  display: flex;
  align-items: stretch;
  justify-content: stretch;
}

.cv-body .cv-body-content .cv-body-area.area-1 .top-block .column-left .personal-info-block {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-top: 26px;
}

.cv-body .cv-body-content .cv-body-area.area-1 .top-block .column-left .personal-info-block .profile-info {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: stretch;
}

.cv-body .cv-body-content .cv-body-area.area-1 .top-block .column-left .personal-info-block .profile-info .cv-photo {
  width: 86px;
  height: 93px;
  margin-right: 23px;
  display: none;
}

.cv-body .cv-body-content .cv-body-area.area-1 .top-block .column-left .personal-info-block .profile-info .cv-photo.active {
  display: block;
}

.cv-body .cv-body-content .cv-body-area.area-1 .top-block .column-left .personal-info-block .profile-info .profile {
  font-size: 8px;
  line-height: 11.2px;
}

.cv-body .cv-body-content .cv-body-area.area-1 .top-block .column-left .personal-info-block .profile-secondary-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-top: 30px;
}

.cv-body .cv-body-content .cv-body-area.area-1 .top-block .column-left .personal-info-block .profile-secondary-info .name {
  font-weight: 300;
  color: #605c64;
  margin-right: 4px;
}

.cv-body .cv-body-content .cv-body-area.area-1 .top-block .column-left .personal-info-block .profile-secondary-info .value {
  font-weight: 400;
  margin-right: 10px;
}

.cv-body .cv-body-content .cv-body-area.area-1 .top-block .column-left .personal-info-block .profile-secondary-info span {
  font-size: 8px;
  line-height: 11.2px;
}

.cv-body .cv-body-content .cv-body-area.area-1 .top-block .column-right>h1.cv-heading {
  text-align: right;
}

.cv-body .cv-body-content .cv-body-area.area-1 .top-block .column-right .cv-career-block {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
  border-width: 1px;
  border-style: solid;
  padding: 15px 20px;
  margin-top: 26px;
}

.cv-body .cv-body-content .cv-body-area.area-1 .top-block .column-right .cv-career-block .career-details {
  font-size: 8px;
  line-height: 11.2px;
}

.cv-body .cv-body-content .cv-body-area.area-1 .top-block .column-right .cv-career-block .career-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-top: 17px;
}

.cv-body .cv-body-content .cv-body-area.area-1 .top-block .column-right .cv-career-block .career-links .career-links-head {
  font-weight: 600;
  margin: 0px 8px 0px 0px;
}

.cv-body .cv-body-content .cv-body-area.area-1 .top-block .column-right .cv-career-block .career-links .career-links-link {
  text-decoration: none;
  margin-right: 5px;
}

.cv-body .cv-body-content .cv-body-area.area-1 .top-block .column-right .cv-career-block .career-links .career-links-link svg {
  width: 16px;
  height: 16px;
}

.cv-body .cv-body-content .cv-body-area.area-1 .profile-secondary-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.cv-body .cv-body-content .cv-body-area.area-1 .profile-secondary-info .profile-secondary-info-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0px 5px;
}

.cv-body .cv-body-content .cv-body-area.area-1 .profile-secondary-info .profile-secondary-info-item .name {
  margin-right: 4px;
}

.cv-body .cv-body-content .cv-body-area.area-2 {
  background-color: #fff;
}

.cv-body .cv-body-content .cv-body-area.area-2 .column-left .extra-curricular-activities-block {
  margin-top: 20px;
}

.cv-body .cv-body-content .cv-body-area.area-2 .column-left .internships-block {
  margin-top: 20px;
}

.cv-body .cv-body-content .cv-body-area.area-2 .column-left .references-block {
  margin-top: 20px;
}

.cv-body .cv-body-content .cv-body-area.area-2 .separator {
  border-left: 1px solid #d6d0d0;
  margin-left: 28px;
}

.cv-body .cv-body-content .cv-body-area.area-2 .column-right .courses-block {
  margin-top: 20px;
}

.cv-body .cv-body-content .cv-body-area.area-2 .column-right .certificates-block {
  margin-top: 20px;
}

.cv-body .cv-body-content .cv-body-area.area-2 .column-right .hobbies-block {
  margin-top: 20px;
}

.cv-body .cv-body-content .cv-body-area.area-3 .column-left {
  flex: 1;
}

.cv-body .cv-body-content .cv-body-area.area-3 .column-left .skills-block .skills-estimation-block {
  margin-top: 10px;
  max-height: 75px;
}

.cv-body .cv-body-content .cv-body-area.area-3 .column-right {
  width: 144px;
  min-width: 144px;
}

.cv-body .cv-body-content .cv-body-area.area-3 .column-right .languages-block .skills-estimation-block {
  margin-top: 10px;
}

.cv-body.page-1 .cv-body-area.area-2 {
  flex: 1;
}

.cv-body.cv-body-1 .cv-body-content .cv-body-area.area-2 .column-right {
  width: 144px;
  min-width: 144px;
}

.cv-body-2 .cv-body-area.area-2 {
  padding: 50px 50px 20px 50px;
}

.cv-body-2 .cv-body-area.area-2 .cv-letter .cv-letter-heading {
  margin-bottom: 23px;
}

.cv-body-2 .cv-body-area.area-2 .cv-destination-block {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
  border-width: 1px;
  border-style: solid;
  padding: 15px 20px;
  box-sizing: border-box;
}

.cv-body-2 .cv-body-area.area-2 .cv-destination-block .cv-sender {
  margin-bottom: 10px;
}

#control-panel {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 100px;
}

#control-panel .control-panel-item-block {
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 5px;
  padding: 5px 10px;
}

#control-panel .control-panel-item-block.toggle-photo-block {
  opacity: 0.25;
}

#control-panel .control-panel-item-block.toggle-photo-block a {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#control-panel .control-panel-item-block.toggle-photo-block a img {
  display: block;
  width: 50px;
  height: 50px;
}

#control-panel .control-panel-item-block.toggle-photo-block.active {
  opacity: 1;
}

#control-panel .control-panel-item-block .control-panel-heading {
  font-size: 11px;
  margin: 0px 0px 0px 0px;
}

#control-panel .control-panel-item-block .control-panel-item-input-list.radio-input-list .input-list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  margin: 3px 0px;
}

#control-panel .control-panel-item-block .control-panel-item-input-list.radio-input-list .input-list-item .radio-input {
  display: block;
  border-radius: 50%;
  border: 2px solid #d6d0d0;
  width: 7px;
  height: 7px;
  background-color: transparent;
  margin-right: 5px;
  pointer-events: none;
}

#control-panel .control-panel-item-block .control-panel-item-input-list.radio-input-list .input-list-item .radio-input-label {
  font-size: 10px;
  pointer-events: none;
}

#control-panel .control-panel-item-block .control-panel-item-input-list.radio-input-list .input-list-item.active .radio-input {
  background-color: #d6d0d0;
}

#control-panel .control-panel-item-block .control-panel-item-input-list.radio-input-list.color-list .input-list-item .radio-input-label {
  flex: 1;
  height: 15px;
  border-radius: 3px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

#control-panel .control-panel-item-block .control-panel-item-input-list.radio-input-list.color-list .input-list-item .radio-input-label .color-set-color {
  display: block;
  border-radius: 50%;
  width: 15px;
  height: 15px;
}

#control-panel .control-panel-item-block .control-panel-item-input-list.radio-input-list.color-list .input-list-item.color-scheme-1 .color-set-table .color-set-color-1 {
  background-color: #605c64;
}

#control-panel .control-panel-item-block .control-panel-item-input-list.radio-input-list.color-list .input-list-item.color-scheme-1 .color-set-table .color-set-color-2 {
  background-color: #a29a9d;
}

#control-panel .control-panel-item-block .control-panel-item-input-list.radio-input-list.color-list .input-list-item.color-scheme-1 .color-set-table .color-set-color-3 {
  background-color: #d6d0d0;
}

#control-panel .control-panel-item-block .control-panel-item-input-list.radio-input-list.color-list .input-list-item.color-scheme-2 .color-set-table .color-set-color-1 {
  background-color: #740842;
}

#control-panel .control-panel-item-block .control-panel-item-input-list.radio-input-list.color-list .input-list-item.color-scheme-2 .color-set-table .color-set-color-2 {
  background-color: #b8a2b2;
}

#control-panel .control-panel-item-block .control-panel-item-input-list.radio-input-list.color-list .input-list-item.color-scheme-2 .color-set-table .color-set-color-3 {
  background-color: #ddcbde;
}

#control-panel .control-panel-item-block .control-panel-item-input-list.radio-input-list.color-list .input-list-item.color-scheme-3 .color-set-table .color-set-color-1 {
  background-color: #554853;
}

#control-panel .control-panel-item-block .control-panel-item-input-list.radio-input-list.color-list .input-list-item.color-scheme-3 .color-set-table .color-set-color-2 {
  background-color: #ad8695;
}

#control-panel .control-panel-item-block .control-panel-item-input-list.radio-input-list.color-list .input-list-item.color-scheme-3 .color-set-table .color-set-color-3 {
  background-color: #edd7df;
}

#control-panel .control-panel-item-block .control-panel-item-input-list.radio-input-list.color-list .input-list-item.color-scheme-4 .color-set-table .color-set-color-1 {
  background-color: #724c9d;
}

#control-panel .control-panel-item-block .control-panel-item-input-list.radio-input-list.color-list .input-list-item.color-scheme-4 .color-set-table .color-set-color-2 {
  background-color: #b4a2c9;
}

#control-panel .control-panel-item-block .control-panel-item-input-list.radio-input-list.color-list .input-list-item.color-scheme-4 .color-set-table .color-set-color-3 {
  background-color: #dccae9;
}

#control-panel .control-panel-item-block .control-panel-item-input-list.radio-input-list.color-list .input-list-item.color-scheme-5 .color-set-table .color-set-color-1 {
  background-color: #0e9292;
}

#control-panel .control-panel-item-block .control-panel-item-input-list.radio-input-list.color-list .input-list-item.color-scheme-5 .color-set-table .color-set-color-2 {
  background-color: #8dbbaa;
}

#control-panel .control-panel-item-block .control-panel-item-input-list.radio-input-list.color-list .input-list-item.color-scheme-5 .color-set-table .color-set-color-3 {
  background-color: #d7f2e8;
}

#control-panel .control-panel-item-block .control-panel-item-input-list.radio-input-list.color-list .input-list-item.color-scheme-6 .color-set-table .color-set-color-1 {
  background-color: #ac132a;
}

#control-panel .control-panel-item-block .control-panel-item-input-list.radio-input-list.color-list .input-list-item.color-scheme-6 .color-set-table .color-set-color-2 {
  background-color: #b69a9e;
}

#control-panel .control-panel-item-block .control-panel-item-input-list.radio-input-list.color-list .input-list-item.color-scheme-6 .color-set-table .color-set-color-3 {
  background-color: #e7d8da;
}

/*# sourceMappingURL=style.css.map */