@font-face {
  font-family: 'Fira Sans';
  src: url('./fonts/Fira_Sans/FiraSans-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('./fonts/Fira_Sans/FiraSans-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('./fonts/Fira_Sans/FiraSans-SemiBold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('./fonts/Fira_Sans/FiraSans-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('./fonts/Fira_Sans/FiraSans-Black.ttf');
  font-weight: 900;
}

  /* Colors */
  $main_color_1: #333333;
  $main_color_2: #ffffff;

  $color_set_1_additional_color_1: #e9f0f1;
  $color_set_1_additional_color_2: #cedcdf;
  $color_set_1_additional_color_3: #a6babe;

  $color_set_2_additional_color_1: #f1e9e9;
  $color_set_2_additional_color_2: #dfcece;
  $color_set_2_additional_color_3: #bea6a6;

  $color_set_3_additional_color_1: #f2ecdd;
  $color_set_3_additional_color_2: #bebea6;
  $color_set_3_additional_color_3: #efd2bd;

  $color_set_4_additional_color_1: #dde2f2;
  $color_set_4_additional_color_2: #a6a6be;
  $color_set_4_additional_color_3: #bdc8ef;

.sv_007 {
  font-family: 'Fira Sans', sans-serif;

  * {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    font-family: 'Fira Sans', sans-serif;
  }

  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }

  .cv-prophecy {
    display: inline-block;
    text-transform: uppercase;
    padding: 3px 5px;
    margin-bottom: 10px;
    font-weight: 900;
    letter-spacing: 1.5px;
    background: $main_color_1;
  }

  .cv-name {
    display: flex;
    margin-top: 10px;

    .text-line-1 {
      font-weight: 300;
    }
    .text-line-2 {
      font-weight: 900;
    }
  }

  .date-range {
    text-align: right;
    font-weight: 600;
  }

  .skill-estimation-point-list {
    svg {
      width: 10px;
      height: 10px;
    }
  }

  #cv-body-hidden-container,
  #cv-body-2 {
    height: auto;
    max-height: none;
    position: absolute;
    z-index: -1;
    opacity: 0;
    pointer-events: none;
  }


  .cv-body {
    position: relative;
    min-width: 595px;
    min-height: 764px;
    height: 764px;
    max-height: 764px;
    background-color: #fff;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .cv-body-content {
      flex: 1;
      display: flex;
      flex-direction: row;
      align-items: stretch;
      justify-content: stretch;
      padding: 20px 40px;

      .column-left {
        width: 158px;
        min-width: 158px;
        padding-top: 127px;
        display: flex;
        align-items: center;
        flex-direction: column;

        .photo-wrapper {
          width: 127px;
          height: 127px;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          z-index: 100;

          .photo {
            width: 110px;
            height: 110px;
            border-radius: 100%;
            background-size: 110px auto;
            background-position: 50% 50%;
            overflow: hidden;
          }

          svg {
            position: absolute;
            width: 100%;
            height: 100%;
          }
        }

        .block-block {
          width: 100%;
        }
      }

      .column-right {
        margin-left: 30px;
        width: 100%;

        .information-area-1,
        .information-area-2 {
          position: relative;
          margin-top: 20px;

          .top-line {
            width: 60px;
            height: 4px;
            position: absolute;
            top: 0px;
            left: 90px;
          }

          .block-block {
            display: flex;
            flex-direction: row;
            align-items: stretch;
            justify-content: stretch;

            .left-side {
              width: 71px;
              padding: 44px 15px 0 0;
              position: relative;
              box-sizing: border-box;

              .circle-point {
                display: block;
                width: 7px;
                height: 7px;
                position: absolute;
                top: 33px;
                right: -3px;
                border-radius: 50%;
                background: $main_color_1;
              }

              .dotted-line {
                display: block;
                position: absolute;
                width: 0px;
                border-left: 1px dotted $main_color_1;
                right: 0px;
                top: 0px;
                bottom: 0px;
              }
            }

            .right-side {
              flex: 1;
              padding: 25px 15px 0;

              .circle-point {
                display: block;
                width: 7px;
                height: 7px;
                position: absolute;
                top: 1px;
                left: -19px;
                border-radius: 100%;
                background: $main_color_1;
              }
            }

            &.block-net {
              .left-side {
                padding-top: 12px;
              }
              .right-side {
                padding-top: 10px;
              }
            }

            &:last-child {
              .right-side {
                padding-bottom: 30px;
              }
            }
          }
        }

        .information-area-2 {
          margin-top: 15px;
        }
      }
    }

    &.cv-body-2 {
      .cv-body-content {
        padding: 70px 38px 70px 49px;

        .column-left {
          width: 130px;
          padding-top: 100px;

          .destination-details {
            width: 130px;

            .heading-from {
              margin-top: 20px;
            }
          }
        }

        .column-right {
          width: 358px;
          margin-left: 0px;

          .letter-wrapper {
            position: relative;
            padding: 30px 30px 22px;
            margin-top: 18px;

            .black-line {
              width: 4px;
              height: 50px;
              left: -2px;
              position: absolute;
              display: block;
            }

            .cv-heading {
              margin-bottom: 15px;
            }
          }
        }
      }
    }
  }

  .cv-heading {
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 5px;
    letter-spacing: 1px;
  }

  .cv-subheading {
    font-weight: 600;
    margin-bottom: 5px;
    position: relative;
  }

  .skills-languages-block {
    margin-top: 20px;
    .skills-list {
      display: flex;
      flex-direction: column;
      row-gap: 3px;
      .list-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .list-item-value-wrapper {
          height: 4px;
          border: 1px solid $main_color_1;
          width: 70px;
          display: flex;

          .list-item-value {
            background: $main_color_1;
          }
        }
      }
    }
  }

  .languages-block {
    .languages-list {
      .language-list-item {
        margin-bottom: 12px;

        &:last-child {
          margin-bottom: 0px;
        }

        p {
          margin-bottom: 3px;
        }

        .language-skill-estimation-wrapper {
          display: flex;
          flex-direction: row;
          align-items: stretch;
          justify-content: stretch;
          height: 7px;
          border-radius: 5px;
          border-width: 1px;
          border-style: solid;
          padding: 0px 1px;
          box-sizing: border-box;
          margin-bottom: 12px;
          padding: 1px;

          &:last-child {
            margin-bottom: 10px;
          }

          .estimation-value {
            display: block;
            border-radius: 5px;
            box-sizing: border-box;
          }
        }
      }
    }
  }

  .profile-main-block {
    padding: 30px 15px 15px;
    margin-top: -18px;

    .profile-main-text {
      position: relative;
      &::before {
        content: " ";
        display: block;
        position: absolute;
        width: 4px;
        height: 60px;
        left: -17px;
        top: 2px;
        background: $main_color_1;
      }
    }
  }

  .profile-additional-block {
    box-sizing: border-box;
    width: 100%;
    padding: 15px 10px 0 15px;

    .info-1 {
      display: flex;
      flex-direction: column;
      row-gap: 2px;
      margin-bottom: 15px;
      .info-1-item {
        display: flex;
        column-gap: 4px;
        align-items: center;
        .item-name {
          flex-shrink: 0;
        }
      }
    }

    .info-2 {
      display: flex;
      flex-direction: column;
      row-gap: 2px;
      margin-bottom: 10px;
      font-weight: 700;
    }

    .profile-links {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      justify-content: flex-start;
      column-gap: 6px;

      .profile-links-title {
        font-weight: 700;
      }

      a {
        text-decoration: underline;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          min-width: 16px;
          width: 16px;
          height: 16px;
        }
      }
    }
  }

  .references-block {
    margin-top: 10px;

    .block-info {
      &:not(:first-child) {
        margin-top: 6px;
      }
    }
  }

  .certificates-block {
    margin-top: 10px;
    span {
      display: block;

      &:not(:first-child) {
        margin-top: 6px;
      }
    }
  }

  .hobbies-block {
    margin-top: 10px;
  }

  .main-info-block {
    margin-top: 20px;
    margin-left: -188px;
  }

  .cv-destination {
    width: 100%;

    .cv-destination-block {
      .destination-details {
        p {
          margin-top: 3px;
        }
      }
    }
  }


  .cv-letter-text {
    .line_text {
      &::before {
        background: $main_color_1;
      }
    }
  }

  .destination-details {
    .line_text {
      &::before {
        background: $main_color_1;
      }
    }
  }

  /* Stylization */
  #cv-chapter-section-cv {
    &.has-photo {
      .photo-wrapper {
        display: flex;
      }
      .cv-body {
        .cv-body-content {
          .column-left {
            padding-top: 0;
          }
        }
      }
      .main-info-block {
        margin-left: 0;
      }
    }
    .photo-wrapper {
      display: none;
    }
  }

  /* Font size scheme */
  .font-size-scheme-state-small {
    .font-size-1 {
      font-size: 8px;
    }

    .font-size-2 {
      font-size: 10px;
    }

    .font-size-3 {
      font-size: 12px;
    }

    .font-size-4 {
      font-size: 16px;
    }

    .font-size-5 {
      font-size: 28px;
    } 
  }

  .font-size-scheme-state-medium {
    .font-size-1 {
      font-size: 10px;
    }

    .font-size-2 {
      font-size: 12px;
    }

    .font-size-3 {
      font-size: 14px;
    }

    .font-size-4 {
      font-size: 18px;
    }

    .font-size-5 {
      font-size: 30px;
    }

    .cv-body {
      .cv-body-content {
        .column-right {
          .information-area-1,
          .information-area-2 {
            .block-block {
              .left-side {
                padding-top: 44px;
              }
              .right-side {
                .circle-point {
                  top: 2px;
                }
              }
              &.block-net {
                .left-side {
                  padding-top: 10px;
                }
              }
            }
          }
        }
      }
    }
    .profile-main-block {
      margin-top: -12px;
    }
  }

  .font-size-scheme-state-big {
    .font-size-1 {
      font-size: 12px;
    }

    .font-size-2 {
      font-size: 14px;
    }

    .font-size-3 {
      font-size: 16px;
    }

    .font-size-4 {
      font-size: 20px;
    }

    .font-size-5 {
      font-size: 32px;
    }

    .cv-body {
      .cv-body-content {
        .column-right {
          .information-area-1,
          .information-area-2 {
            .block-block {
              .left-side {
                padding-top: 46px;
              }
              .right-side {
                .circle-point {
                  top: 3px;
                }
              }
              &.block-net {
                .left-side {
                  padding-top: 9px;
                }
              }
            }
          }
        }
      }
    }

    .profile-main-block {
      margin-top: -8px;
    } 
  }

  /* Line height scheme */
  .line-height-scheme-state-small {
    .cv-body-content {
      line-height: 1.2;
    }
  }

  .line-height-scheme-state-medium {
    .cv-body-content {
      line-height: 1.4;
    }
  }

  .line-height-scheme-state-big {
    .cv-body-content {
      line-height: 1.6;
    }
  }

  /* Color scheme */
  .color-scheme-state-color-set-1 {
    .main-color-1-text {
      color: $main_color_1;
    }

    .main-color-1-background {
      background-color: $main_color_1;
    }

    .main-color-2-text {
      color: $main_color_2;
    }

    .main-color-2-border {
      border-color: $main_color_2;
    }

    .additional-color-1-text {
      color: $color_set_1_additional_color_1;
    }

    .additional-color-1-border {
      border-color: $color_set_1_additional_color_1;
    }

    .additional-color-1-background {
      background-color: $color_set_1_additional_color_1;
    }

    .additional-color-1-svg-path {
      path {
        stroke: $color_set_1_additional_color_1;
        fill: transparent;
      }
    }

    .additional-color-1-svg {
      path {
        fill: $color_set_1_additional_color_1;
      }
    }

    .additional-color-2-text {
      color: $color_set_1_additional_color_2;
    }

    .additional-color-2-border {
      border-color: $color_set_1_additional_color_2;
    }

    .additional-color-2-background {
      background-color: $color_set_1_additional_color_2;
    }

    .additional-color-2-svg-path {
      path {
        stroke: $color_set_1_additional_color_2;
        fill: transparent;
      }
    }

    .additional-color-2-svg {
      path {
        fill: $color_set_1_additional_color_2;
      }
    }

    .additional-color-3-text {
      color: $color_set_1_additional_color_3;
    }
  }

  .color-scheme-state-color-set-2 {
    .main-color-1-text {
      color: $main_color_1;
    }

    .main-color-1-background {
      background-color: $main_color_1;
    }

    .main-color-2-text {
      color: $main_color_2;
    }

    .main-color-2-border {
      border-color: $main_color_2;
    }

    .additional-color-1-text {
      color: $color_set_2_additional_color_1;
    }

    .additional-color-1-border {
      border-color: $color_set_2_additional_color_1;
    }

    .additional-color-1-background {
      background-color: $color_set_2_additional_color_1;
    }

    .additional-color-1-svg-path {
      path {
        stroke: $color_set_2_additional_color_1;
        fill: transparent;
      }
    }

    .additional-color-1-svg {
      path {
        fill: $color_set_2_additional_color_1;
      }
    }

    .additional-color-2-text {
      color: $color_set_2_additional_color_2;
    }

    .additional-color-2-border {
      border-color: $color_set_2_additional_color_2;
    }

    .additional-color-2-background {
      background-color: $color_set_2_additional_color_2;
    }

    .additional-color-2-svg-path {
      path {
        stroke: $color_set_2_additional_color_2;
        fill: transparent;
      }
    }

    .additional-color-2-svg {
      path {
        fill: $color_set_2_additional_color_2;
      }
    }

    .additional-color-3-text {
      color: $color_set_2_additional_color_3;
    }
  }

  .color-scheme-state-color-set-3 {
    .main-color-1-text {
      color: $main_color_1;
    }

    .main-color-1-background {
      background-color: $main_color_1;
    }

    .main-color-2-text {
      color: $main_color_2;
    }

    .main-color-2-border {
      border-color: $main_color_2;
    }

    .additional-color-1-text {
      color: $color_set_3_additional_color_1;
    }

    .additional-color-1-border {
      border-color: $color_set_3_additional_color_1;
    }

    .additional-color-1-background {
      background-color: $color_set_3_additional_color_1;
    }

    .additional-color-1-svg-path {
      path {
        stroke: $color_set_3_additional_color_1;
        fill: transparent;
      }
    }

    .additional-color-1-svg {
      path {
        fill: $color_set_3_additional_color_1;
      }
    }

    .additional-color-2-text {
      color: $color_set_3_additional_color_2;
    }

    .additional-color-2-border {
      border-color: $color_set_3_additional_color_2;
    }

    .additional-color-2-background {
      background-color: $color_set_3_additional_color_2;
    }

    .additional-color-2-svg-path {
      path {
        stroke: $color_set_3_additional_color_2;
        fill: transparent;
      }
    }

    .additional-color-2-svg {
      path {
        fill: $color_set_3_additional_color_2;
      }
    }

    .additional-color-3-text {
      color: $color_set_3_additional_color_3;
    }
  }

  .color-scheme-state-color-set-4 {
    .main-color-1-text {
      color: $main_color_1;
    }

    .main-color-1-background {
      background-color: $main_color_1;
    }

    .main-color-2-text {
      color: $main_color_2;
    }

    .main-color-2-border {
      border-color: $main_color_2;
    }

    .additional-color-1-text {
      color: $color_set_4_additional_color_1;
    }

    .additional-color-1-border {
      border-color: $color_set_4_additional_color_1;
    }

    .additional-color-1-background {
      background-color: $color_set_4_additional_color_1;
    }

    .additional-color-1-svg-path {
      path {
        stroke: $color_set_4_additional_color_1;
        fill: transparent;
      }
    }

    .additional-color-1-svg {
      path {
        fill: $color_set_4_additional_color_1;
      }
    }

    .additional-color-2-text {
      color: $color_set_4_additional_color_2;
    }

    .additional-color-2-border {
      border-color: $color_set_4_additional_color_2;
    }

    .additional-color-2-background {
      background-color: $color_set_4_additional_color_2;
    }

    .additional-color-2-svg-path {
      path {
        stroke: $color_set_4_additional_color_2;
        fill: transparent;
      }
    }

    .additional-color-2-svg {
      path {
        fill: $color_set_4_additional_color_2;
      }
    }

    .additional-color-3-text {
      color: $color_set_4_additional_color_3;
    }
  }
}