  /* Colors */
  $main_color_1: #333333;
  $main_color_2: #ffffff;

  $color_set_1_additional_color_1: #e9f0f1;
  $color_set_1_additional_color_2: #cedcdf;
  $color_set_1_additional_color_3: #a6babe;

  $color_set_2_additional_color_1: #f1e9e9;
  $color_set_2_additional_color_2: #dfcece;
  $color_set_2_additional_color_3: #bea6a6;

  $color_set_3_additional_color_1: #f2ecdd;
  $color_set_3_additional_color_2: #bebea6;
  $color_set_3_additional_color_3: #efd2bd;

  $color_set_4_additional_color_1: #dde2f2;
  $color_set_4_additional_color_2: #a6a6be;
  $color_set_4_additional_color_3: #bdc8ef;

.sv_007 {
  font-weight: 400;

  /* Global */
  * {
    padding: 0;
    margin: 0;
  }

  *, *:before, *:after {
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
  }

  .empty-field {
    opacity: 0.3;
  }

  .hide {
    display: none !important;
  }

  // Blocks
  .cv-name {
    line-height: 1.2;
    .text-line-1 {
      font-weight: 300;
    }
    .text-line-2 {
      font-weight: 900;
    }
  }

  .cv-profession {
    display: inline-block;
    text-transform: uppercase;
    align-self: flex-start;
    padding: 3px 5px;
    font-weight: 900;
    line-height: 1.2;
    letter-spacing: 1.5px;
    background: $main_color_1;
  }
  
  .cv-body {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: $main_color_2;
    &.page-1 {
      .column-left {
        padding-top: 127px;
      }
    }
  }

  .cv-body-content {
    flex: 1;
    display: none;
    column-gap: 30px;
    padding: 20px 40px;
  }

  .cv-heading {
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 5px;
    letter-spacing: 1px;
  }

  .cv-subheading {
    font-weight: 600;
    margin-bottom: 5px;
    position: relative;
  }

  .column-left {
    flex: 0;
    display: flex;
    align-items: center;
    flex-direction: column;

    .block-block {
      width: 100%;
      &:first-child {
        margin-top: 0;
      }
    }

    .photo-wrapper {
      width: 127px;
      height: 127px;
      justify-content: center;
      align-items: center;
      position: relative;
      z-index: 100;
      svg {
        position: absolute;
        width: 100%;
        height: 100%;
      }
    }

    .photo {
      width: 110px;
      height: 110px;
      border-radius: 100%;
      background-size: cover;
      background-position: 50% 50%;
      overflow: hidden;
    }

    .profile-main-block {
      padding: 30px 15px 15px;
      margin-top: -18px;
      min-width: 160px;
      .profile-main-text {
        position: relative;
        &::before {
          content: " ";
          display: block;
          position: absolute;
          width: 4px;
          height: 60px;
          left: -17px;
          top: 2px;
          background: $main_color_1;
        }
      }
    }

    .profile-additional-block {
      min-width: 160px;
      box-sizing: border-box;
      width: 100%;
      padding: 15px 10px 0 15px;
      .info-1 {
        display: flex;
        flex-direction: column;
        row-gap: 2px;
        margin-bottom: 15px;
        .item-block {
          display: flex;
          flex-wrap: wrap;
          column-gap: 4px;
          align-items: center;
        }
        .name {
          flex-shrink: 0;
        }
        &.m-transfer {
          .item-block {
            flex-direction: column;
            align-items: flex-start;
          }
        }
      }
      .info-2 {
        display: flex;
        flex-direction: column;
        row-gap: 2px;
        margin-bottom: 10px;
        font-weight: 700;
      }
      .profile-links {
        display: flex;
        align-items: flex-end;
        column-gap: 6px;
        .links-item {
          text-decoration: underline;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      .profile-links-title {
        font-weight: 700;
      }
    }

    .skills-languages-block {
      margin-top: 20px;
      min-width: 160px;
      .skills-list {
        display: flex;
        flex-direction: column;
        row-gap: 3px;
      }
      .list-item-value-wrapper {
        height: 4px;
        border: 1px solid $main_color_1;
        width: 70px;
        display: flex;
      }
      .list-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      .list-item-value {
        background: $main_color_1;
      }
    }

    .certificates-block {
      margin-top: 10px;
      min-width: 160px;
      .certificates-info {
        display: flex;
        flex-direction: column;
        row-gap: 6px;
      }
    }

    .references-block {
      margin-top: 10px;
      min-width: 160px;
      .block-info {
        display: flex;
        flex-direction: column;
        row-gap: 2px;
        &:not(:first-child) {
          margin-top: 6px;
        }
      }
    }

    .hobbies-block {
      margin-top: 10px;
      min-width: 160px;
    }
  }

  .column-right {
    flex-basis: 200%;
    display: flex;
    flex: 1;
    flex-direction: column;

    .information-area-1,
    .information-area-2 {
      display: flex;
      flex-direction: column;
      position: relative;
      margin-top: 20px;
      flex: 1;
      .top-line {
        width: 60px;
        height: 4px;
        position: absolute;
        top: 0px;
        left: 90px;
      }
      .block-block {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: stretch;
        .left-side {
          width: 71px;
          padding: 44px 15px 0 0;
          position: relative;
          box-sizing: border-box;
          .circle-point {
            display: block;
            width: 7px;
            height: 7px;
            position: absolute;
            top: 33px;
            right: -3px;
            border-radius: 50%;
            background: $main_color_1;
          }
          .dotted-line {
            display: block;
            position: absolute;
            width: 0px;
            border-left: 1px dotted $main_color_1;
            right: 0px;
            top: 0px;
            bottom: 0px;
          }
        }
        .right-side {
          flex: 1;
          padding: 25px 15px 0;
          .circle-point {
            display: block;
            width: 7px;
            height: 7px;
            position: absolute;
            top: 1px;
            left: -19px;
            border-radius: 100%;
            background: $main_color_1;
          }
        }
        &.block-net {
          .left-side {
            padding-top: 12px;
          }
          .right-side {
            padding-top: 10px;
          }
        }
        &:last-child {
          flex: 1;
          .right-side {
            padding-bottom: 30px;
          }
        }
      }
    }

    .information-area-2 {
      margin-top: 15px;
    }

    .information-area {
      &:first-child {
        margin-top: 0 !important;
      }
    }

    .cv-body-area {
      &:first-child {
        margin-top: 0;
      }
    }

    .main-info-block {
      display: flex;
      flex-direction: column;
      row-gap: 10px;
      margin-top: 20px;
      margin-left: -188px;
    }
    
    .date-range {
      text-align: right;
      font-weight: 600;
    }
  }

  .cv-body-2 {
    .cv-body-content {
      padding: 70px 38px 70px 49px;

      .column-left {
        width: 130px;
        padding-top: 88px;

        .destination-details {
          width: 130px;

          .heading-from {
            margin-top: 20px;
          }
        }
      }

      .column-right {
        width: 358px;
        margin-left: 0px;

        .letter-wrapper {
          position: relative;
          padding: 30px 30px 22px;
          margin-top: 18px;

          .black-line {
            width: 4px;
            height: 50px;
            left: -2px;
            position: absolute;
            display: block;
          }

          .cv-heading {
            margin-bottom: 15px;
          }
        }
      }
    }
  }

  .cv-destination {
    width: 100%;

    .cv-destination-block {
      .destination-details {
        p {
          margin-top: 3px;
        }
      }
    }
  }

  .cv-letter-text {
    .line_text {
      &::before {
        background: $main_color_1;
      }
    }
  }

  .destination-details {
    .line_text {
      &::before {
        background: $main_color_1;
      }
    }
  }

  /* Stylization */
  #cv-chapter-section-cv {
    &.has-photo {
      .photo-wrapper {
        display: flex;
      }
      .cv-body {
        .cv-body-content {
          .column-left {
            padding-top: 0;
          }
        }
      }
      .main-info-block {
        margin-left: 0;
      }
    }
    .photo-wrapper {
      display: none;
    }
  }

  /* Font size scheme */
  .font-size-scheme-state-small {
    .font-size-1 {
      font-size: 8px;
    }

    .font-size-2 {
      font-size: 10px;
    }

    .font-size-3 {
      font-size: 12px;
    }

    .font-size-4 {
      font-size: 16px;
    }

    .font-size-5 {
      font-size: 28px;
    } 
  }

  .font-size-scheme-state-medium {
    .font-size-1 {
      font-size: 10px;
    }

    .font-size-2 {
      font-size: 12px;
    }

    .font-size-3 {
      font-size: 14px;
    }

    .font-size-4 {
      font-size: 18px;
    }

    .font-size-5 {
      font-size: 30px;
    }

    .column-right {
      .information-area-1,
      .information-area-2 {
        .block-block {
          .left-side {
            padding-top: 44px;
          }
          .right-side {
            .circle-point {
              top: 2px;
            }
          }
          &.block-net {
            .left-side {
              padding-top: 10px;
            }
          }
        }
      }
    }
    .profile-main-block {
      margin-top: -14px;
    }
  }

  .font-size-scheme-state-big {
    .font-size-1 {
      font-size: 12px;
    }

    .font-size-2 {
      font-size: 14px;
    }

    .font-size-3 {
      font-size: 16px;
    }

    .font-size-4 {
      font-size: 20px;
    }

    .font-size-5 {
      font-size: 32px;
    }

    .column-right {
      .information-area-1 {
        margin-top: 12px;
      }
      .information-area-1,
      .information-area-2 {
        .block-block {
          .left-side {
            padding-top: 46px;
          }
          .right-side {
            .circle-point {
              top: 3px;
            }
          }
          &.block-net {
            .left-side {
              padding-top: 9px;
            }
          }
        }
      }
    }
    .profile-main-block {
      margin-top: -16px;
    } 
  }

  /* Line height scheme */
  .line-height-scheme-state-small {
    .cv-body-content {
      line-height: 1.2;
    }
  }

  .line-height-scheme-state-medium {
    .cv-body-content {
      line-height: 1.4;
    }
  }

  .line-height-scheme-state-big {
    .cv-body-content {
      line-height: 1.6;
    }
  }

  /* Color scheme */
  .color-scheme-state-color-set-1 {
    .main-color-1-text {
      color: $main_color_1;
    }

    .main-color-1-background {
      background-color: $main_color_1;
    }

    .main-color-2-text {
      color: $main_color_2;
    }

    .main-color-2-border {
      border-color: $main_color_2;
    }

    .additional-color-1-text {
      color: $color_set_1_additional_color_1;
    }

    .additional-color-1-border {
      border-color: $color_set_1_additional_color_1;
    }

    .additional-color-1-background {
      background-color: $color_set_1_additional_color_1;
    }

    .additional-color-1-svg-path {
      path {
        stroke: $color_set_1_additional_color_1;
        fill: transparent;
      }
    }

    .additional-color-1-svg {
      svg {
        fill: $main_color_1;
      }
    }

    .additional-color-2-text {
      color: $color_set_1_additional_color_2;
    }

    .additional-color-2-border {
      border-color: $color_set_1_additional_color_2;
    }

    .additional-color-2-background {
      background-color: $color_set_1_additional_color_2;
    }

    .additional-color-2-svg-path {
      path {
        stroke: $color_set_1_additional_color_2;
        fill: transparent;
      }
    }

    .additional-color-2-svg {
      path {
        fill: $color_set_1_additional_color_2;
      }
    }

    .additional-color-3-text {
      color: $color_set_1_additional_color_3;
    }
  }

  .color-scheme-state-color-set-2 {
    .main-color-1-text {
      color: $main_color_1;
    }

    .main-color-1-background {
      background-color: $main_color_1;
    }

    .main-color-2-text {
      color: $main_color_2;
    }

    .main-color-2-border {
      border-color: $main_color_2;
    }

    .additional-color-1-text {
      color: $color_set_2_additional_color_1;
    }

    .additional-color-1-border {
      border-color: $color_set_2_additional_color_1;
    }

    .additional-color-1-background {
      background-color: $color_set_2_additional_color_1;
    }

    .additional-color-1-svg-path {
      path {
        stroke: $color_set_2_additional_color_1;
        fill: transparent;
      }
    }

    .additional-color-1-svg {
      svg {
        fill: $main_color_1;
      }
    }

    .additional-color-2-text {
      color: $color_set_2_additional_color_2;
    }

    .additional-color-2-border {
      border-color: $color_set_2_additional_color_2;
    }

    .additional-color-2-background {
      background-color: $color_set_2_additional_color_2;
    }

    .additional-color-2-svg-path {
      path {
        stroke: $color_set_2_additional_color_2;
        fill: transparent;
      }
    }

    .additional-color-2-svg {
      path {
        fill: $color_set_2_additional_color_2;
      }
    }

    .additional-color-3-text {
      color: $color_set_2_additional_color_3;
    }
  }

  .color-scheme-state-color-set-3 {
    .main-color-1-text {
      color: $main_color_1;
    }

    .main-color-1-background {
      background-color: $main_color_1;
    }

    .main-color-2-text {
      color: $main_color_2;
    }

    .main-color-2-border {
      border-color: $main_color_2;
    }

    .additional-color-1-text {
      color: $color_set_3_additional_color_1;
    }

    .additional-color-1-border {
      border-color: $color_set_3_additional_color_1;
    }

    .additional-color-1-background {
      background-color: $color_set_3_additional_color_1;
    }

    .additional-color-1-svg-path {
      path {
        stroke: $color_set_3_additional_color_1;
        fill: transparent;
      }
    }

    .additional-color-1-svg {
      svg {
        fill: $main_color_1;
      }
    }

    .additional-color-2-text {
      color: $color_set_3_additional_color_2;
    }

    .additional-color-2-border {
      border-color: $color_set_3_additional_color_2;
    }

    .additional-color-2-background {
      background-color: $color_set_3_additional_color_2;
    }

    .additional-color-2-svg-path {
      path {
        stroke: $color_set_3_additional_color_2;
        fill: transparent;
      }
    }

    .additional-color-2-svg {
      path {
        fill: $color_set_3_additional_color_2;
      }
    }

    .additional-color-3-text {
      color: $color_set_3_additional_color_3;
    }
  }

  .color-scheme-state-color-set-4 {
    .main-color-1-text {
      color: $main_color_1;
    }

    .main-color-1-background {
      background-color: $main_color_1;
    }

    .main-color-2-text {
      color: $main_color_2;
    }

    .main-color-2-border {
      border-color: $main_color_2;
    }

    .additional-color-1-text {
      color: $color_set_4_additional_color_1;
    }

    .additional-color-1-border {
      border-color: $color_set_4_additional_color_1;
    }

    .additional-color-1-background {
      background-color: $color_set_4_additional_color_1;
    }

    .additional-color-1-svg-path {
      path {
        stroke: $color_set_4_additional_color_1;
        fill: transparent;
      }
    }

    .additional-color-1-svg {
      svg {
        fill: $main_color_1;
      }
    }

    .additional-color-2-text {
      color: $color_set_4_additional_color_2;
    }

    .additional-color-2-border {
      border-color: $color_set_4_additional_color_2;
    }

    .additional-color-2-background {
      background-color: $color_set_4_additional_color_2;
    }

    .additional-color-2-svg-path {
      path {
        stroke: $color_set_4_additional_color_2;
        fill: transparent;
      }
    }

    .additional-color-2-svg {
      path {
        fill: $color_set_4_additional_color_2;
      }
    }

    .additional-color-3-text {
      color: $color_set_4_additional_color_3;
    }
  }

  .cv-body-content {
    display: flex;
  }
}