.wr {
    position: relative;
}

.accordeon {
    background: #fff !important;
    border-radius: 12px !important;
    box-shadow: none !important;
    border: 1px solid rgba(84, 108, 151, 0.2)!important;
    font-family: "NotoSans", sans-serif;

    &:bot(:first-child) {
        margin-top: 16px;
    }

    &_title {
        font-weight: 400;
        font-size: 16px;
        color: #546C97;
        text-align: left;
        font-family: "NotoSans", sans-serif;
    }

    &_text {
        color: #546C97;
        line-height: 1.4;
        text-align: left;
        font-size: 14px;
        font-family: "NotoSans", sans-serif;

        p {
            margin-bottom: 0;

            &:not(:first-child) {
                margin-top: 16px;
            }
        }
    }
}



@media(max-width: 576px) {
    .accordeon {
        &_title {
            font-size: 14px;
        }

        &_text {
            font-size: 14px;
        }
    }
}