.head {
    position: relative;

    &__row {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    &__back {
        position: absolute;
        left: 0;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
    }

    &__logo {
        a {
            display: block;
            line-height: 0;
        }

        padding: 0 16px 6px 16px;
    }
}

@media (max-width: 767px) {
    .head {
        padding: 7px 16px;
        width: 100%;
        border-bottom: 1px solid #F6F8FA;
        background: #fff;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;

        &__logo {
            max-width: 100px;
        }
    }
}