@font-face {
  font-family: 'Roboto Condensed';
  src: url('./fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('./fonts/Roboto_Condensed/RobotoCondensed-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'Caveat';
  src: url('./fonts/Caveat/Caveat-VariableFont_wght.ttf');
  font-weight: 400;
}

  /* Colors */
  $main_color_1: #FFFFFF;
  $main_color_2: #75BE87;

  $color_set_1_additional_color_1: #353535;
  $color_set_2_additional_color_1: #4F4085;
  $color_set_3_additional_color_1: #502E56;
  $color_set_4_additional_color_1: #49233C;
  $color_set_5_additional_color_1: #282548; 
  $color_set_6_additional_color_1: #1F1F1F;

.sv_017 {
  font-weight: 400;

  /* Global */
  * {
    padding: 0;
    margin: 0;
  }

  *, *:before, *:after {
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
  }

  ul {
    li {
      padding-left: 15px;
      position: relative;
      list-style-type: none;
      &:not(:first-of-type) {
        margin-top: 5px;
      }
      &::before {
        display: block;
        content: " ";
        position: absolute;
        width: 8px;
        height: 10px;
        left: 0px;
        background: url('/../styles/resumes/017/image/check-icon.svg') no-repeat 0 50%;
        top: 0;
      }
    }
  }

  .empty-field {
    opacity: 0.3;
  }

  .hide {
    display: none !important;
  }

  //Blocks
  .cv-name {
    span {
      font-family: 'Caveat';
    }
  }

  .cv-profession {
    font-family: 'Caveat';
    text-transform: lowercase;
    color: $main_color_2;
  }

  .cv-body {
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  .cv-body-content {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .top-area {
    display: flex;
    padding: 20px 30px 0;
    column-gap: 10px;
    .name-and-photo-block {
      display: flex;
      flex-direction: row;
      height: 128px;
      width: 454px;
      padding-right: 40px;
      justify-content: flex-end;
      align-items: center;
      background: url('/../styles/resumes/017/image/photo-bg.svg') no-repeat 100% 0;
    }
    .name-and-prophecy-wrapper {
      display: flex;
      flex-direction: column;
      margin-right: 10px;
      text-align: right;
    }
    .photo-wrapper {
      width: 110px;
      height: 110px;
      .photo {
        width: 100%;
        height: 100%;
        border-radius: 100%;
        overflow: hidden;
        background-size: cover;
        background-position: center center;
      }
    }
    .profile-icon {
      width: 126px;
      height: 94px;
      margin-top: 8px;
      background: url('/../styles/resumes/017/image/profile-icon.svg') no-repeat 0 0;
    }
  }

  .middle-area {
    display: flex;
    padding: 15px 0 15px 15px;
    column-gap: 30px;
    .skills-block {
      .skills-list {
        display: flex;
        flex-direction: column;
        row-gap: 6px;
      }
      .list-item {
        display: flex;
        column-gap: 10px;
        justify-content: space-between;
        align-items: flex-start;
      }
    }
    .estimation-wrapper {
      position: relative;
      height: 5px;
      width: 135px;
      margin-top: 2px;
      .estimation-background {
        z-index: 0;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border: 1px solid $main_color_2;
        border-radius: 10px;
      }
      .estimation-value {
        z-index: 10;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        background: $main_color_2;
        border-radius: 10px;
      }
    }
    .details-block {
      .bg-block {
        display: flex;
        column-gap: 16px;
      }
      .left-side {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        width: 110px;
      }
      .details-item {
        display: flex;
        align-items: flex-start;
        column-gap: 5px;
        svg {
          width: 10px;
          height: auto;
          margin-top: 1px;
          flex-shrink: 0;
        }
      }
      .additional-details-block {
        .item-block {
          display: flex;
          column-gap: 5px;
          flex-wrap: wrap;
          justify-content: space-between;
          .value {
            color: $main_color_2;
            margin-top: 0;
          }
          &:not(:first-of-type) {
            margin-top: 4px;
          }
        }
      }
      .links-block {
        display: flex;
        column-gap: 10px;
        margin-top: 10px;
        justify-content: flex-end;
        img, svg {
          width: 14px;
          height: 14px;
        }
      }
    }
    .courses-and-sertificates-block {
      display: flex;
      flex-direction: row;
      .left-side {
        width: 50%;
        flex-shrink: 0;
        display: flex;
      }
      .right-side {
        width: 50%;
        flex-shrink: 0;
        display: flex;
      }
    }
    .certificates-block {
      .certificates-info {
        display: flex;
        flex-direction: column;
        row-gap: 8px;
      }
      .certificates-item {
        font-weight: 700;
      }
    }
    .languages-block {
      .languages-list {
        display: flex;
        column-gap: 30px;
        row-gap: 10px;
        .languages-item {
          display: flex;
          align-items: center;
          column-gap: 5px;
        }
        .languages-value {
          font-family: 'Caveat';
          color: $main_color_2;
        }
      }
    }
    .hobbies-and-references-block {
      display: flex;
      flex-direction: row;
      .left-side {
        width: 50%;
        flex-shrink: 0;
        display: flex;
      }
      .right-side {
        width: 50%;
        flex-shrink: 0;
        display: flex;
      }
    }
    .references-block {
      .block-info {
        display: flex;
        flex-direction: column;
        row-gap: 2px;
      }
      .references-name {
        font-weight: 700;
      }
    }
  }

  .column-left {
    width: 250px;
    flex-shrink: 0;
  }
  
  .column-right {
    flex: 1;
  }

  .block-block {
    display: flex;
    flex-direction: column;
    flex: 1;
    .cv-heading {
      font-family: 'Caveat';
      color: $main_color_2;
      margin-bottom: 5px;
      padding-left: 15px;
    }
    .cv-subheading {
      margin-bottom: 3px;
      font-weight: 700;
    }
    .block-info {
      &:not(:first-of-type) {
        margin-top: 10px;
      }
    }
    .bg-block {
      padding: 12px 0;
      position: relative;
      flex: 1;
    }
    .date-range {
      margin-bottom: 5px;
      padding: 6px 0 6px 8px;
      background: url('/../styles/resumes/017/image/date-bg.svg') no-repeat 0 50%;
      background-size: 124px auto;
      line-height: 12px;
    }
    &:not(:first-of-type) {
      margin-top: 10px;
    }
    &.m-left {
      .bg-block {
        padding-right: 10px;
        padding-left: 15px;
      }
      .top-bg {
        position: absolute;
        top: -1px;
        width: 100%;
        height: 2px;
        background: url('/../styles/resumes/017/image/left/top.svg') no-repeat 15px 0;
        background-size: auto 2px;
      }
      .right-bg {
        position: absolute;
        width: 3px;
        height: calc(100% - 12px);
        right: -1px;
        top: -1px;
        margin-bottom: 10px;
        background: url('/../styles/resumes/017/image/left/right.svg') repeat-y 0 0;
        background-size: 3px auto;
      }
      .bottom-bg {
        position: absolute;
        height: 17px;
        width: 100%;
        right: -1px;
        bottom: 0;
        background: url('/../styles/resumes/017/image/left/bottom.svg') no-repeat 0 0;
        background-size: auto 17px;
      }
    }
    &.m-right {
      .bg-block {
        padding-left: 15px;
        padding-right: 30px;
      }
      .cv-degree {
        padding-left: 50px;
        color: $main_color_2;
      }
      .cv-heading {
        text-align: right;
        padding-left: 0;
        padding-right: 30px;
      }
      .top-bg {
        position: absolute;
        top: -1px;
        width: 100%;
        left: 0;
        height: 5px;
        background: url('/../styles/resumes/017/image/right/top.svg') no-repeat 0 0;
        background-size: auto 5px;
      }
      .left-bg {
        position: absolute;
        width: 3px;
        height: calc(100% - 12px);
        left: -1px;
        top: 0;
        margin-bottom: 10px;
        background: url('/../styles/resumes/017/image/right/left.svg') repeat-y 0 0;
        background-size: 3px auto;
      }
      .bottom-bg {
        position: absolute;
        height: 28px;
        width: 100%;
        left: -1px;
        bottom: 0;
        background: url('/../styles/resumes/017/image/right/bottom.svg') no-repeat 0 0;
        background-size: auto 28px;
        
      }
      &.m-small {
        .bg-block {
          padding-right: 10px;
        }
        .top-bg {
          position: absolute;
          top: -1px;
          width: 100%;
          left: 0;
          height: 4px;
          background: url('/../styles/resumes/017/image/right-small/top.svg') no-repeat 0 0;
          background-size: auto 4px;
        }
        .left-bg {
          position: absolute;
          width: 1px;
          height: calc(100% - 12px);
          left: -1px;
          top: 0;
          margin-bottom: 10px;
          background: url('/../styles/resumes/017/image/right-small/left.svg') repeat-y 0 0;
          background-size: 1px auto;
        }
        .bottom-bg {
          position: absolute;
          height: 13px;
          width: 100%;
          left: -1px;
          bottom: 0;
          background: url('/../styles/resumes/017/image/right-small/bottom.svg') no-repeat 0 0;
          background-size: auto 13px;
        }
      }
    }
  }

  #cv-chapter-section-cv {
    &.has-photo {
      .name-and-photo-block {
        padding-right: 10px;
      }
    }
  }

  .cv-body-2 {
    .cv-body-content {
      min-height: 100%;
      .middle-area {
        margin-top: 30px;
        column-gap: 50px;
      }

      .column-left {
        width: 130px;
      }
    }
  }

  .destination-block {
    .block-to {
      p {
        margin-top: 5px;
      }
    }

    .block-from {
      margin-top: 19px;

      p {
        margin-top: 2px;

        &:first-child {
          margin-top: 5px;
        }
      }

      .underheading-line {
        margin-bottom: 5px;
      }
    }
  }

  /* Font size scheme */
  .font-size-scheme-state-small {
    .font-size-1 {
      font-size: 8px;
    }

    .font-size-2 {
      font-size: 11px;
    }

    .font-size-3 {
      font-size: 14px;
    }

    .font-size-4 {
      font-size: 20px;
    }

    .font-size-5 {
      font-size: 24px;
    }

    .font-size-6 {
      font-size: 34px;
    }
  }

  .font-size-scheme-state-medium {
    .font-size-1 {
      font-size: 10px;
    }

    .font-size-2 {
      font-size: 13px;
    }

    .font-size-3 {
      font-size: 16px;
    }

    .font-size-4 {
      font-size: 22px;
    }

    .font-size-5 {
      font-size: 26px;
    }

    .font-size-6 {
      font-size: 36px;
    }

    .date-range {
      padding: 10px 0 10px 8px;
      background-size: 155px auto;
    }

    .block-block {
      &.m-right {
        .cv-degree {
          padding-left: 70px;
        }
      }
    }
  }

  .font-size-scheme-state-big {
    .font-size-1 {
      font-size: 12px;
    }

    .font-size-2 {
      font-size: 15px;
    }

    .font-size-3 {
      font-size: 18px;
    }

    .font-size-4 {
      font-size: 24px;
    }

    .font-size-5 {
      font-size: 28px;
    }

    .font-size-6 {
      font-size: 38px;
    }

    .date-range {
      padding: 15px 0 15px 8px;
      background-size: 190px auto;
    }

    .block-block {
      &.m-right {
        .cv-degree {
          padding-left: 70px;
        }
      }
    }

    ul {
      li {
        &::before {
          top: 2px;
        }
      }
    }
  }

  /* Line height scheme */
  .line-height-scheme-state-small {
    .cv-body-content {
      line-height: 1.2;
    }
  }

  .line-height-scheme-state-medium {
    .cv-body-content {
      line-height: 1.4;
    }
  }

  .line-height-scheme-state-big {
    .cv-body-content {
      line-height: 1.6 ;
    }
  }

  .line_text {
    &::before {
      background: $main_color_2;
    }
  }

  /* Color scheme */
  .color-scheme-state-color-set-1 {
    .main-color-1-text {
      color: $main_color_1;
    }

    .main-color-2-text {
      color: $main_color_2;
    }

    .additional-color-1-background {
      background: $color_set_1_additional_color_1;
    }
  }

  .color-scheme-state-color-set-2 {
    .main-color-1-text {
      color: $main_color_1;
    }

    .main-color-2-text {
      color: $main_color_2;
    }

    .additional-color-1-background {
      background: $color_set_2_additional_color_1;
    }
  }

  .color-scheme-state-color-set-3 {
    .main-color-1-text {
      color: $main_color_1;
    }

    .main-color-2-text {
      color: $main_color_2;
    }

    .additional-color-1-background {
      background: $color_set_3_additional_color_1;
    }
  }

  .color-scheme-state-color-set-4 {
    .main-color-1-text {
      color: $main_color_1;
    }

    .main-color-2-text {
      color: $main_color_2;
    }

    .additional-color-1-background {
      background: $color_set_4_additional_color_1;
    }
  }

  .color-scheme-state-color-set-5 {
    .main-color-1-text {
      color: $main_color_1;
    }

    .main-color-2-text {
      color: $main_color_2;
    }

    .additional-color-1-background {
      background: $color_set_5_additional_color_1;
    }
  }

  .color-scheme-state-color-set-6 {
    .main-color-1-text {
      color: $main_color_1;
    }

    .main-color-2-text {
      color: $main_color_2;
    }

    .additional-color-1-background {
      background: $color_set_6_additional_color_1;
    }
  }
}