.header {
    display: flex;
    justify-content: flex-end;
    padding: 20px 3px 20px 23px;
    align-items: center;
}

.main_content {
    padding-bottom: 44px;
}

.wr_updat_now {
    padding-right: 48px;
}

.link_now {
    display: flex;
    align-items: center;
    color: #01153A;
    font-weight: 400;
    transition: 0.3s;

    svg {
        width: 20px;
        height: 20px;
        margin-right: 12px;
    }

    &:hover {
        color: #6DC26C;
    }
}

.container_main_cons {
    padding-right: 20px;
}

@media (max-width: 1199px) {
    .main_content {
        padding-left: 16px;
        padding-right: 16px;
    }

    .container_main_cons {
        padding-right: 0;
    }
}

@media (max-width: 992px) {
    .container_admin {
        padding-top: 57px;
    }

    .header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 5px 16px;
        border-bottom: 1px solid #F6F8FA;
        z-index: 99;

        &_l {
            margin-right: auto;
        }
    }

    .wr_updat_now {
        padding-right: 20px;
    }
}

@media(max-width: 767px) {
    .link_now {
        span {
            display: none;
        }
    }

}